[2016-10-21 19:47] jessicalu2016 commented on #163
Hi, I am trying to do "Connect to replica, migrate on master" or "Migrate/test on replica" on RDS but having an issue complaining "<rbr_replica_host> must have binary logs enabled". The parameter group does have "log-bin" set up and "binlog_format" is set to "ROW". I would be very appreciated any suggestions how to solve it. Thank you.

[2016-10-21 20:30] pbitty commented on #163
@jessicalu2016 The only way to enable replication in RDS is to enable backups on the replica itself.  Backup retention of 1 day is enough.  (It's even required if you want to create a replica.)

[2016-10-21 20:31] palexvs commented on #275
I found probably something useful in `mysql-error-running.log`
[code]

10.0.2.104 - server on which I run './gh-ost ...'
I see the same the same value for `streamer: ` and `Applied:` in gh.log after '09:54:06'

[2016-10-21 21:06] jessicalu2016 commented on #163
@pbitty Thanks so much! this solved the problem.

[2016-10-23 08:02] shlomi-noach commented on #48
@dgryski do you expect EWMA to work well when `TotalItems` changes throughout the process?

[2016-10-23 08:10] dgryski commented on #48
If `TotalItems` is changing, then the math is kind of meaningless.  A more interesting question is if  you can estimate the rate at which it's changing (maybe via its own EWMA), then you can get a more accurate termination time with a bit more complicated math.

[2016-10-24 04:36] palexvs commented on #268
I tried to migrate table 10 times and always get the same error `unexpected error: Err: runtime error: index out of range`. It happens in different time (sometimes on 1%, sometimes on 50%, sometimes on 99%, ...), with different load (different `nice-ratio` and `chunk-size`). No idea how to resolve the issue

This ticket looks similar: https://github.com/go-sql-driver/mysql/pull/467 but I have not

[2016-10-24 05:08] siddontang commented on #268
Maybe https://github.com/siddontang/go-mysql/pull/69 can fix it.

[2016-10-24 05:30] shlomi-noach commented on #268
@siddontang that was my intention, thank you!

[2016-10-24 05:44] #276 closed

[2016-10-24 12:01] shlomi-noach commented on #275
@palexvs would you mind trying out https://github.com/github/gh-ost/pull/286? This fetches the latest `go-mysql` library, which hopefully solves your issue.

[2016-10-24 12:02] shlomi-noach commented on #268
@palexvs would you mind trying out https://github.com/github/gh-ost/pull/286? This fetches latest `go-mysql` library, which potentially fixes your issue

[2016-10-24 14:29] fern4lvarez commented on #163
Not sure if this related to RDS, but got an issue that I'd like to share. PLease let me know if this is a duplicate.

I was in the middle of a long migration using the "Connect to replica, migrate on master"  approach, data was being copied to the ghost table:

[code]

As you see in the last line, connection with the server was broken, and I wasn't running `gh-ost` with any terminal muxer. So I re

[2016-10-24 18:17] palexvs commented on #268
@shlomi-noach Thank you. I run migration using gh-ost from `update-go-mysql` branch a few hours ago and I will get results in ~28 hours.

[2016-10-24 23:44] palexvs commented on #268
@shlomi-noach @siddontang migration has failed with error:
[code]

[2016-10-25 10:14] siddontang commented on #268
Hi @palexvs

Can we give me the detailed table schema? Do you use the #286 ?

[2016-10-25 14:45] mizioumt opened #287 "data divergent between original and ALTERed table: stale records in gh-ost table after ALTER"
v1.0.21

attempted to change a table's PK with `--test-on-replica`.
gh-ost finished without errors but the data diverged considerably.
Reproduced this twice.

invocation:

[code]

`add primary key(id,another_column)`: original PK was on `id` so this is guaranteed to be UNIQUE

`add unique key(id)`: without that gh-ost would complain about lack of common UNIQUE index on original and gh-ost tables.

[2016-10-25 15:02] mizioumt commented on #287
table structure. I did verify it is the same on the replica and on the master

[code]

[2016-10-25 15:19] mizioumt commented on #287
[out.txt](https://github.com/github/gh-ost/files/551000/out.txt)

gh-ost output uploaded

[2016-10-25 15:21] mizioumt commented on #287
the `id` of the diverging record I showed above is 777455597

[2016-10-25 15:44] palexvs commented on #268
yes

There is the schema for table `metrics`. There is just one unusual thing: `json` field that sometimes contains data like `{"k1": ["v1", "v2", "v3"], "k2": "v4"}`
[code]

[2016-10-25 16:16] jessicalu2016 opened #288 "How does gh-ost decide cut-over point and ensure bin log applied?"
Hi,

Apologies if this is already documented. If so, I would be much appreciated you could point me to the right documents.

For "Connect to replica, migrate on master" mode, how does gh-ost decide it's the time to cut over? And replication is asynchronous, replica could lag, how does gh-ost guarantee that all binary logs will be applied to ghost table?

I noticed a statement on "the-fine-print.md

[2016-10-25 18:22] allixsenos commented on #284
of course :)

On Fri., 21 Oct. 2016 at 07:55, Akshay Chhajed <notifications@github.com>
wrote:

Looking at greater purpose of the tool is to ensure all data integrity and
this option may not be inline with that. I understand the issue is more
about keeping the tool predictable and offer a level of confidence to the
user when it comes to data integrity. Lets close this issue and start
working towar

[2016-10-25 19:42] ggunson commented on #288
It's ready to attempt cutover (or stay in a state of being ready to cut over) when it's finished copying all the rows to the new table. Since there's generally two processes that create the new table: the by-unique-or-primary-key chunk copying of rows from the old to new table, and applying the parsed binary log changes to the new table. Once the copying of rows is done, all that's left is to get

[2016-10-26 01:04] jessicalu2016 commented on #288
@ggunson Thanks for clarification!

[2016-10-26 02:03] palexvs commented on #268
@siddontang this issue is reprodusable:

SQL request
[code]
raise error:
[code]

[2016-10-26 05:14] shlomi-noach commented on #288
Thanks @ggunson . To elaborate more on how `gh-ost` actually knows the relevant binary logs have been consumed: `gh-ost` uses a helper table (the `..._ghc_` table). At the cut-over phase, and immediately after locking your original table, `gh-ost` writes a magic entry to the helper table (which is unlocked). Because this entry is written after your original table gets locked, the matching binlog e

[2016-10-26 05:24] shlomi-noach commented on #261
The drawback just hit me: this would only work on the master. Importing the tablespace on the master will have no effect on the topology tree, and we would have to repeat the import throughout the topology.

Also noting down the import onto all servers would have do take place while `gh-ost` freezes processing of incoming binlog events: table must be imported onto all servers in tthe exact same sh

[2016-10-26 06:08] palexvs commented on #268
There 100% reproduce:
[code]

Insert crashes migration:

[code]

[2016-10-26 07:36] siddontang commented on #268
Thank you @palexvs

I will see it.

[2016-10-26 07:58] shlomi-noach commented on #273
closed by #277

[2016-10-26 07:58] #273 closed

[2016-10-26 08:11] siddontang commented on #268
Hi @palexvs
Seem that we have not supported `json` type.

[2016-10-26 08:27] shlomi-noach commented on #268
@palexvs @siddontang I will meanwhile add this to known limitations

[2016-10-26 08:29] shlomi-noach commented on #285
Let's begin by defaulting `concurrent-rowcount` to `true`, and take it in small steps.

[2016-10-26 12:19] grypyrg commented on #261
Correct. This has to be copied to the whole topology. That might make it quite a bit more complex indeed. (`orchestrator` integration? :-)).

`gh-ost` indeed will have to freeze processing, but I see that that's one of the big strengths of `gh-ost` and I imagine this is fairly simple to implement.

[2016-10-26 12:39] siddontang commented on #268
I will try to support 5.7 json and geometry later, maybe this weekend.

[2016-10-26 13:41] shlomi-noach commented on #261
the freezing is indeed easy. and the `orchestrator` integration is what it would take. I generally oppose to this kind of solution because it can only handle servers that were online during the operation. What if a server was down at that time? How do we proceed? What if a server was just restoring from backup? (We have such servers at any given time)

[2016-10-26 15:29] mizioumt commented on #287
I reproduced this for a more conventional ALTER: no PK change, just a bunch of DROP column and one MODIFY COLUMN. The pattern is the same, different record counts and at least one record 'older' in the ghost table than in the replica table, based on value for `last_changed` TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP

[2016-10-26 16:04] mizioumt opened #290 "gh-ost aborts on trying to UPDATE, errors on invalid character"
v1.0.21

gh-ost with --test-on-replica failed like this:

[code]

So this may be related to the safe SQL mode settings.

The binlogs showed this:

* first, a row with the relevant `id` is INSERTed into the ghost table. At the moment, the data contains no \xE1 character.
* eventually, there is incoming UPDATE for the original table that introduces the \xE1 character. gh-ost refuses to handle it and

[2016-10-26 16:09] mizioumt commented on #290
I attempted to gh-ost ALTER a one row table with \xE1 already in the original table. This finished fine. So this sort of character is properly handled by gh-ost when it is INSERTing rows as part of table to table copy. But when the character comes from a binlog UPDATE it is not handled properly.

So it may be possible to construct a simple testcase over a small table when a problematic character i

[2016-10-26 17:40] shlomi-noach commented on #287
Please share your more conventional `ALTER`

[2016-10-26 17:48] shlomi-noach commented on #290
@mizioumt thank you.

This is strange, because this bug was fixed in `1.0.21`, or at least so I thought. See https://github.com/github/gh-ost/pull/236 and https://github.com/github/gh-ost/pull/227.

`gh-ost` supports [localtests](https://github.com/github/gh-ost/blob/master/doc/local-tests.md), which emulate the exact behavior you'd expect. Let me see if `update`s are properly covered.

[2016-10-26 17:51] shlomi-noach commented on #290
please share `show create table` and the `gh-ost` invocation you attempted.
If table secription is too long, please just share the essentials.

[2016-10-26 18:04] shlomi-noach commented on #290
See https://github.com/github/gh-ost/pull/291

[2016-10-27 00:02] jessicalu2016 commented on #288
@shlomi-noach ah I see. things pretty clear now. Thanks so much for fast reply!

[2016-10-27 07:44] rj03hou opened #292 ""Binlog Dump" thread not close after the schema change"
gh-ost get binlog from the slave, after the ddl the "Binlog Dump" thread not close.
Another question, can you edit the readme.md add the build step? so I can try to solve this problem.

[2016-10-27 08:15] #288 closed

[2016-10-27 08:18] shlomi-noach commented on #292
I'm sorry, not following you. How do you mean "after the ddl"? `gh-ost` is reading the binary logs throughout the entire operation.

It's really best to open a new issue for this or else it's difficult to track down what's handled and what isn't. But, just run the `build.sh` script to build.

[2016-10-27 08:49] rj03hou commented on #292
after the ddl, means the gh-ost has successful do the job.
but the connection to the slave to get binlog does not close.

[2016-10-27 09:08] shlomi-noach commented on #292
@rj03hou please elaborate more, I'm failing to understand your description.

"after the ddl" is a description I do not understand. You and I may relate to different things here. What do you mean by "afetr the ddl"? Which ddl? The `alter` that is running on the _ghost_ table at the very beginning of the migration?

So, at the very end? I'm really not following you. As I explain, `gh-ost` continues

[2016-10-27 09:21] rj03hou commented on #292
Sorry.
After the gh-ost complete the schema change job, and the program quit.
But the connection to the slave(which get the binlog) is not close.

[2016-10-27 09:40] shlomi-noach commented on #292
@rj03hou you mean MySQL still sees the connection _after gh_ost is terminated_? Wow, this is insane. I mean, TCP is broken.

How long does it take for mysql to notice `gh-ost` is gone?

I can look into closing the connection on the `gh-ost` side, which is of course the nicer thing to do.

[2016-10-27 10:49] rj03hou commented on #292
After 4 hour, still can see the connection. I don't know gh-ost should execute some command like "stop slave" or just close the connection on the gh-ost side.

Good job, thank you. We prepare to use gh-ost to instead of pt-online-schenma-change.

[2016-10-27 11:55] shlomi-noach commented on #292
addressed by https://github.com/github/gh-ost/pull/294

[2016-10-27 15:51] mizioumt commented on #287
for the no-PK-change ALTER, this is not the same table. Here is the structure:

[code]

and gh-ost invocation is as follows:

[code]

[2016-10-27 16:01] mizioumt commented on #290
the table description is too long and I can't guess what stuff is more essential than whichever other stuff.
So here's the entire thing:

[code]

and gh-ost was invoked as follows:

[code]

[2016-10-27 16:25] palexvs commented on #275
I tried two times and results are the same:
migration is going but `streamer: XXX` and `Applied: XXX` are the same after some moment

During the last migration `streamer` stopped update between `2016-10-27 10:31:17` and `2016-10-27 10:31:47`
In MySQL err log I see:
[code]
In same moment a monitoring shows CPU load increasing from ~1-5% up to 60%

I don't know what can be result and what can be a r

[2016-10-27 17:12] shlomi-noach commented on #290
Not saying your alter isn't valid, but OMG.

I'm curious whether this is a production DDL you must perform, or is this a random collection of modifications, or maybe this is the accumulation of migration requests over months, or...?

It is very difficult to debug with such complexity. Again, this is valid and on my side I should try and find the problem. But in _your_ side, you're experimenting wi

[2016-10-28 08:01] shlomi-noach commented on #287
The output is quite interesting. The TL;DR is:

[code]

Note `Applied: 0`

This means `gh-ost` did not process _any events_ from the binary logs. However it clearly _did_ process the binary logs since the binlog name increases throughout the migration. So `gh-ost` didn't find the relevant table entries in the binary logs.

I wonder: do you happen to have `replicate-rewrite-db` or `replicate-rewrit

[2016-10-28 08:03] shlomi-noach commented on #287
Also, you use `assume-rbr`. Are you _sure_ the replica uses RBR?

As you may know, `set global binlog_format='row'` is not enough -- because thr replication threas uses its own session `binlog_format`. You'd need to `stop slave; start slave` for this to take effect.

`assume-rbr` is useful for RDS users, where `gh-ost` is not allowed to switch into `binlog_format=ROW`.

[2016-10-28 11:11] mizioumt commented on #290
the table structure is real but the ALTER is not. I'm just testing gh-ost.
I think this character bug will happen for any alter, even for a noop one as long as the right UPDATE comes through the binlog which is not a gimme. But I may be wrong. I'll try to reproduce it with something simple next week.

[2016-10-28 11:21] mizioumt commented on #287
I have this in my.cnf

[code]

I should stop using assume-rbr, though.

No, I don't have any replicate-rewrite-db|table or similar replication filters.

[2016-10-28 11:28] mizioumt commented on #287
the idea that no binlogs records have been processed is viable. The overall amount of data divergence is rather large so it does look as if few if any binlog records have been used.
BTW does gh-ost need log_slave_updates by any chance?

[2016-10-28 12:05] shlomi-noach commented on #287
Yes it does! But I'm surprised now, because `gh-ost` bails out when it is not the case. I'm looking into why `gh-ost` didn't tell you the settings were insufficient.

This clearly explains your problem.

[2016-10-28 12:06] shlomi-noach commented on #287
Can you please paste the exact output you get from `select @@global.log_slave_updates` ?

[2016-10-28 12:10] shlomi-noach commented on #287
Also: do you happen to have both master and replica on same host?
If not, and since I'm unfamiliar with your setup, can you suspect why `gh-ost` would assume both master and replica are the same server?

[2016-10-28 12:12] shlomi-noach commented on #287
For reference, this is what `gh-ost` says when I execute on a server without `log_slave_updates`:

[code]

[2016-10-28 12:49] shlomi-noach commented on #290
Is that the same setup where you don't have `log_slave_updates`, as in https://github.com/github/gh-ost/issues/287#issuecomment-256903837 ?

[2016-10-28 13:08] pbitty commented on #163
@fern4lvarez Is the replica configured with`binlog_format=ROW` ?

[2016-10-28 13:16] shlomi-noach commented on #163
@pbitty thank you -- and I think you're on the spot.

@fern4lvarez may I suggest you should ask these questions in new issues; this issue is for tracking down changes to support RDS, and we cannot handle multiple problems in the same thread. Opening a new issue and linking to this issue would be the right thing to do.

[2016-10-28 13:43] mizioumt commented on #287
for log-slave-updates I'm pretty sure I had this:

[code]

currently I've set it to ON and I'm running another experiment.
However I can't remember gh-ost ever bailing ot with 'must have log_slave_updates enabled'.
I'll do another experiment when this one is over.

As for the master hostname it is of course different from the replica. There is another master in between.
If you mean that the logs I

[2016-10-28 13:47] shlomi-noach commented on #287
I'll do another experiment when this one is over.

It's really important that I get the answer for `select @@global.log_slave_updates`. Actually, make that `select @@global.log_slave_updates, version()`

then perhaps _that_ master doesn't have `log_slave_updates`?

[2016-10-28 13:53] mizioumt commented on #290
no, on this one I always had log slave updates. In particular, when I browsed through the binlogs for the last reoccurrence I saw record for the offending `id` for both the original and ghost tables.
FYI the sequence was:

* INSERT into dbname._TableName_gho
* UPDATE dbname.TableName -> that has the problematic character, gh-ost died
* more of UPDATE dbname.TableName but no more on the gh-ost tabl

[2016-10-28 14:03] mizioumt commented on #287
the master in between does have log_slave_updates

[code]

what the replica had when the issue was reported is log_slave_updates=OFF to the best of my knowledge. To find out precisely what it had requires some digging, I'd rather rerun a carefully controlled experiment with and without log_slave_updates on the replica.
The replica's version is 5.7.15-log.

[2016-10-28 14:07] shlomi-noach commented on #287
thank you.

coming to think of this more, it must have had `log_slave_updates`. Otherwise an internal hint `gh-ost` sends to itself wouldn't have been detected and the migration would not have started in the first place.

So we're looking at other directions then...

[2016-10-28 14:23] mizioumt commented on #290
replicationwise this is a sibling of the host from #287 however on this one MySQL version is lower

[code]

I'm trying to ensure gh-ost works on 5.6 and 5.7, also in different TZ

[2016-10-28 14:25] mizioumt commented on #287
well I currently have a case where gh-ost is happily running with this:

[code]

I could file an issue for this next week. It would also be interesting to see if this run will result in divergent data.

[2016-10-28 14:56] shlomi-noach commented on #287
Of course this test will result with divergent data, I'm happy to save you the experiment time.

Now to understand _why_ ghost said nothing about `@@log_slave_updates=0`. I was hoping you'd show me a `OFF` like in the `show variables`, in which case I would be able to understand how that happened. But its a `0` and shouldn't happen.

[2016-10-28 16:09] mizioumt commented on #287
I like to set var=0 where it's usually done through var=OFF or skip-var. So this is a bit of MySQL trickery combined with my abuse thereof.
I am happy though that this is not a true data divergence issue.
Maybe you could close this one and create one for log_slave_updates. I think if gh-ost simply insists on SELECT @@log_slave_updates being ON it should be good enough for everyone.

[2016-10-28 20:11] shlomi-noach commented on #287
That's the problem though: it _does_

https://github.com/github/gh-ost/blob/master/go/logic/inspect.go#L332-L344

[2016-10-31 07:57] mizioumt commented on #287
I can't quite understand the process of selecting into a Boolean. How would it decide that 'OFF' is not a true value, for example. I can imagine '0' being a True value, though, on the basis of that not being an empty string. This is speculation, of course. Maybe @@log_slave_updates should be selected into a kind of string and inspected as a string.

[2016-10-31 08:01] shlomi-noach commented on #287
I believe I've found the fallacy. I've introduced the wrong behavior in https://github.com/github/gh-ost/pull/155. While it correctly solved https://github.com/github/gh-ost/issues/135, it now missed the check for `test-on-replica`. Fixing.

It's not an `OFF` in the first place. It's `0` or `1` and that translates correctly into a `bool`.

[2016-10-31 09:47] shlomi-noach commented on #287
@mizioumt if you're able to build from #298 , this should quit with error when you execute on a replica without `log_slave_updates`.

[2016-10-31 09:48] shlomi-noach commented on #268
reference: JSON support PR https://github.com/siddontang/go-mysql/pull/88

[2016-10-31 13:36] jessicalu2016 opened #300 "Lossing fractional seconds for datetime(3) when applying bin log"
Hi Guys,

I was testing on replica (--alter="engine=innodb") and found out that columns defined as datetime(3) lost fractional seconds after migration. e.g "2016-10-31 13:25:40.834" becomes "2016-10-31 13:25:40.000". looks like gh-ost zero out the fractional seconds? Am I missing anything?

Thanks in advance!

[2016-10-31 13:38] shlomi-noach commented on #300
@jessicalu2016 Can you please add your table schema?

[2016-10-31 13:46] shlomi-noach commented on #300
@jessicalu2016 I can see `DATETIME` does not get subsecond handline: https://github.com/siddontang/go-mysql/blob/master/replication/row_event.go#L658-L659

[2016-10-31 13:48] shlomi-noach commented on #300
Related: https://github.com/siddontang/go-mysql/issues/89

[2016-10-31 14:10] shlomi-noach commented on #300
@jessicalu2016 are you able to build and test https://github.com/github/gh-ost/pull/301 ? Should solve your issue

[2016-10-31 14:49] jessicalu2016 commented on #300
@shlomi-noach  I got following error to build the source. Could you provide me instructions what I need to set up to run ./build.sh? I've got go installed and hello world test fine. thanks!

[code]

[2016-10-31 14:55] shlomi-noach commented on #300
@jessicalu2016 you probably have an older `go` version. Can you `go version`? You need to have at least `go1.5`

[2016-10-31 14:57] shlomi-noach commented on #300
or, otherwise, your `GOPATH` is not set properly to reflect `/Users/jessicalu/Projects/`. grrrrr.... this is a `go` nuance and a nuisance.

[2016-10-31 15:13] jessicalu2016 commented on #300
@shlomi-noach go version is 1.6.2, and here's my go related setting. which dir should GOPATH pointing to? thanks!

[code]

[2016-10-31 15:22] shlomi-noach commented on #300
so this is the nuisance about `go`. It expects your project to be in a place relative to your `GOPATH`, not in `GOPATH` itself. For example, you'd want to:

[code]

[2016-10-31 15:23] shlomi-noach commented on #300
Whoops, and: `export GOPATH=/Users/jessicalu/go`

[2016-10-31 15:38] jessicalu2016 commented on #300
@shlomi-noach it works perfectly! Thanks for fast replies and the fix! appreciated!

[2016-10-31 18:28] shlomi-noach commented on #300
cool. Will give this more testing before merging.

[2016-10-31 22:14] jeisen commented on #290
I believe we've just run into the same issue while trying to run a migration on a large latin1-encoded table that contains UTF8 characters. The plan has been to use gh-ost to run migrations which will convert our tables so that they are stored and labeled correctly as UTF8. However, until we reach that state, we have many rows containing UTF8 data stored in latin1-labeled columns. That data is per

[2016-11-01 00:55] palexvs commented on #268
Thank you! Very much. I will try it with next migration in 1-2 weeks.
Current migration I successfully finished from 17th attempt

[2016-11-01 03:09] siddontang commented on #268
Hi @shlomi-noach @palexvs

Sorry that I am too busy these days. Now I only support not panic for parsing the json field, but I have not supported converting MySQL binary json to readable json string so we can re-insert directly.
I will try to support it this week.

[2016-11-01 08:19] shlomi-noach opened #302 "Optional feature: regret cut-over"
This feature was suggested by someone at the audience at PerconaLive Amsterdam 2016: when we cut-over, revert syncing and keep the _old_ table in sync with incoming traffic onto the new table, and support the ability to cut-back.

Consider the case of a `drop column` or a `drop index` that were incorrectly planned and cause outage. We would be able to revert such an operation by cutting-back onto

[2016-11-01 10:12] shlomi-noach commented on #268
@siddontang take your time and enjoy life

[2016-11-01 11:20] #287 closed

[2016-11-01 11:23] #285 closed

[2016-11-01 11:48] shlomi-noach commented on #292
closed by #294

[2016-11-01 11:48] #292 closed

[2016-11-01 13:52] shlomi-noach commented on #290
@jeisen thank you for the detailed comment. I'm going to try and reproduce this; however I'm not too certain I understand the meaning of having `utf8` characters in a `latin1` charset text. Are you able to provide me with a single `utf8` character that you store in `latin1` that I can experiment with?

[2016-11-01 14:06] shlomi-noach commented on #290
@jeisen I'm able to reproduce this now. I'll look into it; right now I'm unsure how to correctly solve generically.

Reproduced in https://github.com/github/gh-ost/pull/303

[2016-11-01 16:17] jeisen commented on #290
To give a little more context, the database is entirely latin1 for historical reasons that no longer apply. The application connects to the DB using a latin1 connection, but receives UTF8 data as user input. The app has no idea the data is in a different character set, and just sees it as a sequence of bytes, so it writes those bytes out to the DB in "latin1", because MySQL doesn't check to see if

[2016-11-01 17:07] ggunson commented on #290
Note to self: We will likely want to add a note about the outcome of this to the docs (whether double encoding is a caveat, or requires a special flag, or if there's a feature to fix it).

I'm not sure how common double encoding still is, but it certainly was a problem years ago.

[2016-11-02 03:59] rj03hou opened #304 "if the "host" is lag, then the ghost is hang, and the log is not clear."
when the host(which the parameter host is set) is  lag, then run the gh-ost, the gh-ost create the change log and ghost table in the master, and the binlog is not execute by the gh-ost.

then the ghost is hang, and the log is

I think we can add a new parameter, when it set, we check the lag before we run, if lag we fail.
or we change the log to "Waiting for tables to be in place, the host is lag.

[2016-11-02 08:51] mizioumt commented on #287
I'm not building gh-ost yet... I will be

[2016-11-02 09:12] shlomi-noach commented on #287
@mizioumt this has already been merged and released in https://github.com/github/gh-ost/releases/tag/v1.0.28

[2016-11-02 09:38] shlomi-noach commented on #290
@mizioumt can you confirm your case is similar to @jeisen's? i.e. you have `utf8` characters in your `latin1` charset column?
If not, these are two different issues.

w/r `utf8` in a `latin1` charset, I'm unsure yet what the correct handling should be. How can I know in advance what's written in the column? An option might be letting the user specify a `--default-charset=latin1` flag or similar. A

[2016-11-02 09:43] shlomi-noach commented on #268
Meanwhile documenting that `JSON` is unsupported: https://github.com/github/gh-ost/pull/305/files#diff-06311f5cbcfa9255bb9a7f4e8a0a227eR31

[2016-11-02 10:52] shlomi-noach commented on #290
I have the code to be able to write back the `binary` value of a text column in the event it never changed. If succeeds for `utf8` column, succeeds for `utf8` characters in `latin1` columns, and fails on pure-`latin1` columns.

Here's the problem: I cannot identify those cases beforehand. Even if the user submits some flag, there may still be different columns in the migrated table, which behave d

[2016-11-02 13:18] mizioumt commented on #290
I think my problem is kind of independent from problem reported by @jeisen. My problem is that gh-ost refuses to handle at least one character that does belong to latin1:

[code]

based on http://dev.mysql.com/doc/refman/5.7/en/charset-we-sets.html and http://www.cp1252.com/
 and indeed it's a part of a common name (not English, of course) which contains that

So I simply want this character to st

[2016-11-02 14:58] fern4lvarez opened #307 "Best practices to drop (a large) old table after cut-over"
Hi gh-ost'ers!

We plan to use gh-ost to perform online migrations on big tables that will allow us to reclaim a big amount of disk space. On our tests, the migration, copy, and cut-over work like a charm. The problem we face is when `DROP`-ing the old table, i.e. `_mytable_del`, which has a size of ~18GB. It totally blocks all queries, causing a downtime on our applications that consume our datab

[2016-11-02 14:58] shlomi-noach commented on #290
@mizioumt then I will need you to be able to reproduce this. Please consider existing [tests](https://github.com/github/gh-ost/tree/master/localtests) that confirm `gh-ost` does indeed support `latin1`. There could be an edge case that I don't understand, but then again, I cannot reproduce the problem on your side.

[2016-11-02 15:29] shlomi-noach commented on #307
We suffer from the same. We've recently met with Oracle engineers who said this shouldn't be happening, and might relate to our file systems' `unlink` time. Nonetheless dropping tables only works well for us after slowly deleting all table data, then wait a couple days, then directly `drop` (no `truncate`).

There is also the [hard link hack](http://blog.balazspocze.me/2015/01/13/how-to-drop-table

[2016-11-02 16:42] jeisen commented on #290
@shlomi-noach If I were to strip away any unicode beforehand and leave only "pure" latin1 in the VARCHARs, would you consider gh-ost still safe to use on an ALTER table CHARACTER SET utf8 COLLATE utf8_unicode_ci (when the table starts as latin1)?

[2016-11-02 19:32] shlomi-noach commented on #290
Yes, this conversion is supported and tested. I strongly urge you to `--test-on-replica` (I don't think you have done so in the above) and feel safe about this operation before running this on master.

[2016-11-02 21:24] jessicalu2016 opened #308 "replica lag time keep increasing once manually throttled the job"
Hi guys,

I am doing connecting to replica and migrate on master mode. During the job run, I manually throtlled the job by touch /tmp/gh-ost.throttle and the job throttled for about one min or so. when I remove the throttle file. the replica lag just keep increasing. I guess this lag is the last time that gh-ost apply the bin log. so it will just keep increasing while throttle? Does anyone know wh

[2016-11-03 00:07] jessicalu2016 commented on #308
I found the reason. it's our replica having error applying a bin log which causing the replica lag keep growing.

[2016-11-03 00:07] #308 closed

[2016-11-03 09:16] shlomi-noach commented on #290
Unless I get good insight on how to reliably detect `latin1` columns that happen to have `utf8` characters inside, as opposed to `latin1` columns that do not have `utf8` characters inside, I'm going to put the `utf8`-in-`latin1` issue aside, as it is currently not in our focus.

If anyone else want to pick this up, there's initial code to check/support this scenario, in the form of "not converting

[2016-11-03 09:30] SuperQ commented on #307
What filesystem are you using on the host?

If deleting rows and then dropping is ok, I'm doubting the `unlink` is the problem.

One of the issues I've been told, and seen, is that even with file per table, there is still a large amount of metadata in ibdata1 that needs cleanup to drop a table.  This seems to be supported by the delete-rows-first performance.

[2016-11-03 09:39] shlomi-noach commented on #307
We reached the same conclusion. We suspect maybe it has to do with multiple `innodb_buffer_pool_instances` but have not tested. Frankly, we have just one ultimate testing environment, and that's our busiest production master. All other masters or servers do not manifest the problem in the same way. So any experiment on our side is unreliable unless it's on the master. So... not many experiments.

[2016-11-04 09:53] mizioumt commented on #290
reproduces with 1.0.28, will try to find time to create a simple testcase

[2016-11-04 12:52] zytek commented on #302
Yeah, it was me ;-) and I just came back here with the intention to post that feature request as we started evaluating gh-ost in my company.

Another usage scenarios: `row_format=compressed` and ability to rollback in case of performance degradation.

[2016-11-04 13:24] shlomi-noach commented on #302
Updating that this is not on our immediate roadmap and though I've taken a quick look at it (and there's actually a beginning of a PR), I'm likely to not work on this in the coming month or maybe two.

[2016-11-07 10:13] xiepaup commented on #307
we got the same

when droping the old _xxx_del table,which has 16GB , It totally blocks all queries,  and the processlist shows opening tables stats.

As we are using Perconat 5.6.27 on CentOS 6.5, and innodb_file_per_table=1 set,

[2016-11-08 09:36] #304 closed

[2016-11-08 09:37] shlomi-noach commented on #304
PR merged, next release (current is `1.0.28`) will include the change

[2016-11-11 10:10] shlomi-noach commented on #290
@mizioumt let's take a step back, then.

The particular character you mention, `á`, is _explicitly tested_ in https://github.com/github/gh-ost/blob/master/localtests/latin1/create.sql

Do you know what the character set is for the connection that generates the `UPDATE` statement? Is it `utf8`?
Is it a `perl` client? Other?

Answering a previous question of yours:

As per a previous comment I made,

[2016-11-11 12:13] mizioumt commented on #290
* we do SET NAMES utf8mb4 upon connection
* the table structures are identical, the tables have DEFAULT CHARSET=latin1, the column is defined as simply 'text'

[2016-11-15 23:18] taylorchu commented on #224
I used docker-compose to test a minimal 3-node percona xtradb cluster. The main blocker is the default cut-over algorithm, as described before, but`--cut-over two-step` works.

[2016-11-16 07:33] rj03hou opened #311 "gh-ost hang with no more information"
gh-ost output is like this:
[code]

and is hang, with no more information.

**using interactive and strace is like this:**
[code]
there is nothing output

[code]

change log table is still insert, but the ghost don't have any new data more.

[2016-11-16 08:21] shlomi-noach commented on #311
Does this reproduce for you?

[2016-11-16 16:55] babinomec opened #312 "skip foreign key checks"
It would be nice to have an option like "--trust-me-i-there-are-no-foreign-keys-for-this-table" in order to save some time (4/5 minutes in our case, we have around 300k tables)

[2016-11-16 16:55] babinomec opened #313 "StreamEvents encountered unexpected error: sync is been closing"
gh-ost 1.0.28
mysql 5.6.32-78.1-log Percona Server (GPL), Release 78.1, Revision 4c779b7
operation : migrating on master (part of a master-with-slaves/master topology, running on the master receiving the writes)

Encountered this error after taking quite a long time (~4m30) checking for foreign keys.

Command :
[code]

Log :
[code]

[2016-11-16 18:15] ggunson commented on #313
The query for getting the foreign keys is this:

[code]

The EXPLAIN:

[code]

Putting `REFERENCED_TABLE_NAME IS NOT NULL` in the sums is redundant since the check is already in the WHERE clause. I'm curious if changing this into a query with UNION might be faster.

@babinomec Would you mind trying out these two queries a couple times each on a replica and let me know if the second one is any fast

[2016-11-16 18:17] ggunson commented on #312
The query for getting the foreign keys is this:

[code]

The EXPLAIN:

[code]

Putting `REFERENCED_TABLE_NAME IS NOT NULL` in the sums is redundant since the check is already in the WHERE clause. I'm curious if changing this into a query with UNION might be faster.

@babinomec Would you mind trying out these two queries a couple times each on a replica and let me know if the second one is any fast

[2016-11-16 18:21] ggunson commented on #313
The line of code that outputs the error message:

https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/binlogsyncer.go#L555

[2016-11-17 04:31] rj03hou commented on #311
Yes, already have some times; now we open the debug mode, next time it will have more log.
We don't have any clue to this problem.

[2016-11-17 08:16] shlomi-noach commented on #313
`INFO StreamEvents encountered unexpected error: sync is been closing...`

...is actually an `INFO` message, not an `ERROR` message per se.

This is not a problem in the migration process. Any actual errors (and this one isn't, though the word `error` appears in the text) are tackled by `gh-ost` and mostly cause retries. An actual error that causes a migration problem would be indicate by `2016-11

[2016-11-17 08:16] #313 closed

[2016-11-17 09:47] babinomec commented on #312
It's pretty much the same (except the first run obviously).

Here are the results for the first query :
[code]

And the second one :
[code]

[2016-11-17 11:08] Ahmadposten commented on #163
@shlomi-noach
I can see that the  ```binlog_format``` parameter in rds parameter groups is non-modifiable .. How did you manage to make it "ROW"?
currently `-asume-rbr` does me no good and the `binlog_format` is set to Mixed

[2016-11-17 12:22] shlomi-noach commented on #163
@Ahmadposten I myself am not using RDS in the first place. Hopefully @pbitty can help out -- but do see his earlier notes on the matter.

[2016-11-17 12:33] shlomi-noach opened #314 "gh-ost hangs at `cut-over` phase at "Waiting for events up to lock""
I've had this happen twice now: running a "migrate-on-replica" migration with `postpone-cut-over-flag-file` set; migration properly waits on cut-over, but when instructing `cut-over` the following occurs:

[code]

The `cut-over` begins; the `AllEventsUpToLockProcessed` gets written, but is never read back (or read but not found).
This leaves the `cut-over` phase hanging for eternity. The log above

[2016-11-17 13:06] shlomi-noach commented on #314
Further observations:

The `AllEventsUpToLockProcessed` is known to have been written. This is evident both from the log (or the lack of error in the log) as well as actual research into the binary logs to find it there.

[2016-11-17 13:17] mizioumt commented on #290
I found out a little more about the application:
* column T1.c1 is utf8mb4, column T2.c2 is latin1
* a value is inserted into T1.c1 that contains the offending character such as a with acute accent, or similar
* this value is copied to T2.c2. This is done in such a way as to trigger an SQL warning on 'invalid character'. The result is still a good latin1
* It is T2 that I'm trying to ALTER with gh

[2016-11-17 13:18] shlomi-noach commented on #314
Further: in the log of another similar hang, we see:

[code]

- In both cases there is throttling involved.

  However thrttling is disabled even before cut-over begins.

  I'll search for a race condition: throttling may have begun _just before_ cut-over begun (which is also verified beforehand, but again there may be a race condition)

- In both cases the backlog is not empty.

  Which explains

[2016-11-17 13:19] shlomi-noach commented on #314
Unrelated to solving this, there should also be a timeout mechanism in [waitForEventsUpToLock](https://github.com/github/gh-ost/blob/27712325899f1c289fd9a12607636b2dcc56d551/go/logic/migrator.go#L447) that bails out for whatever reason causing a delay.

[2016-11-17 13:19] pbitty commented on #163
@Ahmadposten What version of mysql are you using?  In our account I can only change that setting on PGs for mysql 5.6 (or higher?).  On 5.5 and 5.1 it is non-modifiable as you said.  Is this the case for you?

You would have to upgrade to 5.6 to use gh-ost.  In RDS, only mysql 5.6 or higher have support for "external replicas".  With 5.5 and lower, they don't give you the ability to grant `REPLICA

[2016-11-17 13:34] shlomi-noach commented on #290
@mizioumt allow me to break down and reorder your own comment, to confirm I understand it correctly:

- You are running `gh-ost` on table `T2`, which has column `c2 ... CHARACTER SET latin1`
- `gh-ost` exits with error when you try to copy data from `T1` to `T2`, where the data comes from a `utf8mb4` column, using a direct SQL statement such as:

[code]

Did I make this right?

[2016-11-17 14:19] Ahmadposten commented on #163
@pbitty @shlomi-noach
Yes this seems to be my case .. I use mysql 5.5
I will try upgrading ... Thank you guys

[2016-11-17 15:29] shlomi-noach commented on #314
At this time I'm able to reliably reproduce this, and am working to fix it.

[2016-11-17 16:20] shlomi-noach commented on #314
Found it! Indeed if throttling happens to begin just as used commands unpostpone, the cut-over blocks until throttling ends.

Am fixing.

[2016-11-17 17:23] ggunson commented on #313
@shlomi-noach Could we change the INFO message, then? It confused me as well, and it has a grammatical error.

[2016-11-17 17:35] ggunson commented on #312
@babinomec Thanks for testing that.

@shlomi-noach What do you think of the --trust-me-i-there-are-no-foreign-keys-for-this-table idea?

[2016-11-18 07:49] shlomi-noach commented on #312
Thank you both -- I understand the need; I think it makes sense.

[2016-11-18 07:50] shlomi-noach commented on #313
@ggunson the message comes from a 3rd party library, which I update from time to time. To change that message we would want to PR https://github.com/siddontang/go-mysql/

[2016-11-18 09:29] shlomi-noach commented on #314
Quick summary of things that have been fixed in #315:

- Previously, throttling could race up the cut-over, and would then take over and stall for as long as throttling reasons prevailed, preventing the `AllEventsUpToLockProcessed` signal from being read from the binary log, preventing `cut-over` to complete.

  This has been fixed, throttling is now ultimately non-blocking when inside `cut-over`

[2016-11-18 09:43] shlomi-noach commented on #230
@sjmudd brought to my attention the matter of non-default columns, which would block us from supporting `binlog_row_image=MINIMAL`, and then I realized the problem is even bigger. To elaborate:

Say we just began the migration. Our _ghost_ table is empty or nearly empty. An `UPDATE` executes on the original table, on a row that is not copied yet to the _ghost_ table. That `UPDATE` sets value to so

[2016-11-18 10:37] babinomec commented on #312
(seems I forgot a "know" in the option name)

[2016-11-18 10:57] shlomi-noach commented on #312
The race for option name suggestions is now open

[2016-11-18 13:45] mizioumt commented on #290
well on the second point I do not know how that copy is implemented exactly but logically this is correct. This chain has ROW replication throughout so it's difficult to get the exact SQL involved. But not impossible, I just need to find time to use sources other than binlogs.
I'm a bit at a loss as to how this error/warning can show up upon a latin1 column, though, if latin1 covers all of 0-255 s

[2016-11-18 13:56] shlomi-noach commented on #290
@mizioumt if the scenario is roughly as I describe, then I think it is similar to the case presented by @jeisen. You are copying `utf8mb4` values onto `latin1` and I suspect there's double encoding there.

I will potentially not fix this; but let me see how easy for me it is to build a test case for this, next week,

[2016-11-18 14:25] mizioumt commented on #290
my problem is that there is not double encoding in my case, that is the latin1 value stays at say ''EL ESPAÑOL' in latin1 sense. I checked it with SELECT HEX(whatever), the 'Ñ' is internally one byte.
This is another thing I can't understand, it is possible to trigger this warning but the data would end up mangled while it is not mangled in this case.
This is similar to entirely unrelated issue wh

[2016-11-18 14:52] babinomec commented on #313
@ggunson @shlomi-noach What about changing the wording on https://github.com/github/gh-ost/blob/ccaa8401259354c6d62df253471dc34cad415133/go/logic/streamer.go#L196 then ?

[2016-11-18 15:42] mizioumt commented on #290
I noticed that modern gh-ost dumps the offending value as [n1 n2 ...]. This is what it dumped on the last occurrence:

[code]

then complained about 252, u-umlaut. This does not look like double encoding to me.

[2016-11-18 20:30] ggunson commented on #312
--skip-foreign-key-check
--ignore-foreign-keys
--trust-me-i-know-what-im-doing
--these-arent-the-droids-youre-looking-for
--pay-no-attention-to-the-man-behind-the-curtain

Would there be any benefit to, instead of just not doing the foreign keys query with this option on, forking the query (as we do with the `SELECT count(*) from table`) and then writing a warning to the output if there are FKs (r

[2016-11-18 20:50] ggunson commented on #230
Is it possible to have it use the `replace into...select` or select-then-replace-via-app until the row copy is complete (assuming it's set to postpone cut-over) and then revert to the default method from then on? That is assuming that this copying method is going to be impacting performance enough to warrant trying to avoid it.

[2016-11-18 21:13] jonahberquist commented on #230
I don't think this is correct. If the row has not been copied to the _ghost_ table when an update comes in, gh-ost can just ignore the update. The row will have the updated values when it gets copied later in the process.

[2016-11-21 07:17] shlomi-noach commented on #313
oh. Yes, indeed.

[2016-11-21 07:19] shlomi-noach commented on #312
@ggunson I think in this case it wouldn't be beneficial, and possible inconsistent. The check itself may terminate at _some_ time during migration, at which time no one pays notice. But for smaller tables, it would not even complete by the time the migration completes.
Given that the user provides a flag `--skip-foreign-key-checks` I would have `gh-ost` actually skip the check.

[2016-11-21 07:27] shlomi-noach commented on #230
You are right. But this also complicates matters a bit: because the `update` would nonetheless generate an error; which means `gh-ost` would need to verify that this `update` runs on a row that hasn't been iterated yet.

That is not trivial but also not too difficult. The check would need to be delegated to MySQL, because `gh-ost` itself cannot compare PK range values (consider collations for exam

[2016-11-21 07:43] shlomi-noach commented on #314
fixed by https://github.com/github/gh-ost/pull/315

[2016-11-21 07:43] #314 closed

[2016-11-21 08:19] shlomi-noach commented on #312
Please see https://github.com/github/gh-ost/pull/316

[2016-11-21 11:59] mizioumt commented on #290
I'm yet to build a testacase but I think I have an idea of what the problem is. gh-ost uses the replication and it fails to replicate exactly. If the binlog sets SQL_MODE then gh-ost should follow that. So in this case enforcing STRICT_ALL_TABLES on top of that may result in trouble.

[2016-11-21 12:31] shlomi-noach commented on #290
I'm not sure what this means.

As per `STRICT_ALL_TABLES`: this is a protection mechanism that makes sure `gh-ost` doesn't do the wrong thing. This has proven useful in managing character sets, bigints and more.
`gh-ost` will keep on using strict mode. The problem we get right now is that `gh-ost` attempts to write a character that is invalid, and this should be either fixed or not-fixed, but neve

[2016-11-21 15:46] babinomec commented on #312
Perfect, thank you !

(Am I supposed to close this issue then ?)

[2016-11-21 19:38] shlomi-noach commented on #312
@babinomec I'll close it once the PR is merged.

[2016-11-23 09:00] shlomi-noach commented on #312
Branch is merged. Closing this issue. There is no release yet that contains this change, next one will.

[2016-11-23 09:00] #312 closed

[2016-11-28 10:44] mizioumt commented on #290
there is a mirror hypothesis: MySQL fails to replicate some variables that should be replicated and this tricks gh-ost to being too strict.
If I sound confused it is because I am.  Still I think I have something that I hope will help me make a testcase tonight.

[2016-11-28 15:37] mizioumt commented on #290
no luck ...

[2016-11-28 15:42] mizioumt opened #317 "gh-ost aborts: FATAL 2 successive failures in streamer reconnect at coordinates binlog.N:4"
quite reproducible. I'll attach the log. It has:

* numerous 'slice out of bounds' messages but gh-ost does not abort so it's not a concern
* I find the streamer processing sequence strange. It kind of goes down and up.
* and eventually gh-ost aborts:

[code]

that :4 is an invariant, on every run it fails at binlog.N:4

[2016-11-29 09:36] dveeden opened #318 "False positive for rename column check"
Operation:
[code]

Result:
[code]

[code]

Would be nice if we could exclude comment from this regex.

[2016-11-29 10:04] shlomi-noach commented on #318
Similarly:

[code]
Results with:

[code]

[2016-11-29 10:11] shlomi-noach commented on #318
local tests to reproduce this error: https://github.com/github/gh-ost/pull/319/files

[2016-11-29 14:57] shlomi-noach commented on #317
To explain a bit on what happened here:

The _streamer_ is the part that connects to your MySQL server and impersonates as a replica. It seems to have been disconnected. Network problem? Timeout?

When it reconnects, it _always_ reconnects at `4`. This is because it want to make no assumptions on the state of the last executed binlog position. It then skips to the last known position.

I would sug

[2016-11-29 15:18] mizioumt commented on #317
to which MySQL server does it connect? In this case I had --test-on-replica, will it try to connect to the master or to the replica? If it's the primary master it is trying to connect to that could explain it.

[2016-11-29 15:21] dveeden commented on #318
The mighty ANTLR4 now has a go target... https://github.com/antlr/antlr4/blob/master/doc/go-target.md
I happen to have a MySQLSchemaChange.g4 file...

Would you be interested in switching this from a regex to antlr?

[2016-11-29 15:28] shlomi-noach commented on #317
The streamer connects to your replica, unless you specified `--allow-on-master`

[2016-11-29 15:29] shlomi-noach commented on #318
If you're up to do the work, I'm happy to take it

[2016-11-29 16:04] mizioumt commented on #317
60 --default-reties would not help. Maybe it is a sick server, I'll try another one for the same table.

[2016-11-30 09:16] shlomi-noach commented on #317
I know a doctor.

[2016-11-30 10:51] mizioumt commented on #317
same results for another one

[code]

no I don't think it's the network. Maybe gh-ost sees an error when there is none. It would appear it reaches the end of the last available binlog, goes back and somehow does not appreciate it.

[2016-12-01 08:17] rj03hou opened #320 "when alter myisam table and the default engine is innodb, with gtid will be error."
we find a **bug** when alter myisam table and the default engine is innodb, with gtid will be error.

the log is like this:
[code]

because when load data, the MyISAM engine is better than Innodb,  otherwise Innodb is better, so our default engine is innodb, and some load data table is MyISAM.

So when we alter the myisam table, the  magic cut-over table is default engine innodb. when gtid is on,

[2016-12-01 08:22] rj03hou commented on #320
I make a pull request, when I make sure the test.sh work, I will pull it.

[2016-12-01 22:03] lperrin commented on #163
@shlomi-noach one thing to note is that the read replica will not honor the parameter group for the binlog _unless_ you enable automated backups (for at least 1 day). Could you add it in your comment?

[2016-12-01 22:27] shlomi-noach commented on #163
@lperrin done. thank you!

[2016-12-01 22:27] shlomi-noach commented on #163
@lperrin done. thank you!

[2016-12-01 23:15] lperrin opened #322 "Stuck at "Waiting for ghost table to be migrated" when migrating on RDS"
I understand that RDS is not officially supported yet. I'm trying to run a type "Connect to replica, migrate on master" migration. gh-ost seems to be able to connect to both db and actually creates the new tables on master. However, it hangs immediately after starting:

[code]

(edited out host names)

Here is the command I tried:

[code]

Do you have any idea why might be causing this? Thank you!

[2016-12-01 23:29] lperrin commented on #322
OK it's probably my fault. We deleted a table on the replica and it broke the replication.

[2016-12-01 23:29] #322 closed

[2016-12-02 07:52] rj03hou opened #323 "Not support for dirty replication"
Find a bug not  support for clean replication:

1. DBA using reset slave rather than reset slave all. The Master_Host and Master_Port exist.
1. DBA not execute reset slave or reset slave all when they promote the slave to master. The Master_Host and Master_Port exist, but the replication is break.

In the above case, we using recursive to execute show slave status from the host to find the master

[2016-12-02 08:01] shlomi-noach commented on #323
Thank you,

`Slave_IO_Running` and `Slave_SQL_Running` being `No` is certainly not a reliable indicator that a server is a master.

I'm OK to consider an empty `Master_Log_File` as an indicator that a server is a master.

[2016-12-02 08:08] rj03hou commented on #323
In the second case:
DBA not execute reset slave or reset slave all when they promote the slave to master, just execute stop slave. The Master_Host and Master_Port exist, but the replication is break.

In this case, we can find the stale master, and try to write to id.

[2016-12-02 08:10] shlomi-noach commented on #318
closed by #319. Potentially to be iterated later on via ANTLR4

[2016-12-02 08:10] #318 closed

[2016-12-02 08:11] shlomi-noach commented on #323
Also in that same 2nd case, some intermediate master may just have replication broken; it's unsafe to assume that it is the master.

[2016-12-02 08:23] rj03hou commented on #323
In that same 2nd case, if the Slave_IO_Running and Slave_SQL_Running being No, we can stop and remind the user to check.
otherwise will find the wrong master.

[2016-12-02 08:37] rj03hou commented on #311
We have find the problem, because the  python.subprocess hang after proc.communicate().
This hang the gh-ost.

[2016-12-02 08:41] shlomi-noach commented on #311
thank you

[2016-12-02 08:41] #311 closed

[2016-12-02 08:41] shlomi-noach commented on #323
yes, that's an excellent sanity check.

[2016-12-03 00:47] lperrin opened #326 "Migration stops immediately on RDS"
I understand that RDS is not officially supported. I have followed all the advices of the tracking issue, but gh-ost quits almost immediately after starting without doing anything.

The only message I see is `StreamEvents encountered unexpected error: sync is been closing...`, which is not supposed to be an error.

Here is the command-line I use:

[code]

Here is the log:

[code]

[2016-12-03 06:48] shlomi-noach commented on #326
@lperrin this was dry-run. Please try again with `--execute`

[2016-12-04 10:21] lperrin commented on #326
@shlomi-noach oh sorry you are correct. I had a lot of problems with my read replica and completely missed this. Thanks for pointing this out!

[2016-12-04 10:21] #326 closed

[2016-12-05 06:47] rj03hou commented on #323
@shlomi-noach I make a pull request to solve this problem,  can you review the code.

[2016-12-05 09:04] shlomi-noach commented on #326
`gh-ost` should be more vocal about running a noop migration though.

[2016-12-06 12:08] shlomi-noach commented on #323
closed by https://github.com/github/gh-ost/issues/324

[2016-12-06 12:09] #323 closed

[2016-12-06 12:09] shlomi-noach commented on #320
closed by https://github.com/github/gh-ost/issues/325

[2016-12-06 12:09] #320 closed

[2016-12-07 14:29] austinhalpin opened #328 "Allow for a `--ask-pass` parameter?"
`pt-online-schema-change` has a parameter `--ask-pass` which will prompt for the DB password at runtime.

We run migrations from a single ec2 host & the thoughts of leaving our DB password in a plain text file (or passing it as a parameter to a command in plaintext) genuinely terrifies me.

Is this something you would be willing to add?

[2016-12-07 14:34] shlomi-noach commented on #328
Sure, we can certainly support this.

However you might also be interested in the following: `gh-ost` recognizes environment variables, such that you may create a config file:

[code]

Run `gh-ost` via:

[code]

and then just make sure the environment variable is set.

e.g. you can

[code]

[2016-12-07 15:59] austinhalpin commented on #328
Sure, that could work. But someone is still going to need to run a command passing the password in plaintext. That's the part that gives me the heebie jeebies 😅

Thanks for the quick reply btw!

[2016-12-07 16:11] shlomi-noach commented on #328
`shell` has yet magic for you:

[code]

[2016-12-09 07:17] rj03hou opened #329 "don't check the critical-load at cut-over section"
I check the 1.0.30 release note, find that in this version we find fix a bug "Fixed cut-over stall", but we meet another similar case:

[code]

means critical-load check may happens in the cut-over section, when we lock the tables, the  Threads_running may increase quickly but shortly, so I think we should not check the critical-load in the cut-over section.

I try to fix this, but it not  easy to

[2016-12-09 09:45] shlomi-noach commented on #216
https://github.com/github/gh-ost/pull/266 (`--critical-load-interval-millis`) solves this.

[2016-12-09 09:47] shlomi-noach commented on #329
This issue has been considered in https://github.com/github/gh-ost/issues/216, and solved by https://github.com/github/gh-ost/pull/266

TL;DR: there's a reason for `--critical-load`; ignoring it altogether is not the right thing to do.

`--critical-load-interval-millis` provides with a reasonable solution: define it to, say, `3` seconds (which is basically the `cut-over` timeout anyhow), and so th

[2016-12-09 09:58] vandrijevik opened #331 "Thoughts on Foreign Keys?"
Hello,

Thanks for your hard work on `gh-ost`!

As I familiarize myself with the way it all works, I noted that foreign keys are [explicitly not supported](https://github.com/github/gh-ost/blob/master/doc/requirements-and-limitations.md#limitations), but that they may be to some extent in the future.

Looking through issues in the repo, I also noted [this expected feature](https://github.com/githu

[2016-12-09 14:35] shlomi-noach commented on #331
At GitHub we do not use foreign keys, ever, anywhere.

Personally, it took me quite a few years to make up my mind about whether foreign keys are good or evil, and for the past 3 years I'm in the unchanging strong opinion that foreign keys should not be used. Main reasons are:

- FKs are in your way to shard your database. Your app is accustomed to rely on FK to maintain integrity, instead of doin

[2016-12-09 21:22] ramkireddy opened #332 "Runtime error when trying to ALTER a table without PRIMARY KEY / UNIQUE KEY"
Running into a following run time error when trying to ALTER a table.

[code]

[2016-12-10 07:03] shlomi-noach commented on #332
I like(?) it how the stack trace shows the path on my personal dev machine.

[2016-12-10 07:07] shlomi-noach commented on #332
@ramkireddy can you please specify:

- `gh-ost --version`

- What is the original table schema?

[2016-12-10 16:33] ramkireddy commented on #332
hi,
[root@dom-use-sand1mysql-04 gh-ost]# ./gh-ost --version
1.0.30

mysql> show create table ZIP_DIST_TEST \G
*************************** 1. row ***************************
       Table: ZIP_DIST_TEST
Create Table: CREATE TABLE `ZIP_DIST_TEST` (
  `ZIP1` char(5) DEFAULT NULL,
  `ZIP2` char(5) DEFAULT NULL,
  `DISTANCE` double(10,5) DEFAULT NULL,
  KEY `IDX_ZIP_DIST_ZIP1` (`ZIP1`,`ZIP2`,`DISTANCE`)

[2016-12-10 17:43] ggunson commented on #332
@ramkireddy gh-ost requires that a table have a unique or primary key:

That wouldn't explain the runtime error, though.

[2016-12-11 01:25] shlomi-noach commented on #332
This is the source of the runtime error: https://github.com/github/gh-ost/pull/333/files#diff-5aa50dde7ca1baf7a819eecf740ea220L98

After fixing, and on your table, `gh-ost` will bail out saying:

[code]

and this is the expected behavior.

[2016-12-11 01:59] shlomi-noach commented on #328
https://github.com/github/gh-ost/pull/334 adds `--ask-pass` flag.

[2016-12-12 07:19] rj03hou commented on #329
--critical-load-interval-millis is good, set this can solve our problem.
next time I will first discuss in the issue, then try to write the code.

[2016-12-12 07:36] shlomi-noach commented on #329
@rj03hou thank you very much for your continued contributions!

[2016-12-12 07:36] #329 closed

[2016-12-12 12:50] ConneXNL opened #335 "Slave_IO_Running: Connecting"
When I am testing ghost on a slave located at localhost I get the error that replication is broken because
Slave_IO_Running returned "Connecting" instead of "Yes".

However, for some reason whenever I run `SHOW SLAVE STATUS` it returns for both Slave_IO_Running: yes  and Slave_SQL_running: yes. My slave is running fine and syncing with the master...

Only when Ghost checks the Slave_IO_Running it

[2016-12-12 13:05] shlomi-noach commented on #335
@ConneXNL thank you, yes, this is likely because `gh-ost` doesn't wait following `START SLAVE` to allow the replica to actually finish handshaking with the master. In `orchestrator` I always made sure to sleep some `500ms` following `START SLAVE` and I should be doing the same here.

Until I submit a fix for this, and assuming you _know_ your replica uses row based logging, you can `--assume-rbr`

[2016-12-12 13:28] ConneXNL commented on #335
Thanks for the quick reply. --assume-master-host= and/or --assume-rbr indeed worked as a work-around. However, I am running into the next problem and before I post yet another issue (as maybe this might be related though I doubt it). Everything get's stuck on: `Waiting for ghost table to be migrated. Current lag is 0s`. When I investigate the 2 tables, then `_test_table_gho` actually contains no r

[2016-12-12 13:32] shlomi-noach commented on #335
what is the `binlog_format` on the replica?

[2016-12-12 13:33] shlomi-noach commented on #335
Also, why `--assume-master-host=` ? I did not suggest it

[2016-12-12 13:46] ConneXNL commented on #335
The replicate binlog_format is set to ROW.
The master binlog_format is set to MIXED.

On slave:
[code]

Before you responded I figured `--assume-master-host=` would skip the code that checks for the master so that also worked.

I removed  `--assume-master-host=` now but everything is still stuck at `2016-12-12 07:43:12 INFO Waiting for ghost table to be migrated. Current lag is 0s`

[2016-12-12 13:57] shlomi-noach commented on #335
can you please:

1. before running `gh-ost`, and just to be sure, `stop slave;start slave` on the replica?
2. when you see this `Waiting for ghost table to be migrated`, message, can you please verify the master has the table `_test_table_gho` and whether the replica also has it?

[2016-12-12 14:05] ConneXNL commented on #335
Found a problem in my slave's binlog_do_db setting. Currently retrying again to see if it was related. Will update this comment.

[2016-12-12 14:11] shlomi-noach commented on #335
`binlog-do-*` and `binlog-ignore-*` are definitely suspects here...

[2016-12-12 14:12] ConneXNL commented on #335
This was the issue. I had the specific database not listed in binlog_do_db on the Slave's configuration.

[2016-12-12 14:13] shlomi-noach commented on #335
Thank you for checking. For visibility, always prefer to _add_ a new comment rather than _editing_ your comment. I only get a notification when you _add_ a comment, and also it's difficult to look back and search for changes in stuff you've already read.

[2016-12-12 14:13] ConneXNL commented on #335
Ok, will do! Thanks for helping here. I am not sure whether the system should give reasons whenever it gets stuck or maybe something regarding this could be listed in the FAQ.

[2016-12-12 14:15] shlomi-noach commented on #335
@ConneXNL good idea, can you please open a new issue with this suggestion?
If you're able to, opening a PR for this would be even better.

[2016-12-12 18:23] ramkireddy commented on #332
@shlomi-noach, Thanks for all the fixes!, I am going to try and build the tool from the source soon and give it a try!

I didn't realize that this table din't had a primary key/unique key this is one of the handful of tables that we don't have a primary key! out of 800+ tables we have.

Only other major issue that see coming in the way would be the tool unable to handle the foreign key, we rely he

[2016-12-12 18:24] ConneXNL opened #336 "Gh-ost doesn't actually start copying existing data for some of my bigger tables..."
I might be missing something but it looks like gh-ost doesn't actually start for one/two of my larger tables. As you can see in the below log it **does** add the new rows that are being added but it **doesn't** start with copying the existing rows. Other tables in the same database do work.

Here is the log:

[code]

[2016-12-12 20:21] shlomi-noach commented on #332
@ramkireddy re: foreign keys, someone was just asking: https://github.com/github/gh-ost/issues/331

[2016-12-12 20:27] shlomi-noach commented on #336
This is really weird and I have never seen such behavior.
The one outstanding thing here is the first `Copy` line:

[code]

You're using `--concurrent-rowcount`, and yet the first copy begins  `21s` into migraiton.

I don't have an idea yet on what's going on because the migration is obviously not throttling, so should be copying rows.

So I'm wondering what could have caused such a stall; perhaps

[2016-12-12 23:36] ConneXNL commented on #336
I don't have any of those "replication filters layout around", sadly. The replication itself is working and new rows are also added to the ghost table. I tried simplifying the --alter as much as I can but the actual copying never starts.

Is there any way to debug from here? Is there for example a way to see which queries gh-ost fires and whether they give the expected results?

Some more notes:
-

[2016-12-13 00:19] ggunson commented on #336
One thing in the command: there's `--allow-master-master` but not `--allow-on-master`, and according to the cheat sheet you need both together if you're going to do master-master: https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md

Please try again with `--allow-on-master` added.

[2016-12-13 11:33] shlomi-noach commented on #336
And yet you provide with `--skip-foreign-key-checks`

Foreign keys are not supported. The `gh-ost` table will _not have foreign keys_ and this may break integrity of your database.

[code]

I'm afraid I'm going to close this Issue as WontFix.

[2016-12-13 11:35] shlomi-noach commented on #336
[code]

[2016-12-13 11:37] shlomi-noach commented on #336
That is the nature of replication; an account you create on the master is then created on the replica by laws of replication.

[2016-12-13 11:55] ConneXNL commented on #336
@ggunson Tried this, but didn't work. Also I am connecting to the slave (option A) for which the example doesn't show "--allow-on-master".

@shlomi-noach Missed the initially-drop-socket-file one. Thanks for that.

Regarding your comment on the user/password. I am currently only replicating the database by its name. Could this be related?

Also, on foreign keys, I just removed foreign keys from th

[2016-12-13 12:48] shlomi-noach commented on #336
I'm afraid I don't understand what you mean by that. Do you mean you have replication filters? (you said you didn't).

Please paste output of `SHOW CREATE TABLE my_test_table`

[2016-12-13 12:49] shlomi-noach commented on #336
As a matter in fact, please paste the output of `SHOW CREATE TABLE my_test_table` on _both the master and the replica_

[2016-12-13 13:28] ConneXNL commented on #336
@shlomi-noach With filters I thought you were referring to specific table/database filtering towards a wrong database/table. See my.cnf below but It might be important to note that when making a structure **copy of the below table with the name my_test_table_2, then filling it with ~5000 rows and using gh-ost creates no issues**. There is really something going on with **10M+ rows** when the thing

[2016-12-13 13:31] shlomi-noach commented on #336
@ggunson I suppose this would be the only way to do that. However I think if the user explicitly specifies `--skip-foreign-key-checks` this should be respected.

Regardless, it seems like foreign keys were not the reason for the stall, anyway, so it seems like `gh-ost` sitting there indefinitely is due to some other strange reason.

@ConneXNL are you even having a master-master setup? If not, what

[2016-12-13 13:35] shlomi-noach commented on #336
@ConneXNL thank you for all the output.

As per your question about debugging, of course -- you can `--debug`

[2016-12-13 13:45] ConneXNL commented on #336
@shlomi-noach No it's not a master to master setup. I copied the flags from the example which had the --allow-master-master in there. The slave is actually my localhost whereas the master is a live server. Only the master server is changing, the slave is just do have a fresh copy of the liveserver (for example to make local backups). This is also the reason why I am specifying the database in the

[2016-12-13 13:47] ggunson opened #338 "Feature Request: different user/password for master vs replica"
Not all replication topologies replicate the mysql system tables, so there are scenarios where there are different users and passwords set up on masters vs replicas. gh-ost assumes that the same user can be used to connect to both the master and the replicas (used for binlog parsing or for replication lag checks).

I'd like to request a feature where it's possible to specify different usernames an

[2016-12-13 14:08] shlomi-noach commented on #336
any "normal" master-replica setup can be called "active-passive", but we reserve the terms for master-master circular setups, which you don't have.

[2016-12-13 15:22] ConneXNL commented on #336
@shlomi-noach ok makes sense.

Anyhow, what to do from here? I tried enabling --debug but the last DEBUG message I get is "DEBUG Operating until row copy is complete" but that's before it actually starts working on the Backlog.

I understand this is a difficult problem to solve it happends just for this instance but what would be the steps you would do to figure out what is causing it?

[2016-12-13 15:29] shlomi-noach commented on #336
@ConneXNL on your side:

during that time where `gh-ost` works but doesn't actually copy rows, can you `SHOW PROCESSLIST` on the master?
I'd be interested to find what `gh-ost` connections exist on the master and what they are doing.

I'm hoping to perhaps catch a `INSERT INTO...SELECT` query that is slow or blocked or locked. If you do find such a query, it would be good progress.

On my side: st

[2016-12-13 16:32] ConneXNL commented on #336
@shlomi-noach

There appear 3 new connections when gh-ost starts. Two connections connect with database_test, the other one connects to information_schema. The connection to information_schema and ONE of the connections to database_test appear to sleep and will live throughout the duration gh-ost is running.

Other connections come and go to the database_test database but only seem to come and go

[2016-12-13 16:33] ConneXNL commented on #336
I also just notices when stopping the Gh-ost command the two sleeping queries will stay and I have to manually kill them on the master server.

[2016-12-13 16:49] shlomi-noach commented on #336
Thank you for all the info. I was hoping to perhaps find that the copying query would not be able to utilize the PK for some obscure reason.

Hence my question about the queries.

We are running gh-ost on tables with many millions of rows, and so I can't see why the number of rows would otherwise affect the migration.

[2016-12-13 16:50] shlomi-noach commented on #336
"many millions" -> "many hundreds of millions"

[2016-12-13 17:07] ConneXNL commented on #336
I can imagine note the amount of rows itself is the issue, but maybe the latency that results from it.

[2016-12-14 07:54] shlomi-noach commented on #336
@ConneXNL can you please also try with `--migrate-on-replica`?

[2016-12-14 09:44] shlomi-noach commented on #328
fixed by https://github.com/github/gh-ost/issues/334, released in https://github.com/github/gh-ost/releases/tag/v1.0.32

[2016-12-14 09:44] #328 closed

[2016-12-14 09:44] shlomi-noach commented on #332
Fixed by https://github.com/github/gh-ost/issues/333, released in https://github.com/github/gh-ost/releases/tag/v1.0.32

[2016-12-14 09:44] #332 closed

[2016-12-14 13:06] ConneXNL commented on #336
@shlomi-noach Works beautifully (but of course only on the slave).

[2016-12-14 16:50] shlomi-noach commented on #336
@ConneXNL Can you please try the following, with `--debug`, and paste the output?

[gh-ost-binary-linux-20161214174859.tar.gz](https://github.com/github/gh-ost/files/652299/gh-ost-binary-linux-20161214174859.tar.gz)

[2016-12-14 17:52] ggunson opened #341 "Documentation: --allow-master-master flag"
This is a placeholder for me to update the docs to clarify `--allow-master-master` usage and clean up anywhere it may be unnecessary.

e.g. it's in the example for "a. Connect to replica, migrate on master" in the cheatsheet (https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md) but master-master is not a default setup for a replication topology and probably shouldn't be in that example.

[2016-12-14 19:01] ConneXNL commented on #336
@shlomi-noach tested it but it doesn't seem to show any new DEBUG lines. Are you sure its the right file?

The last debug line is still: `DEBUG Operating until row copy is complete`

[2016-12-14 20:31] shlomi-noach commented on #336
I'm specifically interested in logs stating "first iteration" or "rowCopyCompleteFlag". These wouldn't be the last debug messages; they should show up before row-copy begins.

[2016-12-14 23:07] ConneXNL commented on #336
@shlomi-noach both are not there... You really sure **gh-ost-binary-linux-20161214174859.tar.gz** is the correct file?

[2016-12-15 06:16] shlomi-noach commented on #336
Yes, I'm sure.

[2016-12-15 06:22] shlomi-noach commented on #336
(this is evident by the `gh-ost 1.0.33` which I was expecting)

[2016-12-15 06:30] shlomi-noach commented on #336
All right, I've now added an obscene amount of debug messages, plus made first direction in what I assume is a concurrency/block/deadlock possibility. Please try out the following (should show as `gh-ost 1.0.33-1` on startup)

[gh-ost-binary-linux-20161215072853.tar.gz](https://github.com/github/gh-ost/files/653918/gh-ost-binary-linux-20161215072853.tar.gz)

[2016-12-15 06:42] shlomi-noach commented on #341
`gh-ost --help` is the only de factor source of truth for all flags. Otherwise https://github.com/github/gh-ost/blob/master/doc/command-line-flags.md is the place to add more documentation for missing flags.

[2016-12-15 15:52] ConneXNL commented on #336
2016-12-15 09:46:12 INFO starting gh-ost 1.0.33-1
2016-12-15 09:46:12 INFO Migrating `database_test`.`test_table`
2016-12-15 09:46:12 INFO connection validated on localhost:3306
2016-12-15 09:46:12 INFO User has ALL privileges
2016-12-15 09:46:12 INFO binary logs validated on localhost:3306
2016-12-15 09:46:12 INFO Table found. Engine=InnoDB
2016-12-15 09:46:12 DEBUG Estimated number of rows via S

[2016-12-15 16:56] shlomi-noach commented on #336
Thank you. I'm likely to ask you to further run another version, however please be advised I'll only be able to pick this up next week.

[2016-12-15 17:01] ConneXNL commented on #336
Okay, thanks for the time you are taking to get to the bottom of this. Just let me know whenever you want to test something else.

[2016-12-15 19:48] ConneXNL commented on #336
Just wanted to share that I just tried to set the binlog format on master from MIXED to ROW in order to test if I could do the migration directly on the master.

Sadly it did not make a difference.

[2016-12-17 12:59] shlomi-noach commented on #336
Here's a breakdown of what happens on your master; in retrospect I could have analyzed this from your very first log. The debugging info pointed me in the right direction though.

`gh-ost` works by both applying events from the binary log as well as copying rows on your table.
Your logs show that it makes advancement in the binary logs, but never copies a single row.

The current logic is that bin

[2016-12-19 11:44] rj03hou commented on #292
In the following case, streamer connection is still leak.

[code]

I think there is a simple solution.
add the following code after Migrate::initiateStreaming
[code]

and remove the eventsStreamer.Close from finalCleanup.

[2016-12-20 05:07] shlomi-noach commented on #292
Is `finalCleanup()` not invoked? Why would the code work via `defer` and not via `finalCleanup()`?

[2016-12-20 06:38] rj03hou commented on #292
because finalCleanup just work if there is no err.
if inspectOriginalAndGhostTables return err, finalCleanup don't work.

[2016-12-20 12:47] nethalo opened #342 "Missing --binary-mode alike parameter? Tool fails with FATAL Error 1366: Incorrect string value."
The tool fails trying to run one of the REPLACE statements that have an URL with a character

Error message:
**FATAL Error 1366: Incorrect string value: '\xEF\xBF\xBDEve...' for column 'url' at row 1**

Values:
`args=[1480391318431_7062357157387106246_ACT_B_3522379_S_1005_EUIDS_NIL_EUIDE_EXCHG_3 2016-11-29 03:48:38 +0000 UTC <nil> RHEoWesPcC2cKQJ2KeSoMFyz http://www.viralvinny.com/21-places-earth-

[2016-12-20 12:57] shlomi-noach commented on #292
@rj03hou you're right. Go for it!

[2016-12-20 19:56] shlomi-noach commented on #342
Can you please share:

- table structure
- `gh-ost` command, including all flags
- `gh-ost` output, if possible; at the very list the few rows preceding the error, as well as `gh-ost` version (first line of output)

thank you

[2016-12-21 02:54] rj03hou commented on #292
reopen this issue, and pull request to this issue?

[2016-12-21 03:58] rj03hou commented on #292
I make the following change

[code]

and test, the log is like following:

[code]

But I login the mysql and execute "show processlist", the connection is still in.
"| 68246 | root | :62048 | NULL | Binlog Dump |   32 | Master has sent all binlog to slave; waiting for binlog to be updated | NULL"

[2016-12-21 06:31] rj03hou commented on #292
I test a success alter_sql, find the connection leak is not resolve.
I use netstat find ghost was in FIN_WAIT_2 state, this explain ghost close the connection to mysql, but mysql don't close the connection.

so I think we should send COM_QUIT to mysql, before we just close the tcp connection.

[2016-12-21 07:52] shlomi-noach commented on #292
@siddontang do you have any thoughts on this?

[2016-12-21 08:29] vandrijevik commented on #331
Thanks for the thoughtful and detailed answer, @shlomi-noach! 😄

[2016-12-21 08:29] #331 closed

[2016-12-21 13:14] siddontang commented on #292
Hi @shlomi-noach

Maybe this is the same for https://github.com/siddontang/go-mysql/issues/102, or https://github.com/siddontang/go-mysql/issues/82.

Event the client closes the socket, the MySQL server may still keep this connection. Maybe sending `COM_QUIT` can work, but I haven't tested it. Another way is to send `KILL CONNECTION ID` in another connection to force MySQL close it.

[2016-12-21 13:59] siddontang commented on #292
I think this is not a urgent bug, so I don't handle it now. 😭

[2016-12-22 08:18] kerrigell opened #344 "Updating failed when gh-ost reducing varchar column length"
Hi,
   There has a error ,looks like a bug.
   A column has be definded 'varchar(130)', and filled with 120 length data.
   Gh-ost is running with --alter =`modify v2 varchar(100) not null default ''`, then change another column value, a error appear in gh-ost logs, and the update statment will be looped to execute,and it will fail every time.
   The error not appeared , if not to update other col

[2016-12-22 16:22] tomkrouper commented on #344
Can you tell me the `sql_mode`  for your host? I think this is a function of MySQL to prevent this.

[code]

[2016-12-23 02:13] kerrigell commented on #344
@tomkrouper
Thank you for your reply.
My sql_mode is NO_ENGINE_SUBSTITUTION. Excuting your statments, mysql repeat a warning.
I think wether  the session variable of  gh-ost binlog redo thread is different.

<pre>
mysql> create table t1 (id int not null auto_increment primary key, data varchar(10));
Query OK, 0 rows affected (0.00 sec)

mysql> insert into t1 (data) values ('1234567890');
Query OK,

[2016-12-23 07:08] shlomi-noach commented on #344
`gh-ost` explicitly sets session `sql_mode` to `STRICT_ALL_TABLES` is order to protect your data: https://github.com/github/gh-ost/blob/d13049b41e9da9798b83958b51f8ecf6620bb100/go/logic/applier.go#L449-L467

Now, you say:

In the above you are asking `gh-ost` to corrupt your data, and it refuses. This behavior is as expected and desired.

If you insist on truncating your texts, then your best opti

[2016-12-23 08:08] shlomi-noach commented on #335
closed by https://github.com/github/gh-ost/issues/337

[2016-12-23 08:08] #335 closed

[2016-12-23 08:09] shlomi-noach commented on #338
closed by https://github.com/github/gh-ost/issues/339

[2016-12-23 08:09] #338 closed

[2016-12-23 12:19] nethalo commented on #342
Command

[code]

Table structure:
[code]

gh-ost version:

/root/gh-ost --version
**1.0.28**

Output:
I don't have access to it now but is can recall several rows with the "ERROR Error 1366: Incorrect string value" line

[2016-12-23 13:27] shlomi-noach commented on #342
Potentially duplicate of https://github.com/github/gh-ost/issues/290

[2016-12-23 13:36] shlomi-noach commented on #342
It seems like `url` is a `latin1` column. Is said character a `utf8` character? Please also refer to https://github.com/github/gh-ost/issues/290#issuecomment-257436498.

The URL at hand is

`http://www.viralvinny.com/21-places-earth-youre-not-allowed-visit/?utm_source=outbrain&utm_medium=LAZ_ViralVinny.com-Mobile-US-ForbiddenB&utm_content=hole&utm_campaign=21 Places Youre Not Allowed To Visit�Ever

[2016-12-26 15:07] shlomi-noach opened #346 "Make --replication-lag-query obsolete?"
Driven by a question by @krzysztof-ksiazek, and see [relevant documentation](https://github.com/github/gh-ost/blob/d13049b41e9da9798b83958b51f8ecf6620bb100/doc/subsecond-lag.md)

At this time there are two independent replication lag measurements:

- Internal `_ghc` heartbeat injection & reads
- `--replication-lag-query` reads, typically reading value of `pt-heartbeat`-injected heartbeat.

`gh-ost

[2016-12-27 07:22] sumonsun opened #348 "gh-ost seems blocked when Backlog get 100/100"
### questions
#### when Backlog get 100/100,gh-ost didn't work,can we increase this parameter?

[code]

[2016-12-27 07:57] shlomi-noach commented on #348
If the backlog is `100/100` that means `gh-ost` is unable to apply the binlog events it reads from the binary logs onto the _ghost_ table.

Typically this is because `gh-ost` is throttling, however this isn't your case. In you case, there is no throttling, and `gh-ost` advances in the binary log: `mysql-bin.000187:386543989`, `mysql-bin.000187:390623293`, ...

This indicates `gh-ost` doesn't have

[2016-12-27 09:16] sumonsun commented on #348
thanks for your quickly reply.
You are right ,if the speed of applied events behind the speed of event produce ,the hit the pain point,I increase backlog to 10000000, then I stop write load on that server, backlog reduce slowly ,applied events speed about 1000 events/s. so I think can we increase the capacity of applied events.
Copy: 0/169923421 0.0%; Applied: 916066; Backlog: 3066373/10000000; Ti

[2016-12-27 16:34] shlomi-noach commented on #348
Again, I advise against increasing the backlog size, and this is why it's not configurable anyway. Stopping write load will work just as well with backlog of 100.
10,000,000 also implies a lot of consumed memory.

Moreover , from your log it doesn't seem like this made a difference. Rowcopy still remains static.

Lastly, in both your examples you have been running for less than 20 minutes. I'd be

[2016-12-28 11:14] cypiszzz opened #350 "Make possibility to configure serverId"
In a case where I want to run several gh-ost processes in parallel it seems to be not possible due to all of the processes show up with the same serverId: 99999 (it's const in the code).

Possibility to pass serverId as an option with command line (with default set to 99999) would solve the problem.

Example PR: #349

[2016-12-28 11:19] shlomi-noach commented on #350
Thank you. This should ideally be submitted on https://github.com/siddontang/go-mysql, and of course we can diverge from that library a bit.

Having said that, we've been running multiple concurrent migrations without problem. What is the error you saw?

[2016-12-28 12:59] shlomi-noach commented on #350
Where is my mind... This of course has nothing to do with the `go-mysql` library.
Further comments on the PR review

[2017-01-02 11:38] krzysztof-ksiazek commented on #348
@shlomi-noach this seems to be in line with what I see in my setup that I reported to you via email. Here's a bit more details. I'm using m4.10xl instances with 5k IOPS io1 volumes, this should guarantee throughput of ~78MB/s with 16KB pages or 500MB/s with larger chunks.

Here's the output from gh-ost + some data on CPU and I/O load on the system.

https://gist.github.com/krzysztof-ksiazek/37149a

[2017-01-02 12:26] shlomi-noach commented on #348
@krzysztof-ksiazek thank you for the metrics, that's helpful.

I don't see that I have a production case of continuous `400` events/sec on a given table, and so I will need to benchmark this artificially.

If `gh-ost` is slow to apply binlog events, this could be either:

1. slow to fetch binlog events
2. slow to sift through events
3. slow to process a DML event
4. slow to apply DML event onto _g

[2017-01-03 13:46] shlomi-noach commented on #350
closed by https://github.com/github/gh-ost/pull/349

[2017-01-03 13:46] #350 closed

[2017-01-03 15:19] krzysztof-ksiazek commented on #348
I'm not entirely sure what exact data you may need so if you'd like to see something more, let me know.
Below are some stats from PS and data from couple of subsequent pt-stalk executions.

https://gist.github.com/krzysztof-ksiazek/8abcd43a600d26b077eabab79c8e6e5a
https://drive.google.com/file/d/0B3on9veKOlkDVWprSmlpWlpxMWc/view?usp=sharing

[2017-01-04 05:53] shlomi-noach commented on #348
@sumonsun, @krzysztof-ksiazek: will you kindly try this binary:
[gh-ost-binary-linux-20170104075031.tar.gz](https://github.com/github/gh-ost/files/683985/gh-ost-binary-linux-20170104075031.tar.gz), which is a build of https://github.com/github/gh-ost/issues/352 ?
This introduces `--dml-batch-size`, default `10`, and assuming the original problem is commit capacity, this should help. Valid range fo

[2017-01-05 08:44] shlomi-noach commented on #348
Please try this binary:
[gh-ost-binary-linux-20170105104155.tar.gz](https://github.com/github/gh-ost/files/686785/gh-ost-binary-linux-20170105104155.tar.gz)

[2017-01-05 08:46] krzysztof-ksiazek commented on #348
I did some quick tests yesterday with the previous build, it looked much better. I'll run some more proper testing with the latest binary and share it here.

[2017-01-05 09:22] shlomi-noach commented on #348
Outstanding. I'm meanwhile testing in production ; I will surely run these tests for a few days.

[2017-01-05 16:04] krzysztof-ksiazek commented on #348
https://gist.github.com/krzysztof-ksiazek/b9bcedab0c08963513d7a810a7755c83

As I said, it looks much better - bottleneck is now in replication performance, not in how fast gh-ost can apply binlog events. Default dml-batch-size seems to work just fine, although increasing it to 100 allows for slightly more events to be processed at once, even up to ~1.5-2k.

[2017-01-08 20:51] serdarsahin opened #353 "Gh-ost breaks when using unsigned MEDIUMINT"
When using unsigned integer data types, binary log behavior changes if the inserted number is higher than the max signed integer value.

The original table
[code]

The new schema;

[code]

We were experiencing the same issue explained on the issue #348 . Alter was never starting, even for hours. The table has more than 4 billion records and receiving 200 million records per week. So we tested the

[2017-01-09 05:55] shlomi-noach commented on #353
Thank you,

I don't see that https://github.com/github/gh-ost/issues/348 is related in any way.
Similar (and old) issue: https://github.com/github/gh-ost/issues/157, fixed by https://github.com/github/gh-ost/pull/160, and in particular by this code: https://github.com/github/gh-ost/pull/160/files#diff-5ba42d73e1ce798d344cb2a18e53497aR35

What I'm missing here, though, is the execution: what's the

[2017-01-09 05:59] shlomi-noach commented on #353
Also, please paste output of `show create table `_test_table_gho`.

Just as FYI, the binary logs always show values as signed; `gh-ost`'s task is to recognize which of those values is truly signed and which is unsigned, and to make to correct conversion.

There's a bunch of integration tests that check for various signed/unsigned scenarios. Once I get requested info I'll try and reproduce via test

[2017-01-09 09:10] serdarsahin commented on #353
That was the wrong issue, I meant #157. I've updated the original issue description and included the details you requested.

[2017-01-09 09:31] shlomi-noach commented on #353
Thank you.
By the way, with regard https://github.com/github/gh-ost/issues/348, please be advised that the fix is merged and released, see https://github.com/github/gh-ost/releases/tag/v1.0.34

[2017-01-09 09:43] serdarsahin commented on #353
Ok, I missed that, thought it's already fixed. We'll try this one.

Thanks for the update.

[2017-01-09 10:07] mayanksamrat opened #354 "Gh-ost with sql_log_bin false"
Is there any option we can alter our db with sql_log_bin false option. I don't want this change to be replicate on slave.

[2017-01-09 10:14] mayanksamrat commented on #354
Is there any option we can alter our db with sql_log_bin false option. I don't want this change to be replicate on slave.

[2017-01-09 10:22] shlomi-noach commented on #353
@serdarsahin I think the changes you made to the initial comment caused an inconsistency. Generally speaking, I think adding new comments is preferable to editing comments in-place.

The problem I see now with your edited, first comment: previously the error was on `Out of range value for column 'column4'`, now it is on `Out of range value for column 'column3'`, but I do not see that you've change

[2017-01-09 10:30] shlomi-noach commented on #354
duplicate of https://github.com/github/gh-ost/issues/149

short answer: we don't have plans to implement it in the near future.

[2017-01-09 10:30] #354 closed

[2017-01-09 13:02] serdarsahin commented on #353
Hi Shlomi,

Yes, I made a mistake there while anonymising the table and description, that's why I've chosen to update it. It is now correct. We are getting the error for the column3, which is represented in binary logs as "###   @4=-6777216 (10000000) /* MEDIUMINT meta=0 nullable=0 is_null=0 "

If you look at the two binary log output, which I haven't changed, you'll see that only that column is d

[2017-01-09 13:31] shlomi-noach commented on #353
@serdarsahin your description is unfortunately still inconsistent. The `alter` statement `drop`s a column, and yet the two tables you depict (original/new) have the same number of columns.

I'm writing the tests to reproduce the bug, however the bug itself is inconsistent. Please give this another try.

[2017-01-09 13:33] shlomi-noach commented on #353
To further make a suggestion, please don't try and emulate or guess the structure you think is right, but rather provide with actual `show create table test_table`, `show create table _test_table_gho` (if you must anonymize table/column names, please attempt to keep consistency)

[2017-01-09 19:25] serdarsahin commented on #353
Hi Shlomi,

The two schema has different number of columns. After I made the editing today, I've added the details and fixed the consistency. For instance, there is no column5 in the second schema. I am sorry, if that created trouble for you, but can't  see the inconsistency right now. Could you be more specific?

[2017-01-09 21:05] ramkireddy opened #356 "Integrating gh-ost with flyway or liquibase"
Hi, Wanted to find out if you are using any database migration tools at GitHub along with gh-ost to make the process of applying database migrations seamless, we are looking to integrate gh-ost with either flyway or liquibase tools and would like to see if you are already doing it.

We are into continuous delivery and would want to have the database migrations applied without any manual interventi

[2017-01-10 06:05] shlomi-noach commented on #346
closed by #347 , released in https://github.com/github/gh-ost/releases/tag/v1.0.34

[2017-01-10 06:05] #346 closed

[2017-01-10 06:58] shlomi-noach commented on #356
Hi,

Are using our very own flow, based on Pull Requests and CI tests (I expect we will be writing & [speaking](https://www.percona.com/live/17/sessions/automating-schema-changes-using-gh-ost) about this).

We do not use `liquibase` nor `flyway`.

In the past, and before being at GitHub, I looked into both. My knowledge and understanding is now 3 years old and may be outdated, mind you. I, too, wa

[2017-01-10 07:07] shlomi-noach commented on #353
@serdarsahin you are right, the tables do make sense -- I must have missed this.

So right now I'm unable to reproduce the problem, and as far as I can see the code handles the case correctly. I realize this doesn't work for you but am a bit lost right now as for why that is the case.

[2017-01-10 07:17] shlomi-noach commented on #353
Whoa! Good (bad) news: I'm able to reproduce!

[2017-01-10 07:32] shlomi-noach commented on #353
Ah, yes!

The problem is specifically with `mediumint`, being 3-byte, which is unorthodox. More specifically, there is no compatible datatype in `golang` which is why the conversion does not work correctly. Will now explicitly fix this particular use case.

[2017-01-10 08:00] shlomi-noach commented on #353
@serdarsahin can you try the attached binary? It should solve the problem with the `mediumint unsigned`:

[gh-ost-binary-linux-20170110095938.tar.gz](https://github.com/github/gh-ost/files/695532/gh-ost-binary-linux-20170110095938.tar.gz)

[2017-01-10 08:08] ggunson opened #357 "Identical PK or unique key between old and new tables"
This is coming out of the issue https://github.com/github/gh-ost/issues/353 but unrelated to the bug it reported.

In that issue, there's an alter statement within the gh-ost command:

[code]

In that case, the primary key becomes a unique key and a non-unique index becomes the new primary key. All columns involved in these indexes are not-null.

The docs, however, state (https://github.com/github

[2017-01-10 08:11] ggunson commented on #353
I've created a tangential issue to this based on the alter statement used in this issue (https://github.com/github/gh-ost/issues/357).

tl;dr The docs suggest you need a shared unique/PK index between the old and new tables, but in this case the PK becomes a unique key and a new PK is created from a non-unique index, so there is technically no shared index. The new issue is to determine if there a

[2017-01-10 08:14] shlomi-noach commented on #348
I'm going to close this based on response by @krzysztof-ksiazek. @sumonsun, when you happen to test this, please drop a note, and of course please reopen is you still see problems.

This is fixed by #352 and released in https://github.com/github/gh-ost/releases/tag/v1.0.34

[2017-01-10 08:14] #348 closed

[2017-01-10 08:15] shlomi-noach commented on #344
I'm closing this having received no comments, and seeing that behavior is as expected.

[2017-01-10 08:15] #344 closed

[2017-01-10 08:17] shlomi-noach commented on #336
This is to note that the problem in this issue is _not_ the same problem solved by #352. In this issue there is very little binlog traffic.

@ConneXNL haven't received any feedback in a while. Any thoughts?

[2017-01-10 09:32] ffdlx commented on #290
About the character problem, i have an idea.

We can encode any string to hex string.

For example
[code]
In the example,
```SQL "insert into test_char(content) value('你好');" ```
is equal to
```SQL "insert into test_char(content) value(x'C4E3BAC3');"```

In my practice, the idea seems to be worked. I am glad to share it.

Thank you

[2017-01-10 09:38] shlomi-noach commented on #353
Have edited the title for this Issue.

[2017-01-11 21:00] ramkireddy commented on #356
Thanks @shlomi-noach!, I was hoping that you guys must be using a sophisticated database migration tool by now, but I am not surprised either as these tools have their own drawbacks when trying to fit them into your process of applying database migrations.

Liquibase now supports JSON, YAML and SQL formats, earlier it used to only support XML format and we can also be extend it's functionality and

[2017-01-12 06:13] serdarsahin commented on #353
It's been running for more than 22 hours and estimating 12 more hours. So far there are no issues. It looks like it's been fixed but I'll get back to you once it finalises the migration.

[2017-01-15 07:13] shlomi-noach commented on #353
How did it go?

[2017-01-15 07:39] shlomi-noach commented on #342
#230 is moving into a decoupled approach, where the same problem would apply.

I don't have an immediate solution for this, other than suggest converting the `url` column to `utf8mb4`. This should work for `gh-ost`. I wonder if you can test this to confirm:

`--alter=change url varchar(600) charset utf8mb4 DEFAULT NULL`

[2017-01-15 07:41] shlomi-noach commented on #307
A quick not that it has been suggested to us by Oracle that the locking in dropping the table may be related to the use of `innodb_adaptive_hash_index`. We were looking to disable it, but noticed performance degragation on our serving replicas when doing so; so we never got to disable it on the master to test.

[2017-01-15 12:30] SuperQ commented on #307
We disabled `innodb_adaptive_hash_index` based on the recommendation of Percona.  There was a short period of degradation.  Afterwards performance was better as we had more innodb memory for table pages, and reduced CPU use not being spent on the AHI.

[2017-01-15 12:45] shlomi-noach commented on #307
@SuperQ we had adaptive hash index enabled for over two weeks before measuring. We saw higher latencies in table access where AHI was disabled throughout that time. Minutes after re-activating it we saw an immediate decrease in latencies, making the server on-par with its fellow replicas where AHI was always ON.

[2017-01-15 13:02] SuperQ commented on #307
Interesting.  I wonder how much the table size/active dataset/memory constraints have to do with the resulting performance change.  The tables we were testing against were already too large to fit in the available ram, I don't have the graphs on-hand anymore, but we did see a small IO reduction afterwards, which is what we were going for.

[2017-01-15 13:05] shlomi-noach commented on #307
This latency was seen overall on all tables (anyway all tables we were looking at), some of which are very unlikely to be all in RAM, and all of which cannot be all in RAM.

[2017-01-16 08:26] rtreffer commented on #307
I've been using the DELETE followed by DROP method in the past to avoid server stalls (up to 7s). IIRC the stall were mainly dominated by the bufferpool size (smaller servers experienced a proportional smaller stall).

[2017-01-16 19:42] jessicalu2016 commented on #163
Hi guys, we are thinking to move from RDS mysql to Aurora and is curious if anyone here knows if gh-ost works for Aurora as well or not. Thanks!

[2017-01-18 03:57] sumonsun commented on #348
Thanks Shlomi

I did benchmark by this new verison, work fine,performance is perfect.apply speed was very fast .

thanks so much ,I will do more benchmark to valid this new version.

[2017-01-20 16:43] serdarsahin commented on #353
It's stopped after hitting the critical threshold, which is low (it is taking 70+ hours, so estimation changes depending on the load)

We've started it again and are planning to switch on Monday. Though I can say that it is fixed, as we never come to this point. It was failing after %10 before.

I'll update this issue again once it finalises.

[2017-01-23 13:09] serdarsahin commented on #353
It worked perfectly! Thanks..

We've also done data validation row by row and column by column on this table (on 4.5 billion rows).

[2017-01-23 13:26] shlomi-noach commented on #353
great, thanks for updating!

[2017-01-23 13:27] shlomi-noach commented on #357
Fixed by #358

[2017-01-23 13:27] #357 closed

[2017-01-24 06:39] shlomi-noach commented on #353
@serdarsahin now, regardless of everything, a quick word of advice:

In InnoDB there is no advantage to using `mediumint`. This datatype takes `3` bytes of logical storage. However, internally, InnoDB pads it and uses `4` bytes of storage, same as normal `int`.

FYI

[2017-01-24 19:15] ggunson commented on #353
@shlomi-noach Where does it say that InnoDB pads mediumint to 4 bytes? There seems to be disagreement about that: http://www.tocker.ca/2014/05/30/how-important-is-it-to-use-2-byte-and-3-byte-integers.html#comment-1412976626

[2017-01-24 21:07] HasMikeW commented on #163
I'm testing it with Aurora and so far so good.

[2017-01-24 21:09] dgtized commented on #163
I've run several migrations on RDS MySQL using the directions above and had no problems.

[2017-01-25 04:04] shlomi-noach commented on #353
Hmmm. Pretty sure I read that by Heikki Tuuri some time in the past, but cannot find this anymore. Closest I can find is MariaDB suggesting `MEDIUMINT` is 4 bytes [in memory](https://mariadb.com/kb/en/mariadb/data-type-storage-requirements/).

I'll obviously get @morgo 's word on this, which is authoritative.

[2017-01-25 11:27] shlomi-noach commented on #353
fixed by https://github.com/github/gh-ost/pull/355, closing.
A release will be available in a few days.

[2017-01-25 11:27] #353 closed

[2017-01-25 13:14] morgo commented on #353
HI!  The test-case in the comments confirms storage is 3 bytes.  Aleks (author of TwinDB recovery tool) also confirmed it on FB after I wrote that post.

I have no reason to dispute InnoDB will use 4 bytes when decoding an individual page in memory.  But this is a pretty limited case; since the full buffer pool in memory is the same as the on-disk representation (except when the punch-hole compres

[2017-01-25 20:06] morgo commented on #302
For `drop index` - this is one of the use cases for invisible indexes (MySQL 8.0).  Perhaps there is an opportunity to use similar nomenclature, or (when using 8.0) recommend this feature only for columns?

There exists a sister to invisible indexes called invisible columns.  But there are no current plans to implement such.  So I concur with the FR here that emulation is useful.

[2017-01-26 14:20] Cyrus-Xi opened #359 "RDS - recursively searching for replication master -> FATAL: getsockopt: operation timed out"
Attempting to run a test migration on replica in RDS using the guidelines here: https://github.com/github/gh-ost/issues/163#issuecomment-244694616

**Running this command:**

[code]

**Output:**

[code]

Security groups are set up to allow access and I can connect to both DBs manually/through Workbench. Parameter groups and other settings are set up as specified in https://github.com/github/gh-ost

[2017-01-26 14:21] Cyrus-Xi commented on #359
Sorry, not sure how to assign a label.

[2017-01-26 15:40] OlegSmelov commented on #307
We are also experiencing this with Percona Server 5.6.32.

The only thing that seems to have worked is 1) `delete` all records, 2) wait some time (a day in our case), 3) `drop`.

Has anyone tried upgrading to MySQL 5.7.6 or newer? There have been some performance optimizations for `drop table`. [MySQL 5.7.6 release notes](https://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-6.html):

I tried r

[2017-01-26 20:04] Cyrus-Xi commented on #359
Tried running on master and seemed to work fine until the cutover phase (I assume), when it looped over and over with "ERROR Timeout while waiting for events up to lock" until eventually it becomes FATAL.

Last lines of output:

2017-01-26 14:55:34 INFO Creating magic cut-over table `historical`.`_raw_post_data_del`
2017-01-26 14:55:34 INFO Magic cut-over table created
2017-01-26 14:55:34 INFO Loc

[2017-01-26 20:08] shlomi-noach commented on #359
@Cyrus-Xi the two comments are two different questions/issues.

As for the first comment, if `gh-ost` is unable to crawl up the topology to detect the identity of the master, you can take charge by passing `--assume-master-host=<the master>`. You will be expected to know that you're giving the correct master.

[2017-01-26 20:12] shlomi-noach commented on #359
As for the 2nd comment, could you possibly create a new Issue? To be able to keep track I really need one problem per issue. On first sight I don't see why you'd get this repetitive error. I can experiment a bit here, but I don't use RDS, so my tests will not 100% resemble your setup.

While you write the Issue, would you also paste the _first_ lines of log? Typically the first 2-3 dozen rows are

[2017-01-26 21:17] Cyrus-Xi opened #360 "After copying is 100%: FATAL Timeout while waiting for events up to lock"
Tried running a migration on master in RDS. Seemed to work fine until the cutover phase (I assume), when it looped over and over with "ERROR Timeout while waiting for events up to lock" until eventually it became FATAL.

**Command:**
[code]

**First lines of output:**

[code]

**After copying hits 100%:**

[code]

**Last lines of output:**

[code]

[2017-01-26 21:19] Cyrus-Xi commented on #359
Awesome, didn't realize that was an option, thanks! Still seems to hang on when copying is done though: `Copy: 31/31 100.0%; Applied: 0; Backlog: 0/100; Time: 25m0s(total), 1s(copy); streamer: mysql-bin-changelog.000161:829084; State: migrating; ETA: due`

Sure, new issue is here: #360

[2017-01-27 05:57] shlomi-noach commented on #360
Pro tip: use three backtics for multiline code blocks. Like this:
[code]

[2017-01-27 08:09] shlomi-noach commented on #359
I'll address that in #360 . Can this issue be closed?

[2017-01-27 11:35] mayanksamrat commented on #360
We are also getting the same error, while migrating our table.
[code]

[2017-01-27 13:25] Cyrus-Xi commented on #359
Yup @shlomi-noach, appreciate the help.

[2017-01-27 17:10] #359 closed

[2017-01-27 17:24] Cyrus-Xi commented on #360
Same issue also happened with the "connect to replica, migrate on master" mode (did get it to work with "migrate/test on replica").

**Command:**
[code]

**First lines of output:**
[code]

**When copying is done:**
[code]

**Last lines of output:**
[code]

[2017-01-28 00:48] jonahberquist opened #361 "Throttler sticks when changing throttle-control-replicas during lag"
Today we changed `throttle-control-replicas` during a migration to remove a host from service.

This worked fine. Then I commanded the socket `throttle-control-replicas` with no arguments, because I couldn't remember if that would return the current list of throttle control replicas. (For the record, it does not. It clears the list, unless you hit this bug.)

After doing that, I issued a `status`,

[2017-01-28 00:50] jonahberquist opened #362 "Unable to retrieve current throttle-control-replicas list"
Currently this is dynamically settable through commands to the socket, but unlike other such settings, it does not show up in `status` output.

This could either be added to `status` output, or because it is often a large list, output via a new command, like `list-throttle-control-replicas`.

[2017-01-29 06:07] shlomi-noach commented on #360
@mayanksamrat it's unclear to me whether you're also running on RDS? Please supply any additional relevant information. What `gh-ost` version are you using? (first line in output)

[2017-01-29 07:30] shlomi-noach commented on #362
https://github.com/github/gh-ost/pull/363 addresses this Issue.

[2017-01-29 08:24] shlomi-noach commented on #361
Addressed by https://github.com/github/gh-ost/pull/364. Thank you @jonahberquist and @tomkrouper for analyzing the problem and actively reproducing it (as seen in internal logs)!

[2017-01-29 13:34] shlomi-noach commented on #336
closing given no further feedback.

[2017-01-29 13:34] #336 closed

[2017-01-29 13:35] shlomi-noach commented on #360
@Cyrus-Xi it looks to me that you're easily able to reproduce. Can you please check the following:

- At the time when copying is done and `gh-ost` fails again and again on "Waiting for events up to lock" -- is replication running? what's the output of `show slave status` on the replica, and can you paste the output for 2-3 different times?

Though, self note, the same happens to you when you migr

[2017-01-29 13:39] shlomi-noach commented on #360
Also, if you could please run again, and:

- again paste last lines of output
- paste output of `select * from _raw_post_data_ghc` -- this is the changelog table, with some hints on what happened when. If table is too big, then I'd like you to paste:

- `select * from _raw_post_data_ghc where id <= 255`
- `select * from _raw_post_data_ghc order by id desc limit 200`

thank you

[2017-02-01 15:53] mizioumt commented on #317
reproduced with another table. In addition there is an issue with locking:

[code]

T22-T21 is 2-4 minutes and less than T12-T11 which is maybe 6 minutes. T21 to me looks unmarked in the log. T21 is marked like this:

[code]

it may be too optimistic as to when to lock and in any case I wonder for how much time this lock would be held under normal circumstances.

[2017-02-01 16:14] shlomi-noach commented on #317
@mizioumt which version have you used in your latest comment? https://github.com/github/gh-ost/issues/317#issuecomment-276694761
I've recently fixed throttling-related issues at time of cut-over.

[2017-02-01 16:15] mizioumt commented on #317
v1.0.28

[2017-02-01 16:17] shlomi-noach commented on #317
@mizioumt please update to latest. This just rings too similar to something that was fixed. No promises of course ;)

[2017-02-02 14:26] mizioumt commented on #317
with the latest the core issue is still there. I mean the streamer reconnection and successful failure. The locking is sort of improved, now it locks for 1-3 seconds, 43 times in a row, complaining about reconnection all the while.
I think this has something to do with the 'slice out of bounds' error somehow. The log looks like this:

[code]

[2017-02-02 15:40] jessicalu2016 commented on #163
@HasMikeW we have some trouble testing with Aurora. I am curious how do you set up to make it works.

We are Aurora Master and Aurora Replica structure. binlog_format=ROW and both instances have backup turned on.

- running in "connect to master" mode gave us : FATAL Error 1045: Access denied for user

- running in "connect to replica, migrate on master" mode gave us: <replica_host> must have bina

[2017-02-03 11:57] eLco commented on #360
Hi,

I've experienced similar issue running test migration on replica.
Step to reproduce:

1) gh-ost version 1.0.34 download as binary, running on Debian Linux and Percona MySQL 5.7.12.
2) Command used
`./gh-ost \
--user="xxx" \
--password="xxx" \
--host=localhost \
--test-on-replica \
--database="test_db" \
--table="testtable" \
  --alter="engine=innodb" \
  --initially-drop-ghost-table \
  --ini

[2017-02-03 12:44] shlomi-noach commented on #360
@eLco thank you for the useful input. I'll look into it.

[2017-02-06 07:13] shlomi-noach commented on #360
@eLco I notice you've provided `--assume-master-host`, which doesn't make sense in `test-on-replica`. Can you please let me know the value you passed in `--assume-master-host`? Is it the true master of the cluster? The direct master of the replica? Other? This will help me in analyzing the problem.

Also, it doesn't seem like you're running on `aws`, correct??

[2017-02-06 07:15] shlomi-noach commented on #360
@eLco I'm goind to need some more output, if possible. Can you please run again with `--debug`, and paste the same kind of output as you did?
Thank you

[2017-02-06 07:50] eLco commented on #360
@shlomi-noach thank you for a correction about -assume-master-host and --test-on-replica scenario. I put real direct master of replica into --assume-master-host in my test. And yes i'm not running on aws, it's Xen VM.
I'll provide debug output soon.

[2017-02-06 08:20] eLco commented on #360
@shlomi-noach Same server, same software versions:
1. Command used:
[code]

2. Log output:
[code]

3. MySQL queries results:
[code]
[code]

[2017-02-06 08:33] shlomi-noach commented on #360
@eLco thank you. Some further quick questions:

- Are you using replication filters? (`replicate-do-`, `replicate-ignore`, `binlog-do-`, `binlog-ignore-`). Probably not, as nothing else would work, but worth asking.

- Can you `grep` the output for "Intercepted changelog state" and paste the matching lines?

- Can you please remove `--assume-master-host` to confirm this isn't the problem?

[2017-02-06 08:51] eLco commented on #360
@shlomi-noach

- I don't use replication filters, DB is pretty fresh and didn't go through usual production transformations :)
- If I remove --assume-master-hosts gh-ost tries to connect as given username but using real IP of mysql VM.
[code]

I've a mysql user with real_ip_of_replica and able to connect to mysql console using it.

[2017-02-06 08:59] shlomi-noach commented on #360
I'm a bit lost on the `assume-master-host`.
Is it trying to connect to the real, correct master? Is it the same master as the one you set via `assume-master-host`?
Are there different credentials to the master? Can you please elaborate?

[2017-02-06 08:59] shlomi-noach commented on #360
- Can you `grep` the output for "Intercepted changelog state" and paste the matching lines?

[2017-02-06 09:02] eLco commented on #360
It's trying to connect to real, correct master it's the same master I've set via assume-master-host.
But the error I get is about connecting to the replica using real IP and not using localhost as I've set via --host.

[2017-02-06 09:14] shlomi-noach commented on #360
OK, so this is mostly unrelated to the greater Issue, but check your own manual connection via:
`mysql -h real_ip_of_replica --port=3306`

Chances are, if you don't specify `--port`, your own `/etc/hosts` file translates the IP to `localhost` which connects you through the socket.

So with regard credentials, I suspect the `GRANT` is not set up correctly, and only supports `localhost`.

[2017-02-06 09:26] eLco commented on #360
Regarding grepping log, only one mention of "Intercepted changelog state":
`INFO Intercepted changelog state GhostTableMigrated`

[2017-02-06 09:48] eLco commented on #360
@shlomi-noach Fixed my issue with access denied, sorry my mistake.

I've executed same command without `--assume-master-host` - got same looping error:
[code]

[2017-02-06 11:10] shlomi-noach commented on #360
- Can you `grep` the output for "Intercepted changelog state" and paste the matching lines?

[2017-02-06 11:21] eLco commented on #360
grep 'Intercepted changelog state' screenlog.0
2017-02-06 09:33:55 INFO Intercepted changelog state GhostTableMigrated

[2017-02-06 11:36] shlomi-noach commented on #360
This is a strange bug. Not being able to reproduce it is one thing, but seeing this output makes little sense.

The brief: `gh-ost` is injecting a special event, named `AllEventsUpToLockProcessed` (seen in the changelog table), but times out waiting for it. It _was_ able to intercept a previous event of that type (`GhostTableMigrated`). I'll be looking at why it stopped intercepting.

@eLco throug

[2017-02-06 11:54] eLco commented on #360
Yes I get such status printout in the middle of the looping error output
[code]

[2017-02-06 12:04] shlomi-noach commented on #360
@eLco thank you. Another request: can you please run with `--dml-batch-size=1` ? I have a suspicion the event may have been wrongly consumed by the batch read.

[2017-02-06 12:38] shlomi-noach commented on #360
Further, I would like you to try https://github.com/github/gh-ost/releases/tag/v1.0.32 . If the problem is what I suggested earlier, then `1.0.32` should work well. Please let me know how goes.

[2017-02-06 12:47] shlomi-noach commented on #360
Seeing that you didn't even get the `Intercepted changelog state AllEventsUpToLockProcessed` entry, the above is not the problem.

[2017-02-06 12:56] eLco commented on #360
@shlomi-noach Running with --dml-batch-size=1 ends with the same error.

[2017-02-06 13:00] shlomi-noach commented on #360
In trying to understand why `Intercepted changelog state` worked once and then never worked again, I'm curious if you have any other `ERROR` entry in the logs.

I also note according to the logs `Applied: 0`, meaning no binlog events were applied from the binary log.
Seeing that this is a test table, I gather there aren't any writes on the table. Is this the case?

I also note from the logs that t

[2017-02-06 13:14] eLco commented on #360
@shlomi-noach maybe we can chat somewhere, to save time for others reading this issue comments?

[2017-02-06 13:17] shlomi-noach commented on #360
@eLco I generally prefer the public space, so that our peers can cast their own opinion or advice.
If you have sensitive information that you don't wish to share, please email my directly. My email is shlomi-noach at github [.] com

[2017-02-06 13:35] eLco commented on #360
I'm ok with public space.

Answering your previous questions and suggestions:

- Version 1.0.32 fails to run with error:
[code]
- No other ERROR statements in logs, except for the same loop:
[code]
- About Applied: 0, maybe it can help - this is read-only slave of master with `binlog_format=MIXED`. I use `--switch-to-rbr` in gh-ost command.
But it should apply changes from master, because there ar

[2017-02-06 13:40] shlomi-noach commented on #360
The "streamer" entries are as part of status messages, as in:

[code]

in the above you have `streamer: mysql-bin.001127:9774106`. I previously capitalized as `Streamer:` but it should be `streamer:`, I guess this is why you haven't found it.

The `MIXED` is not a problem, and `DEBUG 'ROW' binlog format applied` shows the replica is fine with `ROW`.

In your above log I see

[code]

but this is su

[2017-02-06 13:48] eLco commented on #360
It's begins and ends with same binlog file:
[code]
[code]

[2017-02-06 15:41] eLco commented on #360
As far as I can read Golang code we end up here with interesting comment :-) - https://github.com/github/gh-ost/blob/master/go/logic/migrator.go#L1113
[code]
and got error after timeout here -https://github.com/github/gh-ost/blob/master/go/logic/migrator.go#L479

So we're not receiving no events and not copying rows - is this some kind of ambiguous situation for gh-ost working logic?

[2017-02-06 15:43] shlomi-noach commented on #360
At some point `gh-ost` did see entries in the binary log, and made advancement. That was when it logged `Intercepted changelog state GhostTableMigrated`. But that is before migration begins and before status lines are printed.
For some reason, `gh-ost` then stops making progress in the binary log. And there is no `ERROR`.

Are you able to `show master status` on the replica, throughout the operati

[2017-02-06 15:45] eLco commented on #360
Yes, I saw progress in output of `show master status` command on the replica.

[2017-02-06 15:46] shlomi-noach commented on #360
Not sure what you mean by "ambiguous situation" -- it's possible, and that's what happens in your case -- but in your case this _shouldn't_ happen.

Basically the logic is as follows:

- throttle if needed
- if binlog events are found -- apply them
- otherwise, if you have more rows to copy, copy them
- otherwise, sleep 1 second

The "sleep" part would only happen at the end of row-copy (`100.0%`)

[2017-02-06 15:49] shlomi-noach commented on #360
Elaborating a bit on my previous comment, there is a special event in particular `gh-ost` expects to find. A magic event, called `AllEventsUpToLockProcessed`.

`gh-ost` generates this event by updating the changelog table:

[code]

and then rushes to the binary logs, expecting to find the event there.

But the problem is not here. It's way before that. Because `gh-ost` is not reading _anything_ in

[2017-02-06 15:49] shlomi-noach commented on #360
I'm going to see whether some crazy race condition locks down the iteration of the binary logs.

[2017-02-06 15:53] shlomi-noach commented on #360
It would also be possible to freeze like that if the system was utterly busy, but then we would see `Backlog: 100/100`. However we see `Backlog: 0/100`, which means the buffer is empty and we're free to work.

[2017-02-07 07:30] shlomi-noach commented on #360
Insofar I'm unable to reproduce on a `5.7` box. I don't have a `Percona 5.7.12`, I'm testing on a `MySQL 5.7.14`.

I wonder -- does this reproduce on other versions/flavors?

[2017-02-07 07:54] eLco commented on #360
I can upgrade that replica to latest Percona MySQL 5.7.17 or to 5.7.14.
I can't downgrade that particular DB to 5.5, cause it's uses 5.7 specific functionality.

[2017-02-07 07:56] shlomi-noach commented on #360
@eLco what is the specific functionality, if I may ask?

[2017-02-07 07:59] eLco commented on #360
@shlomi-noach GIS features of 5.7

[2017-02-07 08:19] shlomi-noach commented on #360
@eLco does the migrated table have a GIS column? (not supported). Otherwise can you please paste table structure?

[2017-02-07 08:26] eLco commented on #360
The only column with point data type:
[code]

[2017-02-07 08:30] eLco commented on #360
@shlomi-noach what do you mean by 'not supported'? gh-ost doesn't support migration of tables with GIS datatypes?

[2017-02-07 08:36] shlomi-noach commented on #360
@eLco yes, indeed. This is currently a limitation of the underlying `go-mysql` library: https://github.com/siddontang/go-mysql, which `gh-ost` uses.

@siddontang : is there a plan to support GIS? For what it's worth, I haven't update the `go-mysql` library in a while -- perhaps this is now already supported?

[2017-02-07 08:38] shlomi-noach opened #369 "Identify unsupported datatypes and bail out with error"
Currently `gh-ost` doesn't support `JSON` and `POINT` data types.

Support for `JSON` is imminent, since https://github.com/siddontang/go-mysql/issues/87 is already fixed (but I haven't updated the library). Not sure about `POINT`.

Anyhow, if `gh-ost` _knows_ about an unsupported datatype, it should _say so_.

Related: https://github.com/github/gh-ost/issues/360#issuecomment-277926201

[2017-02-07 08:38] shlomi-noach commented on #360
related: https://github.com/github/gh-ost/issues/369

[2017-02-07 08:42] eLco commented on #360
Oh, thank you, sorry for all the debugging :(
btw 5.7.14 didn't helped for sure :)

[2017-02-07 08:46] shlomi-noach commented on #360
@eLco your debugging info was indispensable and commendable. I should have drawn conclusions much earlier.

Can you please open an issue requesting to support `POINT` datatype?

[2017-02-07 08:51] eLco commented on #360
@shlomi-noach in go-mysql project right?

[2017-02-07 08:54] eLco commented on #360
Done. [go-mysql #109](https://github.com/siddontang/go-mysql/issues/109)

[2017-02-07 08:59] siddontang commented on #360
Well, I will see it later.

[2017-02-07 09:09] shlomi-noach commented on #360
This gives me good excuse to proceed with updating the library on my side.

[2017-02-07 14:07] groenewold-pythian opened #371 "problems with Tungsten scenarios"
When running gh-ost against a replica in a Tungsten-based setup as follows:

[code]

One needs to make sure Tungsten is configured with `--log-slave-updates`, otherwise changes are not logged into Tungsten slaves binlogs.
This can cause silent data corruption if not considered, as the database `--log-slave-updates `setting is irrelevant here and that is what gh-ost checks as a safety precaution.

[2017-02-07 14:53] shlomi-noach commented on #371
closed by #372

[2017-02-07 14:53] #371 closed

[2017-02-09 07:01] #361 closed

[2017-02-12 10:52] shlomi-noach commented on #362
closed by #363

[2017-02-12 10:52] #362 closed

[2017-02-16 11:47] kamaljoshi commented on #163
I ran around 7-8 migrations on MySQL in December using this. Everything seemed to have worked well.
Some minor changes I had to do with `gh-ost` were related to making `--assume-master-host` work without Tungsten. As RDS replica was using internal IPs(172.17.X.X) to communicate with master and the machine we were running `gh-ost` on couldn't access that, I had to manually pass the master hostname.

[2017-02-22 15:33] plapythian opened #377 "Error 1146 during "droppping" support tables"
Error 1146 found in the final stages of a long running gt-ost:

[code]

We used Version 1.0.21. This was supposed to be fixed in 1.0.14:
https://github.com/github/gh-ost/issues/180
https://github.com/github/gh-ost/pull/192

These are the parameters/command line:
[code]

Extended log attached (The names have been changed to protect the innocent.)
[gh-ost-issue.txt](https://github.com/github/gh-ost/

[2017-02-22 18:56] shlomi-noach commented on #377
@plapythian thank you -- just to verify, can you please test with the latest version, https://github.com/github/gh-ost/releases/tag/v1.0.34 ?

This assumes you're able to reproduce the problem. I will meanwhile examine your logs.

[2017-02-22 19:27] plapythian commented on #377
@shlomi-noach I'll try, but the change took a few days to complete and not sure I'll be allowed to test it. We've been running gh-ost for several changes and AFAIK this is the first time this happened.

[2017-02-22 20:41] shlomi-noach commented on #377
@plapythian very good, thanks!

[2017-02-24 17:23] johnz1 opened #378 ""Unexpected database port" with Tungsten cluster"
MySQL 5.6.23
Tungsten 4.0.6

I'm running gh-ost against the master of a two-node Tungsten cluster, with connectors on both hosts.  MySQL is running on port 13306 and the connectors are listening on 3306.  When I specify port 13306 in the gh-ost config, it gives this error:

`FATAL Unexpected database port reported: 13306`

Here's the full output:

[code]

If I specify port 3306, it gives the same

[2017-02-24 18:51] shlomi-noach commented on #378
@johnz1 thank you -- can you please run again with `--debug` and paste the output?

Also, just to verify, though it seems so from the command line, you're running directly on master, correct?

[2017-02-24 18:54] shlomi-noach commented on #378
Unrelated to the issue itself, just noting down that `-throttle-control-replicas="mysql-t01ah"` is not required here, because this is the very same host you're running the migration on.

[2017-02-24 18:55] shlomi-noach commented on #378
I believe I have your solution:

Please run with:
[code]

[2017-02-24 19:02] johnz1 commented on #378
Bingo - that's it.  Thank you so much

[2017-02-24 19:02] #378 closed

[2017-02-24 19:14] shlomi-noach commented on #377
yes, it seems like there's still a race condition.

To clarify that this does not pose a data integrity problem. The migration is cut-over when all relevant data is in place. These superfluous queries relate to data applied _after_ cut-over, thus obviously already in the table.

[2017-02-24 21:52] shlomi-noach commented on #377
addressed by https://github.com/github/gh-ost/pull/379

[2017-02-27 20:20] palexvs commented on #275
@shlomi-noach, https://github.com/github/gh-ost/pull/286 - it has not resolved my issue, but https://github.com/github/gh-ost/pull/286 + https://github.com/siddontang/go-mysql (master) has resolved it - I have smoothly migrated a few large tables (> 100M records)

I really love your tool and appreciate your work. Thanks!

[2017-02-27 20:22] palexvs commented on #268
https://github.com/siddontang/go-mysql (master) and have not got this issue anymore

[2017-02-27 20:33] shlomi-noach commented on #275
@palexvs thank you so much for the information.

FYI, a couple days ago I merged https://github.com/github/gh-ost/pull/375, which is merge of up-to-date go-mysql -- I expect this to work for you in exact same way as you solved it -- can you confirm?

[2017-02-27 20:35] shlomi-noach commented on #268
See further notes in comment: https://github.com/github/gh-ost/issues/275#issuecomment-282844449

[2017-02-27 20:37] palexvs commented on #275
Cool. I am going to start migration today and I will write about results in ~4 days

[2017-03-01 12:23] shlomi-noach commented on #360
@eLco I believe this PR https://github.com/github/gh-ost/pull/345 will solve your `POINT` problem, assuming the `POINT` column is not part of your `PRIMARY KEY`. Would you like to test it?

[2017-03-01 22:26] lrouxel opened #380 "Waiting for ghost table to be migrated... forever?"
Hi,

Not sure if I'm hitting a bug but I don't really understand what's happening.

My setup :
Two Percona Server 5.6.34 as active-passive master-master (statement-based replication).
(IPs are 10.42.10.80 and 10.42.10.81)
A third one, slave of the active master, with row-based replication and log-slave-updates as required.
(IP is 10.42.20.83)

I'm running gh-ost on the third one.
I've tried runnin

[2017-03-02 06:27] eLco commented on #360
@shlomi-noach Thank you! Yes I can test it and no - `POINT` column is not part of `PRIMARY KEY` in that table.

[2017-03-02 06:42] shlomi-noach commented on #380
The next lines that _should_ appear are:

[code]

At the time `gh-ost` hangs for you, it injects an `insert` onto `_emptytable_ghc` and expects to find it on the replica's (`10.42.20.83`) binary logs.

- Can you please output `SELECT * FROM _emptytable_ghc` on `10.42.20.83`?
- Can you run a different `alter`, such as `engine=innodb auto_increment=12345`, and observe `_emptytable_gho` on  `10.42.20

[2017-03-02 20:59] lrouxel commented on #380
Hey Shlomi,

Thanks for having a look. Sorry for not answering earlier.

1/ Interesting point: Tables 'test._emptytable_ghc' and '_gho' do NOT exist on the slave (10.42.20.83) during the operations. They do exist though on both masters. We may have a clue here.

On both masters:
[code]

2/ Did it, but the table does not exist.

3/ No, no replication filter at all.

Any clue?
Here's the up to date

[2017-03-03 02:43] shlomi-noach commented on #380
if you manually create such a table:
[code]
 on the master, does it show up on the replica?

[2017-03-03 12:33] JiaqingXu opened #381 "The AUTO_INCREMENT has been changed"
When we  delete some data, and the max value of AUTO_INCREMENT columns is not match the AUTO_INCREMENT of the table. Then we use ghost to do some alter .The  AUTO_INCREMENT of the table have be changed.

[code]
we insert 3 rows:
[code]
delete 1 row
[code]
Then we used gh-ost to do "Alter table ghost_test engine=innodb"
[code]

 My business friend try to fix the bug.
He add the AUTO_INCREMENT to  t

[2017-03-03 14:50] mizioumt commented on #317
in ./vendor/github.com/siddontang/go-mysql/mysql/util.go the size of 1024 in func Pstack() is too small. I increased it to 65000 and got a complete stack or at least a longer stack.
This is built based on source about a month ago.

[code]

[2017-03-03 15:35] mizioumt commented on #317
this part of MYSQL_TYPE_BLOB processing in row_event.go is suspicious. It is rewritten in the current master but the logic is the same.
length is extracted from the first 4 bytes. This overwrites with the data area.
I would use data[0:2] for length which I tried and it didn't work. Maybe FixedLengthInt is not the right tool for extracting the length here.

[code]

[2017-03-03 16:40] mizioumt commented on #317
the trouble indeed comes from the piece of code in question.  And it looks like it should be length = int(FixedLengthInt(data[0:2])). However it's still failing. When I added the printout below I got

[code]

then it panicked because of

[code]

so the 4 byte length is not good. The 3 byte length looks reasonable for this kind of data . Yet the data is too short. I don't think we have a corrupted

[2017-03-04 19:39] shlomi-noach commented on #317
cc @siddontang (author of `go-mysql`) -- please see last 4 comments by @mizioumt 🙇

[2017-03-05 12:35] siddontang commented on #317
Hi @mizioumt

can you show me your table schema?

[2017-03-06 11:46] mizioumt commented on #317
the table I'm trying to ALTER is inactive. The overall schema has many tables. What if I showed you some information from the binlog over which it is failing?

[2017-03-06 13:52] siddontang commented on #317
HI  @mizioumt

You can add a print here https://github.com/siddontang/go-mysql/blob/master/replication/row_event.go#L57

[code]

So when the panic happens, we can know the real database and table, then you can show the table schema to me.

You should also print the raw hex data when decode TableMapEvent and RowsEvent here if you can't know the data:

https://github.com/siddontang/go-mysql/blob/mas

[2017-03-06 17:50] mizioumt commented on #317
I started with the printout of table and schema names. I'll attach the file with table structure. It's a bit puzzling that in this case the panic happened without going through my other debugging output around what I assumed MEDIUMBLOB processing. So it just said:

[code]

line 470 in my build is this:

[code]

when it hits the same place the second time because of --retry-attempts=1 it says this:

[2017-03-06 17:53] mizioumt commented on #317
here's the structure:

[code]

[2017-03-06 20:11] shlomi-noach commented on #317
This table must go to the Hall of Fame.

[2017-03-07 00:47] siddontang commented on #317
Hi @mizioumt

what's the raw data when decode TableMapEvent and RowsEvent?

[2017-03-07 03:47] siddontang commented on #317
Hi @mizioumt

I can't create the table with error in MySQL 5.6 and 5.7

[code]

Can you use `show create table` to show me the table schema?

[2017-03-07 12:12] mizioumt commented on #317
Hi, @siddontang, no, the structure has to be obfuscated. Same presents challenges for binlog dumps.
Here's something that works. You need to disable strict sql mode because of the unfortunate zero defaults for timestamps. In this case the number of enum and set values is different from the original.
If this is a problem I could improve that.

[code]

[2017-03-07 14:01] mizioumt commented on #317
@siddontang, I'll try to get the data dumps a little later, maybe tomorrow.
What would help if you suggested debugging output that would look like what mysqlbinlog shows:
schema.table INSERT|UPDATE|DELETE and column numbers with data.
Or maybe you already have a mysqlbinlog like utility based entirely on your code?

[2017-03-07 14:07] siddontang commented on #317
yes, my go-mysql has a similar too named go-mysqlbinlog, you can build and use it directly.

[2017-03-08 00:23] siddontang commented on #317
@mizioumt

I think you should give me some example data, I can't reproduce it.

[2017-03-10 00:36] jacobbednarz commented on #163
I've been testing this for the last couple of months using RDS and aurora as the engine. The steps here related to RDS are spot on 👍 , the only differing pain point I've found is that the aurora parameter group **doesn't allow modifying `read_only`**. It still uses the same value of `{TrueIfReplica}` however the aurora parameters are marked as a non-modifiable field which prevents connecting to re

[2017-03-10 13:09] pbitty commented on #163
@jacobbednarz  That's great to hear.

From what I understand of Aurora, all nodes share the same underlying storage layer, so only one node is allowed to write to it.  You may be able to get around this by replicating to [another Aurora cluster](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Aurora.Overview.Replication.MySQLReplication.html).  From gh-ost's point of view, it would still be

[2017-03-11 01:55] siddontang commented on #317
Any update @mizioumt ?

[2017-03-12 05:34] #360 closed

[2017-03-13 00:44] jacobbednarz commented on #163
This is a possibility however I don't believe it solves the issue of running on a replica but migrating the master (which is the intention here). Your comment further down explains why this is the case and right now I can't see a viable solution.

The best you can expect from RDS on Aurora at the moment is that you can run it on the cluster but only directly on the master. If you want to test, you

[2017-03-13 13:45] shlomi-noach commented on #377
#379 has been merged. It mitigates but does not fully solve the problem -- I believe there will _always_ be a race condition on this. I think the solution in #379 is good enough.

Just to clarify that these errors do not actually imply a problem with the migration -- the migration still runs good and well. They're wrong to be generated and that's the race condition problem.

FWIW I've never seen t

[2017-03-13 13:45] #377 closed

[2017-03-14 01:03] jacobbednarz opened #382 "Rails integration?"
We're coming from LHM and one of the good things about it is it's Rails integration which enables developers to write their migrations and have it run later on via our deployment tooling.

Is this something that you would see on the (GitHub or) gh-ost roadmap? I'm still in two minds about it since LHM is pretty straight forward whereas gh-ost gives you a bunch of power which you'd need to abstract

[2017-03-14 17:10] mizioumt commented on #317
what is the proper way to build gh-ost and go-mysql? For gh-ost I run GOPATH=`pwd` ./build.sh but I had to set up some symbolic links to get rid of 'package not found' messages. Is there a simpler way? You could safely assume I know nothing about anything golang related.

[2017-03-14 19:25] siddontang commented on #317
Hi @mizioumt

You can add some messages at:

+ `fmt.Printf("Decode TableMapEvent: %q\n", data)` at https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/row_event.go#L37
+ `fmt.Printf("Decode RowsEvent: %q\n", data)` at https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/row_event.go#L229

Then re-run the gh-ost ag

[2017-03-15 06:30] shlomi-noach commented on #382
I'd like to ping my colleague @arthurnn on this, since he's the maintainer of LHM. I'm unsure when he will see this as he's OOO at this time. @arthurnn I'm happy to hear your thoughts on this.

Generally speaking it would feel somewhat strange for me to have a rails wrapping around `gh-ost`, which is `golang` code. Why rails? And if rails, why not every other possible programming language? An answ

[2017-03-15 07:10] jacobbednarz commented on #382
I would see it less wrapping the code and more as a nice abstraction to kick off a migration. I.e. something like the following in rails migration.

[code]

This would then generate the `gh-ost` command to run through whatever process you would usually do.

After thinking about this more, I realise this is more of a "it's always been this way (with LHM) so let's keep doing this" - which could be c

[2017-03-15 08:19] shlomi-noach commented on #317
@mizioumt `gh-ost` has no external dependencies. Try building via `script/build` for a completely isolated build process (this is what we use on CI)

[2017-03-15 09:49] mizioumt commented on #317
script/build works flawlessly. Another news is the I cloned gh-ost github repo and with this build this issue
would no longer reproduce. So I guess the current go-mysql works better. Is this build exactly the same
as v1.0.35?

One small thing I noticed is messages with non-ascii characters. Some of them appear even without --debug --verbose

[code]

[2017-03-15 09:49] #317 closed

[2017-03-15 09:50] mizioumt commented on #317
so this can be closed. I'm still not confident about streamer's treatment of MEDIUMBLOB but I'll look at it separately.

[2017-03-15 11:00] shlomi-noach commented on #317
@mizioumt

It was built on OS/X where you built it on Linux, so that's a difference -- but I don't think the difference would manifest in the report on this Issue.

Weird. Haven't seen this.

[2017-03-15 11:15] siddontang commented on #317
Hi @mizioumt

The log highlight is caused by go-mysql, I will disable it by default.

[2017-03-15 12:43] shlomi-noach commented on #382
Can you elaborate on that? I'm not sure I follow.

A `gh-ost` run is coupled with a PR. That PR can have multiple changes on multiple tables. A `gh-ost` execution can fail (e.g. `critical-load` is met) and then we kick it again, manually at this time, and automatically in the future. There is no versioning to a single `gh-ost` execution.

The result of a `gh-ost` run is an updated schema in produc

[2017-03-15 20:20] johnz1 opened #383 "binlogstreamer.go "close sync with err" on Tungsten cluster"
gh-ost 1.0.35
MySQL 5.6.23
Tungsten 4.0.7

Hello

I'm running gh-ost against the master of a Tungsten 4.0.7 cluster.  I'm trying to drop a column, but it's giving the following error for binlogstreamer:

`binlogstreamer.go:47: [error] close sync with err: sync is been closing...`

Here's the full output:

[code]

I'm not sure where to go from here.  Is there any way to get more info on the error t

[2017-03-15 20:34] shlomi-noach commented on #383
This is an error in the `go-mysql` underlying library. Please run again with `--debug` and paste output, perhaps we can get more insight.

[2017-03-15 20:44] johnz1 commented on #383
Yes, here it is:

[code]

[2017-03-15 23:31] jacobbednarz commented on #382
Sure, let me rephrase it.

At the moment, we commit our schema changes using `structure.sql` and the ActiveRecord migration file (similar the [example above](https://github.com/github/gh-ost/issues/382#issuecomment-286659315)). However my understanding with `gh-ost` is that since it's outside of Rails, the ActiveRecord migration is of little use (at least in production). Once in production, a rake

[2017-03-16 01:25] siddontang commented on #383
It means that gh-ost closes the replication explicitly outside.

[2017-03-16 04:28] shlomi-noach commented on #383
That makes sense, though I need to see if this reproduces on my side.

@johnz1 these errors, while bothersome, do not reflect a problem in your migration. I'll look into making them go away, and it seems like I try to close a connection that has already been closed.

This error reflects the "streamer" connection, which is what listens to binary log events. However you will note it happens after mi

[2017-03-16 08:41] lrouxel commented on #380
Hey Shlomi,

Apologies (again) for the delay.

A freshly created table properly replicated to the slave.
But it was an interesting idea since it showed that those tables existed on both masters, but not on any slave.

I think I understand why the problem happens: gh-ost does not discover the proper master.

Here's the replication topology:

[code]

gh-ost says:
[code]

I didn't notice it crawled u

[2017-03-16 09:55] shlomi-noach commented on #380
@lrouxel perhaps there's no `log_slave_updates` on the active master? (should be detected by `gh-ost`, but worth checking).

As quick fix you can use `--assume-master-host=the.active.master.com`

[2017-03-16 10:18] lrouxel commented on #380
@shlomi-noach I confirm log_slave_updates is OFF on the active master. I didn't know it was supposed to be ON.

Thanks for recommending assume-master-host, that should do the trick indeed!

[2017-03-16 10:34] shlomi-noach commented on #380
@lrouxel if the passive master turns active for some reason, you want writes on that master to get to the replica. Maybe it's not in your use case.

It's a bug that `gh-ost` didn't alert on this setup though.

[2017-03-16 17:12] johnz1 commented on #383
Hmm I dont understand why it's using "noop".  I ran with '-execute'

[code]

[2017-03-16 17:38] shlomi-noach commented on #383
@johnz1 the "dash" preceeding `execute` in your pasted command is not a real dash. Compare `-` and `–`.

[2017-03-16 17:54] johnz1 commented on #383
Yes indeed.  Thank you very much

[2017-03-17 23:27] arthurnn commented on #243
@pbitty are you still interested in this feature? I got some spare cycles to work in this project, I could start a JSON status export, if you are not working on it already.
let me know

thanks

[2017-03-17 23:29] arthurnn commented on #280
I guess we can close this as https://github.com/github/gh-ost/pull/373 was merged.

[2017-03-17 23:29] #280 closed

[2017-03-19 06:26] shlomi-noach commented on #48
@arthurnn would you like to jump on this one?

Exponential-weighted moving average didn't prove to be good.

The issue at hand: the naive ETA is obviously misleading. Take for example a migration that has been running well for 5 hours, then throttled for 5 hours, and is now running well again for the past 2 hours.
Current algorithm takes into account those 5 throttled hours as a prediction for fut

[2017-03-19 21:48] arthurnn commented on #48
@shlomi-noach 👍 ❤️

[2017-03-20 19:13] HasMikeW commented on #163
I migrated a 1.5 billion record table on a highly concurrent system in Aurora.  It took a couple attempts, because the inserts would slow even with no constraints added to the base command.  We had to scale back some of the load on the server to be able to complete the task in a timely manner.

[2017-03-20 19:19] shlomi-noach commented on #163
@HasMikeW which version of `gh-ost` were you using? More specifically, does your version support `--dml-batch-size`? Introduction of this functionality (indicated by the existence of this flag) significantly improved write throughput. Generally speaking I prefer to just have some sane configuration and not try to tune too much, but if you suffer from low throughput you may try a higher value for t

[2017-03-20 19:30] pbitty commented on #243
@arthurnn Sorry for the delayed reply.  Unfortunately I was not able to get this done before I got pulled into other projects at my job.

You are more than welcome to take this over.  Thanks!

[2017-03-20 19:36] HasMikeW commented on #163
@shlomi-noach The version is 1.0.32    I had looked into using the --dml-batch-size but was unable to get it to work with this version.  I didn't want to go back and have to run more tests that a new version of gh-ost would have dictated at that point.  That was the next step if reducing the load did not work :-)

[2017-03-21 18:01] ggunson commented on #88
I think this can be closed?

[2017-03-21 22:58] palexvs commented on #275
I tried v1.0.35 and I have not got this issue, so close it

P.S: But v1.0.35 lost 1M records from 400M, but it's another story

[2017-03-21 22:58] #275 closed

[2017-03-21 22:58] palexvs commented on #268
I tried v1.0.35 and I have not got this issue, so I close it
Thank you!

[2017-03-21 22:58] #268 closed

[2017-03-22 06:08] shlomi-noach commented on #88
Yes, I'll closing. The suggestion is sound, but in practice we see that the cut-over works well, and I've seen (also by user reports) how the timeout works well, too.

[2017-03-22 06:08] #88 closed

[2017-03-22 06:56] shlomi-noach commented on #275
WAT 😱

[2017-03-22 14:27] ikewalker opened #384 "Error 1048 dropping a NULL column and adding same named column back as NOT NULL in the same migration"
version 1.0.35

I discovered this issue when trying to execute a migration with gh-ost to drop a `NULL` column and add it back as `NOT NULL` with a default value in order to backfill the existing rows with a static value for that column.

Here is a simplified test to reproduce the issue:

[code]

[2017-03-23 05:13] jacobbednarz commented on #163
Just an update to [my comment above](https://github.com/github/gh-ost/issues/163#issuecomment-285534302) - I've managed to find a nice workaround for testing/migrating on a replica in AWS RDS using aurora as the engine.

@pbitty was pretty close to the money however you don't use Aurora replication, you need to use standard MySQL-style replication. The AWS documentation page does an OK-ish job at

[2017-03-23 19:32] shlomi-noach commented on #163
@jacobbednarz do you think it would be good to write some documentation for Aurora users, and if so, would you be able and willing to write it?

[2017-03-23 21:04] jacobbednarz commented on #163
It would definitely be worth while! I'm happy to write it (since I've already got a bunch of notes from our internal documentation that would help here too).

[2017-03-24 02:59] jacobbednarz commented on #163
I've opened a PR to add in AWS RDS docs at #385 for anyone following along at home.

[2017-03-24 14:44] shlomi-noach commented on #384
Because they are named the same, `gh-ost` does not understand these are two different columns, and tries copying column data from original table to the _ghost_ table, and since the original table has `NULL`s this fails.

The solution to this Issue would be along the same lines of `rename column` handling, but to the opposite effect. `gh-ost` will need to parse the `alter` statement to detect the `

[2017-03-25 21:51] kirs commented on #382
I came across this issue and I wanted to mention that I'd also be interested in learning about the best practice of integrating gh-ost and Rails migrations.

I think the better question to ask is: how does Github embed gh-ost into the Rails monolith? Is there a supervisor that kicks off and monitors the gh-ost process? Does this supervisor run outside of Rails deployment?

[2017-03-26 05:46] shlomi-noach commented on #382
Some answers will be covered by https://www.percona.com/live/17/sessions/automating-schema-changes-using-gh-ost, and this is an ongoing work.

TL;DR, yes, an external supervisor to kick off `gh-ost` independently of the `rails` deployment.

[2017-03-27 03:23] ChinaVogel opened #388 "gh-ost migration: [error] close sync with err: sync is been closing..."
Hello gh-ost team,
I get this error when running a migration with gh-ost:
binlogstreamer.go:47: [error] close sync with err: sync is been closing...

the migration seems to run fine (at least the table got changed ;) and all the content is there)
But this such an error make me feel uncomfortable using it on production.

System: macOS Sierra 10.12.3
Installed: just running the downloaded executable

[2017-03-27 05:21] shlomi-noach commented on #388
duplicate of https://github.com/github/gh-ost/issues/383

TL;DR: there is no problem with the migration; the data continues to be safe and `gh-ost` is actually unaware of the error at this time. An upgrade of a more recent `go-mysql` caused `gh-ost` to attempt closing the replication/streamer connection twice, hence the error.

I understand and agree that this message appearing causes concerns and

[2017-03-27 05:35] shlomi-noach commented on #388
Addressed by https://github.com/github/gh-ost/pull/389

[2017-03-27 05:35] shlomi-noach commented on #383
Addressed by https://github.com/github/gh-ost/pull/389

[2017-03-27 06:22] ChinaVogel commented on #388
@shlomi-noach thanks for the fast response && fix!

So I can move on with more tests :)

[2017-03-27 06:22] #388 closed

[2017-03-27 14:52] pratik60 commented on #193
@shlomi-noach 👋

Quick question regarding the statement below

Do you have any links which actually benchmark parallel inserts into the same table? We have a table with > 6 billion rows, and I estimate gh-ost to take around 3 weeks to run a migration on this table. Except sharding (which we are working towards), is there any way to speed up a gh-ost migration on such tables?

[2017-03-27 19:00] shlomi-noach commented on #193
I do not have public ones (I haven't searched). I've had multiple attempts in my past observing this.

We just came out of a `15` day migration. By far, what pushed this migration's progress back was replication capacity. Not write optimizations on the master. Well, that's on our setup. If yours is anything like ours, I'd advise making replicas go faster...

The usual `innodb_flush_logs_at_trx_com

[2017-03-29 06:00] shlomi-noach commented on #383
fixed by https://github.com/github/gh-ost/pull/389 (no release yet)

[2017-03-29 06:00] #383 closed

[2017-03-29 06:01] shlomi-noach commented on #388
fixed by https://github.com/github/gh-ost/pull/389 (no release yet)

[2017-03-29 18:20] pratik60 commented on #193
@shlomi-noach I ran this on aurora to test it out, in an idle db of db.r3.8xlarge

Single Inserts - 188 minutes for 100M rows
Parallel (2x) Inserts - 109 minutes for 100M rows

In one parallel thread, I started from 0 million to 50 million, while in the other I did from 50 million, to 100 million. Now this could be because of how aws aurora scales which is a black box.

Just wanted to share result

[2017-03-29 18:51] shlomi-noach commented on #193
@pratik60 thank you, very interesting!

[2017-03-30 08:02] chuyengiason opened #390 "gh-ost user was denied access to information_schema"
Hi, just run gh-ost in 1 of our replica and got this message

[code]

Even I grant all privileges to user ghost, still got this error.

[2017-03-30 08:06] shlomi-noach commented on #390
@chuyengiason can you paste the output for `show grants for ghost@xxx`? or `ghost@<whatever-you-defined>`?

[2017-03-30 08:32] chuyengiason commented on #390
I found the reason,
I used binlog router in my replication topology, so gh-ost detect master as binlog router and connect to it and generate the error message like above
I explicitly point out master :   --assume-master-host=db1 and it works.
Testing other function.
Thank you  for the great tool.

[2017-03-30 09:17] #390 closed

[2017-03-30 10:04] chuyengiason opened #391 "What if i just want to migrate in master only?"
Hello,
I have 1 master and some slaves,
I choose 1 slave as replica and run gh-ost with option : allow-on-master. So it will migrate my table in master.
Problem is, I just want to alter in master only and don't want to propagate the change to other slaves.
How can I do that?

[2017-03-30 10:07] shlomi-noach commented on #391
This is not supported. Related: https://github.com/github/gh-ost/issues/149

[2017-03-31 05:28] chuyengiason commented on #391
do you have plan to implement it on the future?

[2017-03-31 05:44] shlomi-noach commented on #391
@chuyengiason it's the first request to do so, so the answer is "perhaps", but not on my immediate roadmap for sure.

[2017-04-02 11:13] bbeaudreault commented on #268
@shlomi-noach should docs be updated to express support for json columns? Not sure if that's what I'm gathering here, but seems like it.

[2017-04-05 12:12] linuxgood1230 opened #394 "read row data on replica,write row data on master"
Can we
read row data on replica and write row data on master.
then no select performance impact on master

[2017-04-05 12:36] shlomi-noach commented on #394
@linuxgood1230 this is on the roadmap. https://github.com/github/gh-ost/pull/345 will push towards making this happen as it will involve reading row data from table as opposed to binlog.

[2017-04-05 13:24] linuxgood1230 opened #395 "How to config dml-batch-size on Running gh-ost"
How to config  dml-batch-size  on Running gh-ost
We have a largs table ,and table update ops about 2-5K TPS
gh-ost so slow

**
How to optimize this ?
Thanks

[2017-04-05 13:54] shlomi-noach commented on #395
The largest supported `dml-batch-size` is `100`, try that. The default is `10`.
I'm curious to see more of the log:

- Is `gh-ost` throttling a lot?
- If so, on what condition?
- How is replication doing? What's the common lag? What's the lag threshold you used?

I can't tell from this single line output.

What's the disk I/O utilization on that poor master? If you're already close to the limit, y

[2017-04-05 14:24] linuxgood1230 commented on #395
--------

--------

---------

---------

---------

---------

---------

---------
[MySQL] 2017/04/05 22:14:14 statement.go:27: Invalid Connection

-------

------
Copy: 0/636192777 0.0%; Applied: 2271648; Backlog: 100/100; Time: 1h40m0s(total), 1h39m53s(copy); streamer: yxmysql-bin.004862:799532753; State: migrating; ETA: N/A
Copy: 0/636194347 0.0%; Applied: 2283428; Backlog: 100/100; Time: 1h4

[2017-04-05 14:34] shlomi-noach commented on #395
Pro tip: use three backticks "```" to begin and end a multiline block. Like this:

[code]

[2017-04-06 02:22] jacobbednarz opened #396 "`StopSlaveIOThread` causing issues on RDS with `--test-on-replica`"
I'm running some noop migrations on a RDS aurora replica (true replication, not aurora) however I'm hitting the following errors during the `--test-on-replica` cut over phase.

**Command**

[code]

**Output**

[code]

The "Slave is down or disabled" looks 👌  since that is what happens when replication is stopped in RDS.

Looking at the [`StopSlaveIOThread`](https://github.com/github/gh-ost/blob/f3

[2017-04-06 02:22] jacobbednarz commented on #396
I also tried to label the issue under RDS - aurora but I don't seem to have the magic to do so.

[2017-04-06 03:53] jacobbednarz commented on #396
List of all available routines for posterity

[code]

[2017-04-06 12:04] groenewold-pythian opened #397 "option to auto adjust chunk size"
Similar to what pt-osc does, give the option to adjust chunk size dynamically to try to make chunks run in exactly --chunk-time seconds. From pt-osc doc:
The tool tracks the copy rate (rows per second) and adjusts the chunk size after each data-copy query, so that the next query takes this amount of time (in seconds) to execute. It keeps an exponentially decaying moving average of queries per seco

[2017-04-06 12:49] dataindataout commented on #397
Here are some numbers to support the request.

In doing some basic comparison of time-to-run between pt-online-schema-change and gh-ost, comparable flags were set to attempt apples-to-apples settings.

gh-ost from master:
[code]

and pt-osc:
`time pt-online-schema-change --alter "ADD COLUMN whatever varchar(50)" D=d1,t=t1 --user ghost --password ghost --recurse 1 --critical-load Threads_running=10

[2017-04-06 14:11] eredi93 opened #398 "Provide a checksum on the release"
would be nice to have a checksum for every release that allows me to check that the binary is valid

[2017-04-07 05:49] jacobbednarz commented on #396
I've heard back from AWS regarding this and as suspected this isn't supported due to it being a managed service (similar to the SUPER privileges). Their argument here is that `rds_{start,stop}_replication` should be the only entrypoint to interact with the threads because stopping slave threads individually could lead to data inconsistency which is something they don't want their customers acciden

[2017-04-09 04:19] shlomi-noach commented on #396
@jacobbednarz if no solution is available, I'll issue a normal `start slave` in the case of RDS(?).

[2017-04-09 06:42] jacobbednarz commented on #396
I'd like to have as few provider (in this case AWS RDS) specific code paths as possible to limit the testing and maintenance burden on everyone.

Would you be open to considering a full replication stop for all providers? I understand stopping them independently allows the slave to keep receiving events and subsequently have less to receive when it does start replicating again however I just want

[2017-04-10 03:56] shlomi-noach commented on #396
Let me look into that. FYI I'm out for the next few days so this will be stalled a bit.

[2017-04-10 04:08] jacobbednarz commented on #163
@shlomi-noach I think everything in this issue has been addressed either via docs or changes. We've also managed to run ~20 successful test + production migrations on RDS so I'm happy most of the annoyances are out of the way. Would it be time to close this off and expect new issues to be in a thread of their own?

[2017-04-10 04:47] #163 closed

[2017-04-10 10:21] sumonsun opened #399 "gh-ost temp table"
Hi

Can we add one parameter to control the three ghost table name ,we want to control the table name

[2017-04-10 16:14] obi11235 opened #400 "panic: runtime error: invalid memory address or nil pointer dereference"
On a long running alter using the below setup after 20+ hours it get's an error with too many open files and if i try to query gh-ost via it's socket it will crash. Is this a known issue? I'm using the pre compiled version 1.0.36.

`./gh-ost --max-load=Threads_running=50,Threads_connected=700 --critical-load=Threads_running=3000,Threads_connected=5000 --chunk-size=1000 --throttle-control-replicas=

[2017-04-12 21:57] parham-pythian commented on #381
JiaqingXu, can you share the gh-ost statement and flags you used? I would like to try to reproduce the issue related to another test I'm running.

[2017-04-13 05:16] shlomi-noach commented on #399
Hi,

This is certainly possible, however it would introduce three new command line flags. In another project I'm maintaining I head the number of configuration options was intimidating to people. So I wish to be careful adding new flags.

Can you please illustrate why you need this feature and how it would help you?

[2017-04-13 05:25] shlomi-noach commented on #400
This is nt a known issue, however:

[code]

is likely caused by `conn` being `nil` in https://github.com/github/gh-ost/blob/3313cb3933933f4a1c7f20ca62f1084f9f2184ad/go/logic/server.go#L101

I will fix that, and there will be no crash. But that won't solve the fact you have `too many open files`. I wonder in what manner you query `gh-ost` via the socket file. From the log see `24` entries for "too

[2017-04-13 05:56] shlomi-noach commented on #398
Good idea. I will at first provide such checksums manually, but let me see how this can be automated.
I'm leaving this Issue open. Please help me out by pinging on this issue in case I forget to add a checksum on the next release!

[2017-04-13 08:07] shlomi-noach commented on #381
@JiaqingXu thank you, and it took me three reads to realize this Issue also offers a patch. Are you able to submit it as a pull request please?

[2017-04-13 08:14] shlomi-noach commented on #381
I believe there's a race condition that cannot be solved unless locking down the original table.

In the patch offered above, the app issues a `show create table`, then somehow (the code needs to be fixed, it uses a naive assumption about the creation options, I believe) parses the `auto_increment=...` value, and applies that onto the _ghost_ table creation.

However a row can be deleted in betwee

[2017-04-14 03:41] sumonsun commented on #399
We have a plan to build mutil data center, we use binlog stream to process data replicate ,not original replication m-s.For DDL change ,we will push to mutil data center executer, so we want to filter the binlog that gh-ost produce, filter rule is table name

[2017-04-14 03:51] sumonsun opened #402 "When Backlog is full ,Applied is working ， but copying seems stopped ,meantime disk avgrq is 50，I compare this with other buzy product server,disk is normal"
/usr/local/src/gh-ost_1.0.34 --allow-master-master --allow-on-master --max-load=Threads_running=40 --critical-load=Threads_running=45 --chunk-size=1000 --max-lag-millis=1500 --initially-drop-old-table --initially-drop-ghost-table --dml-batch-size=100 --initially-drop-socket-file --ok-to-drop-table --host="xxx" --port=3306 --user="xx" --password="xx" --database="test" --table="gh_test" --verbose --

[2017-04-14 03:57] sumonsun commented on #402
After about 5~10 minutes, raise connection was bad,then restart one binlogsyncer.Did you have logic ,when backlog is full,stop do any copy work until connection timeout ?

	Copy: 1746000/66394383 2.6%; Applied: 932300; Backlog: 100/100; Time: 6m0s(total), 5m59s(copy); streamer: mysql-bin.000016:627598990; State: migrating; ETA: 3h41m32s
		2017/04/14 11:52:49 binlogsyncer.go:490: **[error] connecti

[2017-04-14 04:01] sumonsun commented on #402
+ another Q,
when db have 300~500 tps ,we make ddl change by gh-ost,sometime,we got a lot warning like this
"Invalid Connection"

[2017-04-14 05:35] shlomi-noach commented on #397
@arthurnn perhaps this would be of interest to you?

[2017-04-14 05:36] shlomi-noach commented on #395
Any answers to my questions above?

[2017-04-14 05:37] shlomi-noach commented on #399
So you probably want the name to always be the same? So that you can hard code it? What will you do if you want to run two concurrent migrations?

[2017-04-14 05:43] shlomi-noach commented on #402
I'm sorry, I'm having hard time understanding this issue report.

Your first log shows a snippet of `8s` where rows made no progress. But... what happened right after? The migration _did_ get to `89.5%` by that time, so, did it not complete the minute after?

The situation in the log is perfectly reasonable and unless you say this goes on forever I don't see the problem.

The same goes for the sec

[2017-04-14 05:46] shlomi-noach commented on #402
I'm sorry but I don't understand the question. When the buffer is full I don't stop the work. It just means the memory buffer is full but as you can see `Applied` count keeps increasing.

However you should note that applying binlog events takes higher priority than copying table rows. The reason is that binlog events will be purged at some time, and have to be applied no matter what. Table rows c

[2017-04-14 05:54] sumonsun commented on #402
Thanks for quickly reply

First,
Here ,backlog is full,copy worker is stop,applied is very slowly, about 30 minutes, then I cancel the job
 Copy: 10356000/51708939 20.0%; Applied: 156900; Backlog: 100/100; Time: 2m45s(total), 2m41s(copy);      streamer: mysql-bin.000014:685506769; State: migrating; ETA: 10m42s
  Copy: 10356000/51708939 20.0%; Applied: 169700; Backlog: 100/100; Time: 2m50s(total),

[2017-04-14 06:29] shlomi-noach commented on #402
I understand the concern and annoyance of seeing this error. The reason for it is that since row-copy was stalled, your connection got killed -- you probably have a low `wait_timeout`, which is a good thing. `gh-ost` indicates that (or rather, a lower lever library does) -- but continue to work correctly, by resuming from same position.

I explained that in length in my previous comment. Binlog ev

[2017-04-14 08:20] sumonsun commented on #402
Yes,innodb
I will try to adjust  chunk-size

[2017-04-14 08:24] sumonsun commented on #399
we have two data center for disaster backup ,we hope table structure are same .any way,we hope we can filter gh_xx_del table,yes ,have a special name

[2017-04-14 08:24] sumonsun commented on #399
ok, we will try to modify source code of gh-ost ,and build again

[2017-04-14 09:37] sumonsun commented on #402
change chunk-size from 1k to 2.5k, a little better
One quesion
Applied: 8268292

what meant is this number "8268292"

applied binlog event number until now ?

Because i issue a query "insert xxxx",from binlog ,I can see this query produce 523190 binlog events
so this let me confusion

[2017-04-14 09:51] shlomi-noach commented on #399
Can you do with wildcard table names, `_*_del`, `_*_gho`, `_*_ghc`?

[2017-04-14 09:52] shlomi-noach commented on #402
Yes. The total number of `insert`/`delete`/`update` binary log statements applied by `gh-ost`.

[2017-04-14 09:53] sumonsun commented on #399
Bad news, I can't ,many product table name like _*_del

[2017-04-14 10:03] shlomi-noach commented on #399
OK, I'm open to adding a single command line flag, such as `--force-table-names=<chosenname>`. For example:

`gh-ost --force-table-names=migration_tbl`, which will result with
- `_migration_tbl_ghc`
- `_migration_tbl_gho`
- `_migration_tbl_del`

Would that solve your problem?

[2017-04-17 02:57] sumonsun commented on #399
yeap,thanks so much~

[2017-04-17 18:50] obi11235 commented on #400
I was querying the socket by hand. This particular alter i performed a different way ultimately but i have more of this size to do in the future. Is there any chance Gh-ost is not closing connections correctly when it get's disconnected from the slaves it is monitoring?

Next time i'm running a big like this on a huge table i'll monitor the open files by gh-ost to see if it yields any useful infor

[2017-04-17 18:55] shlomi-noach commented on #400
Connections to replicas are handled by the `go-mysql-driver`, underlying the `database/sql` interface. Connections are actually routinely reused, and are unlikely to timeout, since they really query the replicas frequently.

What you're having is a `too many open files` on the replica where `gh-ost` runs.

I'm not sure I understand how you're running these by hand and getting `24` responses within

[2017-04-18 12:37] #395 closed

[2017-04-18 12:40] shlomi-noach commented on #395
I'm curious. The issue has just been closed. What are the conclusions?

[2017-04-18 14:02] shlomi-noach opened #403 "Repetitive failure to cut-over"
We met with the following yesterday:

- migration was running
- was reaching cut-over phase, cut-over was psotponed
- we issued `cut-over`
- cut-over failed on `Timeout while waiting for events up to lock`

additional attempts continued to result with same error, and finally the cut-over worked as expected.

Redacted logs:

[code]

[code]

cc @github/database-infrastructure @jonahberquist @tomkrou

[2017-04-19 00:21] jacobbednarz commented on #382
I've started doing a bit of tooling to do with rails integration (we're going from LHM to `gh-ost`) and the TL;DR of our flow looks like this:

- Open a feature branch with the usual DB ActiveRecord migration included.
- Generate the `gh-ost` command using a CI step and post it via to the pull request for verification. Happy to share the script we use for this if you'd like to eyeball it.
- Run a

[2017-04-19 05:46] shlomi-noach commented on #382
cc @tomkrouper who is similarly working on this on our side.

[2017-04-19 12:32] kirs commented on #382
@jacobbednarz thanks for sharing the plan! I have been looking a bit into how to fit gh-ost into Rails migrations but I don't think we'll be moving forward any time soon.

[2017-04-19 15:52] tomkrouper commented on #382
We have a separate command for this part, but all the rest of the steps sound very similar to what we do.

[2017-04-19 18:40] jacobbednarz commented on #382
@kirs Are there any blockers or issues with gh-ost itself for you not proceeding? If there are, it would be great to iron them out (or at least get them into issues) since this tooling has given us far more confidence and flexibility in our DB migrations and it would be great to have more people in that position.

[2017-04-21 18:24] obi11235 commented on #400
The system was performing correctly at the time, the only problem was talking to gh-ost. I think the socket just caused the crash, it was having an issue connecting to the master prior to me trying to work with the socket:
2017-04-10 02:51:50 ERROR dial tcp 10.30.2.10:3306: socket: too many open files

The command i issued to the socket was to throttle it since it was having an issue hoping that w

[2017-04-21 18:28] obi11235 commented on #400
I have started another long alter that i'm monitoring the open files for the gh-ost process, and it looks like every time i get a message about an invalid connection:
[MySQL] 2017/04/21 18:24:19 statement.go:27: Invalid Connection

the number of open files spikes for a while, for this operation i'm not monitoring any slaves. I wonder if any of the slaves have an issue that are causing the Invalid

[2017-04-22 21:02] shlomi-noach commented on #396
I believe I'd rather have a `--rds` flag, similar to `--tungsten`.

There is a struggle between having a single flow of code that applies to everything, and doing the right thing for particular setups.

For disclosure, I still haven't looked deeply into the particulars of `stop slave` in the above. However already I prefer `--rds` over `--test-on-replica-skip-replica-stop`.

[2017-04-22 21:10] shlomi-noach commented on #384
Notes for `add` and `drop` syntax: since `[column]` is optional, further validation is required to avoid mistreating `key`, `index` and more as column names.

[code]

[2017-04-22 21:43] jacobbednarz commented on #396
Just to clarify here, RDS using MySQL is 👌 , it's only RDS using Aurora that is the issue so the flag would probably be more suited as `--aurora` (but that's splitting hairs here). I agree it's always about finding that healthy balance however I feel we should be able to roll this up into a non-aurora specific flag for those who might not be running on aurora yet don't have this functionality avai

[2017-04-23 15:06] shlomi-noach commented on #396
Give it a shot! I do believe this only applies to testing-on-replica though. I'll look further into.

[2017-04-23 22:45] jacobbednarz commented on #396
This seems to have worked as suspected 🎉  I'll open a PR for discussion about adding this to the RDS docs.

For my use case, restricting this to `--test-on-replica` is fine (I don't think I'd want to use this anywhere else).

[2017-04-23 23:00] jacobbednarz opened #406 "Add `ghost-on-test-on-replica-complete` hook"
As I've been setting up continuously running migrations, I've managed to accumulate a few scripts that I have been running following  the completion of a `--test-on-replica` run that I think are worth automating. Here are some of the actions I've been taking:

- Run `pt-table-checksum` against the two tables, post the row and diff results to our metrics collector
- Run MySQL checksums against the

[2017-04-24 06:14] jacobbednarz commented on #406
I had some time free today, so instead I put up a PR putting this idea into code at #407.

[2017-04-24 16:35] shlomi-noach commented on #406
Thank you!
I'm out for https://www.percona.com/live/17/ this week, so reviewing will be delayed.

[2017-04-24 17:19] kirs commented on #382
There are no blockers with gh-ost that I know. It's just that teams are currently busy with some other things and we didn't face into critical troubles with LHM at this point.

[2017-04-24 21:34] jacobbednarz commented on #382
That's good to hear @kirs 😄  Hopefully when/if you get back to this, I have a more stable process to share.

[2017-04-24 21:39] jacobbednarz commented on #406
Very jealous! Have fun!

[2017-04-24 21:55] isegal commented on #167
Is there a way to make gh-ost fail with an exit code if there is an attempt to insert a row with a duplicate key during the copy operation? In other words, we are ok with taking hours on large tables so long as there is no silent failure with a data loss. The preferred way is to notify the user and exit, allowing the invoking tools/scripts to take appropriate action such as cleaning up the tempora

[2017-04-24 22:19] shlomi-noach commented on #167
I believe this to be impractical, adding a `SELECT` for every single `UPDATE` or `INSERT` `gh-ost` executes, potentially on a non-indexed column.

[2017-04-24 22:26] isegal commented on #167
Unless you are doing upsert, the INSERT operation itself will throw a 'duplicate key' error if an attempt is made to insert a unique value that already exists. Not sure about UPDATE, but I can do a quick test if you like.

[2017-04-24 22:35] isegal commented on #167
Just did a quick glance, apologize ahead of time if I'm looking in the wrong code.
https://github.com/github/gh-ost/blob/master/go/sql/builder.go#L218
it looks like it's doing an 'insert ignore', which would (by design?) ignore any issues such as a duplicate key. What we'd like to propose is some kind of command line switch that will do a non-ignore insert, and cause gh-ost to exit with an error i

[2017-04-24 22:58] shlomi-noach commented on #167
@isegal there's both `insert ignore` and [`replace into`](https://github.com/github/gh-ost/blob/master/go/sql/builder.go#L363) involved.

Both are needed because `gh-ost` populates the _ghost_ table in two ways:

- iteratively copying the existing rows
- continuously applying DMLs from the binary logs

The two may (and often do) interfere with each other. We may process an `INSERT` statement in th

[2017-04-25 00:09] isegal commented on #167
Understood. Thank you for the clarification.

[2017-04-25 12:50] mizioumt opened #408 "-test-on-replica: errors on 'replication not running' then on 'cut-over failure' then on 'table already exist'"
v1.0.36, this is repeatable. seemingly a successful test migration that just did ALTER TABLE x ROW_FORMAT=COMPACT. However the output has some troublesome messages:

[code]

[code]

now it stops complaining about replication not running and says the cutover has failed.
What follows is the tail of the log.

[code]

and now it exits successfully, the new and old tables have identical content and rep

[2017-04-25 15:39] shlomi-noach commented on #408
What is the command you executed?

[2017-04-25 15:41] shlomi-noach commented on #408
As per https://github.com/github/gh-ost/blob/master/doc/testing-on-replica.md, a `--test-on-replica` execution stops replication at the end of operation.

[2017-04-25 15:58] mizioumt commented on #408
not with one of my tests with 1.0.35 but this is past. The problem of this issue is that it stops replication then complains about replication being stopped then restarts it. It also complains about tables existing when they should have existed. This doesn't constitute a successful test-on-replica to me no matter how fine the resulting tables are.
The command was:

[code]

[2017-04-25 18:59] shlomi-noach commented on #408
Thank you, I will look into it.

[2017-04-27 21:02] jessbreckenridge commented on #302
At Percona Live 2017, we brainstormed a possible solution for this, that would be perhaps less intensive.

The idea is as follows:

- When a gh-ost migration is run, a `gh-ost` migration would be run as normal, from the *old* table to table the *new* table.
- When the cutover happens, we start a new `gh-ost` migration... from *new* table to the *old* table.
- This cutover continues for X amount of

[2017-04-28 04:53] tomkrouper commented on #302
@jonahberquist we discussed an alternate to this, but I didn't want to get your details wrong, can you post your thoughts here?

[2017-04-28 07:11] leeparayno commented on #302
@jessbreckenridge I was thinking about that exact thing when watching the gh-ost presentations at Percona Live this week.

However, in the scenario @shlomi-noach mentioned where a `drop column` was performed, presumably that would potentially be breaking any queries attempting to insert/update data in that column--leaving only the fraction of queries that would have been successful (queries withou

[2017-04-28 13:53] shlomi-noach commented on #302
@leeparayno the case for a dropped column is indeed extreme. We are extremely careful with dropping columns and it never happened that we dropped a column that had useful data.

However it did happen that some code was still _referring_ to that column (in the form of `select c1, c2, c3...`) while not actually using it (I'm not a ruby expert so unsure that I'll describe it correctly; there was inhe

[2017-04-28 18:22] tomkrouper opened #410 "Retrieve binlog file / position from migration"
Can we add a simple option to poll the binary log in use by the host? I would envision it similar to status.

[code]

[2017-05-01 04:42] shlomi-noach commented on #410
Addressed by https://github.com/github/gh-ost/pull/411

[2017-05-01 04:49] #384 closed

[2017-05-01 22:26] jonahberquist commented on #302
Thank you for getting this conversation rolling again, @jessbreckenridge. As we discussed briefly and @tomkrouper mentioned, I think we can improve this flow even more. With a tweak to the implementation, we can eliminate the need to start up the reverse migration synchronously with the cut-over.

At the point of the cutover, the original table and the ghost table are in sync. Any writes to the ne

[2017-05-02 21:03] jessbreckenridge opened #412 "Easier development setup"
## Overview

When cloning the repo for the first time, I attempted to bootstrap and run tests.

Errors were encountered:

[code]

After debugging for a while, there were multiple barriers to getting the environment up and running.

I would like to simplify the process of developing in `gh-ost` to downloading, bootstrapping, coding and testing.

Hopefully I am not barking up the wrong tree here and

[2017-05-03 05:59] shlomi-noach commented on #412
@jessbreckenridge this is very strange, since `gh-ost` is fully self contained, along with all dependencies, and the CI tests ensure that.

My only thought is you might be using golang <= `1.5`? If so, please upgrade to latest (or at least `1.7`).

If that is not the case, please output the exact command you were using for running tests, and we'll take it from there.

[2017-05-03 06:31] shlomi-noach commented on #412
BTW the way to run the tests CI runs, is to invoke `script/build`.

[2017-05-03 07:43] shlomi-noach commented on #302
I'd just like to say how proud I am to be working with you people.

The idea suggested by @jessbreckenridge and refined by @jonahberquist elegantly solves what would be complex logic within the `gh-ost` code.

To elaborate on what it would take to make that happen:

- The _cutback_ migration (aka _regret_, aka 2nd migration) will need to know _what_ to cutback.
- It would need to know _where_ to s

[2017-05-03 17:28] jessbreckenridge commented on #412
@shlomi-noach I think I have it working now. Firing off `ci-build` builds and tests properly.

Could I put together a documentation PR for people getting started with gh-ost? Just the basics, running `ci-build`, and how the build system works?

[2017-05-03 18:18] shlomi-noach commented on #412
Now I'm curious to know what the problem was!

Yes, please!

[2017-05-03 20:42] jessbreckenridge commented on #412
I haved opened a PR (Placeholder).

I was wondering if a change in the PR template is in order as well:

[code]

Should we replace this with running `cibuild`? I believe it performs all these steps, except perhaps running `tests.sh`.

[2017-05-04 05:03] shlomi-noach commented on #412
Yes.

[2017-05-05 22:24] et opened #414 "postpone-cut-over-flag-file is useless without a touched file"
Hi all, thank you for building such a great tool.

I just wanted to provide some feedback on the `postpone-cut-over-flag-file` where I was simply copying a call to `gh-ost` with this option set as `--postpone-cut-over-flag-file=/tmp/ghost.postpone.flag`.
I ran a 36 hour migration and `gh-ost` tried to do the cut over before timing out due too much traffic.

Unfortunately, I neglected to `touch /tm

[2017-05-07 05:12] shlomi-noach commented on #412
@jessbreckenridge it just occurred to me that your setup issue is likely a `golang` setup: `golang` is very picky about the path where you clone your repo to.  What you want is:

1. Have `GOPATH` set

[code]

[2017-05-07 05:17] #410 closed

[2017-05-07 05:36] shlomi-noach commented on #414
@et thank you. There is a (potentially minor?) consideration for what happens if `gh-ost` is unable to touch the file due to permission limitations. Should it bail out?

Otherwise I think this is some legacy consideration. I think we should be good to have `gh-ost` touch the file upon startup. It makes sense.

[2017-05-07 12:02] shlomi-noach commented on #414
Addressed by #415
I'm not sure how I feel about this at this time.

Just to share how we do it: we always indicate a `--postpone-cut-over-flag-file=/etc/some-constant-file.flag`. Our `puppet` setup ensures the file exists. That is, we _always_ postpone the cutover. We don't need `gh-ost` to create the file because it's always there. We cut-over not by deleting the file, but by issuing a `cut-over`

[2017-05-07 16:32] et commented on #414
Thanks a ton for the feedback @shlomi-noach.
It definitely was a small "gotcha" that I failed to notice.

If this seems unreasonable, how about bailing out if that option is specified but the file doesn't exist? Seems better to bail now rather than days later 😉

[2017-05-08 14:36] et commented on #414
@shlomi-noach - one more suggestion. What about a new flag called `--postpone-cut-over` that postpones the cut over regardless of the presence of a file?

[2017-05-11 15:21] fern4lvarez commented on #307
After my personal experience, which involves using `gh-ost` with AWS RDS only, I can say that slowly deleting the content of the `_xxx_del` table and waiting few days, so all the references in the InnoDB pool are gone, makes the `DROP` a trivial operation, taking normally around 0.04 sec.

I feel we all are coming to the same conclusion, and this issue can be already closed. @shlomi-noach what do

[2017-05-14 04:51] shlomi-noach commented on #307
Agreed.

[2017-05-14 04:51] #307 closed

[2017-05-15 13:36] umutm opened #417 "Just moving a table to another DB"
Sorry if the docs cover that but I couldn't be sure.

Does gh-ost cover the scenario of:
- moving a table to a new database (which is not a slave)?

Thanks very much.

[2017-05-15 13:41] shlomi-noach commented on #417
@umutm Not yet. You will note we projected this, see https://speakerdeck.com/shlominoach/githubs-online-schema-migrations-for-mysql#33, but we're not actively working on this, and it's on our that-would-be-awesome-but-not-for-immediate-use roadmap.

[2017-05-15 13:48] umutm commented on #417
@shlomi-noach Sorry to hear that :) and thanks so much for the quick update.

[2017-05-15 15:17] shlomi-noach commented on #417
@umutm we're always open to contributions; if you are able to, or know someone who is able to, and has the resources to work on this, please let me know.

[2017-05-15 15:54] tomkrouper commented on #417
With this feature, I'd love to also see a `--where` option that would allow you to move part of a table. I could see this being useful in a shard splitting type scenario. (The cleanup of the old data would need to be an external script I would think.)

[2017-05-16 10:39] umutm commented on #417
@shlomi-noach Wish I was able to. Yet, I'll definitely share this challenge with other that I know are capable of :).

[2017-05-17 04:44] ggunson opened #418 "Demote --critical-load from exiting process to pausing it"
I discussed this with @shlomi-noach on Monday:

`--critical-load` is currently a copy of a flag from pt-online-schema-change: in the event that that value is hit (e.g. high threads_running), gh-ost panics and dies.

This behaviour makes sense in pt-online-schema-change because it has triggers on the master/host that copy writes from the old to new table, so on things going badly, you want those tr

[2017-05-17 05:02] shlomi-noach commented on #418
We can introduce this new behavior without breaking backwards compatibility by adding some `--critical-load-sleep-seconds`

- would default `0`
- if nonzero, then it overrides the `panic` executed today on `critical-load`, and instead go to sleep. During that sleep, `gh-ost` will not issue _any queries_. At the end of the sleep, `gh-ost` resumes work as usual (and of course may hit `critical-load`

[2017-05-17 18:45] tomkrouper commented on #418
When I first read the title of this, I was thinking... I don't like it. Then I read the explanation, and I'm like :+1: :+1:. I like the idea and the implementation idea.

[2017-05-18 05:05] mayanksamrat opened #420 "Data Inconsistency Issue after cutover"
Hi All,
    We just found an issue with our data consistency after doing cutover, when ghost copied 100% of the data to new table.

Here is the Command we have used for this migration-

[code]

After cutover we found the in new table less numbers are inserted. Is there any case these inserts can be ignored while using gh-ost.

After copying all the data, we found that there is a mismatch in the nu

[2017-05-18 05:15] shlomi-noach commented on #420
I see you've been running this on the master. Does that mean data is still being written even as `gh-ost` completes the migration?

I'm also unsure I follow on the output here; you say the numbers are different _after_ the cut-over, but you show output from `_sales_data_gho`. The `_gho` table is the one `gh-ost` generates _during_ the migration and is renamed into the original table _at_ the cut-o

[2017-05-18 05:30] mayanksamrat commented on #420
Hi Shlomi,
   Thanks for your quick response.
  We have a two hour delay slave in our cluster, the above output is from that slave. We have stopped replication on delay slave just to identify the issue.
   Cut over is still pending on this slave. I will try migrating the same in test-on-replica mode and will share the results with you.

-Mayank Tyagi

[2017-05-18 05:45] shlomi-noach commented on #420
@mayanksamrat thank you for clarifying. The `--allow-on-master` setting confused me; I recommend you remove it.

So you've been running this on a replica that was stopped? `gh-ost` will issue a `start slave` for you 😛

`test-on-replica` is your best friend here.

Also, it would be useful to dump the table structure. In particular, are you using the `JSON` or `POINT` types from `5.7`?

[2017-05-18 06:01] mayanksamrat commented on #420
@shlomi-noach  The replica, from I have shared the out put was not stopped( I just stopped it now to avoid cut over on this machine), Its a delay slave (with 2 hour delay).  Attaching Orchestrator screen shot for the reference.

![screen shot 2017-05-18 at 11 29 09 am](https://cloud.githubusercontent.com/assets/25004816/26188549/68a5d5c6-3bbd-11e7-8731-0d23d940551f.png)

Please find the table stru

[2017-05-18 09:41] shlomi-noach commented on #420
Bonus +2 points for using `orchestrator`!

OK, very good; everything still makes sense, since the replicas, even delayed, may still have applied changes in the duration of the `cut-over` and so your test was not atomic.

[2017-05-18 09:58] mayanksamrat commented on #420
@shlomi-noach, Cut-over has been done now on delay machine too,  Still we have a mismatch data for sales_data and _sales_data_del table, the same mismatch we have found on every database server of the cluster.

 The old table has more rows than the new table that ghost has created. Check the sample logs below.

[code]
Seems It has missed some batches to be inserted into the migrated table.

-Mayan

[2017-05-18 10:21] shlomi-noach commented on #420
@mayanksamrat, I'm sorry, this still doesn't make sense.

Did you now run `--test-on-replica`? Because with `--test-on-replica` there _is no_ `_del` table. With `--test-on-replica` you are left with a `_gho` table. I suspect you were not using `--test-on-replica` and as such, again, the table is still changing; there is no point to the comparison.
I think we're going in circles around this one. Pl

[2017-05-18 10:27] shlomi-noach commented on #420
Also, to clarify, with `--test-on-replica` you will compare the tables _on the replica you connected to_ -- the data will be unavailable on any other replica.

[2017-05-18 10:38] mayanksamrat commented on #420
@shlomi-noach  Let me clear here.

Last day I tried to run ghost using --allow on master, there is a delay slave in that cluster. after cut over on master, we found the data mismatch in the _del and migrated table.
Now I have shared the logs from delay slave only. But after cutover done on delay slave too, there was a mismatch(Shared the table counts with you already). We have revert back the chan

[2017-05-18 11:05] shlomi-noach commented on #420
Thank you for clarifying!

Can you please elaborate on the replication filters?

[2017-05-18 11:07] mayanksamrat commented on #420
Only MySQL database is not being replicated here.

[2017-05-18 13:24] shlomi-noach commented on #414
@et thank you and sorry for the delay; had a lot on my plate. `--postpone-cut-over` is a good suggestion. There's other options, too; let me pick one and will make most sense.

[2017-05-19 05:56] mayanksamrat commented on #420
Hi @shlomi-noach,
      We run the test-on-replica on one of our slaves. It worked fine this time. Counts and ckecksum for the tables (original and ghost one) are same. Still not getting why data mismatch happened in allow-on-master mode.

[code]

-Mayank Tyagi

[2017-05-21 04:44] shlomi-noach commented on #420
@mayanksamrat the `--test-on-replica` runs the exact same algorithm as the master migration, with a minor diff in the duration of the `cut-over` phase (though both use the same `cut-over` algorithm).

I'd be surprised to hear there's a difference in behavior between `--test-on-replica` and actual master migration.

Please continue to run `--test-on-replica` a few times, to either gain confidence t

[2017-05-22 12:19] gongfangjun opened #421 "stuck at "Waiting for ghost table to be migrated. Current lag is 0s""
Hi all,when I use the command below,it stucked at
   "INFO Waiting for ghost table to be migrated. Current lag is 0s"

  the command is :

`./gh-ost -host="127.0.0.1" -port=3306 -database="mydb" -table="ghost_test_table"  -user="admin" -password="123456" -alter="add index my_index(uname,addr(10)) USING BTREE" --allow-on-master -execute  -initially-drop-ghost-table -exact-rowcount --initially-drop-

[2017-05-22 12:26] shlomi-noach commented on #421
@gongfangjun are you migrating on the master? Or on a replica?

If on a replica, is all chain up to master configured with `log_slave_updates`? Are you using replication filters?

Can you please confirm the _ghost_ table (should be called `_ghost_test_table_gho`) has been created on the master?

[2017-05-22 12:26] shlomi-noach commented on #421
What is the table structure? Is it using `JSON` or `POINT` types?

[2017-05-23 02:10] gongfangjun commented on #421
@shlomi-noach
   It has been solved by change the mysql master config file. A few days ago, I set the "binlog-do-db" to another db, so, after I changed this configuration, it worked.
   Anyway, thank youe very much for your help!

[2017-05-23 02:10] #421 closed

[2017-05-24 00:46] ggunson opened #422 "Subquery improvement for select_osc_chunk"
In the line https://github.com/github/gh-ost/blob/master/go/sql/builder.go#L270 there's a sql statement to get an id value, which I guess based on the function name is for the range of ids to copy. This produces a query like:

[code]

I was wondering if this could be rewritten to:

[code]

The reason is that the query as-is creates a temporary table and does a filesort on it:

[code]

While my sug

[2017-05-24 03:12] gongfangjun opened #423 "how to keep the last record when add an unique index to a table?"
Hi all, when I try to add an unique index to a table, I found out that:

        if two records are same, gh-ost will always keep the first one

And in general, we want to keep the last one, so, is there a way
to keep the last one?

[2017-05-24 04:51] shlomi-noach commented on #422
One problem I see with `limit 1 offset 99` is what happens is there are less than `100` rows left. Say `30` (because it's the last chunk or because the table is small in the first place).

`limit 1 offset 99` will not find the last row: it will return the empty set; whereas the existing solution will find the last row.

[2017-05-24 04:54] shlomi-noach commented on #423
Hi @gongfangjun ,

Where did you get this quote from?

[2017-05-24 05:12] ggunson commented on #422
Can we add a check that if the result is an empty set, run another query to get the max(id)? Is that extra empty set check more expensive than the created temporary table and sorting on a master per query?

This is an expensive query that's run on the master. Vividcortex listed it under queries "Missing indexes", and for the table I saw this in, it was run 488,000 times for a table with 17,000,000

[2017-05-24 05:17] vjanelle commented on #418
Instead of a specific amount of time, you could also implement an exponential backoff.

[2017-05-24 05:37] shlomi-noach commented on #418
that could work well, too.

[2017-05-24 05:39] shlomi-noach commented on #422
we can certainly do that. This should be fairly straightforward.

How expensive is it though? Create a temporary table with `100` `integer` values?

Let me look into that.

[2017-05-24 05:45] shlomi-noach commented on #163
[Documentation for RDS is available](https://github.com/github/gh-ost/blob/master/doc/rds.md)

[2017-05-24 05:56] ggunson commented on #422
It's creating a temporary table of 100 integers, then quicksorting it (because it has no index, being just a basic implicit temp table). For every 35 rows of the migrated table(?).

[2017-05-24 06:08] shlomi-noach commented on #422
This is perhaps digging a bit where we have an alternative solution in the form of the `offset` query, but, can we quantify how expensive this query is? e.g. how much time does it spend as compared to actually copying the chunk of rows?

Anyhow, since there's an offered solution, we can just pursue that. I don't mean to suggest we should invert time in quantifying the current query.

[2017-05-24 06:14] shlomi-noach commented on #422
- and -- thank you! :)

[2017-05-24 06:14] ggunson commented on #422
Yes, using vividcortex (yay for monitoring). Using today's example:

SELECT:

<img width="577" alt="screen shot 2017-05-23 at 11 12 43 pm" src="https://cloud.githubusercontent.com/assets/6044312/26389196/7a2af138-400d-11e7-8e5a-6bebf9b9c015.png">

INSERT IGNORE:

<img width="575" alt="screen shot 2017-05-23 at 11 13 13 pm" src="https://cloud.githubusercontent.com/assets/6044312/26389203/896a9ce8-4

[2017-05-24 06:15] shlomi-noach commented on #422
Very cool 😄

[2017-05-24 06:41] gongfangjun commented on #423
@shlomi-noach
  hi, I did a little test and found this, let's have a look at the data in the two tables:

mysql> select * from user_num;
+----+--------+-----+-----+
| id | uname  | num | age |
+----+--------+-----+-----+
|  1 | maria  | 320 |  22 |
|  2 | olivia | 355 |  18 |
|  4 | zuna   | 872 |  19 |
+----+--------+-----+-----+
3 rows in set (0.00 sec)

mysql> select * from _user_num_del;
+----

[2017-05-24 06:47] shlomi-noach commented on #423
Oh ok, thank you, it seemed like a quote and I searched all over for the source.

The official answer is that the choice of rows in the case of adding a `unique key` is _undefined_.

So, the real answer is that the choice of row really depends on your workload. In your case, this was a static table, and the nature of `insert ignore into... select...` is to use the first, discard the second. Howeve