[2016-03-21 10:29] shlomi-noach opened #1 "mysqlbinlog reader proof of concept"
As initial proof of concept, we need to be able to read & parse binary logs in real time and without accumulating lag.
If we are not able to read binary logs in real time, this whole project cannot work.
Current options are:
- Invoking `mysqlbinlog --verbose --base64-output=DECODE-ROWS`, parsing textual output.

  While this will be the slowest option, for sure, it is also the safest, `mysqlbinlog

[2016-03-23 13:02] shlomi-noach opened #3 "parsing mysqlbinlog output"
As per https://github.com/github/gh-osc/issues/1, I can see or think of the following:
- Generally, a binlog entry starts with `# at 123456` and the following entry has an `end_log_pos`
- But _sometimes_ an entry looks like this: `### Row event for unknown table ... at 123456`
- For now both are handled, but are there further such cases?
  - For now this matters, because I'm using the `end_log_pos

[2016-03-30 08:28] shlomi-noach opened #5 "Experiment with go-mysql toolkit"
Easy to get up to speed with is https://github.com/siddontang/go-mysql#replication

Will check if it works with RBR and how events look like.

[2016-03-31 05:33] ggunson opened #7 "test"

[2016-03-31 05:34] #7 closed, assigned to nobody

[2016-03-31 08:09] #3 closed, assigned to nobody

[2016-03-31 08:09] #1 closed, assigned to nobody

[2016-04-01 14:27] shlomi-noach opened #11 "expected features"
Throwing around all ideas, in no particular order, lest we forget.

[2016-04-03 18:45] shlomi-noach opened #12 "Consider renaming to gh-ost"
Because _ghost_
Acronym-wise, it's easy: online schema translate/transform/transfer/tamper/thing

If we do stick with gh-osc (compatible with existing tool names), consider this official acronym:
online-schema-corrupt

[2016-04-04 12:49] shlomi-noach opened #13 "Known limitations"
This will be a listing of known limitations for this tool. We may edit the comments.

[2016-04-08 07:15] shlomi-noach opened #15 "Various TODOs"
At this development time there's just a gazillion things to sift through. I'm writing them down; some of these are just next steps for development; others are concepts.

[2016-04-10 18:49] shlomi-noach opened #17 "behavior of `--test-on-replica`"
`--test-on-replica` is one of the strongest features of this tool. Existing tools can only work on the master. They simply cannot work on replicas. It's not that they cannot simulate the master's concurrency, it's that triggers _just don't run_ on the replica.
**Edit**: thanks for @arthurnn 's :eyes: , triggers don't run on replicas in Row Based Replication, whereas in Statement Based Replication

[2016-05-03 12:39] shlomi-noach opened #25 "conf file credentials dont work properly"
Reason is that we use the OS user as default user, and it's never empty. Thus, the `cnf` file info does not override it.

Really think hard into what should override what. Basically command line arguments should override anything else.

[2016-05-03 23:38] ggunson opened #26 "Potential too-early-rename via killed connections"
Paraphrasing a lot due to lack of ability to understand Go, at the point where the tool is ready to swap tables, there are these connections:
1. GET_LOCK('something', 0);
2. SELECT RELEASE_LOCK('something') FROM original_table WHERE GET_LOCK('something',999)>=0 LIMIT 1; # or similar
3. RENAME TABLE original_table to original_old, original_new to original;

And then there's a check for the parsed b

[2016-05-05 06:46] #5 closed, assigned to nobody

[2016-05-05 06:47] #17 closed, assigned to nobody

[2016-05-05 14:04] shlomi-noach opened #30 "Out-of-order appliance of binlog events"
In the attempt to make binlog events appliance non blocking to the operation (to throttling, to status events), an out-of-order scenario was introduced.
This was found when experimenting with intensively written production tables (hey, I was testing with `--test-on-replica` so no risk to data!).

The source of problem is https://github.com/github/gh-osc/blob/master/go/logic/migrator.go#L615-L626 .

[2016-05-09 10:34] shlomi-noach opened #32 "Working towards an atomic table swap"
As per https://github.com/github/gh-osc/issues/26, the solution of atomically swapping the tables is unsafe in the event of death of connections.

I've been considering some other solutions. I've reached dead-end with all of them, but hopefully someone else can pick on where I stopped and find a solution.

An idea based on views, derived from my earlier work on http://code.openark.org/blog/mysql/a

[2016-05-09 11:00] shlomi-noach opened #33 "Further working towards an atomic table swap"
Basically what we're looking for is a `wait_for_condition` function, that blocks until some condition actively turns `true`. The `GET_LOCK` is a reverse implementation, because it blocks on an active operation (another process holding the lock), as opposed of unblocking by an active operation.

Some other things I was looking it is `MASTER_POS_WAIT` which is difficult to work with, especially with

[2016-05-16 09:05] #30 closed, assigned to shlomi-noach

[2016-05-16 09:13] #12 closed, assigned to nobody

[2016-05-17 13:37] #25 closed, assigned to nobody

[2016-05-18 12:22] shlomi-noach opened #39 "Table with single row does not get data copied"
In the specific case of a single row, the migration completes without copying said row. This reproduces at all times.

[2016-05-18 12:53] #39 closed, assigned to nobody

[2016-05-18 14:30] shlomi-noach opened #42 "Streamer crashes on high lag"
When `gh-ost` runs with `--test-on-replica` and the replica happens to be lagging, streamer crashes, thereby not reading further events.

After some digging and logging, we get this:

[code]

Looking into.

[2016-05-20 10:53] #42 closed, assigned to nobody

[2016-05-30 11:19] shlomi-noach opened #48 "ETA to use PID calculation"
Current ETA heuristic is oversimplistic, and uses `(runtime so far)*(total number of rows)/(copied number of rows)`

This is susceptible to momentary pauses, spikes etc. We need to be able to better predict ETA. [PID](https://en.wikipedia.org/wiki/PID_controller) is a classic solution and easy to implement.

[2016-06-02 13:00] shlomi-noach opened #50 "Describing cut-over phase via UDF wait condition"
I wrote these UTF functions (will cross link once in proper repo):
- `create_ghost_wait_condition()`
- `destroy_ghost_wait_condition()`
- `ghost_wait_on_condition()`

For now, they use a singular, global wait condition (maybe in the future we will support multiple).
The wait condition is a lock which is not bound by a connection. So if I:

[code]

Then the lock is taken, and is kept taken even if

[2016-06-07 16:56] rlowe opened #57 "Explicitly WARN about pausing/throttling and binlog expiration"
[code]

[2016-06-10 07:56] shlomi-noach opened #62 "Support hooks"
- On startup
- On end
- Before beginning rowcopy
- When prepared to cut-over
- Right after cut-over
- When begins throttling (spammy)
- When receiving interactive command

[2016-06-14 09:42] shlomi-noach opened #65 "Describing safe, blocking, pure-mysql cut-over phase"
### UPDATE
#82 overrides this. This is no longer in use.

---

_Finally_ here's a blocking cut-over phase that will, at worst case (connections die throughout cut-over), create a table-outage (easily reversed).
#### Here are the steps to a safe solution:

We note different connections as `C1`, `C2`, ... `Cn`
We assume original table is `tbl`, ghost table is `ghost`.

In the below we note `C1`, `C1

[2016-06-14 09:43] #50 closed, assigned to nobody

[2016-06-14 09:44] #26 closed, assigned to nobody

[2016-06-14 09:45] #32 closed, assigned to nobody

[2016-06-14 09:45] #33 closed, assigned to nobody

[2016-06-17 15:41] tomkrouper opened #72 "Document "normal" recovery after panic file usage..."
I was looking at https://github.com/github/gh-ost/pull/71 and wasn't sure if it made sense to have the error message that includes the normal recovery procedures. Or if in a panic, there is no normal recovery. Or if recovery is really so easy that basically it is just deleting the old file. If it is just a matter of, "In a normal recovery I would have deleted the _gst table and gone to have a beer

[2016-06-22 10:02] shlomi-noach opened #80 "`noop` to print output of `show create table`"
As per #79 , `noop` drops the _ghost_ table. So at least we should have the new table structure in stdout.

[2016-06-22 10:41] #80 closed, assigned to nobody

[2016-06-26 13:58] shlomi-noach opened #82 "Describing safe, blocking, atomic, pure-mysql cut-over phase"
_Final-finally-finalizationally_, here's an asynchronous, safe, **atomic** cut-over phase.
This solution doesn't cause "table outage" (as in #65).

### Here are the stops for a safe, atomic cut-over:

The solution we offer is now based on two connections only (as opposed to three, in the optimistic approach). "Our" connections will be C10, C20. The "normal" app connections are C1..C9, C11..C19, C2

[2016-06-26 14:00] #65 closed, assigned to nobody

[2016-07-05 17:32] ggunson opened #88 "Dynamic lock timeout idea with the final table swap"
There was discussion in a chat room about the lock wait timeout and retry settings for gh-ost: can these be set dynamically, rather than hardcoded.

Here's an idea:
1. Have a lowish lock_wait_timeout value; currently it's 3 seconds in the code.
2. Start the lock and swap sequence, where it's blocked waiting for the rest of the log to get parsed and changes run on the ghost table.
3. Have the proce

[2016-07-07 14:53] tomkrouper opened #89 "Displaying contents of root directory rather than `/*`"
Noticed the output of a run from last night showed what looks to be the directory of `/` instead of `/*`
What I observed:

[code]

What I think should happen:

[code]

[2016-07-07 15:53] #89 closed, assigned to nobody

[2016-07-22 08:34] shlomi-noach opened #95 "unix socket file does not get cleaned up"
`gh-ost` termination, at least orderly one, should clean up and remove unix socket file.

[2016-07-22 08:37] shlomi-noach opened #96 "Support --cleanup flag"
The `--cleanup` flag is mutually exclusive to `--alter`. It indicates we wish to clean up _ghost_ and _changelog_ tables.

Like `--alter`, it would default to _noop_ (in which case it should print the `drop` statements), and would support `--execute`

[2016-07-22 17:47] shlomi-noach opened #99 "operational question: how does one decide whether a _gho or _ghc are abandoned?"
With _triggered_ tools, the absence of triggers is an indication that the operation is dead. How does one recognize the triggerless `gh-ost` operation is dead?

Once closed, this question should move into the documentation.

[2016-07-25 13:16] shlomi-noach opened #102 "support environment variables in .cnf files"
such that the following is valid:

[code]

This will work similarly to https://github.com/outbrain/orchestrator/: https://github.com/outbrain/orchestrator/blob/master/go/config/config.go#L335-L340

[2016-07-25 13:26] SuperQ opened #104 "Prometheus Monitoring"
It would be good to integrate [Prometheus client library](https://github.com/prometheus/client_golang) for monitoring of long-running jobs.

[2016-07-26 07:28] #102 closed, assigned to nobody

[2016-07-26 21:51] ggunson opened #110 "Minor feature requests regarding output"
1. Can the help info (that lists postpone/panic/throttle specs to output on regular intervals) also point out if any of the flags are set?

[code]

I added a postpone flag to a currently running migration and you can't tell. Could be something to add to the status info above.
1. Does the rotation message need to be posted twice, or is this some artifact of our slack tools?

[code]

[2016-07-27 08:57] #110 closed, assigned to shlomi-noach

[2016-07-27 09:22] #57 closed, assigned to nobody

[2016-07-28 09:08] shlomi-noach opened #113 "open socket/TCP before `select count(*)`"
with `--exact-row-count` we issue a lengthy `select count(*) from tbl`; we want to have status available before that.

[2016-07-28 10:24] shlomi-noach opened #114 "make nice-ratio float instead of integer"
this will allow fine grained niceness control, especially on the low-side

[2016-07-29 07:12] #114 closed, assigned to nobody

[2016-07-29 07:13] #113 closed, assigned to nobody

[2016-07-29 07:45] shlomi-noach opened #118 "status while computing rowcount shows incorrect copy time"
example:

[code]

row copy hasn't started yet.

Also, ETA needs to show "counting rows"

[2016-07-31 14:10] #118 closed, assigned to shlomi-noach

[2016-07-31 14:13] #13 closed, assigned to nobody

[2016-08-01 23:33] baloo commented on #82
Hello @shlomi-noach ,

First thanks for opensourcing gh-ost :) It looks very good :)
The only question remaining in my mind was about this particular subject (cut-over phase) and I believe I still have two:
 - What ensures that no other connections writes to `tbl` table in-between those events:
   - Connection C10: `CREATE TABLE tbl_old (id int primary key) COMMENT='magic-be-here'`
   - Connection

[2016-08-02 05:22] shlomi-noach commented on #82
@baloo, thank you for your review!

There is nothing to ensure that, and there is no need to ensure that; the table creation is merely a step in the direction of beginning the cut-over. There is no problem that `tbl` still takes writes, these are still being read in the binary log and propagated to the _ghost_ table.

Moreover, if we reverse the order as you suggest, implication is we waste more t

[2016-08-02 15:45] baloo commented on #82
Thanks for clarifications :)

[2016-08-02 16:48] dgryski commented on #48
Exponential-weighted moving average I think is more appropriate: https://github.com/dgryski/trifles/blob/master/ewmaest/ewmaest.go

[2016-08-02 16:49] dgryski commented on #15
As there are only three items remaining in this list, maybe open issues specifically for those ideas and close this brainstorming one?

[2016-08-03 07:18] dveeden opened #127 "Mix of --<option> and -<option>"
The output of `gh-ost --help` shows short options like `-database` in go-style.
However `gh-ost` without options shows `2016-08-03 09:16:34 FATAL --database must be provided and database name must not be empty` with `--database` instead.

Let's settle for the go-style one-dash options instead of the GNU style long options.
This prevents the later use Unix style short options, but that should be fi

[2016-08-03 08:23] dveeden opened #129 "Foreign key error is not informative"
After dropping 3 foreign keys on sakila.rental gh-ost complains:

[code]

There is a foreign key on `sakila`.`payment` which points to `rental`.

[2016-08-03 08:47] teu opened #132 "Getting by without SUPER privilege"
Hi,
we have case in which we would like to use gh-ost with AWS RDS. However, the problem with this managed database store is that it does not grant us the SUPER privilege.
Is there any way of using gh-ost and not having SUPER on the server?
Thanks

[2016-08-03 08:58] dveeden opened #133 "gh-ost doesn't cleanup its socket file"
On a second run:
`2016-08-03 10:51:34 FATAL listen unix /tmp/gh-ost.sakila.rental.sock: bind: address already in use`

Check with `ss -x src /tmp/gh-ost.sakila.rental.sock` to see nobody is listening on the socket

[2016-08-04 18:22] kbussche opened #135 "[Potential Bug] log_slave_updates needed for master only migration"
Using gh-ost 1.0.8 on a 5.7 master, setup with (log-bin,binlog_format=ROW, sync_binlog=1).

When I try to run using the --allow-on-master and --allow-master-master it exits with:

FATAL myserver:3306 must have log_slave_updates enabled

I have read the docs but could of missed something. Its my understanding that when doing the master only migration that it should be reading from the bin log, and

[2016-08-05 06:46] dozer47528 commented on #11
- [ ] support data migrate model (data migrate is similar with the alter table process)

[2016-08-05 09:41] dveeden opened #136 "Error message about privileges is not helpful"
Example:
[code]

It should tell the user:
* what is needed
* what it found

[2016-08-05 13:41] dveeden opened #138 "gh-ost tries to update generated columns"
If the old table has a generated column then `gh-ost` tries to insert on the generated column on the new table.
It does not detect the error and tries to continue.

The solution is:
 1. detect the failure and stop
 1. skip generated columns on insert to avoid the error
 1. Get Oracle to add an option to MySQL to blackhole inserts on generated columns (This is wrong..)

Example table:
[code]

Examp

[2016-08-05 16:39] #133 closed

[2016-08-05 16:39] dveeden commented on #133
Duplicate of #95

[2016-08-05 16:50] dveeden commented on #135
This is checked in `validateBinlogs()` in `go/logic/inspect.go`

`-allow-master-master` is stored in `AllowedRunningOnMaster`, but checking that is not enough.

Looks like if `InspectorIsAlsoApplier()` is true we should not check for log_slave_updates.

[2016-08-05 20:43] cswingler opened #141 "gh-ost should display a warning if it's run against a table with triggers defined"
From the docs:

The output of `gh-ost` should probably mention this as at least a warning if it detects any triggers on the table to be altered. As it stands now, it silently leaves them attached to the old table, and if `--ok-to-drop-table` is defined, silently deletes them.

[2016-08-05 23:31] Roguelazer opened #142 "Too many colons in address when using IPv6 address literals for replication"
If replication is set up using IPv6 address literals for the master host name, `gh-ost` dies with "2016-08-05 23:25:51 ERROR dial tcp: too many colons in address fd00:aaaa:bbbb::1:3306".

As far as I can tell, the mysql driver seems to expect IPv6 addresses to be written as `[a:b:c::d]:3306`, so this may just be a matter of detecting when `Master_Host` is an IPv6 literal and adding some square bra

[2016-08-06 00:16] Roguelazer opened #144 "Question: why are master/master configs unsupported?"
The tool bails out if a master-master pair is detected anywhere in the replication hierarchy (even if it's in a different branch), but I'm not actually sure why? I can see why it might cause issues with `--test-on-replica` (if the replica were a member of the master/master pair), but are there any other issues to be aware of? Given a topology like the following:

![repl](https://cloud.githubuserco

[2016-08-06 19:40] shlomi-noach commented on #144
The tool allows master-master if executed with

    gh-ost --allow-master-master ...

The reason this flag is required is that gh-ost cannot confirm your master-master setup is an active-passive one. For all it knows it may be an active-active one, where both masters accept writes to the migrated table, in which case it cannot reliably determine all changes are propagated to the ghost table upon c

[2016-08-06 19:43] shlomi-noach commented on #135
Thank you. This will be addressed in a few days.

[2016-08-06 20:03] Roguelazer commented on #144
Excellent, thanks!

Possibly worth adding to the help or a doc file for future curious folks?

--
James Brown,
currently mobile

[2016-08-07 11:46] sjmudd commented on #95
Shlomi, table names may not be unique though I guess the chances of OSC type collisions on same named tables (in different databases) on the same server are quite small maybe it might be better to use some sort of hash based on the database + table name to ensure uniqueness?

I have also seen tables named with spaces and other "non-unix" type characters so using this type of name might best be avo

[2016-08-09 03:43] Roguelazer opened #146 "Disable binlogging when running with --test-on-replica?"
What would you think about running `SET SESSION sql_log_bin=0` before applying changes when running in `--test-on-replica` mode? Right now, after testing on a replica, we need to wipe it and restore it from scratch (to prevent any invalid GTIDs from creeping in the event of a later promotion of that host to master). This is kind of irritating, and if we just turn off binlogging for that session, w

[2016-08-09 06:44] MarkLeith commented on #146
I think this is a bug anyway, all "admin statements" should have binary logging disabled when GTID is enabled on a replica...

[2016-08-09 11:21] thedrow commented on #144
What if we have an active-active multimaster topology? Does it mean we can't use this tool?

[2016-08-11 06:53] shlomi-noach commented on #127
Oh I'm so ambivalent about this. While I realize this is a `golang` project, I really do like adhering to unix-style `--long-options`.

Given that

it makes sense to approve https://github.com/github/gh-ost/pull/128, but... I'd like to see if we can have it otherwise.

[2016-08-11 06:56] shlomi-noach commented on #95
@sjmudd the unix socket name is already based on `database_name.table_name` so no uniqueness problem here.

If you have spaces etc, then it's on you: provide your own `--serve-socket-file` rather than let `gh-ost` decide on the name.

[2016-08-11 07:08] shlomi-noach commented on #132
looking into this

[2016-08-11 07:09] shlomi-noach commented on #142
@Roguelazer thank you -- did you happen to confirm your change works with `ipv6`? I don't have an immediate environment to test this.

[2016-08-11 07:13] shlomi-noach commented on #138
Yes, this will be a bit lengthier to handle; we may eventually also need to consider what happens when the alter statement changes a generated column into a non generated column. I need to wrap my head around this, but this sounds non-trivial.

Any thoughts on possible scenarios is appreciated!

[2016-08-11 07:17] shlomi-noach commented on #144
@thedrow I need to wrap my head around this some more; right now I will update the docs to indicate active-active is not supported. Whether it would actually _work_ or not is what I'll be thinking of. I've worked a lot with active-active setups and there was such a variety of corner cases that I'm afraid to be missing something.

[2016-08-11 07:19] shlomi-noach commented on #144
See https://github.com/github/gh-ost/pull/148

[2016-08-11 07:26] shlomi-noach commented on #146
I'm good to set a `--sql-log-bin=false` command line option.
One problem I see right now is the writes to `_tbl_ghc` -- the changelog table. In particular, the indication that the sync is complete (during cut-over phase) is done by updating a row on the _changelog_ table, then picking that statement in the binary log. That's what promises us our async operation is truly complete and all other even

[2016-08-11 07:28] shlomi-noach opened #149 "support `--sql-log-bin` (bool)"
`--sql-log-bin` would default `true`. When `false`, writes to _ghost_ table will not be logged to binlogs.

This may only work on:

- `--test-on-replica`
- `--migrate-on-replica`
- `--allow-on-master`

This cannot work on normal connect-to-replica-and-write-on-master.

When GTID is enabled such writes would cause errant transactions.

_Note_: the _changelog_ table also gets writes. In the event yo

[2016-08-11 07:29] shlomi-noach commented on #141
`gh-ost` should fail if triggers exist on the table.

I will later open an Issue for community contribution for supporting triggers -- this is possible to do.

[2016-08-11 08:18] linwaterbin opened #150 "How to recover from "ETA: postponing cut-over" ?"
fisrt, this tool is very wonderful,being full of imagination,thank you a lot;
I test my environment, my table PlayerInventory,which rows have 3 million,size is 30G
when gh-ost running, I execute a UPDATA statement, the gh-ost output as following:

[code]

next, has been in the state, that is, " ETA: postponing cut-over ", never heals,but update already over
how do I let gh-ost to continue to perfo

[2016-08-11 08:20] shlomi-noach commented on #11
@dozer47528 Sorry, not following; how do you mean "support data migrate model"?

- Do you wish for `gh-ost` to issue a large scale `UPDATE` for you, using chunking and throttling?

Also, please open a new Issue for a new feature request. This Issue was created in the very early days of `gh-ost` to lay out the general plan.

[2016-08-11 08:34] shlomi-noach commented on #15
@dgryski yes indeed. This issue was created in the very early days of the project to lay out the development plans. Thank you

[2016-08-11 08:34] #15 closed

[2016-08-11 08:34] shlomi-noach commented on #48
@dgryski thank you for the pointer!

[2016-08-11 08:38] shlomi-noach commented on #150
You have explicitly set `--postpone-cut-over-flag-file=/data/dbbak/gh-ost/ghost.postpone.flag`

To cut-over, either:

- `rm /data/dbbak/gh-ost/ghost.postpone.flag`
- `echo unpostpone | socat - /path/to/your/gh-ost.sock` -- check the `gh-ost` output to find out what that file is.

[2016-08-11 08:54] #82 closed

[2016-08-11 10:30] hhl419 opened #151 "How to dynamically change execution parameters of gh-ost?"
How to dynamically change execution parameters of gh-ost?
For example the parameters:chunk-size=1500, max-lag-millis=2000, max-load=Thread_running=30 and so on.Can you give an example?

Thank you!

[2016-08-11 11:57] shlomi-noach commented on #151
Please refer to the documentation: https://github.com/github/gh-ost/blob/master/doc/interactive-commands.md

[2016-08-11 11:57] #151 closed

[2016-08-11 11:57] shlomi-noach commented on #150
@linwaterbin confirmed? I'd like to close this

[2016-08-11 12:19] shlomi-noach opened #153 "Support triggers [community contribution welcome]"
Triggers can be supported by `gh-ost`. This is not on our immediate roadmap, and so it's an ideal opportunity for community contribution.

Some notes:

- as far as I can see, all sorts of triggers could be supported (`before|after`, `insert|delete|update`)
- throughout the migration process, nothing is really done; the `ghost` table should NOT have triggers.
- during the [cut-over phase](https://g

[2016-08-11 12:34] shlomi-noach commented on #144
Need to fix error message to indicate `--allow-master-master` as a hint for successful execution

[2016-08-11 12:35] shlomi-noach commented on #135
@dveeden your analysis is correct; I will need to push the test till later, though, since the distinction of `InspectorIsAlsoApplier()` is only possible at this time after the `insupector`'s tests

[2016-08-11 12:40] hhl419 opened #154 "gh-ost seems to be blocked?"
First,My command as follows:

[code]

When gh-ost running, the gh-ost output as following:

[code]

It seems to be blocked.

Next,I execute the following command:

[code]

It's output as following:

[code]

But gh-ost command always be blocked.Anyone can help me? thank you before.

Thank you!

[2016-08-11 12:54] shlomi-noach commented on #135
@kbussche @dveeden , https://github.com/github/gh-ost/pull/155 will fix and close this issue; will merge tomorrow.

[2016-08-11 14:24] shlomi-noach commented on #132
The first blocker I see right away is that `SUPER` is required for `STOP SLAVE` and `START SLAVE`.

Why do we need these two in the first place? Because `gh-ost` may be asked to switch `binlog_format` to `ROW`. In which case it issues:

- `set global binlog_format='ROW'`
- `set session binlog_format='ROW'`

However if the replica was running with `STATEMENT`, merely changing to `ROW` means nothing

[2016-08-11 14:27] shlomi-noach commented on #154
@hhl419 unrelated, please make sure to use markdown. Please see how I edited your original comment; add three backticks before and after code snippet; otherwise this is very hard to read.

[2016-08-11 14:44] shlomi-noach commented on #154
It's obvious `gh-ost` did not accept your change of `max-load`, since it still says (last output):

[code]

did it not respond to your `nc -U` command? It always responds. If so, what was its response? If not, do you get output for `echo status | nc -U /tmp/gh-ost.zabbix.trends_uint.sock`? Are you running this on the correct box? Are you running as the same user that issues the migration?

Basical

[2016-08-11 14:57] shlomi-noach commented on #154
Oh, wait. No I'm confused. You used an invalid syntax at the beginning, and then after you set `Thread_running=300,Threads_connected=900`, `gh-ost` used the value of `2`, which was invalidly set?

There's way too much complication here. Can we start over with a simpler setup please?

[2016-08-11 14:59] shlomi-noach commented on #154
I further suspect this is a Markdown issue. What is the exact initial setup? `'**Threads_running=2,Threads_connected=20**'` or `'Threads_running=2,Threads_connected=20'` ?

For clarity, please do not markdown `code`

[2016-08-11 15:08] shlomi-noach commented on #154
@hhl419 the problem is `Thread_running` is not an existing status variable. You want to use `Threads_running`.

[2016-08-11 15:09] #154 closed

[2016-08-11 15:22] SuperQ commented on #132
It should be possible to pre-test for RBR and not require `SUPER`.

[2016-08-11 15:39] shlomi-noach commented on #132
@SuperQ how can you you confirm without doubt the replica is using RBR? Please read again my comment.

[2016-08-11 15:45] shlomi-noach commented on #132
To elaborate: you see a replica. It _says_ it has `binlog_format=ROW`. Fact: it may replicate via `SBR`, because _maybe_ someone `set global binlog_format=ROW` without restarting replication.

It sounds far fetched, but in fact is a classic case in `--switch-to-rbr`

[2016-08-11 16:28] Roguelazer commented on #142
yeah, it seems to.

[2016-08-12 02:01] hhl419 commented on #154
Thanks to shlomi-noach.Get it.

[2016-08-12 02:09] freediver9000 commented on #149
Would it be acceptable  to update the master with a dummy transaction for
the single update on the changelog table?

Dave

On Aug 11, 2016 12:31 AM, "Shlomi Noach" <notifications@github.com> wrote:

[2016-08-12 03:16] linwaterbin commented on #150
Sorry,shlomi, I'm sorry message to see late,
When rm directly the postpone flag file,which resulting in data inconsistency,
My UPDATA command run over 5 minutes, I get ride of explicitly set --postpone-cut-over-flag-file=/data/dbbak/gh-ost/ghost.postpone.flag,  the master will struct in "Waiting for table metadata lock",

[2016-08-12 05:54] shlomi-noach commented on #150
I apologize, I'm not sure I can understand this last statement.

[2016-08-12 06:17] shlomi-noach commented on #149
@freediver9000 would you know if this needs to be in sync with the write on replica, or how do I make MySQL understand the two are related?

[2016-08-12 06:56] linwaterbin commented on #150
Before My UPDATE statement did not add index, a full table scan,which resulting in MDL lock;
Now,added index,  I don't have this problem, gh-ost can run very well :+1:
thank you shlomi : )

[2016-08-12 06:59] shlomi-noach commented on #150
Oh good! Glad to hear, thank you for sharing!

[2016-08-12 06:59] #150 closed

[2016-08-12 07:19] hhl419 commented on #150
@linwaterbin,You should execute update,then execute gh-ost.Because update hold MDL lock，and Haven't release.

[2016-08-12 07:25] linwaterbin commented on #150
@hhl419
No, my order is that gh-ost and then update

[2016-08-12 09:24] shlomi-noach commented on #141
closed by https://github.com/github/gh-ost/pull/152

[2016-08-12 09:24] #141 closed

[2016-08-12 09:25] shlomi-noach commented on #135
closed by https://github.com/github/gh-ost/pull/155

[2016-08-12 09:25] #135 closed

[2016-08-12 09:26] shlomi-noach commented on #95
Closed by https://github.com/github/gh-ost/pull/147

[2016-08-12 09:26] #95 closed

[2016-08-12 12:01] shlomi-noach commented on #149
I believe the aforementioned write to the _changelog_ table can be skipped in the event of

- running directly on master
- migrating on replica
- testing on replica

i.e. any case where `migrationContext.InspectorIsAlsoApplier()`. Will wrap my head around this next days.

[2016-08-12 12:02] shlomi-noach commented on #136
Closed by #137

[2016-08-12 12:02] #136 closed

[2016-08-12 12:30] shlomi-noach commented on #132
https://github.com/github/gh-ost/pull/156 will close this Issue, and will make it possible to run `gh-ost` without `SUPER` privilege.

[2016-08-12 15:04] shlomi-noach commented on #149
so much GTID pain. So many operations must prepend with `set sql_log_bin:=0`; this includes the very creation of changelog table, writes onto it, the cut-over operations and others.

[2016-08-12 22:23] Roguelazer commented on #144
So, one weird thing with passive/active master/master configs is that gh-ost finds the master that's "furthest" away from the current replica, which means that it sometimes applies changes to the passive side of the master/master pair.

It would be nice to either (a) be able to specify `--master-address`, or (b) have gh-ost look at which database is read_only and apply it on the one that isn't.

T

[2016-08-12 22:27] Roguelazer commented on #144
That is to say, given the following configuration:

![mm confusion](https://cloud.githubusercontent.com/assets/263424/17638732/11bef3ac-60a1-11e6-9d73-74935f61ef72.png)

Where only (A) is writable, if gh-ost is invoked on (D) or (E), it will attempt to do the migration on (C). This proceeds if the user has SUPER (since SUPER users can override `read_only` unless you're on WebScaleSQL or Percona wi

[2016-08-13 06:07] shlomi-noach commented on #144
@Roguelazer I've similarly found the same.

A simple solution would be: if master-master, then force user to specify active master. Operationally though, I'm not sure this is easy on the user. Sometimes the user herself is unaware who the active master is as it is obscured by virtual IP.

- outlining this solution: if `gh-ost` sees a master-master setup, and the connected server is not one of the

[2016-08-14 13:03] borizio opened #157 "It looks like there are issues if table has "int unsigned" or "bigint unsigned" columns"
I am running the following command:

[code]

while copying the table, the following error messages are reported:

[code]

The table schema includes the following definition:

[code]

The ipNum values are bigger then int signed max values. The output does not indicates what exactly are the violating value or row number, so its not possible to verify the issue

[2016-08-15 06:14] shlomi-noach commented on #157
@borizio thank you: I will try to reproduce and fix.

What is then the final behavior of `gh-ost` in your case? Does it bail out (as I would expect)?

[2016-08-15 06:23] borizio commented on #157
It rettryes some predefined number of times, giving an error message, then
fails with 'fatal' message, living .gho and .ghc tables

On Mon, Aug 15, 2016, 9:14 AM Shlomi Noach <notifications@github.com> wrote:

--
Best regards,
Boris Uchitel
M:+972-54-4785668

[2016-08-15 07:05] shlomi-noach commented on #157
@borizio

I'm meanwhile unable to reproduce, trying maxvalues for `int unsigned` and `bigint unsigned`.

The fact `gh-ost` bailed out is good and desired behavior, thank you for confirming.

[2016-08-15 07:18] borizio commented on #157
So probably we're dealing with wrong error message here. Another reason that the copy could fail in my case is that there is an another enum column in the modified table and in has the rows with an "empty" values in it (happens when inserting row with the wrong value of enum)

[2016-08-15 07:22] shlomi-noach commented on #157
The error does state `Out of range value for column 'ipNum' at row 1`. For completeness, can you run again with `--debug --stack` and paste the output around the error?

[2016-08-15 08:05] borizio commented on #157
Here is the relevant output parts:

`
 2016-08-15 08:56:39 INFO Listening on unix socket file: /tmp/gh-ost.gsstats_sh1.gs_raw_linkbacks.sock
2016-08-15 08:56:39 DEBUG Reading migration range according to key: PRIMARY
2016-08-15 08:56:39 INFO Migration min values: [524099157,2016-07-17 00:00:03]
2016-08-15 08:56:39 DEBUG Reading migration range according to key: PRIMARY
2016-08-15 08:56:39 INFO Mig

[2016-08-15 08:18] shlomi-noach commented on #157
nitpick, to markdown large sections of code, prepend and append with three backtics: ``` on their own line; see how I've edited your own comment.

[2016-08-15 08:22] borizio commented on #157
@shlomi-noach , Thanks for a tip! Hope this debug output will shed some light...

[2016-08-15 08:42] shlomi-noach commented on #157
So the error is [MySQL error 1264](https://dev.mysql.com/doc/refman/5.6/en/error-messages-server.html#error_er_warn_data_out_of_range), propagated by to `gh-ost`. Can you output the `show create table _<your-table>_gho`?

[2016-08-15 09:40] borizio commented on #157
CREATE TABLE `_gs_raw_linkbacks_gho` (
  `ID` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `time` datetime NOT NULL,
  `partnerID` int(10) unsigned NOT NULL DEFAULT '0',
  `siteID` bigint(20) unsigned DEFAULT NULL,
  `provider` smallint(5) unsigned NOT NULL,
  `PartnerData` varchar(100) DEFAULT NULL,
  `PartnerData_hash` bigint(20) unsigned DEFAULT NULL,
  `urlHash` bigint(20) unsigned NOT NULL,

[2016-08-15 13:34] shlomi-noach commented on #157
@borizio I'm wondering whether you are able to test [PR 158](https://github.com/github/gh-ost/pull/158), as I'm unable to reproduce. The steps would be:

[code]

and get the resulting binary from `/tmp/gh-ost`

[2016-08-15 13:36] shlomi-noach commented on #157
Also, I'm guessing you must have `sql_mode=STRICT_ALL_TABLES`, am I correct?

[2016-08-15 13:38] shlomi-noach commented on #157
Hold that thought, I'm now able to reproduce the issue.

[2016-08-15 14:01] shlomi-noach commented on #157
I believe the offending code to be in: https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/row_event.go#L350
part of the `go-mysql` library.

It seems like while reading from the binary long it ignores the `UNSIGNED_FLAG` indicator and always produces a signed response.

@siddontang am I correct in this analysis?

[2016-08-15 14:12] shlomi-noach commented on #157
This gets high priority. With relaxed `sql_mode` it may mean injecting wrong value.

Shedding more light on what happens: a RBR event consisting of `int unsigned` value, with val > max-signed, is read in code as **signed** int, causing value to be negative; then the app writes this value onto _ghost_ table.
With `sql_mode=STRICT_ALL_TABLES` this is caught by MySQL and rejected; but with non-strict

[2016-08-15 19:35] Roguelazer commented on #144
I do actually like being able to run on a replica instead of the master, though, so it would be kind of a bummer if the only supported configuration for `--allow-master-master` required me to run gh-ost on the current master.

The biggest problem with active-active seems the be the lock to flip the tables. You'd need to get a lock on both masters before you could safely do the swap, right?

[2016-08-15 19:43] Roguelazer commented on #157
Is there any way to explicitly set the sql_mode for gh-ost, or does it just use the current global default?

[2016-08-15 19:45] Roguelazer commented on #142
(fixed in 1.0.9)

[2016-08-15 19:45] #142 closed

[2016-08-16 00:48] siddontang commented on #157
@shlomi-noach

I remember that we can't know whether the integer is unsigned or not, so here all use integer instead like go SQL driver uses int64.

[2016-08-16 05:11] shlomi-noach commented on #144
The one problem I'm positive of right now is that of:
[code]
such that R1 is the replica, M1 is the master `gh-ost` chooses to operate on, and while table is locked in M1, M2 still writes to the table.

Placing a lock on both masters -- sounds feasible. I'm going to spend some time thinking about this.

[2016-08-16 05:34] shlomi-noach opened #159 "on empty table, rowcopy shows 0% instead of 100%"
This output:

[code]

shows the migration of an empty table. We should show `100%` when `0` rows have been copied.

[2016-08-16 05:55] shlomi-noach commented on #157
@siddontang thank you -- I will proceed to read all < 64bit integer types as signed `int64`. As for 64 bit types, still unsure what to do. Makes sense?

[2016-08-16 08:50] shlomi-noach commented on #157
OK, looking more deeply into this I believe I will solve this on the app side, recognizing the unsigned columns and converting the datatype. Expect to fix by tomorrow.

[2016-08-17 04:56] shlomi-noach commented on #157
https://github.com/github/gh-ost/pull/160 fixes this, putting this to testing.

[2016-08-17 06:07] shlomi-noach commented on #157
Also notable: https://github.com/golang/go/issues/9373

[2016-08-17 08:47] shlomi-noach commented on #132
I'm happy to merge #156 , and see thoughts on SBR/RBR in comment: https://github.com/github/gh-ost/pull/156#issuecomment-240351262

[2016-08-17 13:38] dveeden opened #161 "Timezone issue with timestamp columns if server doesn't use UTC."
After running a gh-ost with -test-on-replica I found differences in two timestamp columns.

I found this by doing a
[code]

Record 1
[code]

Record 2
[code]

From the definition:
[code]

[2016-08-17 13:42] dveeden commented on #161
Environment: CentOS 6, MySQL 5.6.27
/etc/localtime is a link to /usr/share/zoneinfo/Europe/Amsterdam

@@global.time_zone is set to SYSTEM.

[2016-08-17 13:42] shlomi-noach commented on #161
Are these all the rows of the table? How many rows does the table have?
Also, to speed up the investigation, would you guess these rows were inserted/added/manipulated throughout the migration process?

[2016-08-17 13:44] shlomi-noach commented on #161
Also, please confirm that on `record 2` there are:

- one TZ difference of 2 hours
- one TZ difference of 1 hour

-- in the same record. Please double check this?

[2016-08-17 13:45] dveeden commented on #161
Rows with differences: 7085
Total number of rows (from show table status): 31982317

Yes I do think these were modified while gh-ost was running.

[2016-08-17 13:46] dveeden commented on #161
Yes I verified the 2h/1h difference... I have no clue about why that is..

[2016-08-17 13:46] dveeden commented on #161
This is with gh-ost from the v1.0.8 tag/release.

[2016-08-17 13:49] shlomi-noach commented on #161
was `gh-ost` executing from the very same replica host, or from another host? If from another host, can you check what the TZ is on said host?

[2016-08-17 13:52] dveeden commented on #161
The very same replica host.

[2016-08-17 21:24] pbitty opened #162 "Support manual replication stop in --test-on-replica"
Hello, I am trying to use gh-ost with Amazon's RDS.  Unfortunately, RDS doesn't give you `SUPER` privileges, so the `stop slave` statement doesn't work, when running it in `--test-on-replica` mode.

To work around this, I'm working off my own branch and I've [patched it to wait for replication to stop](https://github.com/Wattpad/gh-ost/commit/222fca486148bb8821860dba0a010370a2f25a42).

RDS does ha

[2016-08-18 08:05] shlomi-noach opened #163 "Tracking issue: support Amazon RDS"
**EDIT**: [Documentation for RDS is available](https://github.com/github/gh-ost/blob/master/doc/rds.md)

This is a tracking issue to discuss all things RDS and what it takes to be able to run `gh-ost` on RDS.

[2016-08-18 08:07] shlomi-noach commented on #163
First limitation is the `SUPER` privilege. This is defined in https://github.com/github/gh-ost/issues/132 and addressed in https://github.com/github/gh-ost/pull/156

When you _know_ you are using RBR (Row Based Replication), you can specify `--assume-rbr` and this will skip the step of `STOP SLAVE; START SLAVE` which requires `SUPER` privilege.

[2016-08-18 08:17] shlomi-noach commented on #157
Closed by #160 and released in https://github.com/github/gh-ost/releases/tag/v1.0.10

@borizio I've verified on multiple use cases on my side, I'm happy if you can verify on yours as well. Will close for now, but please do comment & update on this thread.

[2016-08-18 08:17] #157 closed

[2016-08-18 08:19] shlomi-noach opened #164 "Set `sql_mode=STRICT_ALL_TABLES` for all gh-ost operations"
This will set up a safety net for potential data integrity considerations such as depicted in https://github.com/github/gh-ost/issues/157

We will need to set this per-statement, in the transactional space `gh-ost` uses for:

- applying DML event
- copying a row chunk (less important at this time, since data moves around within server space; but this behavior can change in the future)

[2016-08-18 08:20] shlomi-noach commented on #157
@Roguelazer discussion on `sql_mode` in https://github.com/github/gh-ost/issues/164

[2016-08-18 08:22] shlomi-noach commented on #132
`SUPER` is now not required for normal migration, see #156 and release https://github.com/github/gh-ost/releases/tag/v1.0.10

It is still required in `--test-on-replica`, see discussion on https://github.com/github/gh-ost/issues/162 and on #163

[2016-08-18 08:31] dveeden commented on #161
Tested with v1.0.9 but hit #157 so used a build from today's master. It shows the same issue.

[code]

It looks like the timestamp was converted from CEST to UTC and then inserted.

Observed from the binlogs:
* The row is inserted with NULL values for the timestamp and gets at least one update which doesn't touch the timestamp columns. This is while gh-ost runs.
* Then the row gets updated with a

[2016-08-18 08:42] shlomi-noach commented on #161
@dveeden thank you for all this input. Also, last question, though I suspect I already know the answer: master and replicas are all in the same timezone, correct?

And last-last question, is master in `STATEMENT` based replication?

[2016-08-18 08:43] dveeden commented on #161
With `SET GLOBAL time_zone='+00:00'` set I couldn't reproduce the issue.
The 1 and 2 hour offsets could have been the 1 or 2 hour difference between UTC and CEST/CET

Possible solutions:
1. do a `SET SESSION time_zone='+00:00'` on the connection which applies events
2. Convert the timestamp to @@session.time_zone before applying it. Don't use CONVERT_TZ() for that as not having the timezone databa

[2016-08-18 09:18] dveeden commented on #161
master and server use the same timezone.
master uses minimal RBR.

[2016-08-18 09:29] shlomi-noach commented on #162
@pbitty I suspect this can be solved via https://github.com/github/gh-ost/issues/62 (no work has begun on this)

So that `gh-ost` will call an external hook when it's ready to `stop slave` on replica, and that hook would be any process/script you will write on your own. Do you think that will satisfy the need?

[2016-08-18 10:49] rj03hou opened #166 "suggest to add an parameter check-interval to control the interval of check load and slave lag."
hi

suggest to add an parameter check-interval  to control the interval of check load and slave lag.
I read the code and find the interval of throttler is set to 1 second, in some situation, the load and lag must check more frequently.
[code]

[2016-08-18 10:54] rj03hou opened #167 "when add unique index may lose data"
table and data
[code]
when execute the alter ddl, the value of (1,'a') should loss, and pt-online-schema-change have this problem tool.
I think the good solution is check if have duplicate value then fail, or have a config not allow add unique index.

[2016-08-18 10:55] rj03hou opened #168 "the conf parameter can't read the mysql config file well"
if the my.cnf have the following, would be error.
``
prompt=[\\h]\\u@\\d\\r:\\m:\\s>
``

[2016-08-18 10:57] shlomi-noach commented on #167
This is beyond the scope of `gh-ost` to handle, and is within the scope of the DBA avoiding shooting herself in the foot.

Checking for duplicates could take hours, and by the time the check is complete, new duplicates may be introduced.

[2016-08-18 10:57] #167 closed

[2016-08-18 10:59] rj03hou opened #169 "suggest to add an parameter recursion-method to find all slave auto"
hi,

suggest to add an parameter recursion-method to find all slave auto like pt-online-schema-change.

we have to avoid any lag when we do ddl on the master, if we don't have the recursion-method, we have to set all the slaves to the throttle-control-replicas.

thanks for your work.

[2016-08-18 11:01] shlomi-noach commented on #166
pro tip #1: use three backtics for multi line comments

pro tip #2: you can link to a specific line in code: https://github.com/github/gh-ost/blob/master/go/logic/migrator.go#L191

This would be an easy fix. I'm curious about needing to pool replicas more frequently than once per 1sec, given that replication lag resolution in MySQL is 1sec. Can you please elaborate?

[2016-08-18 11:02] shlomi-noach commented on #168
Can you please run with `--debug --stack` and print the output?

[2016-08-18 11:04] shlomi-noach commented on #163
I should note that I am not using RDS at the moment; will need community feedback for production issues.

[2016-08-18 11:46] shlomi-noach commented on #157
@siddontang to clarify, I have not modified code in `go-mysql` but rather used my application's logic to determine that the value returned by `go-mysql` is in fact unsigned, and make the casting on my side.
I've also worked around this limitation: https://github.com/golang/go/issues/9373 (golang does not support high values for `bigint unsigned`, i.e. `uint64`) by converting such values to string.

[2016-08-18 11:59] shlomi-noach commented on #168
[code]

A `gcfg` limitation

[2016-08-18 12:12] shlomi-noach commented on #161
Will add fix once https://github.com/github/gh-ost/pull/172 is tested (sent to testing for the duration of the day)

[2016-08-18 12:17] pbitty commented on #162
@shlomi-noach Yes, the approach of #62 sounds ideal!  And much more flexible in terms of integrating with other tools and test workflows.

I think there is still the concern of whether gh-ost should issue the `stop slave` command in `--test-on-replica` mode.  I would expect #62 not to change that behavior.

One possible approach (in `--test-on-replica`) would be to check replication status before

[2016-08-18 12:17] shlomi-noach commented on #161
meanwhile @dveeden you can:

[code]

and proceed from there to assign the `time_zone` from within the trx and before the query is executed: https://github.com/github/gh-ost/pull/172/files#diff-55e7b291008bc31a7fac46abdad84feaR874

[2016-08-18 12:20] shlomi-noach commented on #162
If the only change is whether to `stop slave` or not to `stop slave`, I'm fine to add a command line flag saying `--test-on-replica-avoid-stop-replication` or similar.

Eventually, as we progress with [RDS support](https://github.com/github/gh-ost/issues/163) we may consolidate some flags to `--hey-this-is-rds-do-the-right-thing`

or, we may just recognize this is `rds` from within MySQL itself (w

[2016-08-18 12:25] shlomi-noach commented on #62
Also:
- on `--test-on-replica`, when about to `stop slave`

[2016-08-18 12:27] shlomi-noach commented on #62
- on "all validations ok". This is before issing the `count(*)` when `--exact-rowcount` is given.
  The `count(*)` may take some time.
  The "Before beginning rowcopy" (above) will notify just prior to starting copy, which is _after_ `count(*)`

[2016-08-18 12:31] pbitty commented on #162
Ok, that sounds great.  I will submit a PR with that setting.

Just to confirm, you would prefer a single flag like `--test-on-replica-manual-replication-stop` vs an add-on flag, requiring two flags? ie: `--test-on-replica --manual-replication-stop`.

Do I have that right?

[2016-08-18 12:36] pbitty commented on #163
I am using RDS and have been trying out gh-ost with success so far.  I am happy to give feedback and contribute where possible.

I've succeeded in running a test with `--test-on-replica` (using the workaround described in #162) and table checksums matched.  And I've done a migration with `--migrate-on-replica` and did not have any significant issues.

[2016-08-18 12:42] shlomi-noach commented on #162
Yes, I'd rather have a single flag that clarifies its intention. Also,
please use your fluent English skills to find a good name!

Thanks

On Thursday, August 18, 2016, Paulo Bittencourt <notifications@github.com>
wrote:

--
Shlomi Noach
Systems Engineer
GitHub

[2016-08-18 12:56] pbitty commented on #162
As for RDS, `select VERSION()` returns eg. `5.6.23-log`.   There are other hints, but they're indirect - like the global variable `basedir=/rdsdbbin/mysql/`.

[2016-08-18 13:08] pbitty commented on #163
As far as I can tell, the only other blocker is the `STOP SLAVE` command that is issued in `--test-on-replica` mode (to be solved via #162).

In RDS, it is possible to start/stop replication with stored procedures they provide, ie: `CALL mysql.rds_stop_replication`.  So we could support automatic replication stop/start.

The only other thing that is not supported (that I can tell) is setting globa

[2016-08-18 14:01] shlomi-noach commented on #163
Thank you! You are now assigned the role of Chief RDS Officer at Gh-Ost Corp.

Chaning a `statement` replica to `row` can certainly be delegated to the user, no need to trouble `gh-ost` on this if this is an issue.

[2016-08-18 14:06] shlomi-noach commented on #169
Reason I'm suggesting this for community contribution is that we already use a solution in the form of [orchestrator](https://github.com/outbrain/orchestrator/). `orchestrator` really knows the topologies and, combined with _pool_ information, can tell us the exact list of servers to watch.

However this would be a useful feature, and not overly complicated to implement.

[2016-08-18 14:08] shlomi-noach commented on #129
Closed by #130

[2016-08-18 14:08] #129 closed

[2016-08-19 06:26] shlomi-noach commented on #168
Fixed by https://github.com/github/gh-ost/pull/173

[2016-08-19 06:26] #168 closed

[2016-08-19 06:27] shlomi-noach commented on #159
closed by https://github.com/github/gh-ost/issues/159

[2016-08-19 06:27] #159 closed

[2016-08-19 08:19] dveeden commented on #161
@shlomi-noach yes planning to test this today

[2016-08-19 08:31] shlomi-noach commented on #161
To clarify, there's now a dedicated branch: `apply-dml-tz` that should solve your issue, you only need to check it out.

[2016-08-19 09:31] rj03hou commented on #168
Thanks,very quick.

[2016-08-19 09:37] rj03hou commented on #166
OK, thank you for your suggest.
We use mysql in some application which is very sensitive about slave lag, I have suggest the RD use master in this situation, but sometimes they forget, and they want the as small lag as possible, especially in the tools.

[2016-08-19 09:42] rj03hou commented on #167
when we use the pt-osc, and some RD complain that use our tool have lose data. so if they add unique index we suggest they must be careful.

[2016-08-19 09:43] shlomi-noach commented on #166
Cool, but what's the deal of more than once per second in light of the resolution?

[2016-08-19 09:43] shlomi-noach commented on #167
Good suggestion.

[2016-08-19 09:57] rj03hou commented on #166
I don't understand very well.but seconds_behind_master is only in second, so I think 1s is enough. And check the pt-osc check-interval default value is 5s, we set to 1s when we use.

[2016-08-19 10:18] shlomi-noach commented on #166
I'm closing this for now. If there's a particular case for reducing polling interval, either reopen this or open a new one.

[2016-08-19 15:09] dveeden commented on #161
I did test it and it does solve this issue.  :+1:

[2016-08-19 15:29] shlomi-noach commented on #161
👍 thanks for updating; Will merge come Monday

[2016-08-19 21:48] pbitty commented on #99
The above sounds great.  Having the ability to resume would be a great feature.

Now that binlog events are applied in a transaction, it should be possible to confidently store and read the last-processed binlog position.  The same could be done with the table copy process, if the statements are also wrapped in a transaction.

[2016-08-19 21:54] pbitty commented on #163
Ha, thanks!

I am working on documenting the steps required for using gh-ost in our RDS environment.  I should be able to make it generic enough to help others.   When I do, I can submit a PR if you are interested.  Hopefully we can get other RDS users to provide some feedback.

[2016-08-19 21:54] ggunson opened #178 "Error with renamed column"
Running a migration that changed the name of a column, as well as added an index on the (newly named) column, it eventually died with this message:

[code]

This was after a 40 minute long `select count(*)`, which looks like it could be hitting a bug with MySQL 5.7 (https://bugs.mysql.com/bug.php?id=80580), so I'm guessing it got past the initial schema checks.

Command was:

[code]

cc @github/da

[2016-08-21 11:11] NOmri opened #179 "unexpected error: Err: runtime error: index out of rang"
Hi,
i tried adding options to an ENUM field using the `--test-on-replica` parameter.
on a small test environment it worked perfectly, but on the production which is significantly bigger it had encountered a bug.
I ran this command on Scientific Linux release 6.6 with Percona-server 5.6:

[code]

The error recieved:
[code]

[2016-08-21 12:23] shlomi-noach commented on #179
pro tip: add three backtics to format multiline snippets, see how I've edited your comment.

Does the above reproduce? Can you please execute with `--debug --stack` and attach the output?

[2016-08-21 12:36] NOmri commented on #179
Thanks for the tip :) here's the output of the debug mode
btw, it doesn't exit on error but keep repeating this again and again until i killed the process.
in the the previous run no records were inserted into the ghost table, in this run i see that records were inserted.
[code]

[2016-08-21 13:29] shlomi-noach commented on #179
When it reaches retry-count it will exit with error, give it a couple minutes

[2016-08-21 13:32] shlomi-noach commented on #179
Regardless of the "out of range" error, I'm also alarmed by the fact there was a reconnect very early in the process. Can you please verify nothing is killing the gh-ost connections?

[2016-08-21 13:45] NOmri commented on #179
This time no records were inserted.
I saw the threads getting killed, though i'm not sure what killed them. there were up to 9 threads showing "binlog dump" but all of them getting killed together.
no thread lives more than 50 seconds.

eventually it exited with this message:
[code]

[2016-08-21 13:48] NOmri commented on #179
error log showing:
[code]

[2016-08-21 13:49] shlomi-noach commented on #179
From initial look this unfortunately looks like there might be a bug in the [go-mysql](https://github.com/siddontang/go-mysql) library `gh-ost` uses. This means it will be more difficult for me to track down the actual problem.
So, it will take me some time to figure this out.

[2016-08-21 13:52] NOmri commented on #179
I understand,  anyway thanks for the quick response

[2016-08-21 13:54] shlomi-noach commented on #179
The slightly better news is that the crash comes from a function used for formatting an error message, not from the binlog-streaming code itself. So we can relatively easily disable it, or recover from it, and then get to see what _really_ happens.

[2016-08-21 14:04] shlomi-noach commented on #179
or... not. This will take some more attention.

[2016-08-21 14:06] NOmri commented on #179
please let me know if you need some more info from my side

[2016-08-21 14:09] siddontang commented on #179
@shlomi-noach
maybe you can update go-mysql, I have fixed some panic later.
@NOmri can you use go-mysql to sync the binlog directly?

[2016-08-21 14:10] shlomi-noach commented on #179
@siddontang will try it out.

[2016-08-21 14:17] NOmri commented on #179
@siddontang i'm not familiar with go-mysql,
i'll need to read and learn how to use it, so it will take me some time

[2016-08-21 14:23] siddontang commented on #179
@NOmri
You can build go-mysql and use the tool `go-mysqlbinlog` in `bin` directory to sync the binlog directly.

[2016-08-21 16:08] borizio opened #180 "Data copy continues after the rename completed"
While running the gh-ost  v1.0.10 the following output was observed:

[code]

It looks like a threads synchronization issue.

[2016-08-22 05:52] shlomi-noach commented on #180
Indeed this seems like a thread synchronization issue. Will look into.

To clarify, this is not a data integrity concern; the migration is sound, with an extra step taken that should not be taken and which has no impact.

[2016-08-22 05:53] shlomi-noach commented on #178
I am able to reproduce this. This error happens for any `rename` and `update`.

[2016-08-22 05:55] shlomi-noach commented on #178
The bug happens while handling an `UPDATE` event in the binary log. This is the reason why `gh-ost` only crashed 40 minutes into the execution: everything was sound and fine in terms of schema change, and `count(*)` took a long time; the problem only manifested while applying changes read from the binary log.

[2016-08-22 05:57] shlomi-noach commented on #178
Fix is under way.

[2016-08-22 06:02] shlomi-noach commented on #161
Fixed by #175

[2016-08-22 09:23] NOmri commented on #179
@siddontang
do i need to compile go-mysqlbinlog separately? i can't find it after building go-mysql

[2016-08-22 10:09] shlomi-noach commented on #178
Fix sent to testing

[2016-08-22 13:53] shlomi-noach commented on #178
`UPDATE` is fixed. Still have `INSERT` issue.

[2016-08-22 14:08] shlomi-noach commented on #178
Sent to testing

[2016-08-22 20:29] shlomi-noach commented on #161
#175 doesn't actually fix this. #182 does, and is not merged yet. Repoening.

[2016-08-23 02:59] nilly opened #184 "NOT work on mysql 5.5"
test  on mysql 5.5.9

[code]

BUT   mysql 5.5.9  has  no this  global variable  **binlog_row_image**

and  I  have already   use --allow-nullable-unique-key

[2016-08-23 03:53] siddontang commented on #179
@NOmri
How do you build go-mysql, it is installed in go-mysql/bin

[2016-08-23 05:46] shlomi-noach commented on #184
True, `binlog_row_image` was only introduced in `5.6.2`. Will fix.

[2016-08-23 06:00] shlomi-noach commented on #178
Testing passes. `INSERT` fix merged. Will soon release.

[2016-08-23 07:09] dveeden opened #187 "Improve docs for throttle-control-replicas interactive commands"
PR: #186

Other things we could answer here are:
1. What happens if you add a hostname with a typo and gh-ost can't connect?
2. How to get the current list of hosts
3. How to empty the list of hosts.

[2016-08-23 07:12] dveeden opened #188 "FR: Use Orchestrator API to watch for delay"
Add `-throttle-control-service` with `orchestrator://my-orchestrator-host` as possible value and then use the HTTPS API to get the list of slaves with delay.

It can figure out which cluster the host is in so we don't need to specify that.
Probably should filter out hosts with a configured SQL Delay..

This would be a nice-to-have, it's definitely not a must-have.

[2016-08-23 07:17] shlomi-noach commented on #188
So what we do today is that we have a wrapper script to run `gh-ost`. Among other things the script obviously chooses some command line argument values, logs, writes to chatops etc.,

and then it also chooses the throttle-control-replicas, via orchestrator; something like:
[code]

I believe this is the correct way to go: have an external script to do the stitching.

[2016-08-23 07:25] NOmri commented on #179
@siddontang  - my mistake, i haven't build it, only got to the part of
[code]
however i couldn't find in the docs how to build the go-mysql. i've dl it from
https://github.com/siddontang/go-mysql
 if you can please refer me to installation process that will help a lot
thanks

[2016-08-23 09:44] siddontang commented on #179
@NOmri
you can clone the source, enter $GOPATH/src/github.com/siddontang/go-mysql and them `make`.

[2016-08-23 09:51] shlomi-noach commented on #179
I'm going to try now and reproduce the problem

[2016-08-23 10:03] shlomi-noach commented on #179
@NOmri can you provide with the original `enum` column definition?

[2016-08-23 10:07] NOmri commented on #179
Original definition: `status` ENUM('PENDING','BUSY','ERROR') NULL DEFAULT NULL COLLATE 'utf8_bin'

[2016-08-23 10:08] shlomi-noach commented on #179
@NOmri also, I notice you add the `AFTER` clause. Did you change position of the enum in the table? Otherwise why did you add the `AFTER`?

[2016-08-23 10:09] shlomi-noach commented on #179
@NOmri finally, and since you pasted the real `enum` definition, what is the real `alter` statement?

[2016-08-23 10:11] NOmri commented on #179
[code]
i'm guessing i haven't defined $GOPATH correctly, though i tried several variations.
#stillnewtolinux

[2016-08-23 10:13] NOmri commented on #179
i didn't change the position, just copied from the IDE, it's redundant
[code]

[2016-08-23 10:18] shlomi-noach commented on #179
Insofar I'm unable to reproduce, trying variations of `INSERT` and `UPDATE`, with/out `NULL`.

I'm wondering whether you can identify the type of queries that execute on that column.
Also, anything else that jumps to mind?

Also, I'm unsure whether the problem relates to the `enum` in the first place. Can you try a trivial `--alter="engine=innodb"` statement? (assuming your storage engine is indee

[2016-08-23 10:22] shlomi-noach commented on #179
Re-reading this thread, I'm further concerned by:

no thread lives more than 50 seconds.

How do you mean "no thread lives more than 50 seconds" ? Do you mean in the de-facto essense, that you don't see anything running for more than 50 seconds?
- In this case, is that also true for the replication threads?
- in which case, there's something very wrong in your setup, that kills all connections, in

[2016-08-23 10:27] NOmri commented on #179
by monitoring the processlist with innotop.
i also stated that in the error logs i see
[code]
for the user i used with gh-ost.

Just to be clear,  i meant that threads with "binlog dump" from the gh-ost user were killed.   other threads looks ok.

[2016-08-23 10:29] NOmri commented on #179
alter="engine=innodb" result with the same problem
[code]

[2016-08-23 10:30] shlomi-noach commented on #179
This is a critical question:

[2016-08-23 10:31] shlomi-noach commented on #179
I'd like you to clarify; did you see them _die_ or getting _killed_? What was your exact observation?

[2016-08-23 10:44] NOmri commented on #179
all the threads were in state on "writing to net" reached 60 seconds and died.
net_write_timeout is set to 60 so i'm thinking that's what killed them,

i just did another run with "engine=innodb"
This time records were inserted to the ghost table, but the error still happend. up until it failed on too many errors
[code]

[2016-08-23 12:18] shlomi-noach commented on #179
@NOmri I'd like you to do more tests on your side; I'm not sure whether `net_write_timeout` is what affects the disconnects, since it's unlikely that `60` seconds would go by with no traffic (or maybe this is the case on you production servers?)

I'd like you to change `net_read_timeout` and `net_write_timeout` to different values and see whether that changes anything.

I'd like you to check wheth

[2016-08-23 12:23] NOmri commented on #179
i'll do more extensive tests and i'll update with my findings.
We're using pt-heartbeat to monitor replication

[2016-08-23 12:29] shlomi-noach commented on #180
Addressed by https://github.com/github/gh-ost/pull/192

[2016-08-23 13:30] NOmri commented on #179
changing net_read_timeout and net_write_timeout doesn't seem to have any effect.
on a second look the threads are dying all at the same time, and not just after 60 seconds
[code]

[2016-08-23 13:34] aadant opened #193 "Support for parallel copy (FR)"
For big tables, it should be possible to copy the rows in parallel.
It is even more obvious for partitioned table + replication is now parallel.
I propose this syntax :
--copy-threads

[2016-08-23 14:05] shlomi-noach commented on #193
`gh-ost` was in particular designed to to serialized copy to solve the locking problems introduced by the parallel copy.

I need a very strong incentive to parallelize again.

I'm unsure whether at this time partitioned tables actually allow concurrent writes to different partitions (didn't use to allows that).

For non-partitioned tables this is an absolute NO-GO. Parallel `INSERT`s into same tab

[2016-08-23 14:23] aadant commented on #193
pt-online-schema-change is also single-threaded.
Single threaded performance is known to decrease with MySQL releases ! Multi-threaded performance does not. It is a pity that we have more and more hardware and we can not use it ! If InnoDB can not scale writes in parallel even on the same table, then there is an issue with InnoDB :-)

Partitioned tables do allow parallel writes for sure. There are

[2016-08-23 14:54] shlomi-noach commented on #193
On rowcopy, yes. However the triggers create parallelism, which cause locking: https://github.com/github/gh-ost/blob/master/doc/why-triggerless.md

Not on single table access; it's still faster than concurrent (I'm talking about bulk loads workload)

This does not depict the full picture. At least on 5.5 (and as I recall also on 5.6, early releases), writing to a partition, even InnoDB one, would

[2016-08-23 14:56] shlomi-noach commented on #179
Re: "heartbeat", I mean `MASTER_HEARTBEAT_PERIOD`:
http://dev.mysql.com/doc/refman/5.7/en/change-master-to.html

[2016-08-23 15:11] NOmri commented on #179
ok, i didn't set this parameter when creating the replication, so it's probably set to the default which in my case is 1800.

[2016-08-23 15:55] NOmri commented on #179
quick update - i started running the "engine=innodb" change on a different slave, so far no errors.
i'll diff both slaves configuration to see if there's anything that might cause the error

[2016-08-23 22:39] ggunson opened #194 "FR: if --exact-rowcount=true, don't wait for count to return before starting"
`SELECT COUNT(*) FROM table` can take a long time with large tables, and is slower on MySQL 5.7 than 5.6, according to this bug report: https://bugs.mysql.com/bug.php?id=80580

Using the `--exact-rowcount` flag, gh-ost gets a count of the table before it starts copying rows, so that the progress and estimated completion times are more accurate than using table statistics for the calculations.

If

[2016-08-24 06:20] shlomi-noach commented on #194
That is true, and the number is never really absolutely correct, but experience shows that it is nonetheless very close to the real value; on our largest migrations I've see it off by less than `1%`. So I suggest in terms of accuracy we've achieved a good one.

I think the big deal here is "are we willing to pay an extra 30 minutes for the `count(*)` to complete before migration starts".

Running

[2016-08-24 06:41] shlomi-noach commented on #194
Waiting the first 30 minutes of a migration by just waiting for `count(*)` to complete is also something that's not human friendly -- another reason for allowing `count(*)` to run concurrently with migration.

[2016-08-24 06:57] shlomi-noach opened #195 "Discussion: self/scheduled adjusting of nice-ratio"
We find that `nice-ratio` is an important config. `max-lag-millis` does the job for throttling, but then a good value of `nice-ration` avoids the lags in the first place (at the cost of running the migration longer).

This is to discuss whether we can set a "dynamic" `nice-ration`. That is, `nice-ratio` is already dynamic in the sense it can be modified in runtime. But can it be self-adjusting? Sa

[2016-08-24 07:10] dveeden commented on #194
On an insert heavy table running the `count(*)` for 40 minutes might also grow the undo logs in ibdata1. Maybe changing the transaction isolation is useful.

Does it adjust the count when gh-ost sees `INSERT`s or `DELETE`s? If so, are these two (count and adjustments) properly aligned? Maybe it should start a transaction (and enforce InnoDB to take part in it) and then get the binlog position and

[2016-08-24 07:10] ggunson commented on #194
True; my idea is more about saving that delay at the beginning.

@jonahberquist noted, though, that if the row copying and binlog parsing began at the same time as the `select count(*)`, and the # of rows inserted (as parsed from the binlog) were added to the total count in the gh-ost status updates, then there would be some ETA accuracy improvements there. Even if that's not important or particul

[2016-08-24 07:12] #162 closed

[2016-08-24 07:18] dveeden commented on #195
Because of the binlog positions it knows the replication volume. It could use that to adjust the nice-ratio

[2016-08-24 07:32] shlomi-noach commented on #178
`1.0.13` fixes this

[2016-08-24 07:32] #178 closed

[2016-08-24 07:51] dveeden commented on #193
I agree that it would be very useful if it would actually works. But I also agree that this could make things more complicated (locking issues) and that it might not work as expected.

Maybe applying changes which are read from the binlog stream can be done in parallel or maybe grouped into one transaction (like group commit). Is there any group info available from the binlogs?

Another thing we c

[2016-08-24 08:00] shlomi-noach commented on #195
@dveeden so we're able to both _count_ events as well as estimate _volume_. Great idea!

[2016-08-24 08:03] shlomi-noach commented on #193
This is certainly cool; it would leave the server in weird state if `gh-ost` crashes.
I'd label this as "far away into the future" though, unless anyone wants to do that. And still I'd rather not-yet.

[2016-08-24 10:02] aadant commented on #193
I tested the exchange on a big partitioned table (3 billion rows, 500Gb, 90 partitions) with conventional online alter and it went twice faster in 5.6 for full rebuild. One problem was exchanging back because the full table is fully read to see if it matches the partitioning rules. 5.7 has exchange without validation which makes the exchange nearly immediate though serialized due to MDL. If the ex

[2016-08-24 10:11] shlomi-noach commented on #194
@dveeden good idea, thank you

Yes, it adjusts the count on `insert` and `delete`. Right now the heuristic is simplistic. +1 for every `insert` and -1 for every `delete`. There's plan to make that actually take the copied-range into consideration at least with `auto_increment primary key` migrations.

However these are pretty accurate as they are; I wouldn't invest much effort in those counters.

[2016-08-24 10:13] shlomi-noach commented on #194
@ggunson that's true.

Work begins at https://github.com/github/gh-ost/pull/196

[2016-08-24 10:21] shlomi-noach commented on #193
Sorry, I didn't follow through. What was the experiment exactly?

A factor of 3-4 reduction in runtime is very interesting and justifies such a development.

True.

It's just that it's a relatively big change right now to work on.

[2016-08-24 10:27] shlomi-noach commented on #194
Noting down that this applies whether `count(*)` is concurrent or not concurrent.

[2016-08-24 12:25] shlomi-noach commented on #179
I'm going to close this based on my understanding this is not something `gh-ost` specific but rather in the environment on the user's end.

Please feel free to continue the discussion here, I'd love to hear the conclusions.

[2016-08-24 12:25] #179 closed

[2016-08-24 12:59] dgryski commented on #179
Sounds like the go-mysql package could use some fuzzing.

[2016-08-24 13:08] aadant commented on #193
The parallel rebuild of a big partitioned table using exchange partitions :+1:

if P is the number of partitions

1. exchange partitions with P empty tables
2. alter the P tables in parallel
3. alter the partitioned table (fast since empty)
4. exchange partitions with P tables

you can parallelize 2.
4. can't be but is immediate in 5.7 using the "without validation" option.

I am not sure we could

[2016-08-24 19:28] shlomi-noach commented on #179
define "fuzzing"? Dictionary wasn;t very helpful

[2016-08-24 19:29] shlomi-noach commented on #193
Thanks for explaining. Very interesting.

[2016-08-24 19:35] dveeden commented on #179
Fuzzing
In computer security parlance, fuzzing is the art of automatic bug finding.
This is done by providing an application with semi-valid input. The input
should in most cases be good enough so applications will assume it's valid
input, but at the same time be broken enough so that parsing done on this
input will fail. Fuzzing is mostly used to uncover security bugs.

http://www.urbandictionary

[2016-08-24 20:02] dgryski commented on #179
Anything dealing with protocols or otherwise parsing file formats should be fuzzed.  In Go this is easily done with https://github.com/dvyukov/go-fuzz.  This should perhaps be a new issue in the go-mysql repository.  The discussion doesn't belong here.

[2016-08-24 20:39] ggunson commented on #194
I wasn't very scientific in my testing but changing the session isolation level between repeatable read, read committed and read uncommitted didn't make a difference (or much of one) in terms of undo log growth on a 5.7 replica. Which makes sense to me in the context of a read-only select in autocommit mode.

If the select is run on its own (not inside a greater transaction with writes), I don't k

[2016-08-25 07:39] shlomi-noach opened #197 "Split "ETA" into "ETA" and "Status""
When `ETA` is `N/A` (throttling, counting rows, whatever), indicate the reason in `Status` and just write `N/A` for ETA

cc @ggunson

[2016-08-25 07:58] shlomi-noach commented on #194
This is what it looks like, in production:
[code]

Notice how suddenly `2016-08-25 00:55:38 INFO Exact number of rows via COUNT: 17272102` kicks in and the estimated number of rows changes.

[2016-08-25 09:53] tozhengxq opened #198 "illegal character U+005F '_'"
when some config items contains `'_'` (like "sync_binlog = 1")in the conf file  (conf="/tmp/my1.cnf"),it will error  and stack print:

[code]

[2016-08-25 10:22] shlomi-noach commented on #198
Fixed in https://github.com/github/gh-ost/pull/199

[2016-08-25 12:01] shlomi-noach commented on #198
The issue should only be closed once the PR is merged :)

[2016-08-25 14:48] shlomi-noach commented on #184
Seems like I did foresee this: https://github.com/github/gh-ost/blob/master/go/logic/inspect.go#L300
checking what went wrong.

[2016-08-25 14:51] shlomi-noach commented on #184
Fixed by https://github.com/github/gh-ost/pull/200

[2016-08-25 14:51] shlomi-noach commented on #184
Will likely publish a release tomorrow that will include this fix.

[2016-08-25 14:53] shlomi-noach commented on #164
applied for per-DML event. Closing for now as chunk-copy is not yet in user space anyhow.

Fixed by #191

[2016-08-25 14:53] #164 closed

[2016-08-25 18:12] pbitty opened #201 "Checksum mismatch after running --test-on-replica"
Hello,

I've run into a checksum mismatch after running a migration with `--test-on-replica`,
and I'm having trouble finding the cause of the mismatch, as the tables look identical
in all the ways I can see.

Forgive the long explanation.  I tried to collect as many details as I could check.

Checksum:
[code]

Here is the original table's schema:

[code]

[code]

The alter clause is:

[code]

And

[2016-08-26 01:45] pbitty commented on #201
I did some more investigation. I copied the original table in two ways, and then
compared checksums.

Using `create ... like ...`:

[code]

Using the full `create` statement:

[code]

So now I had two tables which should have the same contents as the the ghost table,
and the original.

Checksums:

[code]

Note that I didn't apply the `ALTER` statement to either of the tables created.

So the table

[2016-08-26 01:46] pbitty commented on #201
On the other hand, I'm realizing that `checksum tables` is not a reliable way to compare
tables where the schema has changed.  It has worked for me recently because no new columns
were added, only small datatype changes were made (eg. changing the charset from utf8 to utf8mb4).

[2016-08-26 01:47] pbitty commented on #201
I am closing this issue, as I believe the checksum mismatch is not really an issue, I need to use a more reliable method of comparing the two tables.

[2016-08-26 01:47] #201 closed

[2016-08-26 06:26] shlomi-noach commented on #201
I don't know that `checksum table` is a trustworthy operation. The way I checksum is:

[code]

and in case I added/removed column, then do an explicit column listing.
I find the above to be trustworthy.

[2016-08-26 06:28] shlomi-noach commented on #180
I believe #192 should eliminate the problem.

[2016-08-26 06:28] #180 closed

[2016-08-26 06:29] #184 closed

[2016-08-26 06:30] shlomi-noach commented on #198
Closed by #199

[2016-08-26 06:30] #198 closed

[2016-08-26 06:33] shlomi-noach commented on #194
Closed by #196

[2016-08-26 06:33] #194 closed

[2016-08-26 06:38] shlomi-noach commented on #198
released in https://github.com/github/gh-ost/releases/tag/v1.0.14

[2016-08-26 06:38] shlomi-noach commented on #194
released in https://github.com/github/gh-ost/releases/tag/v1.0.14

[2016-08-26 06:38] shlomi-noach commented on #184
released in https://github.com/github/gh-ost/releases/tag/v1.0.14

[2016-08-26 06:38] shlomi-noach commented on #180
released in https://github.com/github/gh-ost/releases/tag/v1.0.14

[2016-08-26 10:03] taotao2016 opened #202 "without super privileges error"
[code]

hi,
     i have add  " --assume-rbr", but still have  nedd  supper privileges  error.   why?
thank you !!

[2016-08-26 10:21] shlomi-noach commented on #202
Can you please try latest `1.0.14`?

Pro-tip: for multi line comments prepend/append three backticks. See how I edited your comment.

[2016-08-26 11:28] pbitty commented on #201
Thanks very much, the that makes a lot of sense.

[2016-08-26 13:43] shlomi-noach commented on #104
Recently implemented in `orchestrator`, I'd use `go-metrics/exp` to export in `expvar`-like format via `/debug/metrics`

[2016-08-26 13:55] SuperQ commented on #104
`expvar` is not prometheus compatible. :-/

[2016-08-26 17:42] valeriikravchuk commented on #193
I've set up the following primitive benchmark:

1. I've created a range-partitioned tables with 4 partitions and filled it with 400000 rows of data, equally spread over partitions:

mysql> create table trange2(id int auto_increment primary key,
-> c1 char(200)) engine=InnoDB
-> partition by range(id) (
-> partition p1 values less than (100000),
-> partition p2 values less than (200000),
-> partiti

[2016-08-26 23:49] jonahberquist opened #203 "Reduce minimum max-lag-millis threshold"
When we were designing gh-ost, all of our replication lag monitoring had a minimum granularity of 1 second. We have more granularity now, and I'd like to be able to have gh-ost throttled further. I have a branch that reduces the minimum of this threshold from 1000ms to 100ms.

Thoughts on if that is sufficient or if we should allow even less than that?

[2016-08-27 00:09] jonahberquist opened #205 "Allow a migration to pause and resume under a new gh-ost process"
We've [previously discussed in passing](https://github.com/github/gh-ost/issues/99#issuecomment-234613334) the potential to do this. Our conclusion at the time was that it would be possible, though not particularly useful. The use case that I had thought of at the time was resuming if a `gh-ost` process died.

I have a more interesting use case now, which is the desire to change `gh-ost` itself du

[2016-08-27 15:03] SuperQ commented on #205
I guess the easiest thing for this would be to write out a checkpoint file containing the necessary information.  It could be written to a `gh-ost` checkpoint table in mysql, but I think a local file would be better.

[2016-08-28 02:00] pbitty commented on #205
This would be a very nice feature to have.  We've been running migrations as jobs on our compute cluster.  We could treat this as a resumable job and wouldn't have to allocate a specific long-running host to run the job - if a host is set to be terminated and the job gets moved to a different host, it would just resume automagically.

I'd be happy to help develop/test this.

I would vote for havin

[2016-08-28 08:11] borizio opened #207 ""Invalid connection" message"
During the modification on one busy server the following appears in the outup:

[code]

What does it mean and how one can avoid it?

[2016-08-29 07:12] taotao2016 commented on #202
# ./gh-ost --user="xxxx" --password="xxx" --host='xxxx' --port=xxxxx --database="test"  \

2016-08-28 01:18:18 INFO starting gh-ost 1.0.14
2016-08-28 01:18:18 INFO Migrating `test`.`ghosttest`
2016-08-28 01:18:18 INFO connection validated on 192.168.64.3:3366
2016-08-28 01:18:18 DEBUG Privileges: Super: false, REPLICATION CLIENT: true, REPLICATION SLAVE: true, ALL on *.*: false, ALL on `test`.*: f

[2016-08-29 07:14] shlomi-noach commented on #202
Thank you, looking into.
Please see my previous pro-tip":

[2016-08-29 07:29] shlomi-noach commented on #207
This is being printed by the [go-mysql driver](https://github.com/go-sql-driver/mysql). There is no control over printing this that I'm aware, unless I modify the code. I can modify the code, but do not wish to, since I want to be able to upgrade this package without worrying about repatching.

The error could come from a `wait_timeout` setting or other. The driver performs multiple attempts, and

[2016-08-29 07:38] shlomi-noach commented on #203
There are additional consideration to reducing the `maxLagMillisecondsThrottleThreshold` below `1000`:

- `ReplicationLag` still stored as an `int64` -- for _seconds_. This needs to be modified, I deally as `ReplicationLagMillis int64`
- The frequency at which we _inject_ heartbeat events is, right now, every `250ms`. So less granular than the measurement you'd like to take. We would need to eithe

[2016-08-29 08:47] shlomi-noach commented on #202
While looking, would you please paste the output of `SHOW GRANTS FOR your_user`?

[2016-08-29 08:50] shlomi-noach commented on #202
The problem is that you don't seem to have `ALL` on `test.*`.
Since you are migrating a table in the `test` schema, you should have `ALL` privileges on that schema.

This is actually indicated by:
[code]
And confirmed by:
[code]

In the above, see:

[2016-08-29 08:50] #202 closed

[2016-08-29 08:51] taotao2016 commented on #202
GRANT SELECT, INSERT, UPDATE, DELETE, REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO 'taotao'@'%' IDENTIFIED BY PASSWORD '*E0F500114553C66CF6FF638471372BCCEC84BF45';

[2016-08-29 09:04] taotao2016 commented on #202
ALL on test.*: false, but   I count not grant  super privileges to  the user.

[2016-08-29 10:33] shlomi-noach commented on #202
The _requirement_ is that you need to have `ALL ON test.*`. There is no requirement for `super` and the error message was not saying anything in particular about `super`.

[2016-08-29 10:37] shlomi-noach commented on #202
I stand corrected! The error message is misleading, and suggests you need `SUPER`. You do not.

[2016-08-29 10:41] shlomi-noach commented on #202
Message fix is in https://github.com/github/gh-ost/pull/208

[2016-08-29 12:53] shlomi-noach commented on #203
Correction: nano-seconds. Which is good.

[2016-08-29 12:55] shlomi-noach commented on #203
Correction: `1s`

[2016-08-29 12:57] shlomi-noach commented on #203
Elaborate:

- `1s` check interval for all control-replicas. Do we really want to check each control replica `10` times a second?
- The inspector replica is checked separately, as desired -- already decoupled.

[2016-08-29 14:59] shlomi-noach commented on #193
@valeriikravchuk thank you for the benchmark!

Looking somewhat deeper into this, the code change would be non-trivial, and would consume some time. This feature is not on my immediate roadmap and will be pushed till a later time, unless someone wants to do it (and in which case, please consult with me beforehand -- thank you!)

[2016-08-29 15:06] shlomi-noach commented on #203
And forget about what I said on the oversampling.

[2016-08-29 15:06] shlomi-noach commented on #203
Just... Forget everything.

[2016-08-29 15:31] shlomi-noach commented on #203
Further notes:

- We wouldn't want to burden replicas with so many checks if the threshold is `1s` or above, anyhow.
- We wouldn't want to burden the replicas with so many checks if `replication-lag-query` is empty (i.e. the only tool we have is `show slave status` with `1s` granularity)
- So we can continue to pool only once per second if not both apply.
- But since both the above variables are d

[2016-08-29 15:33] shlomi-noach commented on #203
So I'm making `--heartbeat-interval-millis` configurable. Default will be `500ms` and can be reduced as low as `100ms`.

[2016-08-29 15:37] shlomi-noach commented on #166
I stand corrected, and we are able (on `5.6`) to get subsecond granularity. We are good to go on polling for replication lag smaller than `1s` and in shorter interval. See https://github.com/github/gh-ost/issues/203#issuecomment-243160100 for more on this.

We're unlikely to sample `max-load` more frequently.

[2016-08-29 17:08] ggunson opened #209 "FR: Copy percentage complete in `sup` command can be under 100% when finished"
An example `sup` from last week:

[code]

The row copy had completed (since it was `postponing cut-over`) but according to the "Copy" status it was at `99.6%`. The count discrepancy could make sense since the row copy didn't start until half an hour after the `SELECT count(*) from table` started; maybe this will be less of an issue due to concurrent counts in https://github.com/github/gh-ost/pull/

[2016-08-29 18:47] shlomi-noach commented on #209
:+1: good idea!
The heuristic for the on-going updated row estimate can be improved, and is not 100.0% accurate, which explains the diff.
Will hard code `100%` once rowcopy is known to be complete.

[2016-08-29 19:06] shlomi-noach commented on #205
Terminology wise let's find a different name for this since pause/resume are already used to describe throttling/unthrottling.

[2016-08-29 19:10] SuperQ commented on #205
I would call it shutdown checkpoint and restart from checkpoint.

[2016-08-29 19:16] shlomi-noach commented on #205
In order to make that happen, a new invocation needs to have the context to a previously interrupted migration. On the grander scale, this must include:

- The last processed copy-range
- The last applied bin log position

On the finer scale we are also interested in:

- reading the unique-key by which migration chooses to iterate
- "last processed copy-range" must be **typed** values
- last appli

[2016-08-29 19:22] SuperQ commented on #205
:+1: Seems like a sensible plan to me.  Some google searching suggests that gob or json are the correct thing to write out.. I would suggest a text format like json.

[2016-08-30 00:04] Roguelazer opened #210 "Informational messages are printed twice in 1.0.14"
[code]

I initially thought that this was caused by `--concurrent-rowcount`, but it seems to happen regardless of `--concurrent-rowcount` with 1.0.14, and, in fact, it happens even with no special args, as shown above. Sometimes the messages are out-of-order, so I assume it's a race between two threads. Doesn't seem to affect actual execution.

[2016-08-30 00:05] Roguelazer commented on #207
I also do get a tone of these. I don't have any timeouts in my config and they start within a few seconds of starting gh-ost, and continue for the duration of the execution.

It hasn't resulted in any data corruption (I've checked all the tables we've migrated to make sure that they're identical before and after), but it's very strange.

[2016-08-30 00:45] jonahberquist commented on #205
Dumping everything in MigrationContext makes sense to me. 👍

Something that I waned to note was that I mentioned wanting to change gh-ost and branch deploy mid-migration, and over the weekend I realized this was pure folly. Doing that throws away the whole concept we have of testing migrations and knowing that we have the correct data in the ghost table.

👍 `hibernate` works for me

As for file vs

[2016-08-30 06:49] shlomi-noach commented on #210
@Roguelazer I also recall seeing that before. But I haven't, in a while. Does that happen consistently? Any particular time when it happens?

Also, are you issuing `status` commands on the unix-socket?

[2016-08-30 06:50] shlomi-noach commented on #207
It never propagates to `gh-ost` and so there is no error on `gh-ost`'s side.

[2016-08-30 07:12] shlomi-noach commented on #62
Documentation is on https://github.com/github/gh-ost/blob/master/doc/hooks.md

[2016-08-30 08:02] shlomi-noach commented on #203
Quite a few changes have been pushed, but I suspect this change further implies that the throttling code should be completely independent from all throttling checks. To elaborate:

Before this PR we did a once-per-sec check: "should we throttle". In that check we would check for flag files, `max-load`, lag, etc.

But now we want the lag to be checked, say, `10` times per sec. But we only want to k

[2016-08-30 13:12] dataindataout opened #212 "Specify master directly when connecting to replica"
I see when using the "connect to replica, migrate on master" method, the master is detected via the function here https://github.com/github/gh-ost/blob/f06b469227208000d70739233fc222b1b4998f04/go/mysql/utils.go#L77.

Is there a way (that I've missed) to specify the master directly via a flag? If not, would making this configurable cause any architecture issues or predictable bugs?

Thank you!

[2016-08-30 14:16] shlomi-noach commented on #212
@dataindataout there is no way to do that right now. Adding this would not cause a significant architectural change.

Can you elaborate on the need?

The risk I see is someone wrongly specifying a master which is not on same topology (though `gh-ost` can presumably check it out)

[2016-08-30 14:47] shlomi-noach commented on #212
Or, another more likely risk is the user specifying a non-master server.

[2016-08-30 15:04] shlomi-noach commented on #209
addressed by #213

[2016-08-30 15:56] dataindataout commented on #212
Thank you for the reply! The use case would be non-native replication (e.g., Tungsten replicator), so a show slave status doesn't provide information. By the way, this is working functionally with the "Connect to master" method, of course.

[2016-08-30 16:49] shlomi-noach commented on #212
ahh... didn't cross my mind. Then, yes, it's possible. I might do this in the next week or two.

[2016-08-30 16:56] dataindataout commented on #212
Thank you for taking a look at it!

[2016-08-30 17:04] shlomi-noach commented on #212
@dataindataout out of curiosity, is your topology that uses tungsten strictly RBR?

[2016-08-30 17:40] dataindataout commented on #212
It's actually SBR (and can't be changed), so we've found that we do need to run it from a replica.

[2016-08-31 03:11] ASSTAROID opened #214 "e3"

[2016-08-31 07:02] shlomi-noach commented on #214
LOL

[2016-08-31 07:02] #214 closed

[2016-08-31 07:02] gywndi opened #215 "Any idea about delete operation"
Hi~

I have some question about data copy operation.

This is kind of CDC tool, using binlog parser.
Any change on source table applied by binlog (ROW FORMAT) event, then copy data from source to target with query operation. I understand like this.. (Right?)

But what I concern is "DELETE" operation.
Actually, there's "NO LOCK" between source and target table, only async copy & apply.
Then.. many

[2016-08-31 07:08] shlomi-noach commented on #215
I'm sorry, I cannot understand the question.
I'm in particular unsure if this is a question/concern about `gh-ost`'s operation, or if this is a general purpose question.

[2016-08-31 07:27] #209 closed

[2016-08-31 07:49] shlomi-noach commented on #203
This is actually running in production right now, having passed tests.

Whoa whoa whoa! Insane. Running with `max-lag-millis=500`, `--heartbeat-interval-millis=100`, no `nice-ratio`, `gh-ost` aggressively runs the migration while all production replicas lag is kept _below_ `1s`!

[2016-08-31 07:51] shlomi-noach commented on #203
It's a pity I can't say the name of the table on which this is running. It's _you know who_

[2016-08-31 07:55] gywndi commented on #215
Hi~ I think.. both. :)

"DELETE DATA" is really general operation.
Without "Lock" on specific  row.. how to prevent  the "DELETED DATA" revive.
(I also have similar concerns.. processing streaming log and copy data.)

[2016-08-31 08:03] shlomi-noach commented on #197
This will also allow showing `ETA` when throttling. Right now I'm running a migration with subsecond lag resolution and `max-lag-millis=500` on one of our busiest tables. The migration throttles a LOT, which is _fine_, but then the status message rarely says what the `ETA` is; it mostly says it's throttling.

[2016-08-31 08:10] shlomi-noach commented on #215
Sorry, I'm still unsure I understand the question.

But if I interpret correctly, you believe the algorithm is flawed, and that there is a situation where data is deleted on the original table, but then shows up on the _ghost_ table?
I disagree, here's why:

1. SELETE CHUNK DATA
2. COPY TO TARGET | DELETED ON SOURCE
3. COPY TO TARGET | DELETED ON TARGET
4. COPY TO TARGET - DELETED DATA

Say row 17

[2016-08-31 09:03] gywndi commented on #215
Recent binlog event remove row, but small chunk contained the removed data, then removed data revived again. (chunk copy->binlog apply: OK, binlog -> chuck copy? I'm not sure.)

I know you never entire rows from source table, divide specific chunk size, and copy data.
This is kind data flow under different databases (event though, it's same host different table name.)
No lock. So it's very hard to

[2016-08-31 10:14] shlomi-noach commented on #215
if I'm iterating the chunk _now_, and the row is removed _in the future_, then as I'm copying the row, the copy is valid, and a future binlog event will tell me I need to delete it on the _ghost_ table.

if I'm iterating the chunk _now_, and the row has already been removed, then I don't copy it in the first place.

if I'm iterating the chunk _now_, and while my read transaction is open someone is

[2016-08-31 13:49] shlomi-noach commented on #203
This is now merged. Closing. Will iterate if need be.

[2016-08-31 13:49] #203 closed

[2016-08-31 13:50] shlomi-noach commented on #166
Closed as per https://github.com/github/gh-ost/issues/203#issuecomment-243160100

[2016-08-31 13:50] #166 closed

[2016-08-31 13:51] shlomi-noach commented on #163
Hooks have been merged, though not yet released.

[2016-08-31 15:25] pbitty commented on #163
Great!  I will try them out with our next `--test-on-replica` run either today or tomorrow.

[2016-08-31 16:48] tomkrouper commented on #203
there is table called Voldemort? :trollface:

[2016-08-31 17:24] shlomi-noach opened #216 "Discussion: redefine critical-load behavior during cut-over"
cut-over is the time where tables are locked. It is naturally a time where connections pile up.
meeting `critical-load` during cut-over can _make sense_. Do we want to bail out when it is met?

A suggestion by the @github/database-infrastructure team is to rollback the cut-over, and go to "postponed" mode (or just retry the cut-over as normal)

In such case, we also need to allow for a grace perio

[2016-08-31 17:28] shlomi-noach commented on #203
@tomkrouper I told you not to say his name!

[2016-08-31 17:31] shlomi-noach commented on #216
Additional options:

support a specialized `cut-over-load`?

[2016-08-31 17:32] shlomi-noach commented on #216
additional option:

rollback when we meet `critical-load/2` (or what have you, say `80%`)

[2016-08-31 23:23] jonahberquist commented on #197
That's going to be really nice. I found it a bit annoying to have to `sup` gh-ost a few times in a row to get an ETA while it was throttling a lot.

[2016-09-01 00:58] jonahberquist commented on #216
Keeping this fast and responsive to load is good. We should continue to avoid allowing ourselves to be at critical-load for several seconds.

I'm actually impressed with the way this handles itself so that the huge load spike we saw caused gh-ost to back out immediately and we didn't see any production issues (apart from the migration itself dying).

I do like the idea of catching something less t

[2016-09-01 05:27] gywndi commented on #215
hm.. kind of difficult.

As you know.. mysql support full MVCC. And default level is REPEATABLE READ.
This means, a transaction only see the only the snapshot data, even though other session committed.
I'm not sure how you define the chunk size. But, how can you guarantee **all rows in the chunk**  be copied **BEFORE** binlog event applied? (WITHOUT LOCK - 2-pc or something else..)

I agree with y

[2016-09-01 07:15] shlomi-noach commented on #205
Following up on a discussion we had yesterday, an excellent use case for this feature is `gh-ost` bailing out on `critical-load`. Yesterday we had a 4 hour migration _legitimately failing_ having met `critical-load`. That was during the cut-over phase -- at the very end of the migration. No problem, we ran the migration again and it worked -- but it would have been _so nice_ if we could just resum

[2016-09-01 07:19] shlomi-noach commented on #216
I think our problem would be that, taking the `threads_running` threshold as an example, when it spikes, it spikes real fast. Even if we measure 10 times per sec, we might not be able to catch `critical-load/2` or `critical=load*0.9` in time, before it meets the threshold.

Given that the bail out we saw was on our _you know who_, one of our busiest tables (if not the busiest), and that this only

[2016-09-01 07:30] shlomi-noach commented on #215
I think we've narrowed down the misunderstanding point. Great clarification on your side. I actually don't mind much about when the binlog event was _applied_. I care more about _when I read & handle it_, and that is _known_ to happen in the _future_ of the rowcopy.

`gh-ost` serializes everything. It does not apply binlog event while copying rows. I complete copying 100 rows, then see if there's

[2016-09-01 08:57] shlomi-noach commented on #197
See sample output: https://github.com/github/gh-ost/pull/218#issuecomment-244018295

[2016-09-01 09:08] shlomi-noach commented on #205
Hey we need terminology. "resurrect"?

[2016-09-01 09:12] shlomi-noach commented on #195
Now that we do [subsecond lag resolution](https://github.com/github/gh-ost/issues/203) we find that `nice-ratio` is not needed.

It's a great relief, because we felt `nice-ratio` was making us pick a number. Should it be `0.5`? Should it be `1.0`?

But now, we use subsecond lag resolution and set `--max-lag-millis=500` or less, and this is, if I'm allowed a superlative, _insane_. Migration keeps r

[2016-09-01 09:12] #195 closed

[2016-09-01 09:38] shlomi-noach commented on #212
@dataindataout I don't have a tungsten setup on me, could you please answer the following: if I were to look at one of your replica servers, replicating via tungsten, is there any indication at all in that server that it acts as a replica? I assume `show slave status` shows empty result. What would be a way for `gh-ost` (or any client) to say "oh yeah, this is a tungsten-based replica" ?

[2016-09-01 15:01] dataindataout commented on #212
Yes, show slave status is blank:
mysql> show slave status\G
Empty set (0.00 sec)

From mysql, you can see the tungsten connections, but of course there's no guarantee someone has named their user "tungsten":

mysql> show processlist\G
*************************** 1. row ***************************
           Id: 48
         User: tungsten
         Host: tungstenslave:52707
           db: tungsten_c

[2016-09-01 15:24] shlomi-noach commented on #212
Thank you -- none of these would work from the MySQL connection's point of view. This is still OK; the command-line flag would need to be named something like `--yes-i-know-i-know-this-is-tungsten-trust-me`

[2016-09-01 15:34] dataindataout commented on #212
:)

[2016-09-01 17:51] jonahberquist commented on #205
Haha, that's more zombie than ghost, but yes, I think we found it.

[2016-09-01 20:05] pbitty commented on #163
The `gh-ost-on-stop-replication` worked like a charm.  I was able to stop replication the RDS way before continuing with cut-over, using the hook along with `--test-on-replica` and `--test-on-replica-skip-replica-stop`.

[2016-09-01 21:20] pmkane commented on #212
We have an active/passive replication setup, without tungsten (master-master, but only a single writer) and would also like to be able to specify or suggest which host is the master.  Currently, gh-ost picks the wrong host.

[2016-09-02 03:49] Roguelazer commented on #212
Being able to manually specify the master would also fix the master/master issues that I brought up in #144... :-)

[2016-09-02 03:49] twotwotwo commented on #212
I implemented an `-override-applier-host` option, only allowed when you also pass `-allow-master-master`, and @pmkane tried it out successfully. I'll drop the code into a PR referencing this issue, though of course I get it if for design or other reasons it isn't what you want.

[2016-09-02 06:53] shlomi-noach commented on #197
closed by https://github.com/github/gh-ost/pull/218

[2016-09-02 06:59] #197 closed

[2016-09-02 07:37] shlomi-noach commented on #212
@twotwotwo thank you for working on this!

Your solution will work for master-master setup, but does not quite solve the `tungsten` setup, because `gh-ost` will look at the replica and say "hey, this _isn't a replica_". We will need to override that as well.

I'll look into it some more.

[2016-09-02 07:45] twotwotwo commented on #212
Ah, got it, now I understand the thread better. Makes sense!

[2016-09-02 09:29] shlomi-noach commented on #212
@twotwotwo or -- not! Actually this produces the desired behavior. I'm going to merge the PR and change a couple things:

- going to rename flag to `--assume-master-host`
- will allow it to run even without `master-master`, so as to support `tungsten`. Though I still want to have _some_ constraint. Looking further into.

[2016-09-02 11:15] shlomi-noach commented on #212
@dataindataout as per https://github.com/github/gh-ost/pull/223, you will execute:

[code]

[2016-09-02 11:16] shlomi-noach commented on #212
This will likely be merged an released early next week.

[2016-09-02 11:18] shlomi-noach opened #224 "Feedback requested: gh-ost on Galera / XtraDB cluster?"
Dear community,
At this time we are not using Galera/XtraDB Cluster. We haven't tested `gh-ost` on Galera. We're curious to hear:

- If anyone has
- If there are specific blockers or problems
- If `gh-ost` on Galera makes sense, given you can use Rolling Schema Upgrades.

Thank you!

[2016-09-02 11:25] shlomi-noach commented on #132
[Hooks](https://github.com/github/gh-ost/pull/190) have been merged, and remove the last barrier for `SUPER`. I will write more about this on next release, which is expected early next week, at which time this bug will be closed.

[2016-09-02 11:26] shlomi-noach commented on #216
additional option:

- keep it as it is today

[2016-09-02 12:05] dataindataout commented on #212
Wow, thank you! I look forward to giving it a try.

[2016-09-02 13:25] dataindataout opened #225 "Results of testing on multisource"
I saw the note here about needing a test on a multisource setup: https://github.com/github/gh-ost/blob/master/doc/requirements-and-limitations.md

I've done a simple functional test, and have the following results.

In summary, no issues were found in running this from the master. It failed as predicted when running from the slave, because the code is looking for "show slave status" and that doesn

[2016-09-02 13:33] shlomi-noach commented on #225
Hey thank you so much for sharing this! It's priceless.

With multi-master there's of course also the question of "which of the masters".
https://github.com/github/gh-ost/pull/223 might solve this. But it's really "take full responsibility for your actions" because `gh-ost` cannot validate you're doing it right: that the master is indeed the right master, that the replica will indeed replicate tha

[2016-09-02 13:38] dataindataout commented on #225
Looks much better! :)

[2016-09-04 17:47] Roguelazer commented on #224
That's actually on my list to test next week. It seems like the easiest way to do it would be to hang an asynchronous replica off of the cluster (which is a supported operation) and run gh-ost there to minimize load on the synchronous cluster.

`gh-ost` definitely makes sense; RSU is a huge pain in the butt since you are de-syncing the node (and need to stay in gcache to prevent undoing the migrat

[2016-09-05 06:13] gywndi commented on #215
I've got it.
I thought everything would be same time. (Also I love it.)
Thanks. :-)

[2016-09-05 06:13] #215 closed

[2016-09-05 08:28] SuperQ commented on #224
We use Galera/XtraDB and would definitely like to use `gh-ost`.  We also have async slaves replicating from Galera "master cluster"s to provide additional read capacity and analytics access.  Therefore it does make sense to continue to use an online schema tool.

[2016-09-05 08:39] shlomi-noach commented on #212
closed by #223

[2016-09-05 08:39] #212 closed

[2016-09-05 08:56] shlomi-noach commented on #163
At this time, the way to run `gh-ost` on RDS is as follows:

### Real migration

- You need to make sure replication is `RBR`. `gh-ost` has no privilege to set `binlog_format=ROW` for you.
- Execute `gh-ost --assume-rbr ...`
  This will make `gh-ost` skip the `stop slave; start slave` step, which it does not have privileges for.
- 🍕

### Test on replica

In _addition to the above_:

- `gh-ost --as

[2016-09-05 09:05] shlomi-noach commented on #224
Thank both! Do you foresee a particular issue with the final `lock/rename` steps?

[2016-09-05 12:36] shlomi-noach commented on #212
Released in https://github.com/github/gh-ost/releases/tag/v1.0.17

[2016-09-05 13:31] SuperQ commented on #224
This applies to all writes that `gh-ost` does, not just the final step.

One thing that happens with Galera/XtraDB is the potential to deadlock "frequently".  In theory this can happen between threads on a normal mysql master, but it's very rare.

This is caused by the rollup of multiple transactions into a single locking operation between the multiple galera masters.  The default for this is 16 t

[2016-09-05 13:56] shlomi-noach commented on #224
@SuperQ `gh-ost` already has retries, which are also configurable via `-default-retries`

[2016-09-05 14:18] SuperQ commented on #224
:+1: :100: :8ball:

[2016-09-05 16:51] juradoz opened #226 "Improper handling of special chars. Maybe string encoding/escaping issue?"
I'm trying to perform a test-on-replica prior to actually migrating data, however I'm getting stuck on some encoding issue on varchar fields that might contain non-UTF chars:

This is the error I`m getting:
[code]

The source column contains the text "novo proprietário". However ghost unexpectedly hangs and stops migration.

Same happened when this string column contained a "forward tick" - or gra

[2016-09-05 17:19] shlomi-noach commented on #226
Can you please paste the `show create table` for your table? I'm in particular curious to know that the `charset` and `collation` for your column.

[2016-09-05 17:21] juradoz commented on #226
Added CREATE TABLE statement to issue as requested.

[2016-09-05 17:22] shlomi-noach commented on #226
@juradoz thank you. Always prefer appending as new comment to editing previous comments.

[2016-09-05 17:25] juradoz commented on #226
Sorry about that.

On top of the CREATE TABLE, i would like to add the SHOW FULL COLUMNS from that table, to the specific column. I hope it might help:

[code]

[2016-09-05 17:26] shlomi-noach commented on #226
@juradoz so, the column has `CHARSET=latin1` -- what kind of character is this again?

also, please paste output of:

[code]

[2016-09-05 17:29] juradoz commented on #226
I found trouble with accents (like "usuário") and forward ticks along with other strings (like "foo ´ bar")

select result as follows:

[code]

[2016-09-05 17:29] shlomi-noach commented on #226
ok it's `latin1_swedish_ci`.

Since I'm unfamiliar with Swedish, can you confirm that special character is indeed a Swedish character?

[2016-09-05 17:30] shlomi-noach commented on #226
Or, as I suspect, `latin1/latin1_swedish_ci` was used just because it was the default charset, in which case this special character is truly invalid, and then I don't know how it made it into your text in the first place.

[2016-09-05 17:31] juradoz commented on #226
Not sure if it's originally Swedish, but I'm sure such special chars are pretty common on pt_BR language.

Any suggestion? Should I try changing collation?

[2016-09-05 17:36] shlomi-noach commented on #226
`pt_BR` -- I'm not sure you're using the correct charset/collation for your data.

I will try to reproduce (tomorrow).

[2016-09-05 17:44] juradoz commented on #226
This is a - shallow though - explaination about correct pt_BR collations I've found:
latin1_general_ci: No distinction between upper and lower case. Means "Test" equals "test"
latin1_general_cs: Distinguish case. "Test" and "test" are different.
latin1_swedish_ci: No distinction between case or accents: "Saída" equals to "saida".

AFAIK, that's the correct behaviour for my lang/applications.

[2016-09-05 17:48] shlomi-noach commented on #226
Cool. I'll do some tests tomorrow and try to reproduce on my side.

[2016-09-05 17:52] juradoz commented on #226
Thanks in advance!

[2016-09-05 22:20] juradoz commented on #226
I was able to fully reproduce issue and verified the below:

After data migration starts, application crashes as soon as a new item is inserted with "bad" character by binlog. Bad chars don't trigger the issue if data was already on source table prior to migration.

Steps to reproduce:
* Started migration on a 1M records table
* Record #150 contains a varchar like "Saída"
* Migration goes fine and

[2016-09-06 04:53] shlomi-noach commented on #226
@juradoz I will try this later today. What is your exact table definition with which you reproduced? Same as in the above?

[2016-09-06 07:25] shlomi-noach commented on #226
Checking via [local tests](https://github.com/github/gh-ost/blob/master/doc/local-tests.md)

[2016-09-06 07:37] shlomi-noach commented on #226
I'm able to reproduce via https://github.com/github/gh-ost/pull/227

looking into.

[2016-09-06 08:08] shlomi-noach commented on #226
The problem originates here at the `go-mysql` library: https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/row_event.go#L476

The RBR event does not contain the metadata specifying the charset of the column, and the library assumes it should read it as `utf`.

[2016-09-06 09:10] juradoz commented on #226
Yes. I was able to reproduce on the same table definition I described.

Sorry for not responding earlier.

On Tuesday, 6 September 2016, Shlomi Noach <notifications@github.com> wrote:

--
*Daniel Jurado*
CTI Solutions
Cel.:+55 11 99390-7180
jurado@gmail.com

[2016-09-07 10:08] shlomi-noach commented on #226
The problem goes away when the MySQL connection is configured to use `charset=latin1`.

As a quick workaround I can add a `gh-ost --charset=your_charset` variable, but then I'm still unhappy with this because that would not work with `utf8` columns.

More specifically, what happens when a table has both a `latin1` column and a `utf8` column? `gh-ost` needs to be able to handle both at the same tim

[2016-09-07 10:35] juradoz commented on #226
Isn't it possible to figure out column collation in the discovery phase,
before migration takes place?

I mean, you have to figure out some column details in order to migrate
already, don't you?

On Wednesday, 7 September 2016, Shlomi Noach <notifications@github.com>
wrote:

--
*Daniel Jurado*
CTI Solutions
Cel.:+55 11 99390-7180
jurado@gmail.com

[2016-09-07 11:49] shlomi-noach commented on #226
Yes, discovery is simple, and is not different from how I test for `unsigned`: https://github.com/github/gh-ost/issues/157

The problem is now confirmed to _not_ be in the `go-mysql` library but rather in the code that writes the string back into the table.

I'm now generalizing the way we read column attributes so that this encompasses the `unsigned` way of handling.

After this, there would need

[2016-09-07 12:25] shlomi-noach commented on #226
Sending https://github.com/github/gh-ost/pull/227/commits/791d963ea06dc15a00fd1f7a4d3541061a494cc0 to testing. Local tests pass.

[2016-09-08 07:09] shlomi-noach commented on #226
@juradoz can you please test this release: https://github.com/github/gh-ost/releases/tag/v1.0.18-experimental ?
This in particular addresses `latin1`. It passes all my tests.

[2016-09-08 14:42] juradoz commented on #226
Hi,

my team tested new release sucessfully. Issue wasn't triggered.

However, looks like migration is taking much longer to complete (5-6 times longer !). I'm still verifying if this is related to some unusual DB traffic. I'll get back to you as soon as I confirm this.

[2016-09-08 15:44] juradoz commented on #226
Please disregard my comment about migration duration. I was able to figure out. Team was using different parameters of chunk sizes and thread counts.

Everything seems to be working and I'm running a 3h test-on-replica migration - the same that raised the issue. I forcibly added a triggering binlog event, and executed it correctly. I let you know if something else raises up, but I'm pretty confide

[2016-09-09 07:01] shlomi-noach commented on #226
@juradoz thank you for the feedback; I'm going to merge this shortly. You can keep working with the release you have. Haven't made significant changes afterwards, mostly refactoring.

[2016-09-09 12:59] shlomi-noach commented on #226
closed by https://github.com/github/gh-ost/pull/227

[2016-09-09 12:59] #226 closed

[2016-09-09 13:20] shlomi-noach opened #228 "Request for assistance: mapping charsets"
Matter at hand: `gh-ost`'s support for multiple charsets.

`gh-ost` works well out-of-the-box with `utf8` and `utf8mb4`.

However for other character sets it needs to be told, explicitly, how to convert strings. For example, the `latin1` character set is supported, and is converted via golang's `charmap.Windows1252`, see: https://github.com/github/gh-ost/blob/master/go/sql/encoding.go#L20

If anyo

[2016-09-12 16:15] pbitty opened #229 "Missing package golang.org/x/text/encoding"
Hello,

I've been trying to build master (to work around a latin1 charset issue issue similar to #226), and I'm getting a "cannot find package" error:

[code]

I can get around it by fetching the package manually with `go get` for now.  I'm wondering, should this be vendored in?

[2016-09-12 19:33] shlomi-noach commented on #229
Thanks -- this should be vendored in

[2016-09-12 19:39] shlomi-noach opened #230 "Support `binlog_row_image=MINIMAL`"
Right now `gh-ost` only supports `binlog_row_image=FULL`

[2016-09-12 20:23] shlomi-noach commented on #229
I _really_ dislike the golang package management. Or the lack of it. Or how it puts everything in this big pile of files.

[2016-09-12 20:30] pbitty commented on #229
It took me some time to come to terms with it.

At Wattpad we've been using Godep to track our dependencies.  They're still vendored in, with Godep tracking each package's git revision.

[2016-09-12 20:33] shlomi-noach commented on #229
Fixed in https://github.com/github/gh-ost/pull/234

[2016-09-13 05:10] ggunson commented on #230
Given the issues we saw with https://github.com/github/gh-ost/issues/3, is that possible? We were seeing some weird behaviour with tables that had primary keys as well as unique keys.

[2016-09-13 11:50] shlomi-noach commented on #230
I believe `gh-ost` should be fine updating a `PK` value reading it from the binary logs. [local tests](https://github.com/github/gh-ost/blob/master/doc/local-tests.md) now give us a good platform to confirm that.

[2016-09-13 15:11] shlomi-noach commented on #230
Unsure yet how to differentiate minimal-NULLs and real-NULLs. Looking at:
[code]

`go-mysql` output:
[code]
what in the above suggests that `c2null` was kept unchanged as opposed to being set as `null`?

Followed by

[code]

I see:

[code]

so how do I now know that `c1null` was unchanged from `44` as opposed to set-to-null?

[2016-09-13 15:28] #229 closed

[2016-09-13 16:26] shlomi-noach commented on #132
all done

[2016-09-13 16:26] #132 closed

[2016-09-13 19:22] pbitty opened #235 "Altering column charset fails on binlog apply"
I am trying to alter the charset of a column.  This is something we're doing with many of our tables - in most cases we're going `utf8` --> `utf8mb4`, which is working with no problems.

When going `latin1` --> `utf8mb4`, gh-ost fails when applying binlog statements.

I've been able to reproduce it with this [test case](https://github.com/github/gh-ost/commit/8c7e9da2c5bc5d2e8e780ee4b7c049d129996b

[2016-09-13 19:31] shlomi-noach commented on #235
Are you able to paste the `show create table` for both original and `_gho` table?

[2016-09-13 19:46] shlomi-noach commented on #235
I'll take your local tests and try to reproduce. Will likely only work on this next week.

[2016-09-13 19:46] pbitty commented on #235
Original:
[code]

_gho:

[code]

[2016-09-13 19:49] pbitty commented on #235
Thanks @shlomi-noach.

I've updated the [local tests](https://github.com/github/gh-ost/commit/8c7e9da2c5bc5d2e8e780ee4b7c049d129996b9f) above.  Added `default charset utf8` to the table, as that's more reflective of our use-case.  I don't think it makes a difference because we're being explicit about the column's charset.

I'll keep investigating as well and post here if I find anything.

[2016-09-13 20:32] shlomi-noach commented on #235
Actually your local test succeeds on my local machine

[2016-09-13 20:34] shlomi-noach commented on #235
No, my mistake, wasn't running it properly. It fails as you describe.

[2016-09-13 21:33] pbitty commented on #235
So far I've traced the issue to the [loop](https://github.com/github/gh-ost/blob/eac6a726de4440faa155f8074f265107c2fb429f/go/sql/builder.go#L347-L351) that builds the insert DML query:

[code]

The column in `mappedSharedColumns` has the `Charset` of the target column, not the source.  So in the case where we're converting from `latin1` to `utfmb4` for example, `column.Charset == "utf8mb4"` and so

[2016-09-13 21:40] shlomi-noach commented on #235
Oh, tracing down will lead you to: https://github.com/github/gh-ost/blob/master/go/sql/types.go#L21
that's where the conversions go. And apparently to convert _to_ `utf8` you need an Encoder instead of Decoder (or vice versa -- my code translates just the opposite from the [documentation](https://godoc.org/golang.org/x/text/encoding))

[2016-09-13 21:54] pbitty commented on #235
I think the issue is on the decoding side, more specifically, the lack of a decode operation.

As a quick hack, I referenced the source column in that loop and the tests pass:

[code]

I added some `fmt.Printf` debug statements and I saw that previously (before the above hack), it was considering the source column's `Charset` as `utf8mb4`, even though the charset is actually `latin1`.  So it was r

[2016-09-13 22:08] pbitty commented on #235
I added these debug statements in `builder.go:347`:

[code]

Using `--alter='engine=INNODB'`:

[code]

Using `--alter='MODIFY `t` varchar(128) CHARACTER SET utf8mb4 NOT NULL'`:

[code]

Using `--alter='MODIFY `t` varchar(128) CHARACTER SET utf16 NOT NULL'`:

[code]

The `column.Charset` is following the charset of the `_gho` table, which is changed by the alter statement, set [here](https://github

[2016-09-16 13:11] araines opened #237 "RDS: must have binary logs enabled"
When trying to use on a master-only RDS environment, I'm coming up against a problem which I can't figure out.

Here is my command:

[code]

From hunting around my RDS set up, I believe I've got binary logs enabled and in ROW mode, thanks to the following parameters:
[code]

Am I missing something else here?  I've seen some other threads on here which suggest that this should work on RDS (or at le

[2016-09-16 14:25] tomkrouper commented on #237
Run the query shown here: https://github.com/github/gh-ost/blob/c3e65d45e25a7334487551d0f34e48ee5e2b932a/go/logic/inspect.go#L272 and post what the results are. I'm not familiar with RDS, but maybe this will shed some light on the issue you are running into.

[2016-09-18 19:40] allixsenos commented on #153
in the meantime, it might be nice to have a `--yes-it-has-triggers-ignore-them` option... I'm looking at a 300 GB table which has triggers that I am happy to deal with manually... #152 made gh-ost check and bail on presence of triggers. a method of explicitly overriding that behavior would help greatly

[2016-09-19 09:17] araines commented on #237
Thanks @tomkrouper - it looks like I'm still missing a setting somewhere because the results show its still not on:

[code]

I think we can probably close this off - its clearly my error, not to do with the tool!  Cheers for the help.

[2016-09-19 09:17] #237 closed

[2016-09-19 11:19] shlomi-noach commented on #210
@Roguelazer friendly ping

[2016-09-19 11:21] shlomi-noach commented on #153
@allixsenos can you please open a new issue for this so we can track it?

[2016-09-19 13:13] dataindataout commented on #212
Thanks! I have been OOTO and will test this this week.

[2016-09-19 14:55] dataindataout commented on #212
Hi, I've tested this. I tried this on .20 but then reverted to .17 to avoid any conflicts after an initial error. I also tried eliminating a few of the flags to see if something was conflicting.

Here is my last test and result:

(.145 is the master, .144 is the slave; using Tungsten replicator.)

`[root@tungstenslave ~]# ./gh-ost \

2016-09-01 13:10:04 INFO starting gh-ost 1.0.17
2016-09-01 13:10

[2016-09-19 15:44] Roguelazer commented on #210
I was not issuing status commands on the socket; it double-prints during startup.

[2016-09-19 17:32] shlomi-noach commented on #212
@dataindataout as per the error message: `To proceed please provide --allow-on-master`

[2016-09-19 17:37] shlomi-noach commented on #212
`gh-ost` is very demanding in command line flags. I'll review this approach in the future, but right now the theme is to put protection walls around everything.

[2016-09-19 20:05] dataindataout commented on #212
Ah, in my testing, I had come to consider --allow-on-master to mean "I acknowledge I am the master, run this change on me." So for Tungsten replication, to run from the replica, I need these three flags:
[code]

That works functionally & will proceed with load testing.

Thank you again!

[2016-09-20 09:41] pbitty opened #239 "Fail when trying to change column order"
Currently changing column order is not supported by gh-ost.

I'm wondering if it should detect this scenario and fail with an error message, or at least have a note in the limitations doc.

[2016-09-20 09:50] shlomi-noach commented on #239
What is the output?

[2016-09-20 09:57] pbitty commented on #239
gh-ost output is normal, it runs to completion with no errors, but the column values get swapped.

I modified `localtests/rename` to have this alter statement:
[code]

Here's the [full output of the test](https://gist.github.com/pbitty/c084a6776a06ebf39b5a95a8c9c07f2d#file-output).

[2016-09-20 10:01] shlomi-noach commented on #239
The above test both renames _and_ reorders -- is that what the original Issue comment is about?

`gh-ost` will not support rename-and-reorder, and I'll add this to `limitations` docs. However I do believe you opened the issue for reorder only.

[2016-09-20 10:17] pbitty commented on #239
Oops, you are right, I opened it only for the reorder functionality but reused the rename test to quickly test it out.  I'll try to avoid that source of confusion in the future.

Agreed on the above, the main point of the issue was to discuss either documenting it or detecting it and exiting.

[2016-09-20 10:22] pbitty commented on #239
To make things more clear, I re-tested with only reordering, no rename:
[code]

As expected, gh-ost runs to completion but the column values get swapped between `c1` and `c2`.

[2016-09-20 11:21] shlomi-noach commented on #239
s/As expected/Not as expected/ ?

[2016-09-20 13:46] pbitty commented on #239
I meant that this is the behavior I currently expect from gh-ost since it doesn't support reordering.   It will complete the migration and exit with a 0 exit code.

The desired behavior perhaps would be for it to exit saying it does not support column reordering.

But a note in the docs is probably enough.

[2016-09-20 14:02] shlomi-noach commented on #239
I do believe normal column reorder works well. Please take a look at: https://github.com/github/gh-ost/pull/240

The reason your test failed is, I suspect, that the test issued an implicit `select *` on orig & ghost tables, where `*` extrapolates columns in different order in your case.

I've refined the test to support explicit named columns, and this shows migration success. Can you please revie

[2016-09-20 14:28] pbitty commented on #239
My bad... :facepalm:

It looks like even rename-and-reorder will work.  I had the wrong mental model of what was happening in `BuildDMLInsertQuery`.  Will review #240.

[2016-09-20 16:13] pbitty commented on #163
This is the hook we use.

At `/hooks/gh-ost-on-stop-replication-rds-command.sh`:

[code]

where `--hooks-path=/hooks`.

The `DB_...` env vars are set when running the gh-ost process, and then passed by gh-ost onto the hook process.

[2016-09-20 16:19] pbitty commented on #163
This is the minimum privilege required for that:

[code]

[2016-09-21 07:53] shlomi-noach commented on #216
meanwhile we're implicitly actively working on "keep it as it is today", i.e. not really doing anything about it.
We only had once incident where this happened, on `repositories`, and though `gh-ost` bailed out, it did so gracefully and everything was _fine_.
I'm going to close this issue. If we see this happen more, and if it becomes a pain, then we can reconsider.

[2016-09-21 07:53] #216 closed

[2016-09-21 08:02] shlomi-noach commented on #163
@pbitty thank you for this info!

To clarify, in: `GRANT EXECUTE ON PROCEDURE mysql.rds_stop_replication to '<your_ghost_user>'@...` you don't actually need the user to be the `gh-ost` user you use for running the migration. This was your personal choice.

[2016-09-21 08:04] shlomi-noach commented on #62
Closed by #222

[2016-09-21 08:04] #62 closed

[2016-09-22 21:55] pbitty commented on #239
I am closing this issue, as it was resolved by #240.  Thanks @shlomi-noach .

[2016-09-22 21:55] #239 closed

[2016-09-22 22:01] pbitty commented on #235
Discussing potential fix in #236 .

[2016-09-22 22:01] pbitty commented on #163
Good point.  I've updated the comment above.

[2016-09-23 00:56] palexvs commented on #207
I have the same situation on AWS RDS MySQL 5.7.11:
[code]

DB server is not overloaded and I connect to it without any difficulties

[2016-09-23 07:16] shlomi-noach commented on #235
Apologies for the delay. Was recovering from Jetlag and did not want to address this while semi-awake. This is high on my priority list.

[2016-09-23 07:16] shlomi-noach commented on #163
Cool. Eventually we'll make a doc page out of this.

[2016-09-23 07:19] shlomi-noach commented on #207
_fine_ 😛 I'll remove this message from the go-mysql driver...

[2016-09-23 15:02] pbitty opened #242 "Adding runtime parameters to status hook"
Currently, the `gh-ost-on-status` hook prints the progress status line that looks like this:

[code]

When we issue the `status` command via the control socket, we get much more information:
[code]

It would be useful to us to have the runtime params like `chunk-size`, `nice-ratio`, etc, available in the status hook, so we can track what the settings were at each point in the process.  We're using

[2016-09-23 15:04] pbitty opened #243 "Make status information available as JSON"
It would be great if we could get the status info available as JSON, perhaps with a `status-json` command.  This would make things easier to parse by other tools and more future-proof as we don't have to think about how to format the data as new status fields get added.

This could also be made available to the `gh-ost-on-status` hook via a `GH_OST_STATUS_JSON` env var.

Related to #242 .

[2016-09-23 15:04] pbitty commented on #243
I'd be happy to submit a PR for this.

[2016-09-26 07:06] shlomi-noach commented on #243
Makes sense. Go for it!

[2016-09-26 08:23] dgryski commented on #243
Could this information also be exported via `expvar` ?

[2016-09-26 09:06] shlomi-noach commented on #243
@dgryski right now `gh-ost` does not provide `http`, but it could. Let's open a new Issue for that, if you please, as I suspect these are different ways to tackle the problem.

[2016-09-26 13:39] dgryski opened #244 "Make gh-host export information via expvars"
As suggested in https://github.com/github/gh-ost/issues/243#issuecomment-249517577

[2016-09-26 14:02] drmmr763 commented on #163
hey all

Just arriving here after researching tools like percona's online schema change and even @shlomi-noach's old open oak project. This project has become highly relevant to me on the back of a terrible alter-table experience last week :)

I'm curious what is the status of Amazon RDS support at this point? it looks like the biggest issue that even Percona's toolkit had with regard to the super

[2016-09-26 14:08] shlomi-noach commented on #244
Thank you for this suggestion. In order to provide with `expvars`, `gh-ost` must first support `http`. No blocker for that; it already listens on unix-socket-file and TCP. It may as well server `http`.

[2016-09-26 14:10] pbitty commented on #163
@drmmr763 ,  I have been using `gh-ost` in RDS with no real issues.  Any issues I've had have not been related to RDS and are being addressed as we go.

[2016-09-26 14:12] pbitty commented on #163
I should note, for `--test-on-replica` mode, you must make `read_only=0` on the replica's Parameter Group.  By default `read_only` is enabled.

[2016-09-26 14:33] pbitty opened #245 "Warming up InnoDB buffer pool"
This is not specific to gh-ost but I'm wondering if anyone is using techniques for warming up the InnoDB buffer pool prior to cutover.  In my initial tests I can see that the some `_gho` table data does get loaded into the buffer pool during migration, but this is only based on the write queries from the row copy and the binlog events.

I'm working on a utility to stream `SELECT` live queries on t

[2016-09-26 14:38] shlomi-noach commented on #245
Fantastic question. We should tackle it ourselves. I don't recall we've seen a write latency increase immediately after cut-over, even for our largest tables, but the problem may yet be just lurking around the corner.

cc @jonahberquist who may have more insight on our side.

[2016-09-26 15:55] tomkrouper opened #246 "Allow --critical-load to set throttle flag"
I was thinking about `gh-ost` and how it handles `--critical-load`. The issue is, that as soon as critical load is hit, the process drops out without chance of recovery. Any data copied is unusable. Issue #205 is being worked on to address this, but I'm curious if there is an easier way.

Because `gh-ost` has such a light amount of activity happening when the process is set to `throttle`d, I'm pro

[2016-09-26 16:17] SuperQ commented on #245
I've definitely seen latency and IO spikes after doing table flips.  Especially on very large 100+GB tables where the working set can be on the order of 30+G of ram (say, 20% of the buffer pool).

Mirroring some queries to the new tables is a good idea just before cut-over, depending on the table use case.

[2016-09-26 18:18] shandrew commented on #163
Has anyone tested gh-ost on RDS-Aurora?

[2016-09-26 18:28] shlomi-noach commented on #246
This makes a lot of sense to me, and we can make that configurable via some `--throttle-and-wait-for-human-ack-on-critical-load`

[2016-09-26 18:45] shlomi-noach commented on #245
I guess take-over hooks are the easy answer as far as `gh-ost` is concerned...

[2016-09-26 21:53] jonahberquist commented on #246
I worry a bit that if we only throttle on critical load, we might miss some weird corner case where gh-ost itself even in throttling is causing load. It seems unlikely, but I want to be able to just let gh-ost run and forget about it, knowing that it will die if it needs to.

What if we went with an optional second chance on `--critical-load`?

The behavior could be:
 * first hit of critical-load

[2016-09-27 00:18] jonahberquist commented on #245
I did some looking at our table stats graphs for a few recent migrations on large tables and things were mostly uneventful. Mostly read and write latencies didn't increase at the time of cutover.

I say _mostly_ because while latency metrics for inserts/deletes/updates didn't increase, I did see a big increase in the `io_write_latency` metric, but that corresponded to an increase in `io_write` whi

[2016-09-27 10:58] shlomi-noach commented on #235
I've just added `alter-charset-all-dml` where `update` statements do indeed fail.

[2016-09-27 12:21] drmmr763 commented on #163
Thanks for the reply @pbitty! Actually I have a followup based on what @shandrew said -- is Amazon RDS not the same as RDS-Aurora? Or are they the same infrastructure / architecture?

[2016-09-27 17:36] mignaulo opened #247 "Incorrect values when converting DATETIME to TIMESTAMP on non-UTC server"
We are seeing incorrect date values when converting a DATETIME column to TIMESTAMP on a server which is not in UTC. The dates are off by the number of hours between PDT (the server timezone) and UTC.

To explain why we are doing this, we are attempting to repair the bad decisions we made when we didn't have our MySQL servers in UTC. We are converting our DATETIME columns to TIMESTAMP which will al

[2016-09-27 17:43] pbitty commented on #245
Thanks so much for the insight.  Some of our DBs have no read replicas and have a single table - I suspect they will be hit harder by the switch-over.  Testing will tell.

The technique above is pretty much what we're going for - stream SELECTs from prod traffic, replace table name and play them back.  We're doing the streaming application-side as it is currently easier to hook into and deploy tha

[2016-09-27 17:43] #245 closed

[2016-09-28 07:46] shlomi-noach commented on #247
https://github.com/github/gh-ost/pull/248 adds a test for the above use case. Right now, that test fails.

[2016-09-28 07:48] shlomi-noach commented on #247
Unrelated to the bug, this is an interesting note. I'm in fact more inclined to get rid of `timestamp` as much as possible. One option is to use `datetime`, another is to store time as `int` in `unix_timestamp` format (ie seconds since leap time).

Reason is the insane conversions when connecting with utc/non-utc settings; the outputting of time as string, which is then difficult to manipulate.

F

[2016-09-28 08:10] shlomi-noach commented on #247
As per the bug: the bug exists, because same time values are copied in two different ways (by row-copy and by binlog event apply) into two different values.

However, I'm actually unsure which is the correct one. Reason says that the rowcopy are the correct ones, because that's the direct result of a `insert into ... select` query directly on the server.
However that may actually be incorrect, and

[2016-09-28 08:29] shlomi-noach commented on #247
#248 's https://github.com/github/gh-ost/pull/248/commits/33ebc2d177cb93c49c7bd855bef1fb92c22c022e seems to fix the issue. Nonetheless I'd like to have that discussion.

[2016-09-28 14:31] shlomi-noach commented on #246
@jonahberquist I'm goind to proceed with your suggestion. An optional variable would be `--critical-load-interval-millis`, an `int`, defaults `0`. Values of this flag would imply:

- `0` (default): immediate bailout on meeting `critical-load`
- positive integer (milli seconds): don't bail out; make 2nd check after given number of millis. If `critical-load` is still met, bail out. If not, forget it

[2016-09-28 15:29] ggunson commented on #247
I would think the correct temporal value is whatever a straight `ALTER TABLE` would do, and from my testing it assumes the session timezone (so, the master timezone unless specified otherwise) of the session that runs the alter for how to interpret the datetime:

[code]

(This is from the replica's binlog; in this case I used a non-UTC on the master and UTC on the replica).

[2016-09-28 18:41] jonahberquist commented on #246
That sounds good to me. 👍

[2016-09-29 01:22] mignaulo commented on #247
Interesting thoughts regarding `timestamp` columns and just using `int` - I appreciate it.

Regarding #248, I tested it and did not have any luck (same incorrect behavior). I did find that the modified code does not seem to run in my case. The field type is always MYSQL_TYPE_DATETIME, not MYSQL_TYPE_DATETIME2. I'm not quite sure what is the difference (Antelope vs Barracuda? fractional time?), thi

[2016-09-29 07:00] shlomi-noach commented on #247
@mignaulo strange. I'm also testing on `5.6`. Can you please paste your `CREATE TABLE`? Also, the existing behavior for `MYSQL_TYPE_DATETIME` is to modify tz to `UTC()`, which is the correct handling.

[2016-09-29 08:19] #235 closed

[2016-09-29 08:21] shlomi-noach commented on #247
@mignaulo I'm also curious about the `ENGINE` and `ROW_FORMAT` for your table.

[2016-09-29 08:26] shlomi-noach commented on #247
According to [documentation](https://dev.mysql.com/doc/refman/5.6/en/c-api-data-structures.html):

which makes my puzzled.

[2016-09-29 08:52] shlomi-noach commented on #247
The test results are inconsistent; I'm able to make it fail when using `ROW_FORMAT=DYNAMIC` -- but not always. I'm very puzzled at this because the test is mostly deterministic (other than using `now()`).

[2016-09-29 10:47] shlomi-noach commented on #247
I'm yet unable to generate a table that has a `MYSQL_TYPE_DATETIME`

[2016-09-29 15:57] tomkrouper commented on #246
This sounds like a decent compromise on what I was looking for.

[2016-09-29 16:21] pbitty commented on #243
Sorry for the delay, I should be able to get to this early next week.

[2016-09-29 16:23] Roguelazer opened #250 "Defer Index Creation [feature request]?"
I'm trying to speed up a gh-ost alter of a gigantic table, and I was wondering if you'd considered deferring index creation until after the main backfill? I imagine it'd go a lot faster if the initial table had no indexes, we did the bulk copy of all of the existing rows, then we paused and did a full `ALTER TABLE` to create the secondary indexes, then gh-ost replayed the binlog to finish the migr

[2016-09-29 16:24] pbitty commented on #163
@drmmr763 Amazon Relational Database Service (RDS) is the umbrella name for their relational DB offerings.  It's basically a managed DB service.  They offer Mysql, Postgres, MS-SQL server instances and maybe others.  RDS Aurora is a new offering that is Mysql wire-compatible but has a different architecture on the backend (it's not actually a mysql server).  We haven't used it yet, but they claim

[2016-09-29 18:22] mignaulo commented on #247
@shlomi-noach, the `DATETIME` vs `DATETIME2` thing is almost unexplainable. When I create a new table based on an existing table ie `CREATE TABLE x LIKE y`, the table has a `MYSQL_TYPE_DATETIME`. When I create the very same table using a full `CREATE TABLE` statement that defines the rows, it has a `MYSQL_TYPE_DATETIME2` type.  These tables were created a long time ago on previous versions of MySQ

[2016-09-29 20:05] shlomi-noach commented on #247
@MarkLeith could we possibly pick your brain re: `MYSQL_TYPE_DATETIME` and `MYSQL_TYPE_DATETIME2`? See above discussion

[2016-09-29 20:06] shlomi-noach commented on #247
@mignaulo thank you for reducing to common grounds -- I'm continuing to pursue this.

[2016-09-30 02:32] Roguelazer commented on #250
FWIW, I'm currently testing the manual approach and gh-ost has made more progress on this large table in four hours than it did in two weeks trying to preserve all of the indexes.

[2016-09-30 07:09] Roguelazer commented on #250
I'm adding the index now to test. I'll let you know how long it takes when it finishes. :-)

Like I said, the easiest way to avoid replication lag is to apply it in parallel  simultaneously at all levels of the replication stream  with binlogging disabled.

[2016-09-30 07:14] shlomi-noach commented on #250
Oh, right -- that's way beyond `gh-ost`'s scope, it will not evaluate your entire topology (you can use `orchestrator` for that).

I have quite a few thoughts about this approach, with some experience. TL;DR is that I try to keep away from it; what happens if I restore a host from yesterday's backup? Now it won't have those keys and I don't have the tracking to tell me that. What if I'm just provi

[2016-09-30 07:23] Roguelazer commented on #250
In this case, the indexes are unfortunately complicated, wide, and not even slightly in PK order, so inserting into the indexes is super-expensive on the master. No replication delay issues. I tried futzing with various innodb I/O settings (including the two you mentioned and some more esoteric ones from the depths of mysql performance blog like `innodb_lru_scan_depth`), but nothing had anywhere n

[2016-09-30 07:29] shlomi-noach commented on #243
@pbitty I'm in no particular rush. Take your time, it's your feature.

[2016-09-30 09:42] shlomi-noach commented on #250
Thank you for the info. Curious how long adding the indexes takes. Holding on...

[2016-09-30 10:58] morgo commented on #250
For timing context: is this 5.6 or 5.7? I would expect 5.7 to be much faster because index pages are built from the bottom up without redo

[2016-09-30 14:34] morgo commented on #250
Just a comment w.r.t. cannot be throttled:

Yes this is true.  But it is different from regular online DDL, because the incoming modification stream (i.e. the gh-ost portion) *can* be throttled.  So the question is if the background thread which sweeps through the table is too heavy.

The replication issue of course, still stands.

[2016-09-30 23:38] evanelias opened #254 "FR/RFC: optional flag for GTID cleanup after test/migrate on replica"
As Shlomi mentioned in his recent blog post, GTID is problematic with `--test-on-replica` or `--migrate-on-replica` because the replica will no longer be promotable due to having extra gtid_executed transactions. As alluded to in the post, there are workarounds for this. On the GTID side of things, I can think of a couple different ways:

(a) Insert empty transactions with correct gtid_next on the

[2016-10-02 14:21] aleemb commented on #237
@araines were you able to work around this for RDS? My master shows 1 while the slave shows 0 for `log_bin`.

[2016-10-03 06:39] aleemb commented on #237
@tomkrouper does the slave need binlogs enabled? in my case the master has binlogs enabled but not the slave. Using:

[code]

And seeing the same error `slave.foo.bar must have binary logs enabled`.

[2016-10-03 07:32] shlomi-noach commented on #254
@evanelias thank you so much for offering to work on this! I'm happy to hand this over to you or collaborate with you as you see fit.

As for the options, it must be option (b). Reason is that `--test-on-replica`'s premise is "test in production without affecting production". Hence, I wouldn't want anything done on the master; it must be kept untouched.

Purging binary logs on the replica is fine,

[2016-10-03 07:48] shlomi-noach commented on #237
@aleemb if your master uses RBR, you can run the migration directly on the master; see [option b](https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md).

Our preferred way of running it to connect to replica, see option a in same page. If your master runs with SBR (statetemt based replication) that is your only option.

[2016-10-03 09:29] emerichunter opened #255 "ERROR Error 1193: Unknown system variable 'lock_wait_timeout'"
As of Mysql 5.5 lock_wait_timeout was introduced. Even though 5.1 is not supported it would be nice to be able to use gh-ost on 5.1.

Otherwise it seems to work fine it's just a shame that at the last second I realize it cannot finish the job. :(

[code]

Misc Informations :
MySQL 5.1.72
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 8.4 (jessie)
Release:

[2016-10-03 11:04] shlomi-noach commented on #255
Pro tip: use three backticks for multi-line code blocks, see your edited comment.

[2016-10-03 11:05] shlomi-noach commented on #255
I'm ambivalent about this. The `lock_wait_timeout` is an important safety latch. Should we give it up for `5.1`?

[2016-10-03 14:22] jbodah opened #256 "panic on master-master setup when on-failure hook exists"
Had a master-master setup and a simple `echo hello` hook (and a `on-startup` hook which worked fine). `gh-ost` errored out on the master-master setup and then hit a panic when trying to run the failure hook. Removing the hook allowed `gh-ost` to gracefully fail and tell me that the master-master setup was the problem.

Version 1.0.20, Ubuntu 14.04, installed from release tarball

[code]

Running g

[2016-10-03 14:29] shlomi-noach commented on #256
Thank you -- I'll look into it.
To clarify, this is not a Kernel Panic. It's a `gh-ost` app panic on nil pointer reference.

[2016-10-03 14:32] jbodah commented on #256
Woops, of course 😝

[2016-10-03 15:22] groenewold-pythian commented on #212
Hi, first of all thank you for this feature. Would it be possible to run using --tungsten and without --allow-on-master so that the slaves binlogs are scanned instead? That would require Tungsten to be installed with --log-slave-updates to write events to the slaves binlogs (note this is similar to mysql option --log-slave-updates)

[2016-10-03 20:54] shlomi-noach commented on #212
Hi @groenewold-pythian, thank you for the questions and feedback. Since you're commenting on an Issue that was closed, it's going to be difficult to keep track on progress. Could you possibly open a new issue -- actually there's two issues in your comment, and potentially refer back to this issue for reference?

[2016-10-04 02:58] evanelias commented on #254
Cool, that makes sense re: going with option (b) since it only impacts the replica. I'll probably have some questions (especially around testing) when I start to dig in, hopefully sometime in November. Looking forward to contributing!

[2016-10-04 11:41] groenewold-pythian commented on #212
Will do. Thanks!

[2016-10-04 12:25] groenewold-pythian opened #257 "Add support to stream events from a slave when using non-native mysql replication"
Currently, to run on a non-native replicated environment (e.g. Tungsten) we need to use the following three options together for it to work:
[code]
That causes gh-ost to stream the events from the master's binog directly.
Would it be possible to run gh-ost using `--tungsten` and without `--allow-on-master` so that the slaves binlogs are scanned instead?
That would require Tungsten to be installed

[2016-10-04 12:31] groenewold-pythian opened #258 "gh-ost hang with statement based binlogs"
Running gh-ost with these 3 options:
[code]
on a setup where the master is using statement based binlogs, results on gh-ost hanging in this phase:
[code]

[2016-10-04 13:32] emerichunter commented on #255
I am not saying you should give it up entirely. Maybe just warn in the user guide about this issue in MySQL 5.1.

[2016-10-04 14:31] shlomi-noach commented on #255
@emerichunter yeah, I didn't mean to give it up entirely on all versions. My question was: should `gh-ost` support 5.1 at the price of giving up cut-over safety? I'm ambivalent on this.

[2016-10-04 17:39] mignaulo opened #259 "Binlog streamer does not reconnect at expected position on error"
When running an alter (at that point I was postponing cut-over, so it was only applying the binlog), the binlog streamer's connection to the replica server died. When it reconnected, it resumed at an unexpected position:

Log:
[code]

I would have expected the streamer to resume at  `bin.000243:1033923198` but it actually resumed at `bin.000243:4`.

I'll note that this did not cause any problems,

[2016-10-04 18:50] shlomi-noach commented on #259
@mignaulo, the binlog stream does not actually rework statements.

That is, it is true there is idempotency, but the streamer does not even attempt that. It just skips handled statements and proceeds to only execute unhandled statements.

Why is the behavior this way and not just resume from last known coordinates? Because a binlog entry is not isolated. A RBR DML entry is preceeded by an entry wh

[2016-10-04 18:50] #259 closed

[2016-10-04 18:54] shlomi-noach commented on #257
does it not? What happens if you run:

[code]
?

(if, as I suspect, there is an error like "cannot find master...", then it is very easily solved)

I will of course check myself as well; writing this while not in front of an environment.

[2016-10-04 18:56] shlomi-noach commented on #257
I kinda set this name on purpose, and there can be other variations where same conditions would apply. I'd rather keep the name right now, and potentially change it later, some good time after getting this to work well, so that I know there isn't, in fact, a very particular change I must only run for `tungsten` setups.

[2016-10-04 18:58] Roguelazer commented on #250
FWIW, I ended up having to kill it because fast index creation takes up too much space for the on-disk temp table it sorts into. Will be re-attempting with more disk hopefully tomorrow. Based on how far it got before I decided to kill it, I'd say that adding the indexes would take about 10 hours, which still compares _very_ favorably to the multi-week single-pass gh-ost run.

[2016-10-04 19:10] mignaulo commented on #259
Makes perfect sense - thank you!

[2016-10-04 19:12] shlomi-noach commented on #256
The error originates from https://github.com/github/gh-ost/blob/master/go/logic/hooks.go#L62-L63, where we assume `ImpliedKey` exists and has a `Hostname`.

This is not the case in the early stages of the app. In particular, in this issue's particular case, `gh-ost` bails out while searching for the master, so clearly no applier exists.

[2016-10-04 19:22] shlomi-noach commented on #259
BTW, had this happened to you _before_ reaching `100.0%`, you'd see messages saying binlog entries are being skipped.

[2016-10-05 11:08] grypyrg opened #261 "Feature: Potentially reduce production impact while drastically reducing migration time using transportable tablespaces"
As `gh-ost` is very flexible in where and how it can migrate a new table, we can add MySQL transportable tablespaces in the `gh-ost` process to not have to rebuild very big tables on the whole replication tree which would reduce impact, but also improve migration time considerably.

We could do this:

1. MySQL Replication tree: `Master`, `ProdSlave`, `NonProdSlave`
2. Start a migration, read binar

[2016-10-05 11:31] groenewold-pythian commented on #257
This gives the following output
[code]

[2016-10-05 11:49] Frank-Leemkuil opened #262 "Can't remove foreign keys with alter statement"

[2016-10-05 11:51] Frank-Leemkuil commented on #262
When we want to remove two foreign keys from the table we get an error that we can't remove it.
This is needed to use the gh-ost tool.

[2016-10-05 12:42] ggunson commented on #262
@Frank-Leemkuil You're just trying to run a straight "ALTER TABLE" statement to remove the foreign keys, so that then you can use gh-ost for future migrations? Or are you trying to use gh-ost to remove the foreign keys?

What is the error?

[2016-10-05 12:55] Frank-Leemkuil commented on #262
We need to remove the foreign keys with gh-ost. Just spoken on percona europe 2016 with your colleges regarding this issue. They told is an bug/feature.

[2016-10-05 16:30] shlomi-noach commented on #262
The request is to be able to get rid of foreign keys via `gh-ost` migration. Today `gh-ost` says: "oh you have foreign keys therefor I bail out", but these people actually want to get rid of their FK.

This is basically a `--yes-ok-to-completely-ignore-foreign-keys`

[2016-10-05 16:31] shlomi-noach commented on #261
Fantastic, thank you for this suggestion!

[2016-10-05 17:16] shlomi-noach commented on #257
OK - fix is easy! Coming next week

[2016-10-05 17:17] groenewold-pythian commented on #257
Awesome! thanks for the quick follow up

[2016-10-05 22:09] tomkrouper commented on #262
@Frank-Leemkuil,

During our discussion you showed the output. Could you please add that here? Possibly with a sanitized output of `show create table ...\G` If you aren't aware, it's best to put the output in triple back ticks for a code block.

[2016-10-06 06:36] Frank-Leemkuil commented on #262
The create table of the table:

       Table: alarm
Create Table: CREATE TABLE `alarm` (
  `Id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `Guid` char(36) NOT NULL,
  `AssetId` int(11) unsigned NOT NULL,
  `EventId` int(11) unsigned NOT NULL,
  `CreatedOn` datetime NOT NULL,
  `AcknowledgedOn` datetime DEFAULT NULL,
  `ProcessedOn` datetime DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `alarm_ibfk_2`

[2016-10-06 08:23] shlomi-noach commented on #262
Please be advised that as we fix this, you will not need, nor be _able_ to specify `DROP FOREIGN KEY ...`. Foreign keys will just not exist on the ghost table.

[2016-10-06 08:57] shlomi-noach commented on #257
Also please paste output of execution with `--debug`

[2016-10-06 09:07] shlomi-noach commented on #212
@dataindataout

Actually, you are right; `gh-ost` should not have asked you to `allow-on-master`; this will be fixed.

[2016-10-06 09:08] shlomi-noach commented on #258
@groenewold-pythian can you please paste the entire command you are executing? What is the `--host` value? I can't figure out if you're actually connecting to master or not.

[2016-10-06 09:08] shlomi-noach commented on #258
Also please paste output with `--debug` flag

[2016-10-06 09:26] Frank-Leemkuil commented on #262
Does this mean that he will skip automatically the foreign keys? So it's an improvement?

[2016-10-06 09:46] shlomi-noach commented on #262
"skip automatically" is a nice description. To elaborate: current status is that `gh-ost` does not do foreign keys. When it creates the _ghost_ table, it does not create it with foreign keys.

Your mission statement is to get rid of foreign keys.

The fix I'm suggesting is to merely allow `gh-ost` to do the migration, and not warning you about dropping all your foreign keys. Your foreign keys will

[2016-10-06 09:50] Frank-Leemkuil commented on #262
Yes that's what I mean, when do you think this change is pulled so we can test the newest version that will ignore the foreign-keys.

[2016-10-06 09:59] shlomi-noach commented on #262
@Frank-Leemkuil like we said yesterday when we met, this is likely to go out sometime next week

[2016-10-06 11:54] groenewold-pythian commented on #258
Master is 10.1.1.51 and slave is 10.1.1.52:
[code]
[code]

[2016-10-06 12:01] groenewold-pythian commented on #257
10.1.1.51 is master and 10.1.1.52 is slave
[code]
Output is:
[code]

[2016-10-06 14:22] shlomi-noach commented on #258
I don't think this is the root cause. I'm running on this setup and do not reproduce the problem.
Is the replica using `log-slave-updates`? can you see that it generates binary logs?

[2016-10-06 14:25] shlomi-noach commented on #258
Or, is the replication running at all?

[2016-10-06 16:18] groenewold-pythian commented on #258
Replication is indeed running. FWIW this works properly if I manually switch the master to row based binlogs.
Here is the contents of the slave's binlog:

[code]

[2016-10-06 16:47] groenewold-pythian commented on #258
I noticed gh-ost is trying to connect to the master to get the events even though I specified  host=10.1.1.52 which is the slave:
[code]

[2016-10-06 17:49] Roguelazer commented on #250
I finished running this. I ran gh-ost with all keys removed and paused it when it hit 99.7% (took 7 hours 23 minutes), then added the keys with `sql_log_bin=0` in parallel on every host (took 14 hours 2 minutes), then let gh-ost catch up the binlog for those 14 hours and finish the migration (took 2 hours 15 minutes). All told, slightly less than 24 hours for something which had only gotten 70% of

[2016-10-06 19:50] shlomi-noach commented on #250
I'm wondering: how long does it take to run a straight [online DDL](https://dev.mysql.com/doc/refman/5.6/en/innodb-online-ddl.html) that just alters the table?

[2016-10-06 20:42] Roguelazer commented on #250
Ah, that I don't know. The underlying alter we were doing with gh-ost isn't online.

--
James Brown,
currently mobile

[2016-10-07 02:48] dataindataout commented on #212
Hey, thanks! It will be great to allow this to connect to the replica.

[2016-10-07 06:48] shlomi-noach commented on #250
@Roguelazer I'm asking because you're already taking the bother to `set sql_log_bin=0` then go and execute the `alter` on all replicas.

This is just the bother `gh-ost` solves in the first place. So if you do go and execute directly on each replica, why don't you just `alter` the entire table in the first place, in online DDL?

[2016-10-07 08:26] shlomi-noach commented on #262
https://github.com/github/gh-ost/pull/264 addresses this

[2016-10-07 08:28] shlomi-noach commented on #258
Thank you for all the input, very useful

[2016-10-07 09:35] shlomi-noach commented on #258
This is the reason:

[code]

There's a change on `_t_ghc` that `gh-ost` is expecting. How does it know the change is on `_t_ghc`? It looks for the preceeding `Table_map` event, which says `table_id: 342 (test._t_ghc)`.

But then `tungsten` comes along and ruins the day saying `table_id: 63 (tungsten_compositeprod.trep_commit_seqno)`

and so `gh-ost` understands that the `Update_rows` command actua

[2016-10-07 13:06] groenewold-pythian commented on #258
Mmm in that case shouldn't it fail every time with tungsten? so far it works well if the master is using row based binlogs.
My understanding is Tungsten will add its own GTID to each transaction so you will see an update to trep_commit_seqno for each transaction, but it is a different event in the binlog so shouldn't affect gh-ost right?

I did a couple more tests and I believe this is what's goin

[2016-10-07 22:57] Roguelazer commented on #250
We were changing the type of a column (`INT` to `BIGINT`), which isn't supported by native MySQL online DDL. It was either `gh-ost` or `pt-online-schema-change`.

[2016-10-08 09:11] shlomi-noach commented on #247
@mignaulo, can you please pull & test again #248 ? I've identified the problem in the `time_zone` setting for the row-copy itself, and tests now pass consistently.

[2016-10-08 09:19] shlomi-noach commented on #258
I wish all Issue submissions were insightful as yours!
Thank you, it seems like your diagnostics have figured it out. I'm looking further into. Not running a tungsten setup myself, so I'm simulating this in my brain. But thanks to this diagnosis I believe the problem is nailed.

[2016-10-08 09:41] shlomi-noach commented on #250
Thank you for clarifying.

During PerconaLive conference we met with @grypyrg who suggested the following: https://github.com/github/gh-ost/issues/261

Which is also an insanely nice way of optimizing the `alter`. @Roguelazer I wanted to ask if you also tried migrating directly on replica (thus, not on the master), and if so, how long id it take.

On our side, a replica-only migration can take som

[2016-10-08 19:10] mignaulo commented on #247
Hi @shlomi-noach,

I tested on the table above. Here is the comparison between the two tables:
[code]

The top five rows in each table were inserted into the original table during the copy (applied to new table via binlog). The bottom five rows were present in the original table during the copy.

The row copy is now consistent with the binlog, but I'd argue that we are further away from what I'd e

[2016-10-09 06:36] shlomi-noach commented on #247
@mignaulo your detailed response is very helpful to debugging of this problem.
Getting to have consistency between row-copy and event-handling is a major concern; now we have a knob that controls the timezone-shift, that we can apply to both copies and remain consistent.

My argument right now is that there is no way to _know_ in advance the timezone assumed in your `DATETIME` columns. For you it'

[2016-10-09 06:40] shlomi-noach commented on #258
@groenewold-pythian can you please test https://github.com/github/gh-ost/pull/263? There was a bug with `--assume-master-host` that did not fully apply the hostname where it needed to. I suspect your problem may be the direct result of that.

I am not sure #263 will _fix_ your problem, but it should at least provide with concise output.

Also, with this you should be able to discard the `--allow-o

[2016-10-10 10:31] shlomi-noach commented on #262
@Frank-Leemkuil please see full discussion in #264. Also, are you able to test this branch?

[2016-10-10 11:25] shlomi-noach commented on #246
Handled by #266

[2016-10-10 12:18] groenewold-pythian commented on #258
I have compiled the branch from #263 and running it gives the following:
[code]

[2016-10-10 19:19] jonahberquist commented on #247
@mignaulo can you check if the binary log events for your table are prefixed with `SET @@session.time_zone` statements, and if so, can you post them here?

I'm inclined to agree with @ggunson that whatever time_zone the straight alter would do is the right one (https://github.com/github/gh-ost/issues/247#issuecomment-250202546). By the same logic, whatever time_zone the statement is in should be t

[2016-10-10 19:36] shlomi-noach commented on #247
Unfortunately that was the very original behavior and it presents errors in other tests; see original bug report in https://github.com/github/gh-ost/issues/161

[2016-10-10 20:36] shlomi-noach commented on #247
@mignaulo will you kindly test https://github.com/github/gh-ost/pull/265 ? In this PR I'm trying out the unifying theorem of the universe, and more specifically the reverting of much of TZ related code, retracting `go-mysql` changes, but taking server `time_zone` as the basis for all conversions.

Please let me know if https://github.com/github/gh-ost/pull/265 works.

Noteworthy is that master & r

[2016-10-10 23:37] jonahberquist commented on #247
I don't see this addressed in that issue. What I'm saying is that there can be time_zone information in the binary logs that would indicate what time_zone the statement is in.

As an example from a host in PDT, I created a table `time_zone` on my local machine with the following definition:
[code]
I populated every row with:
[code]
Before some of my inserts, I changed the session time_zone. Check

[2016-10-11 01:33] mignaulo commented on #247
@shlomi-noach I think we are close to a winner!

For the first attempt, I let gh-ost determine the MySQL timezone, it used SYSTEM which matched to Pacific. To be more thorough, I also added a timestamp column to the test table I was using. I can confirm both date columns were correct for the row copy and the binlog apply!

That is definitely true. I tested the alter with the default (SYSTEM), Amer

[2016-10-11 10:10] shlomi-noach commented on #247
@jonahberquist: ack: will see if I can parse the session `time_zone` from binary logs, if it appears.

@mignaulo

It's even slightly more complicated than that, because the master & replica themselves could be in different timezones.
Getting the timezone from the replica and setting it in the `go` app is somewhat complex. What would a `SYSTEM` time_zone mean on the `go` app? `SYSTEM` is like `Loca

[2016-10-11 14:43] shlomi-noach commented on #258
@groenewold-pythian thank you for your continued patience on this. I've further pushed changes to https://github.com/github/gh-ost/pull/263. Would you kindly checkout this branch again and test it?

[2016-10-11 15:12] shlomi-noach commented on #257
@groenewold-pythian #263 , just recently updated, should hopefully fix this.

[2016-10-11 18:07] groenewold-pythian commented on #257
Tested this works perfectly now on that branch. Thanks!

[2016-10-11 18:11] groenewold-pythian commented on #258
Works! only caveat is if you specify `--host=master` and `--switch-to-rbr` in addition to `--allow-on-master` the binlog format will be changed on the master itself.

[2016-10-11 18:28] shlomi-noach commented on #258
That makes sense to me. If `--allow-on-master` then migration runs on master, which implies `--switch-to-rbr` works on master.

`gh-ost` does check that the server does not have any replicas, and in the `tungsten` case it obviously cannot find such replicas. I'm not sure what would be the ideal fix for that.

If you still see this as a concern, please open a new issue.

[2016-10-11 18:29] groenewold-pythian commented on #258
I believe that is fine. Thanks again!

[2016-10-11 18:45] #246 closed

[2016-10-12 06:17] shlomi-noach commented on #256
closed by https://github.com/github/gh-ost/pull/260

[2016-10-12 06:17] #256 closed

[2016-10-12 06:17] shlomi-noach commented on #212
@dataindataout https://github.com/github/gh-ost/pull/263 removes the need for `allow-on-master`

[2016-10-12 06:19] shlomi-noach commented on #262
https://github.com/github/gh-ost/pull/264 closes this.

Only child-FK-side tables can be migrated. To migrate a parent-FK-side, you must first remove all references to table from children.

There is no support right now for self-referencing tables.

[2016-10-12 06:19] #262 closed

[2016-10-12 06:19] shlomi-noach commented on #258
https://github.com/github/gh-ost/pull/263 closes this

[2016-10-12 06:19] #258 closed

[2016-10-12 06:19] shlomi-noach commented on #257
https://github.com/github/gh-ost/pull/263 closes this

[2016-10-12 06:19] #257 closed

[2016-10-12 06:41] shlomi-noach commented on #161
@dveeden are you able to lend a hand in testing https://github.com/github/gh-ost/pull/265, which takes a different approach on time-zone handling? Can you please test it on your setup?
Insofar it passes all tests on my side (unit + prod) and on another user side.

[2016-10-12 07:55] shlomi-noach commented on #247
@mignaulo I'm going to pursue the unifying theorem by looking at master-replica-app each on their own different timezone. I'll open a new PR for that.

Having said that, modifying your `DATETIME` into `TIMESTAMP` on a setup where master and replica are in different timezones sounds unhealthy to me; making it so when the `gh-ost` timezone is different sounds the wrong thing to do -- particularly in

[2016-10-12 08:28] shlomi-noach commented on #247
OK, some deeper investigation and I believe I fully understand the problem now.

@jonahberquist the binary logs present time in UTC (by default). While row-copy is trivial (`INSERT...SELECT`), applying the binlog data requires `gh-ost` to `set time_zone='+00:00'`.

For most `TIMESTAMP` related cases this is correct. However, the particular case of @mignaulo is different: he changes a `DATETIME` co

[2016-10-12 08:28] shlomi-noach commented on #161
Further discussion in https://github.com/github/gh-ost/issues/247#issuecomment-253151080

[2016-10-12 14:05] shlomi-noach commented on #247
Moreover, issuing `set time_zone` is not granular enough, because we can have both `timestamp` and `datetime` columns in the same table, and they will need different approaches.

[2016-10-12 14:40] dataindataout commented on #212
Thanks, @shlomi-noach ! I'll take it for a spin.

[2016-10-12 14:41] shlomi-noach commented on #247
Another note, it is difficult to do the time conversion on `gh-ost`'s side. The MySQL time zone names are not identical to those respected by `go`. As example, `go` supports `US/Pacific` but not necessarily `-09:00`, which could be the TZ defined in MySQL.

[2016-10-12 14:45] mizioumt opened #267 "gh-ost fails to insert a row with error Error 1366: Incorrect string value"
Hi,

I tried to run gh-ost to add a column to a table. Eventually it failed with a message like this:

FATAL Error 1366: Incorrect string value: '\xFF' for column 'col' at row 1; query= replace.....

The column is VARCHAR(N) with latin1 character set and \xFF is indeed bad but it exists in the row of the original table so it has to be inserted/replaced to the new table. This is the issue.

SQL_MOD

[2016-10-12 14:55] shlomi-noach commented on #267
This issue has been fixed (merged into `master`), but not yet tagged/released, see:

- https://github.com/github/gh-ost/issues/235
- https://github.com/github/gh-ost/pull/236
- https://github.com/github/gh-ost/issues/228

`latin1` is supported, with other charsets not yet supported.

`gh-ost` does indeed add `STRICT_ALL_TABLES` to `sql_mode` as per https://github.com/github/gh-ost/issues/164

This

[2016-10-12 15:16] shlomi-noach commented on #247
A way through may be via:

[code]

[2016-10-12 15:57] shlomi-noach commented on #247
And this leads to an interesting observation: you cannot `--migrate-on-replica` without actually _knowing_ the master's `time_zone`. Reading the master's `time_zone` is essential to solving the math.

[2016-10-12 18:00] mignaulo commented on #247
Luckily for me, master, replica and gh-ost are all in the same time zone.

Finding the timezone offset is interesting, however that offset is not constant due to daylight saving. if data was from a different period of the year and had a different offset, the data would not be correct.

I'm not sure this is fixable in every situation short of using `FROM_UNIXTIME(timestamp)` for timestamp fields wh

[2016-10-12 22:25] palexvs opened #268 "StreamEvents encountered unexpected error: Err: runtime error: index out of range"
I tried to migrate table with 200M records and I it crashed after 24 hours on 89% with exception `runtime error: index out of range`. I did the same migration on staging successfully.

I use MySQL 5.7.11 on AWS RDS
Run gh-ost v1.0.20 on Ubuntu 14.04

[code]

[code]

[2016-10-13 05:39] shlomi-noach commented on #268
Can you please paste the table definition? Feel free to anonymize column names

[2016-10-13 07:01] shlomi-noach commented on #268
Similar: https://github.com/github/gh-ost/issues/179

[2016-10-13 07:13] shlomi-noach commented on #268
@palexvs I'd like to negate a few potential factors, namely:

- connections getting killed
- traffic going stale.

As per #179 , are you using `HEARTBEAT_PERIOD` on your replication setup?

Is there a mechanism to kill connections on your setup?

[2016-10-13 07:22] shlomi-noach commented on #247
I disagree, having discussed this with @jonahberquist : once the `DATETIME` data is writter in the table, it loses timezone context. At time of conversion (even normal `ALTER`) MySQL will just take the column value for granted and apply for current timezone. An this is the same action we will be taking.

[2016-10-13 07:23] mizioumt commented on #267
OK, 60 is the default for default-retries. However I did not see a clear 'we are panicking' message.
I tried with -debug -stack -verbose. To a bit of my surprise after the original error it started to mention

FATAL Error 1205: Lock wait timeout exceeded; try restarting transaction; query=

but this is not an immediate concern

[2016-10-13 07:38] mizioumt commented on #267
I think there is a bit of misunderstanding here. I don't think any of the character set issues are at play here. My problem is this:

* I do not attempt to change a column's character set. I have -alter 'add column ...'
* gh-ost sets STRICT_ALL_TABLES
* the table has rows with problematic columns that would not have been possible to INSERT with STRICT_ALL_TABLES. But we do not / did not use STRICT

[2016-10-13 08:34] shlomi-noach commented on #267
I disagree that the problem is with the `strict_all_tables`, explaining why:

But the table has _some_ values nonetheless; we don't care how the values got there. But once those values are _in the table_, they are valid for the column types in that table. When we migrate the table, we copy _existing_ values from that table onto the _ghost_ table. Because those values were valid in your original ta

[2016-10-13 09:42] mizioumt commented on #267
'Because those values were valid in your original table, they must be valid in the ghost table.' - this is a problem. gh-ost refused to see them as valid in the ghost table.

My strict mode considerations is a speculation. The evidence is that the offending character was 0xFF in a VARCHAR(40) latin1 column. Without strict mode, inserting that caused warning 1366. With strict mode it caused error 1

[2016-10-13 10:20] shlomi-noach commented on #267
This is not because of the strict mode (the strict mode should be _thanked_ in this case). This is because of `gh-ost`'s previous inability to write `latin1` characters to `latin1` columns.

Without the strict mode, and with your version, `gh-ost` would silently insert the wrong text into your text columns.

[2016-10-13 11:19] shlomi-noach commented on #247
@mignaulo , can you kindly test the new and shiney https://github.com/github/gh-ost/pull/269 ?

[2016-10-13 12:26] shlomi-noach commented on #247
For prosperity, @MarkLeith pointed me to this post on old-vs-new time formats: http://mysqlserverteam.com/how-to-easily-identify-tables-with-temporal-types-in-old-format/

[2016-10-13 16:33] mignaulo commented on #247
@shlomi-noach I could not get this build to not do the right thing, regardless of applier or master timezone. Very nice! 👍

[2016-10-13 17:16] shlomi-noach commented on #247
Too many (more than one) negatives. I counted an even number therefore concluded the outcome is a positive. Suspicion supported by the word "nice".

[2016-10-13 17:55] palexvs commented on #268
Is it connection to slave or to master? I'm sure that we don't kill any connection manually and we do not have any automatic mechanism for that.

Sorry, I don't understand what does it mean.  Please, can you explain?

There is table definition:
[code]

In the migration, I tried to remove `NOT NULL` from column  deprecated_order_date.

I don't manage slave, it does for me RDS. There is some info fr

[2016-10-13 21:06] palexvs commented on #268
I just got this exception in the third time (after 2 hour of working on 17.5%). But I can't reproduce it on staging with the same configuration but without real load.

[2016-10-14 00:00] palexvs commented on #268
There is an output when run with `--debug --stack`
[code]

[2016-10-14 10:51] shlomi-noach commented on #267
Please check https://github.com/github/gh-ost/releases/tag/v1.0.21

[2016-10-14 12:41] mizioumt opened #270 "-default-retries 0 uses default value (60), not 0"
v 1.0.21

I ran gh-ost with -default-retries 0, the intention being to not have any retries and panic right after an error. The result was 60 retries, that is, as if -default-retries were not on the invocation line at all.
Not terrible but a minor inconvenience.

-default-retries 1 works as expected, 1 retry.
-default retry -1 works the same as -default-retrues 0.

[2016-10-14 13:37] shlomi-noach commented on #270
This is expected behavior. Perhaps the problem is with the term "retry" ; anyway `1` is the minimal value.

See https://github.com/github/gh-ost/blob/c11c611755057a794dd0b901e6f69177903714ee/go/base/context.go#L290-L292

I'm happy to change the documentation if you'd like to present with better wording.

[2016-10-14 13:42] shlomi-noach commented on #268
From your command line I see you connect directly to master, correct? In which case the answer is "to master"

long seconds where there's literally no traffic on the database. I suspect this is not the case, and anyway I see your timeouts are very quick.

Question: will you be able to build your own binary given that I publish an experimental branch? You will need to clone the repo and `./build sh

[2016-10-14 13:51] mizioumt commented on #270
this is most definitely a 'retry'. I can't see why I can't have 0 retries but it's no big deal.

[2016-10-14 14:53] mizioumt commented on #267
no such error with v1.0.21

[2016-10-14 14:53] #267 closed

[2016-10-14 15:00] shlomi-noach commented on #270
perhaps it should have been named `num-tries` or `num-attempts`. The value `1` means "1 attempt".

[2016-10-14 15:02] mizioumt opened #271 "v1.0.21 messages: [MySQL] 2016/10/14 10:31:13 statement.go:27: Invalid Connection"
`gh-ost with --test-on-replica`, 100M rows, the run finished successfully, haven't checked the data yet.
There were a few strange messages in the log,
should I or yourself worry about these?

[code]

[2016-10-14 15:10] shlomi-noach commented on #271
Pro tip: use three backticks to enclose multi-line code. See how I edited your comment.

[2016-10-14 15:11] shlomi-noach commented on #271
Duplicate of https://github.com/github/gh-ost/issues/207

[2016-10-14 15:11] #271 closed

[2016-10-14 15:32] mizioumt opened #272 "v1.0.21 gh-ost fails attempting to insert NULL into a NON NULL column."
100M rows table, gh-ost with -test-on-replica, to add a couple of columns, fails very fast.

1.  ERROR Error 1048: Column 'column_name' cannot be null; query=

and indeed column_name is an existing column which is NOT NULL yet gh-ost attempts to REPLACE a NULL into it.

2. messages like this: Err: runtime error: slice bounds out of range

not sure about the correlation between 1. and 2.

I can rep

[2016-10-14 15:34] sjmudd commented on #188
Context: Access to orchestrator is simpler via a URL especially if more than one orchestrator cluster is involved. It also hides knowledge of the orchestrator db backend which I think is more robust. Hence the desire to migrate away from cli usage to keep things simpler.

[2016-10-14 15:38] mizioumt commented on #272
s/^\s+1./ with 1,2,3 but I don't know the editor yet.

[2016-10-14 15:41] mizioumt commented on #270
but so far as I noticed with '1' it does 2 attempts: one original failure, then 1 retry.

[2016-10-14 16:00] shlomi-noach commented on #270
Then this is a bug. I'll look into.

[2016-10-14 19:15] shlomi-noach commented on #272
Please consider styling with Markdown, this will make reading your comments so much easier: https://guides.github.com/features/mastering-markdown/

Re: 3, please download latest release `1.0.21`

Re: 1, please indicate table structure + `gh-ost` invocation command, or else I have no information to work with

Re: 2, this certainly shouldn't happen, but you say you reproduce it? Can you at least pro

[2016-10-14 20:29] palexvs commented on #268
I would be glad to do it. But I have never worked with `go`, can you help me?

I have Ubuntu 14.04
I tried to do it in this way:
[code]

and I got
[code]

[2016-10-17 07:37] mizioumt commented on #272
I think that was already 1.0.21... I'll double check if I accidentally invoked an earlier version when reproducing.
To clear some confusion I saw in email, the column where gh-ost attempts to insert a NULL is an existing column. It is not part of the ALTER statement.

[2016-10-17 08:48] shlomi-noach commented on #272
Please paste table schema and alter statement

[2016-10-17 12:42] shlomi-noach commented on #247
closed by #269

[2016-10-17 12:42] #247 closed

[2016-10-17 16:51] mizioumt commented on #272
table definition:

[code]

[2016-10-17 16:53] mizioumt commented on #272
ALTER:

alter /* gh-ost */ table `database_name`.`_Table_name_gho` add column x bigint unsigned null default null, add column y bigint unsigned null default null

[2016-10-17 17:00] mizioumt commented on #272
I'll try to prepare the complete sanitized log tomorrow. For now the errors.
Each !SNIP! may correspond to more than one value.
It would be good to have a log with would quote the values:

foo 'bar zog'

instead of

foo bar zog

[code]

[2016-10-17 17:02] mizioumt commented on #272
I could run a debugging version of gh-ost while I still have the table. I planned to look at the code but this is not for short term.

[2016-10-17 17:27] shlomi-noach commented on #268
I will of course let you know once I create it

[2016-10-17 17:32] shlomi-noach commented on #270
I do not observe this behavior and the code seems very clear to not behave so. Can you please provide an example of such behavior?

[2016-10-17 17:34] shlomi-noach commented on #272
Sorry, what do "foo", "bar" and "zog" stand for in your example?

[2016-10-17 17:47] shlomi-noach commented on #272
Oh I think you mean the `args=` values.

[2016-10-17 21:05] ggunson opened #273 "Investigate how gh-ost (via go-lang) handles non-alphabetical enums in primary keys"
Based on the bug report for pt-online-schema-change: https://bugs.launchpad.net/percona-toolkit/+bug/1613915

tl;dr: For pt-osc, enums in primary keys weren't handled correctly (the enum values were seen as their names vs their index numbers) if the values weren't in alphabetical order already. http://dev.mysql.com/doc/refman/5.6/en/enum.html#enum-sorting

The fix for pt-osc is already merged: htt

[2016-10-18 08:29] mizioumt commented on #272
yes, if the values are like so:
[code]
they would appear in the args= list as
[code]
quoted values like 'bar zog' look better and could help in investigating string truncation, empty strings, this kind of stuff.

[2016-10-18 11:49] Frank-Leemkuil commented on #224
@shlomi-noach We test gh-ost on a Galera staging cluster and get a lot of deadlocks it looks like it never stops:

# Migrating `myfms`.`alarm`; Ghost table is `myfms`.`_alarm_gho`
# Migrating AMS-My-FMS-SQL-Staging_Node_2_19:3306; inspecting AMS-My-FMS-SQL-Staging_Node_2_19:3306; executing on AMS-My-FMS-SQL-Staging_Node_2_19
# Migration started at Tue Oct 18 13:40:26 +0200 2016
# chunk-size: 1000;

[2016-10-18 11:50] Frank-Leemkuil commented on #224
When we do the testing it works fine, but after executing we get this deadlocks.

[2016-10-18 12:49] shlomi-noach commented on #224
@Frank-Leemkuil a few questions:

- as per `Table '_alarm_del' already exists` and `Table '_alarm_del' already exists` -- did those tables pre-exist before migration?
- `Session lock gh-ost.506.lock expected to be found but wasn't` baffles me at this time.
- What do you mean by "it looks like it never stops"? Please clarify
- What happens after given log output?
- What happens before `Copy: 102911

[2016-10-18 12:56] Frank-Leemkuil commented on #224
- The tables are don't pre-exist before migration
- The deadlock is retry every time
- I have dropped the session, because no progress.
- When I test the command without execute it works fine.

[2016-10-18 13:11] shlomi-noach commented on #224
- "The deadlock is retry every time" so this repeats again and again, up to `--default-retries` (default `60`) -- and than panic and exits?
- "I have dropped the session, because no progress.". I'm sorry, I do not follow. Can you please tell the story and explain this? I don't have your screen in front of me.
- "When I test the command without execute it works fine." - makes sense, since your prob

[2016-10-18 17:03] Roguelazer commented on #224
Since named locks and `FLUSH TABLE x WITH READ LOCK` don't work in Galera, it seems reasonable that you got errors?

[2016-10-18 17:11] shlomi-noach commented on #224
Neither work in Galera? Does `LOCAK TABLES sometable WRITE` work in Galera?

[2016-10-18 17:16] mizioumt commented on #272
[problemn.txt](https://github.com/github/gh-ost/files/536919/problemn.txt)

[2016-10-18 17:18] mizioumt commented on #272
the problem is reproducible still. The attached log is for this command:

 ./gh-ost-20161013142859 -conf ~/.my_gh-ost.cnf -database database_name -table table_name -alter 'add column x bigint unsigned null default null, add column y bigint unsigned null default null' -test-on-replica -host `hostname` -initially-drop-ghost-table -initially-drop-socket-file -debug -verbose -stack -default-retries 1

[2016-10-18 17:24] shlomi-noach commented on #272
Thank you for all the input, I will continue to look into this!

[2016-10-18 18:18] Roguelazer commented on #224
Let me clarify (and apologize for not posting this last week):

 - `GET_LOCK()` works, but is not replicated. It's possible to get the same named lock from multiple hosts.
 - `FLUSH TABLE ... WITH READ LOCK` and `LOCK TABLES ... WRITE` both also work, but are not replicated.

When you issue `FLUSH TABLE ... WITH READ LOCK` it actually entirely pauses the wsrep provider (which implements replicatio

[2016-10-18 20:57] palexvs opened #275 "Stopped read mysql-bin-changelog without any notifications"
gh-ost: 1.0.21
MySQL 5.7.11 (AWS RDS: master<->slave)
Operation mode: connect to replica, migrate on master

I tried to migrate big table (>200M records) and after 28 hours of migration I got message that everything is ready for switching:

[code]

I compared the original table with the copy and found that they are not identical: >100K records do not exist in the copy.

Log does not show any error

[2016-10-19 07:21] shlomi-noach commented on #224
@Roguelazer thank you so much for elaborating.

On `gh-ost`'s part, it is not expecting to replicate advisory locks nor table locks; it will expect to set and see the lock on a particular server. Having said that, a multi-write Galera setup would be a problem, as other writable masters will not honor the lock.

Your comment also presents a bigger problem: a lock on the migrated table will lock oth

[2016-10-19 07:29] mizioumt commented on #272
there is something that skipped my mind because of multitasking, sorry.

**The table in question has a different structure on the replica that it does on the master.**

It is still compatible wrt replication. Specifically, tailing columns column_59 to column_66 do not exist on the master.

So maybe it's more of a feature request. I have two question.

A. Is this case supported: table on replica ha

[2016-10-19 07:31] shlomi-noach commented on #275
So this was a `tungsten` cluster, correct?

To complete the story, I assume binary logs did in fact advance on the replica, but `gh-ost` did not pursue those changes?

Since I'm not a `tungsten` user I have no immediate insight on this.

Referencing https://github.com/github/gh-ost/issues/258#issuecomment-252196241 -- likely unrelated, because `gh-ost`'s reported position does not advance.

I wond

[2016-10-19 07:33] mizioumt commented on #270
see file problemn.txt attached to https://github.com/github/gh-ost/issues/272.
gh-ost was run with --default-retries 2 yet there are two ERROR messages in the output, for the same DML.
So I interpret that as the DML in error being issued twice and filed this issue. If you say this is impossible than maybe there is something with the logging.

[2016-10-19 07:53] shlomi-noach commented on #270
`2 == two` so that's the expected behavior 😉

What you saw were two `ERROR` messages (because the operation failed twice, as per `--default-retries`), followed by a `FATAL` message, which is to explain why we bailed out -- but that wasn't a third attempt.

Behavior is as expected.

[2016-10-19 07:53] #270 closed

[2016-10-19 07:58] shlomi-noach commented on #272
This is not supported and I don't expect it to ever be supported.

What we can certainly have is a master-replica comparison mechanism, and let the user know when master and replica schemas are not identical.

I don't wish to pursue the reasons for `slice out of bounds` given this unsupported scenario. However "that table did not exist on the master at all" confuses me. What table didn't exist on

[2016-10-19 07:59] mizioumt commented on #270
I made another multitasking kind of mistake. As mentioned in #272 it was in fact --default-retries 1, not default-retries 2, sorry about the mess.

[2016-10-19 08:42] shlomi-noach opened #276 "Verify that table schema on master and replica is identical"
Issue https://github.com/github/gh-ost/issues/272 reported a problem initiating from the fact the master and the replica had a different schema for the same table. This is not supported, and not likely to be supported -- however `gh-ost` can make the effort to check that.

The check would take place immediately after creating the _ghost_ table and before altering it. The creation is made on the ma

[2016-10-19 09:15] shlomi-noach commented on #270
@mizioumt a deeper look shows that the two `ERROR` messages were produced in different stack traces, which means the error was _reported_ twice, but the 2nd report does not mean the operation was actually attempted. It's just that somewhere along the backtrack we logged the same error again.

[2016-10-19 09:49] mizioumt commented on #272
OK let's close it then. The table that did not exist on the master at all was a differently named table with the same structure. I used that for some experiments related to the original bug.

[2016-10-19 09:49] #272 closed

[2016-10-19 12:36] groenewold-pythian opened #278 "do not require log_slave_updates if using --tungsten flag"
If using `--tungsten` flag, the `--log_slave_updates` mysql check is irrelevant, as Tungsten itself controls wether or not its changes are written to the binlog (the tungsten option is `tpm configure property=log-slave-updates=true`).

e.g. with db1 master and db2 tungsten slave:
[code]
[code]

[2016-10-19 12:36] shlomi-noach commented on #278
Makes sense.

[2016-10-19 14:23] groenewold-pythian opened #280 "improve output without --verbose option"
If gh-ost is run without the `--verbose` option like the example below, we don't get any information about the process completion. Would be nice to have a one-liner saying process complete or something like that

[code]

For comparison here is the output of the same command with the `--verbose` option

[code]

[2016-10-19 17:56] akshaychhajed commented on #278
This looks like a small change. I apologize for not waiting. Please review. This is my first contribution to this repo.

[2016-10-19 18:07] fern4lvarez commented on #163
@shlomi-noach could you please update [this comment](https://github.com/github/gh-ost/issues/163#issuecomment-244694616) to reflect that replica's Parameter Group requires `read_only=0` set for `--test-on-replica` mode, as @pbitty pointed out in https://github.com/github/gh-ost/issues/163#issuecomment-249580779?

It can help others to have all needed information in one place, until this makes it i

[2016-10-19 19:00] #278 closed

[2016-10-19 19:02] groenewold-pythian commented on #278
Awesome! thank you both

[2016-10-19 19:33] shlomi-noach commented on #163
@fern4lvarez done, thank you!

[2016-10-19 20:16] pbitty commented on #163
I will set aside some time before end of week to whip up a PR for RDS documentation.

[2016-10-20 14:09] akshaychhajed opened #284 "Add flag to ignore triggers if they exist"
As discussed in issue #153 's [comment] (https://github.com/github/gh-ost/issues/153#issuecomment-247869197)
Currently gh-ost exits if triggers are detected.
If this flag is set, triggers will be ignored and gh-ost will continue without working on them.
Credit: @allixsenos

I would like to try and submit a pull request for this feature.

[2016-10-20 14:12] allixsenos commented on #284
thanks for picking this up

[2016-10-20 14:32] shlomi-noach commented on #284
@akshaychhajed thank you, let's first clarify the following:

- will the table be migrated without triggers? Thus, the _ghost_ table will be triggerless?

- in which case, why wouldn't you just drop the triggers before running the migration?

- or, do you mean triggers will be ignored by migration, and created on the _ghost_ table at the very end?

- in which case I'd rather implement https://gith

[2016-10-20 15:14] akshaychhajed commented on #284
- Reading from the [comment](https://github.com/github/gh-ost/issues/153#issuecomment-247869197), I was aiming for the 1st one with this flag.
- we cannot drop them because user might want them to move them manually
- Implementing #153 by creating triggers in the end seems like better solution as it will not slow down the operation.
I am worried about inconsistency when applying events on ghost be

[2016-10-20 15:28] allixsenos commented on #284
for my use case I'd like to use this in combination with delayed cutover which would allow me to run a migration on a table that has triggers and then manually take care of them at the time when I trigger the cutover

this would be a stopgap measure to being able to migrate tables with triggers where I'd like gh-ost to offer the ability to add the same triggers to the new table and optionall remov

[2016-10-20 15:33] shlomi-noach commented on #284
I'm just clarifying that the migration will effectively drop them via your suggestion.

As per #153 if we create the triggers on the _ghost_ table while in the cut-over phase, there is no inconsistency. There is a point in time when there are no writes on the _ghost_ table.

If you like to :)

If you feel there's a strong case to the "ignore" approach, that's also valid, and may be removed in the

[2016-10-20 15:34] shlomi-noach commented on #284
@allixsenos

but you would get an inconsistency. Postponing cut-over means changes are still being intercepted and applied on the _ghost_ table. Triggers are still in place.

[2016-10-20 15:44] allixsenos commented on #284
honestly I could live with a few seconds of trigger downtime, or a few seconds of both tables running them, and would appreciate the opportunity to handle it myself over gh-ost saying "oh, nope, not touching that" and forcing me to swallow days of trigger downtime

[2016-10-20 16:20] fern4lvarez commented on #163
@pbitty did you try to throttle a migration during a long period of time? I'm concerned about `expire_logs_days` value set as 0 by default on RDS instances. Furthermore, this variable is not editable via Paremeter Groups, which makes it a bit more painful to change every time I want to start new replicas. See https://forums.aws.amazon.com/thread.jspa?threadID=152786

[2016-10-20 16:39] pbitty commented on #163
@fern4lvarez , I don't believe I've throttled one for a long period - however, we do stop replication for about 8 hours during backups on some of our instances.

RDS hides this setting behind a config option that you can set using their `mysql.rds_set_configuration` stored procedure.  eg. To set it for 24 hours, you call:

[code]

It's not very well-documented, you can find it at the bottom of [th

[2016-10-20 17:48] akshaychhajed commented on #284
Currently, there is no way around to use gh-ost with triggers (other than removing them from master). We build the ignore option which will atleast give them a way around it. This flag will default to false, so users who explicitly use it would understand the risks(probably a message on screen when this option is exercised).

[2016-10-20 19:18] tomkrouper commented on #284
I really don't like the idea of introducing a feature that would knowingly lose data. Even if we had warnings and special options. Any data loss (unless you are dropping a column) from a gh-ost migration, I would call a failure.

[2016-10-21 05:54] akshaychhajed commented on #284
Looking at greater purpose of the tool is to ensure all data integrity and this option may not be inline with that. I understand the issue is more about keeping the tool predictable and offer a level of confidence to the user when it comes to data integrity. Lets close this issue and start working towards implementing #153.
Thank you @tomkrouper @shlomi-noach for your insight!
@allixsenos I will t

[2016-10-21 05:54] #284 closed

[2016-10-21 08:34] MarkLeith commented on #153
"Preferably the triggers are read at migration start, not at cut-over phase" - why?

Surely reading them at the point you want to recreate them is more correct (what if a trigger is altered during a migration)?

[2016-10-21 11:02] shlomi-noach commented on #153
@MarkLeith you are correct. My initial thought was to save time. The cut-over phase is the time where tables are locked, and I am a bit afraid of spending this time on even more operations.

I can also argue that anyone modifying the triggers while migration is running is on the right track to shooting themselves in the foot.

Having said all that the most ultimatest correctest behavior is to read

[2016-10-21 19:40] ggunson opened #285 "Make `-concurrent-rowcount` default to true"
Based on conversations as a result of the Pythian blog post https://www.pythian.com/blog/using-gh-ost-online-schema-changes/

Right now if you choose `--exact-rowcount` the migration will wait until the select finishes because it's only if you also use `--concurrent-rowcount` that it'll do the select in a separate thread. And if the non-concurrent select takes 5 minutes, the count is 5 minutes old