[2018-06-02 19:16] rbroemeling commented on #307
@ggunson Hi Gillian,

Yeah -- I was more or less wondering how GitHub handles this problem internally (thanks for the explanation of the internal process!) and whether a new tool would make sense. Using `pt-archiver` makes sense, though, and I can see the argument for it being a "good enough" approach that it isn't worth the time to implement a new tool that will effectively replicate the flow (ev

[2018-06-02 19:51] ggunson commented on #307
In the event of a master failover (as that would happen if the master died; there's a new GitHub Engineering blog post coming that mentions our failover process and how we minimize data loss) the old master would be pulled out of replication altogether and likely rebuilt from a backup, in which case we don't care about any running pt-archiver jobs on it. We'd now have a promoted replica with a bla

[2018-06-04 00:32] nimei1248 commented on #601
Thank you all for your answers
I know this is an error for mysql
The purpose of raising this question is to explain that dl operations such as pt-ost or gh-ost can't solve the ddl operations in this scenario. Currently, only mysql alter table t1 add c6 varchar(6) not null; Way to solve
Provide a case, share, idea for people who use gh-ost tools later
thanks

[2018-06-04 00:40] nimei1248 commented on #602
thanks shlomi noach
I will choose a more friendly way to ask questions later
That's fine if no data integrity issue. Thanks !

gh-ost 1.045
MySQL 5.7.19

time ./gh-ost --host=127.0.0.1 --port=3306 --user=lion --password=123456 \
--database=db1 --table=t1 \
--max-load='Threads_running=20,threads_connected=20' \
--critical-load='Threads_running=30,threads_connected=30' \
--chunk-size=2000 --assume-r

[2018-06-04 05:52] shlomi-noach commented on #601
Hey, no, I think I misinterpreted the problem and the word "dangerous" was indeed irrelevant.

[2018-06-05 08:45] shlomi-noach commented on #602
You are very friendly :), I just want to be respectful of other people in this repo, who may feel excluded by having questions always directed in person to myself.

[2018-06-08 09:24] chenweihua opened #603 "no stop copy 100%"
no error

[2018-06-08 09:26] #603 closed, assigned to nobody

[2018-06-12 18:31] Roguelazer opened #604 "-assume-master-host doesn't work with IPv6 literals"
I can't figure out how to make `--assume-master-host` respect IPv6 addresses. Passing `--assume-master-host "some:ipv6:address"` doesn't work; neither do `--assume-master-host "[some:ipv6::address]` nor `--assume-master-host "[some:ipv6:address]:3306`. I get a `FATAL Invalid port: ipv6:address]:3306`. I'm guessing something is splitting on `:` to get a host/port instead of properly parsing address

[2018-06-14 02:39] qiuker521 commented on #381
+1 for this issue

Under some conditions, the auto_increment id is important.

![image](https://user-images.githubusercontent.com/22740352/41388529-e8e897e2-6fbe-11e8-94e0-9fec66be87cc.png)

`create table a like b` does not copy `b`'s auto_increment id.

So we must do other things avoid this.

[2018-06-14 16:13] CoryPulm commented on #597
It looks like v1.0.46 included this fix? I am still noticing this in our environment. I have been testing this on our replica with `--test-on-replica`.
**Version:**
[code]

**Script:**
[code]

**Error:**
[code]

[2018-06-14 19:12] #558 closed

[2018-06-20 03:09] linuxgood1230 opened #605 "Use gh-ost sync data"
we want control migrate mysql table/database
1. source --> dest  sync mysql data
   - may mysql sync to vitess
   - mysql sync to mysql
   - mysql sync to pgsql

Dest skip-ddl, we have database/table , just want config sync dml data

[2018-06-25 07:58] shlomi-noach commented on #605
`gh-ost` only runs inter-server right now. There's https://github.com/github/gh-ost/pull/565 pending to allow writing to external servers. There's no plan for writing to pgsql or other destinations. If you intend to author such a change, please let me know in advance and we should discuss first.

[2018-07-13 19:56] wesleyk opened #608 "Question: Using IAM authentication on RDS with gh-ost"
Hi folks,

My team is trying to integrate with gh-ost on AWS, and the docs have been really helpful (in particular, https://github.com/github/gh-ost/blob/master/doc/rds.md).

One challenge we've run into is that we'd like to use [IAM authenticated MySQL users](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.html). The password that gets generated in that authenticatio

[2018-07-18 08:49] luoxiaocai91 opened #609 "binlogsyncer.go connection was bad"
we alter big table,use --throttle-flag-file to stop. next time we go on,but it report error.it had failed.
Copy: 402207953/690882057 58.2%; Applied: 3495134; Backlog: 1000/1000; Time: 23h59m30s(total), 23h59m30s(copy); streamer: mysql-bin.003922:1001886394; State: throttled, flag-file; ETA: 17h13m9s
2018/07/18 00:00:05 binlogsyncer.go:490: ESC[0;31m[error] connection was bad ESC[0m
2018/07/18 00:0

[2018-07-18 10:05] shlomi-noach commented on #609
Could you please provide more of the log? I don't actually see the failure, only a few error messages. `gh-ost` is supposed to recover from this.

Also, what is your table structure? What is your `alter` statement?

[2018-07-18 10:06] shlomi-noach commented on #609
Also, can you please use `1.0.46`?

[2018-07-18 18:42] wesleyk commented on #608
Hi @dbaltas, thanks for linking the ticket! I understand that there's a limit of 32 characters, however for IAM-based authentication on AWS RDS databases, the provided password that must be used is greater than 32 characters.

I was wondering if anyone had a workaround to still use IAM based auth. I suppose not!

[2018-07-18 19:40] wesleyk commented on #521
Any update on this request @shlomi-noach? If no one has started on this, is there perhaps a sample PR from orchestrator that you could link here that we might use to add SSL support in?

Thanks!

[2018-07-19 01:51] lukeholder commented on #469
@bryantAXS @chrisfarnold can you run the following SQL query on your mysql server:

[code]
And let me know the output.

[2018-07-19 04:06] shlomi-noach commented on #521
@wesleyk I have no immediate plan to work on this. Relevant `orchestrator` PRs:

- https://github.com/github/orchestrator/pull/155
- https://github.com/github/orchestrator/pull/242
- https://github.com/github/orchestrator/pull/307

[2018-07-19 04:07] shlomi-noach commented on #608
@wesleyk does that password have to be greater than 32 or are 32 characters allowed? In which case 32 is the magic number that is accepted by both?

[2018-07-19 04:19] luoxiaocai91 commented on #609
Thanks for quickly reply
[ghost_20180719.log](https://github.com/github/gh-ost/files/2208159/ghost_20180719.log)
the other question is apply binlog slowly . next time,only applyed 6 binlogs in 6 hours，
Last night applyed 46 binlog in 6 hours.The io used is relatively low.

[2018-07-19 04:39] shlomi-noach commented on #609
@luoxiaocai91 I don't see a problem with the log file you uploaded. You aborted the migration with panic-flag-file.

Please make sure to attach relevant logs.

[2018-07-19 06:03] luoxiaocai91 commented on #609
this log is include "2018/07/18 00:00:05 binlogsyncer.go:490: [error] connection was bad".  if It does not lead to failure,we can ignore this.Actually, I want to know why apply binlog slowly.

[2018-07-19 07:21] shlomi-noach commented on #609
Sorry, my confusion.

With regard:
[code]
You may safely ignore these messages. You are not the first and not the last to be concerned about these. These are generated by an underlying library, and turning them off would mean patching and re-patching into that library, which I prefer to avoid.

`gh-ost` catches these errors and recovers from them. If `gh-ost` itself doesn't show an `ERROR` message

[2018-07-19 15:06] wesleyk commented on #608
Going to close this out as I don't think there's much we can do on the ghost side.

[2018-07-19 15:06] #608 closed

[2018-07-20 08:15] luoxiaocai91 commented on #609
thanks for your advice!
I try to set dml-batch-size and increase network.
throttle-flag-file is used to pause at peak hours,that is not the case.

[2018-07-23 01:42] wfxiang08 opened #610 "gh-ost occasionally hangs at waitForEventsUpToLock"
I use gh-ost to migrate tables on my macbook pro, and occasionally find  it hands when at waitForEventsUpToLock

repeatedly print the logs below

The environment is：
- go version go1.10.3 darwin/amd64
- MacOS Sierra 10.12.6
- MySQL 5.7

After debuging, I found be deadlocks in `migrator.go#iterateChunks#copyRowsFunc#CalculateNextIterationRangeEndValues`

The code in problem is as below:
[code]

cut

[2018-07-23 09:33] luoxiaocai91 commented on #609
dml-batch-size set 100,increase sql in a single transaction.if a sql used 100ms of a big table,maybe it is a big transaction(10S).it's not safe online
Is there any other way to speed it up?

[2018-07-23 14:03] luoxiaocai91 commented on #609
In this condition,a  big table  with a lot of inserts, binlog apply is slowly. maybe have other away to speed  up  apply binlog.
maybe it is a big transaction(10S)---I worry that slave will delay,not about "safe"(sync_binlog and innodb_flush_logs_at_trx_commit)

[2018-07-23 14:22] lwg001 opened #614 "Socket not cleaned up after failed transfer"
I ran two alter table statements to switch Aria tables to Innodb.  The first statement ran prefectly.  The second statement I received this error.  I had to manually go into the directory and remove the sock file.  Can this be automated on a fail in the future?

'''2018-07-20 20:46:58 FATAL listen unix /tmp/gh-ost.hrst_stg.source_xref_stg.sock: bind: address already in use'''

[2018-07-26 15:16] lwg001 opened #617 "Putty Connection Aborted but Ghost runs and can't be killed"
I was running a gh-ost command in Putty on LInux overnight.  The connection aborted and the process was not completed.  I tried to kill the query ids in SQLYog to remove the process but I couldn't.  How do you stop the gh-ost process once its been kicked off?
Thanks,

[2018-07-26 15:57] tomkrouper commented on #617
I think these docs: https://github.com/github/gh-ost/blob/master/doc/interactive-commands.md will help you.

`panic` is the command you'd want to run.

[2018-07-27 01:52] xiyanxu opened #618 "Cut-over stage run into an error always, but not metadata lock"
[code]
As I use the lastest version v1.0.46, the error remain.

[2018-07-29 05:08] shlomi-noach commented on #618
Thank you. It would be very helpful to get some previous log entries, where `gh-ost` gets into cut-over.

However, I think I recognize this from https://github.com/github/gh-ost/issues/377. The flow is not precisely the same, but I think it's the same. Also related: https://github.com/github/gh-ost/pull/379. Also somewhat related: https://github.com/github/gh-ost/pull/611

[2018-07-29 10:41] mahemoff commented on #421
In case it helps anyone searching, same issue and resolution here. If you encounter ghost hanging on something like `binlogsyncer.go:573: [info] rotate to (mysql-bin.000001, 100101)`, run ghost again with `--verbose` flag, and if it hangs on "Waiting for ghost table to be migrated. Current lag is 0s", it's possible the specified database isn't setup for replication.

Ensure mysql config's `binlog_

[2018-07-30 22:52] mahemoff opened #619 "Could ghost start with a table snapshot instead of copying entire table?"
I'm trying to just use Ghost just to alter a table on master (no slave involved) and thinking it could be a lot faster if we could create the ghost table from a snapshot from the file system, e.g. a backup that can already be generated by innobackupex without any downtime. A migration could then be done in minutes instead of hours as it would just need to catch up from logs instead of copying all

[2018-07-31 05:30] shlomi-noach commented on #619
Hi, this is not supported right now. I don't expect it to happen in the near future (at least we're not going to be developing this).

I think `gh-ost`'s use case is in particular relevant to replication topologies, and seeing this feature cannot support replication, it's less of an interest (to us. I recognize your own use case can benefit from this).

Also, I'm merely curious if a straight `ALTE

[2018-08-02 10:55] yiwenshuo opened #620 "run the gh-ost on aws RDS but get error"
When I run the gh-ost  on AWS EC2, but get error

[root@test-dba-ops01 ~]# ./gh-ost --host='10.100.7.40' --port=3306 --user=xxxx --password='xxxxxx' --database='xxxxx'  --execute  --alter="modify column id bigint not null auto_increment"  --table='tb1'
2018-08-02 18:50:11 ERROR Error 1045: Access denied for user 'dbroot'@'%!'(MISSING) (using password: YES)
2018-08-02 18:50:11 ERROR Error 1045: Acc

[2018-08-02 10:56] yiwenshuo commented on #620
why get  'dbroot'@'%!'(MISSING)  ？

[2018-08-05 08:10] shlomi-noach commented on #620
`'dbroot'@'%!'(MISSING)` is an unfortunate sql error text -> `golang` formatting issue. But it is not the actual problem, merely a formatting error for the error message.

Basically it just seems like credentials are wrong.

PS.
RDS or AWS EC2? Which is it?

[2018-08-05 13:41] beanbee commented on #224
`gh-ost` works on our three-nodes PXC (Percona XtraDB Cluster 5.6.40 with several asynchronous slaves), prerequisites:
- PXC version 5.6, theoretically 5.7 with `pxc_strict_mode` in [`PERMISSIVE`,  `DISABLE`] should work the same
- with multi-master setups, we only have one PXC node to handle all the WRITE requests
- two-step instead of default cut-over

[LOCK/UNLOCK TABLES](https://www.percona.co

[2018-08-06 10:32] yiwenshuo commented on #620
The AWS's RDS,  I run the same command on mysql ecs mysql， there is not error,but run on aws's rds,got it.

[2018-08-06 10:35] shlomi-noach commented on #620
If it's not the credentials (which still look to me as the case), I have no further insight, except suggest that you review https://github.com/github/gh-ost/blob/master/doc/rds.md and possibly https://github.com/github/gh-ost/issues/163

[2018-08-06 11:05] yiwenshuo commented on #620
@shlomi-noach  thank you very much ! I have resolved it.

[2018-08-06 11:05] #620 closed

[2018-08-06 11:10] yiwenshuo opened #621 "How use the gh-ost to transfer part of data from old table to new structure table ？"
I want to modify a big table primary key from int to bigint ,but just want to migrate  part of data  just like " where id >= 1000000". Does gh-ost have the option like 'where' or 'filter' when migrate data ?

[2018-08-06 11:42] shlomi-noach commented on #620
@yiwenshuo can you please comment how you resolved it?

[2018-08-06 11:43] shlomi-noach commented on #621
There is no such option. The entire table needs to be migrated.

[2018-08-07 02:36] yiwenshuo commented on #621
All the table rows must be migrated ? I just want to migrated  part of rows .

[2018-08-07 02:44] tomkrouper commented on #621
`gh-ost` doesn't have a mechanism for partial migrations. Percona's [pt-archiver](https://www.percona.com/doc/percona-toolkit/LATEST/pt-archiver.html) might work for what you are wanting, but `gh-ost` will not.

[2018-08-07 02:56] ggunson commented on #621
At GitHub if we want to do this we use both pt-archiver and gh-ost. We first delete the rows we no longer need with pt-archiver, and then we use gh-ost to migrate the smaller table.

[2018-08-07 03:30] yiwenshuo commented on #621
@ggunson  you konw the  pt-archiver delete rows very very slowly.

[2018-08-07 03:48] tomkrouper commented on #621
@yiwenshuo, the idea behind deleting rows slow is because it doesn't want to cause replication delays.

If having a `--where` clause in `gh-ost` is something you think it needs, we love PR contributions. I'm gonna go ahead and close this issue for now.

[2018-08-07 03:48] #621 closed

[2018-08-07 10:59] yiwenshuo opened #622 "How to avoid the slave replicate lag when run the gh-ost on master db"
I run the gh-ost command on the master db, the master db have a slave db. The command is

./gh-ost --host='xxxxx' --port=3306 --user= xxxx  --password='xxxxx' --database='xxxxxx' --chunk-size=100000  --allow-on-master --execute  --initially-drop-ghost-table --exact-rowcount --initially-drop-old-table  --alter="modify column id bigint not null auto_increment"  --table='message' --assume-rbr --max-l

[2018-08-07 12:05] shlomi-noach commented on #622
Can you be more specific? How much more than `2s`? If only slightly more, it makes sense. The algorithm is greedy, and for as long as lag is `< 2s` `gh-ost` will pursue, and will only kick in throttling once lag `> 2s`. So that's natural.

However, I see you went far and set `--chunk-size=100000`. This is a recipe for replication lag. FYI we use `--chunk-size=100`, no more.

[2018-08-08 03:04] yiwenshuo commented on #622
@shlomi-noach  THX

[2018-08-08 03:04] #622 closed

[2018-08-10 06:44] luoxiaocai91 opened #623 "close sync with err: data len 166 < expected 3587"
hi ,
 the version is 1.0.40. mysql version is 5.7.20-18-log Percona Server (GPL), Release 18, Revision 7ce54a6deef.
command:
         gh-ost_v1.0.40 \n--max-load=Threads_running=32             \n--critical-load=Threads_running=48             \n--chunk-size=1000             \n--throttle-control-replicas=\"xx:xx,xx:xx\"             \n--max-lag-millis=1000             \n--initially-drop-old-table

[2018-08-12 20:52] andy250 opened #624 "Compilation on/for Windows [question]"
I need to compile this for Windows. I am also totally new to Go language. I quickly tried on a Windows machine but I am getting error about undefined syslog.writer. I found this: https://stackoverflow.com/questions/42083059/getting-syslog-writer-undefined
Does this mean it is impossible to compile gh-ost on windows.  Is it possible to on Linux for Windows?

[2018-08-13 06:39] shlomi-noach commented on #624
I do not know whether it's possible or not. What I can tell you, unfortunately, is that Windows is not supported, with no intention of supporting it.

Define "Linux for Windows?"
If it's Linux, it should build.

[2018-08-13 07:42] andy250 commented on #624
I see, thanks. That's a bummer. "Linux for Windows" --> I mean cross compilation.

[2018-08-13 07:42] #624 closed

[2018-08-13 12:11] plapythian opened #625 "Got "Timeout while waiting for events up to lock" and unable to proceed with cutover."
Hi,

We running gh-ost to add partitions to a 400Gb table.

We're getting this error:
    # Migrating `client_prod`.`table`; Ghost table is `client_prod`.`_table_gho`
    # Migrating master.datacenter.client.com:3306; inspecting slave.datacenter.client.com:3306; executing on master.datacenter.client.com
    # Migration started at Fri Aug 10 04:02:20 -0700 2018
    # chunk-size: 1000; max-lag-milli

[2018-08-14 12:28] igroene opened #626 "gh-ost not making progress on binlog position after being throttled?"
Running the same migration described in #625 we found another puzzling issue. Looks like after reaching a certain point, gh-ost failed to keep reading events from the binary log.
Applied kept increasing and backlog was 3 on the last "good entry":
[code]
after this, row copy continues but Applied doesn't move further than 6851, and the binlog position doesn't move past master-bin.039663:3282126:
[c

[2018-08-14 12:57] shlomi-noach commented on #626
@igroene I don't have any immediate thought. Which MySQL flavor and version? What's in that binlog entry?

[2018-08-14 13:02] igroene commented on #626
Hi @shlomi-noach this is Percona Server 5.6.36-82.0 running Tungsten 4.0.6. This is the binlog entry (some info redacted):
[code]

[2018-08-14 13:07] shlomi-noach commented on #626
I have no immediate thoughts.

[2018-08-14 13:10] igroene commented on #625
We determined the cutover is not working due to gh-ost being stuck at an old binlog event. See #626

[2018-08-15 05:06] cenkore opened #627 "what would be occur after long time throttled"
This is a question, not report a bug or suggest an enhancement.

`gh-ost version 1.0.45`

if backlog is full `Backlog: 1000/1000` and gh-ost state modify to throttle manually ,the current streamer stable at `Server001-bin.000001.1000` ,then rotate the binlog to `Server001-bin.000002` and purge the `Server001-bin.000001`(by command lsof found no process use this binlog file).

what would be occur?

[2018-08-15 05:41] shlomi-noach commented on #627
Did you try?

I expect `gh-ost` to break for not finding the binary log file.

When `gh-ost` is throttled it does not read entries from the binary log. It does keep a buffer of entries in memory (`1000` in your case).

[2018-08-15 16:40] cenkore commented on #627
Yes ,I tried 2 times .
1st , i throttle gh-ost manually ,and write 1,500 records into the original table, as expected , backlog is full `Backlog: 1000/1000` ,and streamer stable at a position. then purge current binlog . I thought it would be failure or loss 500 records(bug) , but actually it worked fine .  So i'm confused . and 2st , I write far more than 1,500 records ,  and tested the same step

[2018-08-16 12:42] leafonsword opened #628 "Why gh-ost just apply rows from binlog and not copy rows from old table?"
Hello, why gh-ost just read binlog and apply rows from binlog to _gho  table, not copy rows from old table
[code]

[2018-08-16 12:50] shlomi-noach commented on #628
Please provide more details.

[2018-08-18 02:00] tomkrouper opened #629 "gh-ost doesn't mind if you purge binary logs...."
I'm not sure if this is a bug or gh-ost just being polite. However, I was running a gh-ost migration where disk space was at a premium, so I was periodically going through and purging binary logs along the replication chain so I wouldn't run out of disk space. Right after I pressed <enter> on purging the master binary logs, I had the realization that I had just broken the migration. I checked the

[2018-08-19 05:33] shlomi-noach commented on #629
Thank you. Labeling this as high priority since it can cause data corruption.

[2018-08-19 08:35] shlomi-noach commented on #629
Related: https://github.com/github/gh-ost/issues/627

[2018-08-19 08:40] shlomi-noach commented on #627
@cenkore I'm afraid we have a language barrier here. From your comment, I got the impression everything worked fine. But then I got this #639, which made me revisit your issue. "Works without complaint" doesn't mean "Works fine". I don't think `gh-ost` worked fine for you.

You can't purge the current binlog. You can `flush logs` to the next binlog, and then purge all logs _up to the current binlo

[2018-08-19 08:41] shlomi-noach commented on #629
"roatate" message originates at https://github.com/github/gh-ost/blob/d2726c77f86cb65e25bce5c0ac5fe3fa0c997488/go/binlog/gomysql_reader.go#L148

which directly uses the `go-mysql` library, which seems to produce those bogus events. I'll look into.

[2018-08-19 09:56] shlomi-noach commented on #629
See ongoing discussion on #627

[2018-08-19 10:06] andrewv99 opened #630 "Does gh-ost support incremental, asynchronous offline updating to a slave DB"
Hi,

I would like to know if gh-ost can support this use case:

- The master is running inside a locked down secure network.
- The slave is running in a separate network, and is used for analysing a copy of all data generated on the master. The slave is only ever used in read only mode - NO changes are made to it - it is a (delayed) exact copy of the master.

I would like to incrementally replicat

[2018-08-19 10:07] shlomi-noach commented on #627
OK now I'm super confused, too. I reproduced the question in similar way to @cenkore:

- initiated `gh-ost` with a `throttle-flag-file` in place
- while `gh-ost` is throttled, injected some `1400` entries
- `gh-ost` was only able to put `1000/1000` in the backlog buffer
- I then flushed binary logs on the gh-ost replica 10 times
- and purged binary logs to the last one

I expected 400 entries to g

[2018-08-19 10:10] shlomi-noach commented on #630
I'm confused.

This just sounds like what replication does.

At any case `gh-ost` does not provide this out of the box. Since I'm unsure exactly what it is you wish to achieve (I'm really confused) I'm not sure what it would take to make `gh-ost` do it.

[2018-08-19 10:33] shlomi-noach commented on #627
Some added debug messages also show that log rotation took place at the correct end-of-log position per log.

[2018-08-19 10:35] shlomi-noach commented on #630
Got it. Then, these are not master-replica per se.

Not quite. You can copy the binary logs from the master and just apply them directly on the "replica". Same way as we do "incremental restore from backup".

It does not, but seems to me like you don't actually need a tool.

[2018-08-19 10:47] andrewv99 commented on #630
Thanks  @shlomi-noach for your quick feedback regarding gh-ost and also about the binary logs method - I will look into that option, thanks again.

[2018-08-19 10:47] #630 closed

[2018-08-19 10:55] shlomi-noach commented on #627
Seems like `go-mysql` uses a buffer at the length of 10240: https://github.com/github/gh-ost/blob/master/vendor/github.com/siddontang/go-mysql/replication/binlogstreamer.go#L57

[2018-08-19 11:26] shlomi-noach commented on #629
In https://github.com/github/gh-ost/issues/627#issuecomment-414120771 it appears to me like there is no bug.

However, @tomkrouper reports `gh-ost` was on `mysql-bin.004134` while he pruged binlogs up to `mysql-bin.004182`, which is a lot of binary logs and a lot of events, surely more than `10240` events. And yet `gh-ost` did not complain. My attempt to reproduce show that `gh-ost` does complain

[2018-08-19 11:42] shlomi-noach commented on #629
@tomkrouper do you happen to have the `gh-ost` log to share in private?

[2018-08-22 12:52] jaygooby opened #631 "Using gh-ost over an ssh tunnel on non-standard mysql port? [question]"
I'm just starting to experiment with using gh-ost, and I know I'm using it in a slightly awkward way, because I'm running it from my local machine over an ssh tunnel to an RDS instance I've started, so that I can experiment...

I start the tunnel like this:

[code]

Where `43992` is a random unused port on my local machine, `rds-test.example.com` is my AWS RDS instance, and `me@example.com` is a u

[2018-08-22 13:05] shlomi-noach commented on #631
As a hackish solution, try passing `--aliyun-rds`; in Aliyun RDS the server refuses to report the `@@port` and the port check is silenced.

[2018-08-22 14:13] jaygooby commented on #631
Great, that did it :)

I was religiously searching the `--help` options for any other mention of "port" so completely didn't clock the `-aliyun-rds` or its real purpose ;)

Would you like a PR for some better help text for that option? Something like:

[code]

[2018-08-23 05:56] shlomi-noach commented on #631
Thank you, no, actually I'd like to avoid that; tomorrow `aliyun` may have a different requirement that doesn't have to do something with the `--port`. `-aliyun-rds` is there to support Aliyun RDS, not to necessarily support port forwarding.

We could consider a new option, like `-force-port`, but at this time I'm not sure the incentive is strong.

[2018-08-23 09:01] #631 closed

[2018-08-29 13:11] jlorberblatt opened #632 "port check on @@global.port prevents execution on 1st generation GCP instances."
When executing against a gcp 1st generation sql instance gh-ost fails with the following error:

[root@centos1 gh-ost]# ./bin/gh-ost --user="testuser" --ask-pass --table="test_table" --database="test" --host="x.x.x.x" --alter="engine=innodb"  --port="3306" --allow-on-master --execute --initially-drop-old-table --initially-drop-ghost-table --verbose --ok-to-drop-table
Password:
2018-08-29 08:55:39

[2018-08-29 13:31] shlomi-noach commented on #632
@jlorberblatt thank you!

The existing `--aliyun-rds` is a declarative flag, which does not necessarily imply skipping the port check (related: https://github.com/github/gh-ost/issues/631). Perhaps tomorrow Aliyun RDS would imply different checks. So I would not want to couple `--skip-port-check` with `--aliyun-rds`.

Instead, I suggest adding a `--gcp` flag, which incidentally will do same thing

[2018-08-30 13:03] ChristopherSchultz commented on #507
Support for child-only FKs would be great, since it's actually doable. Not everyone runs without FKs :)

[2018-08-30 13:14] shlomi-noach commented on #507
@ChristopherSchultz it would, indeed. We don't have the spare cycles for this. If anyone is interested in submitting a PR, we're grateful.

[2018-09-02 06:53] shlomi-noach commented on #632
Addressed by #634 .
@jlorberblatt would you care to test #634 on GCP?

[2018-09-03 14:41] shlomi-noach commented on #631
Please see #632

[2018-09-03 20:11] fipar commented on #632
Verified that this works as expected.

[2018-09-06 02:36] leafonsword commented on #628
@shlomi-noach
I found Because binlog 's dml is huge, because gh-ost apply binlog with high priority, so gh-ost just apply dml from binlog;But my machine's load is very low, serial binlog apply and old table row copy logic is a waste;

Could gh-ost put binlog apply logic and old table row copy logic separately using a command option to control, for example:
`-c apply binlog and copy old table rows

[2018-09-06 19:11] jessicalu2016 opened #635 "Deadlock found and gh-ost terminates"
Hi guys,

We got  following error.  Is there a way gh-ost can retry rather than fail?

------------------------------------------------------------------------------------------------------
Copy: 146866200/155038476 94.7%; Applied: 6181442; Backlog: 13/1000; Time: 21h49m0s(total), 21h48m56s(copy); streamer: mysql-bin-changelog.061867:95542167; State: migrating; ETA: 1h12m50s
2018-09-06 16:49:50 ER

[2018-09-06 20:16] zmoazeni commented on #635
Do you know what you're doing that is causing the deadlock? It won't just be gh-ost. Another connection should be applying for locks within a transaction.

If you're running InnoDB you can try running `show engine innodb status` and it will give you information on the two connection queries that collided.

[2018-09-06 20:29] jessicalu2016 commented on #635
yeah, we have another process batch update the table as well. but we are just curious if gh-ost have some sort of retry mechanism? seems it give up immediately

[2018-09-07 04:38] shlomi-noach commented on #635
Could you please run again, with `--debug --stack`?
`gh-ost` has plenty of retries, I'm curious what fails here and I don't have enough context from the logs.

[2018-09-07 08:49] esnunes opened #636 "sha256sum of linux binary release 1.0.42 doesn't match"
Hi, I just want to inform that the sha256 checksum of version 1.0.42 in releases page doesn't match for the linux binary file:

[code]

The expected value:
[code]

I guess the same applies to all other checksums.

[2018-09-07 08:57] #636 closed

[2018-09-07 10:09] fuyar opened #637 "Issue with SET field"
Hey there, I'm using latest gh-ost (1.0.46) release on linux Ubuntu trusty.

I've been trying to alter a table containing a SET field (i'm not touching the SET field) but gh-ost fails as soon as the binlog applier tries to apply a row with a warning :
'Data truncated for the set field'.
Gh-ost output shows a really big number that is not equal on what I can get on the DB.

I watched the binlog and

[2018-09-07 17:11] mahemoff commented on #382
I've made an initial attempt at a library for Rails integration. Worked for my own needs so far, at least ... feedback welcome.

https://github.com/playerfm/GhostMigration

[2018-09-08 09:48] Jericon commented on #307
At blizzard we recently ran into some issues with dropping large tables like this. We reached out to oracle and they were able to reproduce and, surprisingly, found that they did not have a bug to track this. It happens on the current latest build of 5.6, 5.7 and 8.0.

https://support.oracle.com/epmos/faces/ui/km/BugDisplay.jspx?id=28489686

[2018-09-12 08:54] viraptor opened #638 ""ERROR parsing time" message"
When doing a dry run (without execute), the following error is in the output:

[code]

The command is run with options:

[code]

As far as I can tell, nothing actually goes wrong and the process succeeds, but it's an ERROR in capital letters anyway :)

I'm running version 1.0.46.

[2018-09-12 10:46] shlomi-noach commented on #637
@fuyar thank you for this report. It's perfectly clear. I'll look into it.

[2018-09-12 10:53] shlomi-noach commented on #636
@esnunes thanks -- but `sha56sum` seems to reproduce the same checksum as listed. I do, in fact, download the binary, checksum it, and get `297b14ed1efe9b894e27e63f7aff36ceded7334c174f5a8602af9e74beb2f512`.

It is possible your downloaded binary is corrupted, hence the wrong checksum.

[2018-09-12 11:04] esnunes commented on #636
Yeah, I'm sorry the file I downloaded was corrupted, that's why I closed the issue.

[2018-09-12 11:28] shlomi-noach commented on #636
Cool, thanks. Please drop a note next time to clarify.

[2018-09-12 11:39] esnunes commented on #636
Will do, my bad!

[2018-09-12 13:30] jessicalu2016 commented on #635
Hi @shlomi-noach, I ran again with the same table and it succeeded. but we got this error again with another table, see stacktrace below. any ideas?

`2018-09-12 13:18:21 DEBUG ApplyDMLEventQueries() applied 10 events in one transaction
2018-09-12 13:18:21 DEBUG ApplyDMLEventQueries() applied 8 events in one transaction
2018-09-12 13:18:24 ERROR Error 1213: Deadlock found when trying to get lock;

[2018-09-12 23:44] Jericon commented on #307
Here is the public bug report for what I mentioned:
https://bugs.mysql.com/bug.php?id=91977

[2018-09-13 19:56] chinmaygupta28 opened #639 "Ghost terminates because of critical load by some other client on mysql"
Gh-ost was throttled during peak hours on a very large table (~1bn row data), but it got fatally terminated because of the critical load on mysql master by our application.

So should gh-ost terminate even if its in throttled state, also should it stop if the threads were not created by ghost user on master?
`Copy: 805732100/1190325553 67.7%;`
`Applied: 5116798;`
`Backlog: 1000/1000;`

`Time: 47h0

[2018-09-14 01:00] Roguelazer commented on #604
bump

[2018-09-14 01:42] sky1006 commented on #625
Aliyun RDS 5.6.19  table 100G
 migrating; ETA: due
2018-09-12 15:08:18 INFO Writing changelog state: AllEventsUpToLockProcessed:1536736098074099022
2018-09-12 15:08:18 INFO Waiting for events up to lock
2018-09-12 15:08:21 ERROR Timeout while waiting for events up to lock
2018-09-12 15:08:22 INFO Writing changelog state: AllEventsUpToLockProcessed:1536736102075746572
2018-09-12 15:08:22 INFO Waiti

[2018-09-14 05:48] shlomi-noach commented on #639
That's for you to answer.

BTW, we do not terminate on critical load anymore, we go hibernating, via `-critical-load-hibernate-seconds`.

[2018-09-14 10:34] chinmaygupta28 commented on #639
This flag solves  this use case.

[2018-09-14 10:34] #639 closed

[2018-09-16 08:54] shlomi-noach commented on #604
@Roguelazer would you care to test https://github.com/github/gh-ost/pull/640?

[2018-09-17 02:03] linuxybird commented on #618
I also encountered this problem.
···
Copy: 40535109/40535109 100.0%; Applied: 6767442; Backlog: 0/1000; Time: 31h57m50s(total), 31h39m45s(copy); streamer: binlog.011628:872892634; State: migrating; ETA: due
Copy: 40535109/40535109 100.0%; Applied: 6767442; Backlog: 0/1000; Time: 31h57m55s(total), 31h39m45s(copy); streamer: binlog.011628:873989915; State: migrating; ETA: due
Copy: 40535109/40535109

[2018-09-17 06:12] shlomi-noach commented on #505
closing this as this seems to be solved

[2018-09-17 06:12] #505 closed

[2018-09-17 06:33] shlomi-noach commented on #610
Closed by #611

[2018-09-17 06:33] #610 closed

[2018-09-17 13:16] jessicalu2016 commented on #635
Hi @shlomi-noach, does the above stacktrace provide you some context?

[2018-09-18 06:10] shlomi-noach commented on #635
The problem is identified. You are correct @jessicalu2016 that `gh-ost` bails out without retrying.
The problem is with `terminateRowIteration` from within `applyCopyRowsFunc()` as in
https://github.com/github/gh-ost/blob/17b170dd1fcace81e2be75e5b749791d3ac8d03c/go/logic/migrator.go#L1131

This is unneeded and we should only `return err`, because the entire `applyCopyRowsFunc()` is wrapped in a re

[2018-09-18 13:29] jessicalu2016 commented on #635
@shlomi-noach Thanks for looking into this! So I could do following for line 1131 and rebuild gh-ost, right?
[code]

And it seems gh-ost will retry 60 times? and I should be able to set it initially in ghost command parameter and update it like this (echo default-retries=100 | nc -U <.sock file>) on the fly?

Plus, for terminateRowIteration(err) on line 1110, what could cause err? are you planning

[2018-09-18 15:23] fuyar opened #642 "ALTER from ENUM to VARCHAR ends with numeric values in VARCHAR"
Hey Schlomi,

After having issues with the SET field, I tried the same thing with a ENUM.

I'm using latest gh-ost (1.0.46) release on linux Ubuntu trusty.

There is no problem with the copy part but the binlog streamer will insert the decimal value instead of the literal value.

Example :

[code]
[code]

In the binlog :
[code]

Thanks again for your work !

[2018-09-19 18:13] fireboy1919 opened #643 "Failure in concurrent usage."
Using the latest AWS instances (MySQL 5.6.34):
gh-ost version 1.0.46
Command:
[code]
I'm running ten processes concurrently with this; each has it's own replica server id and table.  The commands are all simply altering the encoding of columns.  There is one replica, and one master that all of these tables are connecting to.

Occasionally, one of these ten processes will get a log entry like this:

[2018-09-20 05:51] shlomi-noach commented on #635
@jessicalu2016 I intend to fix this. The answer is "yes" to line 1131, and you can try it out. It's just that there's more to handle, in 1110

[2018-09-20 05:52] shlomi-noach commented on #642
`s/I tried the same thing with a SET/I tried the same thing with a ENUM/`

[2018-09-20 05:54] shlomi-noach commented on #642
`enum`s work with both string and numeric values. `enum`s are tested in `gh-ost` and verified to work well. Are you seeing a bug? Does your data get corrupted?

[2018-09-20 06:15] shlomi-noach commented on #643
@fireboy1919 a few days ago we merged https://github.com/github/gh-ost/pull/611. I'm not certain, but it's possible that it could mitigate the problem you're seeing. Would you be able to test `master` branch? (to generate the binary checkout the repository and run `./build.sh` or `script/build`)

[2018-09-20 13:02] fuyar commented on #642
Yeah I saw on bug when I tried to switch from an enum to a varchar field.

The binlog streamer process insert decimal values. It doesn't convert the decimal into litteral values before inserting the values.

If I take my example in the issue :

[code]
[code]

Then I start gh-host with a postpone flag in order to keep binlog streamer running.
[code]

Here's what I get while waiting for the cut-over

[2018-09-20 13:38] shlomi-noach commented on #642
It's clearer now, thanks!

[2018-09-20 15:26] fireboy1919 commented on #643
Yes, it looks like this solves the problem.  Thanks!

[2018-09-20 15:26] #643 closed

[2018-09-20 16:19] shlomi-noach commented on #643
Awesome, thanks for updating!

[2018-09-21 14:10] jessicalu2016 commented on #635
@shlomi-noach ok. I've patched and rebuild the source. I will just it until you guys have a release. Thanks!

[2018-09-23 17:51] shlomi-noach commented on #635
Addressed by https://github.com/github/gh-ost/pull/644

[2018-09-27 10:01] pznamensky commented on #604
Tried to test it, but found some strange things.
The good news is that `-assume-master-host` understands ipv6 addresses correctly.
At the same time `-host` still doesn't (all commands below are executing on the master with IPv6 address `2aaa::1`):

[code]

The other strange thing is that `-assume-master-host` doesn't allow gh-ost to perform migration on the server with `binlog_format=ROW` and `log

[2018-09-27 22:50] Jericon opened #645 "An Option should be added to throttle or panic at a certain Disk Used amount"
It would be useful if there was an option to specifically throttle or panic an alter when the disk reaches a certain amount of fullness.

[2018-09-27 23:30] Jericon opened #646 "--test-on-replica should not write to binlogs"
In our environment, we do not use GTID's and we run most clusters in an Active/Passive Master/Master configuration.  The current behavior of gh-ost's test on replica function is that it assumes the host is a leaf node with no replicas and still writes the changes to the binlog.

It would be more beneficial if there was an additional flag to not write to the binlog.

The specific situation I am in

[2018-09-27 23:38] ggunson commented on #646
note: @Jericon and I discussed this earlier

From a GTID standpoint, even if `--test-on-replica` was run on a leaf node, but then it was later promoted to master, its gtid_executed/gtid_purged would include the events from those local writes to `tablename_gho` but its new replicas wouldn't have them (requiring some wrangling of gtid_purged to fix replication).

I can see the usefulness of being ab

[2018-10-02 05:12] #635 closed

[2018-10-02 07:49] shlomi-noach commented on #604
Before pursuing investigation, a quick comment:

`log_slave_updates` must always be enabled, and `gh-ost` enforces that.

[2018-10-02 07:53] shlomi-noach commented on #646
Related: #146, #149, #254

[2018-10-02 07:58] shlomi-noach commented on #645
The way we run `gh-ost` is from a remote box, aka a "utility box", and not actually on a MySQL box. Thus, in our case, `gh-ost` does not have visibility into disk space issues.

I suggest one of the following:

- Use your own custom scripting to generate a throttle file, or
- Use your own custom scripting to invoke a `echo throttle | socat - /tmp/THE_GH_OST_SOCKET_FILE`, or
- Suggest a PR. I'd exp

[2018-10-03 06:40] shlomi-noach commented on #623
Sorry for the late response. I'm not entire sure the `sync with err` is the cause for what then presents as `Timeout while waiting for events up to lock`.

On Sep 17th we merged https://github.com/github/gh-ost/pull/611 into `master`, which happened to solve `Timeout while waiting for events up to lock` in multiple cases. Would you care to test `master` again please?

[2018-10-09 05:12] linuxybird opened #647 "FATAL No shared unique key can be found after ALTER! Bailing out"
statement:ALTER TABLE `_100` DROP PRIMARY KEY, ADD UNIQUE KEY `uidx_mobile_userid`(`id`,`a`);

2018-10-09 12:02:39 INFO starting gh-ost 1.0.46
2018-10-09 12:02:39 INFO Migrating `test`.`_100`
2018-10-09 12:02:39 INFO connection validated on 10.17.4.23:3307
2018-10-09 12:02:39 INFO User has ALL privileges
2018-10-09 12:02:39 INFO binary logs validated on 10.17.4.23:3307
2018-10-09 12:02:39 INFO Res

[2018-10-09 23:27] jonahberquist commented on #647
This is a normal error code and looks like expected behavior to me, assuming there's not a unique key besides `id` on the original table. See https://github.com/github/gh-ost/blob/master/doc/shared-key.md for the explanation of why this wouldn't work with that.

If I'm missing something here, please reopen this and provide some more details about the issue you're experiencing.

[2018-10-09 23:27] #647 closed

[2018-10-10 06:01] ggunson commented on #647
If `id` and `a` are not null, what you'll want to do is two separate migrations.

1. ADD UNIQUE KEY uidx_mobile_userid(id,a)
1. DROP PRIMARY KEY

Then when you drop the primary key, there's the required shared unique not-null key columns (from `uidx_mobile_userid`) to use as the migration key.

[2018-10-11 07:42] shlomi-noach commented on #470
Thank you all! Issue is closed and aliyun RDS is supported.

[2018-10-11 07:42] #470 closed

[2018-10-13 05:41] chrhlnd opened #649 "Use case question."
How far away is ghost from being used as a slave creator.

1) Connect to slave/master, replicate to table(s) another slave/instance.

2) After rename to proper table name, stop replication sql join the created table(s) into the replication rules, start replication sql.

Maybe this use case already works?

[2018-10-13 06:30] shlomi-noach commented on #649
`gh-ost` is far away from this. But perhaps https://github.com/Shopify/ghostferry is closer (though still not there).

[2018-10-15 07:37] peppy commented on #597
Can also reproduce this:

[code]

[2018-10-15 07:53] shlomi-noach commented on #597
This message is being printed by a 3rd party library `gh-ost` uses, and I have no control over the printing of the message. However, if `gh-ost` itself does not indicate an error (and in the logs provided by @CoryPulm and @peppy `gh-ost` does not indicate an error) then you may safely ignore it.

[2018-10-15 07:56] peppy commented on #597
I see, thanks for the follow-up. I will try letting it run and see how it goes.

[2018-10-15 08:08] peppy commented on #597
It seems to have eventually errored after leaving it to run:

[code]

[2018-10-15 08:13] peppy commented on #597
[code]

[code]

[2018-10-18 23:45] Jericon commented on #645
@shlomi-noach Using a custom script to generate a throttle file worked perfectly for this.  Thank you for that alternative.

[2018-10-18 23:45] #645 closed

[2018-10-20 11:12] mahemoff commented on #631
I have the same issue with Docker. It runs inside the container using port 3306 and exposed as 3307, which leads to "FATAL Unexpected database port reported: 3306".

Seeing this with gh-ost 1.0.47 when using --port=3307. I guess the above

[2018-10-21 05:03] shlomi-noach commented on #632
Closed by #634

[2018-10-21 05:04] shlomi-noach commented on #631
@mahemoff and did `-aliyun-rds` or `-gcp` work for you?

[2018-10-21 08:08] mahemoff commented on #631
Yes, those do work. I just thought it had been fixed in 1.0.47, but I can use those for now.

[2018-10-21 18:13] syrnick opened #653 "Atomic cutover is unsound on mysql 5.6.41"
We observed gh-ost not performing migration atomically and I was investigating possible causes. I was reading the description of the atomic cutover https://github.com/github/gh-ost/issues/82 and found that it relies on undocumented MySQL internal engine behavior. I tested it on 5.6.41 and observed behavior that breaks the assumptions necessary for the cutover to be atomic. Here's a basic example.

[2018-10-23 10:15] shlomi-noach commented on #653
Thank you for this well written report! I will proceed to test it.

[2018-10-23 11:13] syrnick commented on #653
I will try to get the same behavior with exact cut-over that gh-ost uses. I just found a counter example to this statement in #82

I haven't read mysql lock management code to judge how correct that statement is, but this example shows that it's not generally true.

[2018-10-23 12:40] shlomi-noach commented on #653
Agreed, and concerning. At this exact moment my availability to experiment this on my own is limited or zero. I can look into it another week, or if you are capable to reconstruct the problem with the `gh-ost` flow that would be helpful. I appreciate your contribution!

[2018-10-26 21:41] drogart commented on #597
I'm seeing the exact same issue with gh-ost version 1.0.47 and mysql 8.0.11.

I have tested in both RDS and dbdeployer.  Here's my command line and a log snippet for dbdeployer:
$ gh-ost --chunk-size=1000 --user=ghost --password=SECRET --database=foo --table=foo --host=localhost --allow-on-master --switch-to-rbr --execute --port=20112 --alter="add index idx1 (b) invisible" --verbose
2018-10-26 15:

[2018-10-28 11:19] shlomi-noach commented on #597
I'm merely guessing that `8.0.*` is where this is being seen (I'm not running `8.0` myself, nor is `gh-ost` tested on `8.0` in CI at this time). I'll need to look more deeply into this.

[2018-10-28 11:42] shlomi-noach commented on #653
@syrnick I'm able to reproduce your use case on a `5.7.17` server.

However, the error _does not reproduce_ on the logic used by `gh-ost`. Please consider the following flow:

### session 1

-- step 1

drop table if exists `reproduce`;
drop table if exists `reproduce_old`;
drop table if exists `reproduce_gho`;
CREATE  TABLE `reproduce` (
  `autoincr_id` int(11) NOT NULL AUTO_INCREMENT,
  `id` char

[2018-10-28 18:14] syrnick commented on #653
Thanks! I can confirm that with this flow the cut-over works as intended. I'll try poking holes in it, but I couldn't find anything so far.

[2018-10-29 03:57] jrgm opened #654 "Problem with replaying UPDATE or DELETE using key of BINARY(N) ending in `00`'s"
First, thanks for the development and open sourcing of this tool.

However, I was running a migration and left it postponed for a while, and before cutover I noticed that I had some differences between the master table and the gh-ost table involving columns with BINARY(N) type when values end in `00`'s. Perhaps I was using this incorrectly, but I distilled the problem down to these steps to reprod

[2018-10-29 03:58] jrgm commented on #654
[code]

[2018-10-29 08:14] shlomi-noach commented on #654
Thank you for this elaborate bug report. I'm trying to reproduce the behavior by adding explicit `BINARY` tests. Can you please take a look at https://github.com/github/gh-ost/pull/655 ? In https://github.com/github/gh-ost/pull/655 I copied your exact setup, but I'm unable to reproduce the error.

- I'm currently testing on MySQL `5.7.17`. `5.6` tests coming up shortly.
- While the test suite uses

[2018-10-29 08:55] shlomi-noach commented on #654
`5.7`, `5.6`, `5.5` tests all pass.

Can you please clarify if the problem only happens on a `MIXED`-`ROW` combination? Or does it also happen when all servers are `ROW`?

[2018-10-29 09:04] shlomi-noach commented on #82
Noteworthy that as of MySQL `8.0.13` there's support for `RENAME TABLES` under `LOCK TABLES`, specifically designed for `gh-ost`, see: https://mysqlserverteam.com/the-mysql-8-0-13-maintenance-release-is-generally-available/

`gh-ost` is yet to utilize this new functionality.

[2018-11-01 08:55] boomballa opened #657 "why "ERROR Error 1146: Table 'account_proxy._sms_validate_code_ghc' doesn't exist" ?"
My gh-ost version is 1.0.46.

gh-ost --max-load=Threads_running=500 --critical-load=Threads_running=1000 --chunk-size=1000 --throttle-control-replicas="192.168.1.25:3307" --port=3307 --max-lag-millis=1500 --user="root" --password='123456' --host=192.168.1.24 --port=3307 --allow-on-master --database="account_proxy" --table="sms_validate_code" --verbose --alter="ADD COLUMN verify_channel tinyint NUL

[2018-11-01 08:59] boomballa opened #658 "Whether our tools do not support “bit” data types ?"
[code]

[code]

[2018-11-01 09:20] shlomi-noach commented on #657
Thank you. I agree the messages are disturbing. I'll try looking into it.

[2018-11-01 10:03] boomballa commented on #658
The schema in the table does not contain columns of type bit, and I feel that the main cause of the error is the "ADD COLUMN is_independent_repayment bit NULL DEFAULT 0" in the command.“ is_independent_repayment bit NULL DEFAULT 0”，Whether our tools do not support bit data types ? I am not sure whether it is clear.

[2018-11-01 10:36] shlomi-noach commented on #658
Unrelated to whether there's a bug or not, the DBA in me has to jump in: I'm merely wondering why you use the `bit` data type as a column. It will take as much space as a `tinyint` (or `bool`) and will not allow indexing. So why not make it a `tinyint`?

`bit`s can be useful when you want to aggregate multiple `bit` values onto one column, but is not the right data type to use when you want to hav

[2018-11-01 11:02] boomballa commented on #658
Yes, as developers have been using bit type in the early stage of the project, developers have become accustomed to it. However, I personally accept your suggestion and will try to communicate with developers the rationality of this type of use. But `bit'is also a data type, as far as I know, `pt-online-schema' is supported, I just encountered this problem, I would like to share with you, I hope o

[2018-11-01 12:35] shlomi-noach commented on #658
The problem is a typo in your `alter` statement. You have a trailing `'` at the end of the statement:

[code]

should be
[code]

[2018-11-01 14:12] esnunes opened #660 "gh-ost is not properly identifying column types"
I'm facing an issue when trying to alter a table that contains a `json` column.

Original table
[code]

Final table
[code]

At some point during the migration I get the following error message:

[code]

The `gh-ost` `--alert` parameter is:
[code]

Part of the data is properly migrated, usually the migration fails after the first batch. I created a PR already that solves the problem. I will link th

[2018-11-02 04:59] jrgm opened #662 "The value of GO_PKG_DARWIN_SHA in ./script/ensure-go-installed is not correct"
The value of GO_PKG_DARWIN_SHA in ./script/ensure-go-installed is not correct, and so my build fails on Darwin.

This is the same change as https://github.com/github/orchestrator/pull/613/files (although the .gitignore changes there are unneeded in this repo, and doesn't include the debug change which I could add if you'd prefer).

[2018-11-02 07:52] boomballa commented on #658
[shell ~]# gh-ost --max-load=Threads_running=500 --critical-load=Threads_running=1000 --chunk-size=1000 --throttle-control-replicas="172.16.3.88:3306" --port=3306 --max-lag-millis=1500 --user="root" --password='pwd4mysql' --host=172.16.3.94 --port=3306 --allow-on-master --database="crm" --table="dish" --verbose --alter="ADD COLUMN verify_channel bit bit NULL DEFAULT 0" --switch-to-rbr --allow-mast

[2018-11-02 07:56] boomballa commented on #658
Sorry, it's my own fault. I'm very sorry. thanks.

[2018-11-02 14:28] shlomi-noach commented on #658
No worries at all, and good luck.

On Fri, Nov 2, 2018 at 09:56 Peng Song <notifications@github.com> wrote:

--
Shlomi Noach
Senior Infrastructure Engineer
GitHub

[2018-11-02 15:36] #658 closed

[2018-11-04 23:50] jrgm commented on #654
I set up a local master-slave on mysql5.6, and on mysql5.7.

With this branch https://github.com/jrgm/gh-ost/tree/test-varbinary-plus-fix-sha256-go-darwin, I can replicate this issue.

[2018-11-08 19:19] TateMcDaniel opened #676 "Support for Tablespace Outside of the Data Directory"
I'd like to see support for creating the "new" table in a user defined tablespace:
https://dev.mysql.com/doc/refman/5.7/en/tablespace-placing.html

Is it feasible to request this being implemented or make a pull request which would allow this as a command line option?  I realize this may cause issues in replicated setups where the slaves and masters have differing file systems, but I'm assuming th

[2018-11-08 19:56] alexisde opened #677 "Cut over never tables place"
Hello, I'm trying to execute a migration on a relatively small, but very busy table, I'm bumping into an issue were the cutover never takes place due to a timeout waiting for the lock

Copy finishes and the wait for the lock starts:
[code]
Then it keeps going until:
[code]

[2018-11-08 20:12] alexisde commented on #677
Adding --verbose output:
[code]

[2018-11-08 21:45] #677 closed

[2018-11-11 02:12] jaymifoster commented on #72
[_.pdf](https://github.com/github/gh-ost/files/2568990/_.pdf)

[2018-11-11 07:56] shlomi-noach commented on #677
@alexisde was the issue resolved? If so, can you please specify how so?

[2018-11-11 07:59] shlomi-noach commented on #676
@TateMcDaniel Thank you, I'm open to get a PR. My own bandwidth is very limited at this time.

[2018-11-11 08:04] shlomi-noach commented on #662
fixed by #663

Thank you

[2018-11-11 08:04] #662 closed

[2018-11-12 17:36] kazndillski commented on #677
I don't want this delete it

On Sun, Nov 11, 2018, 6:57 PM Shlomi Noach <notifications@github.com wrote:

[2018-11-12 17:56] aeb47 commented on #550
@tapuhi were you ever able to find the source of this issue?

[2018-11-12 18:37] alexisde commented on #677
@shlomi-noach After several attempts to run the migration the issue seems to be resolved when I configured max-lag-millis to a lower number. I'm not sure if this was environmental since I was trying to migrate a table that is pretty busy with a lot or reads and writes

[2018-11-13 10:41] zhangtinglu opened #678 "can i add column to primary key one time"
hello, I have a table with only primary key, I want to change table to partition table(table like below). Mysql must  primary key include partition key. if I want to achive  this,I have to
alter table test add unique key  uk(id,dt)
alter table drop primary key,add primary key(id,dt),drop index uk
alter table add partition***
If I have a table more than 300G, it takes a really long time
In such a c

[2018-11-13 11:48] shlomi-noach commented on #678
`gh-ost` requires a stable unique key throughout the migration, and a unique key with an added column is not guaranteed to work. I guess it would be possible to let the user take responsibility of the problem (e.g. the user agrees that they will add the column and not touch it before migration is complete). This would require some code change. Unfortunately this is not in my focus -- if you or any

[2018-11-13 13:14] zhangtinglu commented on #678
Thanks for apply, but I don't really understand `the user agrees that they will add the column and not touch it before migration is complete` , `not touch` means ddl or dml or other things，if ddl I can understand, but if dml, I feel confused.

[2018-11-13 13:44] shlomi-noach commented on #678
Sorry for being unclear. There is actually nothing for the user to agree upon, since the newly added column does not exist until cut-over. Adding a column to a unique key should be a valid operation, with one condition: that it is `not null` (otherwise duplicates are possible).

[2018-11-15 00:19] toddstoffel commented on #597
[root@node1 vagrant]# gh-ost --version
1.0.47

gh-ost --user=root --database employees --table departments_copy --alter="engine=myisam" --debug --allow-on-master --execute --initially-drop-old-table

2018/11/15 00:18:40 binlogsyncer.go:107: [info] syncer is closing...
2018/11/15 00:18:41 binlogstreamer.go:47: [error] close sync with err: sync is been closing...

[2018-11-15 09:24] laceypm opened #679 "Hey everybody"

[2018-11-15 10:23] #679 closed, assigned to nobody

[2018-11-19 16:12] vladikoff commented on #654
@jrgm Going to try to run the repro script locally here...

[2018-11-23 06:36] luoxiaocai91 commented on #597
Same error on 1.0.47
mysql:5.7.21-21-log Percona Server (GPL), Release 21, Revision 2a37e4e
command:
gh-ost \
--max-load=Threads_running=32 \
--critical-load=Threads_running=32 \
--chunk-size=1000 \
--throttle-control-replicas="$throttle_control_replicas" \
--max-lag-millis=1000 \
--initially-drop-old-table \
--initially-drop-ghost-table \
--conf="xxx" \
--host="$binlog_slave" \
--port="$port" \
-

[2018-11-26 18:44] mohsen3 opened #681 "Error 1264: Out of range value"
We are trying to use `gh-ost` to add a new column to an existing table with a few hundreds of millions of rows and we are getting an `Error 1264: Out of range value for column '...' at row 1` error message. Unfortunately, I cannot reproduce this error on my dev environment. In the prod environment, the migration goes fine until a new row is inserted into the table (so it seems to me that it has so

[2018-11-26 19:09] mohsen3 commented on #681
This is more of a question right now, but it seems that I don't have the permission to label it so.

[2018-11-26 19:49] mohsen3 commented on #681
@ggunson Thank you for your quick response. This is a blocker for us right now. So, if there is something we can help with, please let me know. We are trying to reproduce it locally right now that may help you pin pointing the issue as well.

Also, does it sound like a reasonable theory to you? If yes, we can stop insertions into that table for a while and does the migration. It means readonly acc

[2018-11-26 20:11] ggunson commented on #681
It does, because we've seen the same sort of error message in regards to the binary log parsing. For example, https://github.com/github/gh-ost/issues/157

Also, we don't use `DECIMAL` columns much at GitHub so if there's a bug we would likely not have seen it in our internal testing infrastructure.

If you're not altering that specific decimal column, I would guess that pausing writes to that tabl

[2018-11-26 21:03] mohsen3 commented on #681
We are actually making those columns nullable (before migration, they are not nullable).
Here is the answers to your questions:

[code]

[code]

[code]

[code]

`1e+35` (it's what's printed to the console, I am not sure if it is somehow rounded or not).

[2018-11-27 07:32] naveengopinathasari opened #683 "ERROR Error 1146: Table 'Test._Test_gho' doesn't exist; query="
my gh-ost version is 1.0.47.

From the log could see that
2018-11-23 06:46:10 INFO Issuing and expecting this to block: rename /* gh-ost */ table `Test`.`Test` to `Test`.`_Test_del`, `Test`.`_Test_gho` to `Test`.`Test`
Test table is rename ot _test_del
and
_test_gho is renamed to Test.

Later we could see it is looking for  'Test._Test_gho'
2018-11-23 06:47:24 ERROR Error 1146: Table 'Test._Test_g

[2018-11-27 07:55] shlomi-noach commented on #683
Hi,

Please see https://github.com/github/gh-ost/issues/377, https://github.com/github/gh-ost/issues/495, https://github.com/github/gh-ost/issues/598. TL;DR A race condition that is inconvenient but does not cause damage.

An unrelated request, would you mind editing & formatting your original comment with [Markdown](https://guides.github.com/features/mastering-markdown/)? Specifically, could you

[2018-11-28 01:48] alexdeschamps commented on #681
We ended up performing the `decimal` migration by avoiding live updates for the 1h migration. This removes any adverse effect for us at the moment. Is there anything that we can do to help drive closure to this issue? Here is an example binlog entry:
[code]

[2018-11-28 08:20] shlomi-noach commented on #681
@alexdeschamps thank you for the input, the bug is confirmed in #684

[2018-11-29 22:11] alexisde opened #685 "on-failure hook not trigerring"
I was doing a long-ish migration on a disk constrained server that had a limit on the number of binlog files available.

After some amount of lag the required binlog file was deleted and `binlogstreamer.go` failed because it couldn't find it.

The problem is that I have a on-failure hook configured that should have been trigered and it didn't, so the migration was interrupted and I get got the not

[2018-12-02 04:54] shlomi-noach commented on #685
Confirmed.

[2018-12-06 14:48] JGulbronson opened #687 "Cutover not succeeding"
When I try to run a migration to add an index on a < 100k row table, the cutover never succeeds. I've run it with verbose output, and get the following:
[code]

It will repeat this ad infinitum, until I kill it after 3-5 minutes. We _are_ using Aurora, but have RBR set and `run-on-master`. We're able to run other migrations, except for this (relatively) small one, so I'm trying to figure out what

[2018-12-06 15:30] JGulbronson commented on #687
Update, my coworker was able to run the migration no problem after I posted this. Is it possible something wasn't cleaned up properly the first time that prevented subsequent attempts from succeeding?

[2018-12-07 04:39] ggunson commented on #687
@JGulbronson When gh-ost is in the cut-over process, it attempts (among other things) to get a write lock on the table being migrated; if it cannot (because of other connections' locks on the table) it will time out on that lock wait (hence the `Error 1205: Lock wait timeout exceeded; try restarting transaction`. By default it times out after a few seconds so that it won't block other activity on

[2018-12-14 03:44] Jericon opened #688 "Suggestion: Ability to run multiple alters on a single table"
The feature should be added to allow multiple --alter flags for a single table.  This is particularly useful for alters around things such as partitioning, which cannot be done with other alters.

For example, I am currently doing multiple alters on a partitioned table.  One to add a new index and another to remove partitioning.  If I could specify multiple alters, I could do one to add the index

[2018-12-16 07:44] shlomi-noach commented on #688
duplicate: https://github.com/github/gh-ost/issues/512

[2018-12-16 07:44] shlomi-noach commented on #512
duplicate: #688

[2018-12-20 09:08] AlfredWu opened #690 "How to modify cloumn named with reserved words?"
how to modify cloumn with named by reserved words?

I tried to use backticks but not working.

[code]

What I got:
FATAL Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"`desc`" varchar(1000) NULL' at line 1

Please advise.

[2018-12-20 10:11] shlomi-noach commented on #690
The way I read this, you have:
[code]
what happens if you run:
[code]

?

[2018-12-20 11:53] AlfredWu commented on #690
yes it did work with --alter='modify column `desc` varchar(1000) NULL'
Thank you very much.

[2018-12-20 11:53] #690 closed

[2019-01-01 09:13] Tomas2046 commented on #532
#560

[2019-01-01 11:04] shlomi-noach commented on #681
https://github.com/github/gh-ost/pull/684 seems to fix the `DECIMAL` problem. The problem was due to the underlying `go-mysql` library, which did not support `DECIMAL` correctly. This has recently been fixed in https://github.com/siddontang/go-mysql/pull/332, which I imported.

[2019-01-02 16:36] kwburgess opened #691 "Incorrect values when making column nullable"
Confirmed: #684 (related issue: #681 ) did not fix this problem.

Using gh-ost to make a column to be nullable results in incorrect values for the column.
Initial guess is an overflow issue of some sort.

Reproduction steps:
[code]
[code]
[code]

id went from 18446744073709551615 -> 9223372036854775807

Versions:
[code]
tested on gh-ost master branch and test-decimal branch

[2019-01-02 18:33] shlomi-noach commented on #691
@kwburgess can you please clarify, #681 was about the `DECIMAL` datatype. Your reproduction steps do not include `DECIMAL`. If there is a problem, how does it relate to #681 and #684?

[2019-01-03 09:19] shlomi-noach commented on #691
@kwburgess https://github.com/github/gh-ost/pull/692 tests your scenario and passes. Can you please examine?

[2019-01-09 01:12] peppy commented on #597
Any updates on this issue?

[2019-01-09 06:38] shlomi-noach commented on #597
No updates; unfortunately I do not have the spare cycles to investigate this right now.

[2019-01-09 06:46] peppy commented on #597
Understandable, thanks for the update.

[2019-01-13 11:06] shlomi-noach commented on #681
fixed by #684

[2019-01-13 11:06] #681 closed

[2019-01-14 08:36] wcurrie commented on #566
As a newbie, I had the same thought when I read https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md#a-connect-to-replica-migrate-on-master: Why?

I first looked in https://github.com/github/gh-ost/blob/master/doc/questions.md. Ended up here via https://github.com/github/gh-ost/issues?utf8=%E2%9C%93&q=is%3Aissue+why+connect+to+replica.

So perhaps a link from cheetsheet.md to questions.m

[2019-01-14 08:40] shlomi-noach commented on #566
I'm grateful if people can suggest a documentation change (PR preferable)

[2019-01-15 06:42] lujinke commented on #397
Any new progress about this issue? This is the same thing i am concerning.

[2019-01-17 18:57] kwburgess commented on #691
Thank you @shlomi-noach ch for the rapid replies and careful attention.
Agreed, #684 was ```DECIMAL``` not ```BIGINT```, but it was the most similar issue to my current one so I was being extra careful and making sure it didn't solve this peripherally.
Unfortunately I followed your instructions https://github.com/github/gh-ost/blob/master/doc/coding-ghost.md to attempt to run the tests locally and

[2019-01-17 19:09] kwburgess commented on #691
With a little more investigation (couldn't find this in the docs), I'm guessing I have to run
./script/cibuild-gh-ost-replica-tests
before running
./localtests/test.sh

so I attempted to do so:
<details><summary>./script/cibuild-gh-ost-replica-tests output</summary>
[code]

[2019-01-18 02:23] yiwenshuo opened #697 "how to change the gh-ost 's execute sql hint."
When I use gh-ost for DDL, I execute show processlist on the mysql instance and I see "alter /* gh-ost */ table `schema1`.`table_name` ADD sx float(7,4) DEFAULT '0.0000 ';" . Can I change the hint:/* gh-ost */ to something else?

[2019-01-18 02:36] #697 closed

[2019-01-22 06:42] shlomi-noach commented on #691
Hi,
I'm actually running tests on MacOS.

What you need, and this isn't well documented:

- To setup your own replication topology (I recommend https://github.com/datacharmer/dbdeployer)
- setup aliases or scripts called `gh-ost-test-mysql-master` and `gh-ost-test-mysql-replica` that will connect to the master and replica, respectively. Here's my setup:
[code]

As per your 2nd question, "how might

[2019-01-22 20:37] twotwotwo opened #698 "inspect.getCandidateUniqueKeys avoidably slow on large schemas"
I'm looking at gh-ost for use on a multitenant app where we have tens thousands of tables on one server. Because number of tables and columns, a couple of inspect.go INFORMATION_SCHEMA queries take more than a minute.

It looks like for getCandidateUniqueKeys' big query, the slowness is easy to fix: the ON clause on the join checks that TABLE_SCHEMA and TABLE_NAME match, when that isn't necessary

[2019-01-23 03:35] lazzyfu opened #700 "ERROR Timeout while waiting for events up to lock."
command:
gh-ost --allow-on-master --assume-rbr --initially-drop-ghost-table --initially-drop-old-table --chunk-size=1500 --hooks-path=/tmp/hook --exact-rowcount --user=root--password="123.com" --host=10.10.1.202 --port=3306 --assume-master-host=10.10.1.202:3306  --alter='xxx' -execute

The error:
[code]

What is the cause? please， thanks

[2019-01-23 03:36] lazzyfu commented on #700
This is too frequent, when the table is larger than 100W

[2019-01-23 05:53] shlomi-noach commented on #700
duplicate of #625 ?

[2019-01-23 06:11] lazzyfu commented on #626
I have seen it, but how to solve it. thanks, I don't know what caused this.

[2019-01-23 06:15] shlomi-noach commented on #626
I made some updates recently but have not made a release (hope to release by next week, no promises). If you're able to pull changes from `master` and build a new binary and test it -- please do.

[2019-01-23 06:33] lazzyfu commented on #626
Thank you for your reply, thank you

[2019-01-23 06:36] lazzyfu commented on #626
I guess if it is related to network latency.
It's OK when in the same area. This problem is serious when not in the same area

[2019-01-23 07:11] shlomi-noach commented on #626
Oh, completely. We only run `gh-ost` on same DC as the inspected replica (and preferably same DC as the master, too)

[2019-01-23 07:31] shlomi-noach commented on #626
@lazzyfu I'm not sure how to optimize this further.

[2019-01-23 07:32] lazzyfu commented on #626
ok, thanks.

[2019-01-23 15:34] sumonsun opened #702 "socketfile length limit"
We got error like this
2019-01-23 21:05:28 FATAL listen unix /tmp/gh-ost.1xxxxxxxxxxxx.ad_rpt_yunying.ad_rpt_cps_ad_summary_dim_auth_duo_id_coloration_i_1d_partition.sock: bind: invalid argument

from this simple info ,we can't analyze problem,finally,we find this issue related to linux socketfile length limit
https://unix.stackexchange.com/questions/367008/why-is-socket-path-length-limited-to-a-h

[2019-01-31 21:43] brandonbodnar-wk commented on #521
We experienced a recent need for SSL support while using the gh-ost tool on AWS RDS instances. I've submitted #705 as an initial pass of what I think is the minimum support we need for our use case.  While it doesn't cover every ssl setting that users might want to select, it can provide at least a starting point to adding in some level of SSL/TLS support into gh-ost.

[2019-02-04 09:54] babinomec commented on #687
I had the same problem (looping tries on cut over), even on relatively unused tables (along with syncer errors during binlog streaming). All this was resolved by using the latest master version (at the time, commit e48844de0bee9a8db611a06cd6080cac4dab25cb)

[2019-02-09 00:53] jmilliron commented on #625
Yeah, seeing this timeout on cutover with `1.0.47` on MySQL Aurora 1.16.  I've successfully altered other larger and higher write volume on this cluster.  This one is only ~149G.

[code]

[code]
Going to try again with more `-default-retries`.  Will also keep an eye on `binlogsyncer.go` output and see if that corresponds w/ what `show master status` says.

[2019-02-11 10:37] bancer opened #708 "Installation warning: maintainer-address-missing shlomi-noach"
I downloaded and executed gh-ost_1.0.47_amd64.deb file in Ubuntu 14.04 LTS. During the installation this warning appeared:

[code]

[2019-02-11 13:02] alextsui05 commented on #597
I've ran into the same issues mentioned above and reproduced in an AWS environment ([gist here](https://gist.github.com/alextsui05/a65fd779c994615419de0f84b596e18b)): basically it does have something to do with MySQL 8 because MySQL 5.7 works.

Digging deeper, it seems that in the 1.0.47 version of gh-ost released in October 2018, the MySQL toolset (https://github.com/siddontang/go-mysql) used und

[2019-02-12 04:54] shlomi-noach commented on #708
Thank you, I'll look into it.

[2019-02-12 04:57] shlomi-noach commented on #597
Thank you so much for testing this!

Ahem. I gave up on multiple vendoring/versioning approaches and right now vendoring is unversioned. To be clear, this is not the right way to go. Also, I'm yet to gain trust in a golang dependency manager.

[2019-02-12 04:57] shlomi-noach commented on #597
I'll make a release shortly, I hope.

[2019-02-12 19:12] jmilliron opened #709 "ERROR Timeout while waiting for events up to lock - after copy, well behind on binlog"
I think this might be a little different than the other timeout, fail to cutover issues I'm seeing here.

I'm running gh-ost `1.0.47` on MySQL Aurora 1.16. Table I've been having problems with is about ~149G and about 5 million rows.  Yeah, big table for so few rows.  Had a gross text column.

This is the command I finally ran to successfully do the schema change:

[code]

Previous attempts were w

[2019-02-13 02:14] peppy commented on #597
Hoping to give this a test-run today. Thanks for the investigation @alextsui05!

[2019-02-13 17:33] babinomec opened #711 "Error 1292: Incorrect datetime value: '0000-00-00' for column 'date_insert'"
I'm trying to alter a column from "DATE" into "DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP" and I'm getting the following error : `Error 1292: Incorrect datetime value: '0000-00-00' for column 'date_insert'`

It seems that the copy from the old table goes well (there are lines in the new table) but maybe it does not work as well when processing updates from the binlogs.

ghost command :

[code]

g

[2019-02-13 17:40] babinomec commented on #709
Did you try with a recent version from the master branch ? I had the same kind of problem and switching to a more recent version (e48844d in my case which is now a few weeks old) seemed to fix that.

[2019-02-14 04:27] peppy commented on #597
Confirming building from master works as expected (`mysqld Ver 8.0.12 for Linux on x86_64 (MySQL Community Server - GPL`).

Hitting a snag on obtaining a lock at the final stages of switching, but that is not relevant to this issue.

[2019-02-14 05:05] shlomi-noach commented on #597
The release is a bit more of a hassle to generate, seeing that there is now CGO involved in the underlying `go-mysql` binary. I hope to deliver later today.

[2019-02-14 05:10] shlomi-noach commented on #711
If I'm reading this correctly, you have `NO_ZERO_IN_DATE,NO_ZERO_DATE,` in your `sql_mode` ; you also happen to have zero-dates in your data -- presumably from a time when your `sql_mode` did _not_ have `NO_ZERO_IN_DATE,NO_ZERO_DATE,`

So `gh-ost` attempts to copy your _zero dates_ data onto the ghost table, and is unable to, because `sql_mode` forbids it.

Either convert all your existing zero da

[2019-02-14 05:35] peppy commented on #687
I'm seeing this same thing on a mysql 8 host. This is on a table which is very rarely used and also very small (intentional for testing):

[code]

`SHOW ENGINE INNODB STATUS` reports nothing of interest.

`SHOW PROCESSLIST` has just the one `RENAME` line:

[code]

[2019-02-14 06:12] peppy commented on #687
Additionally, manually running the `rename` works without issue (and runs instantly).

[2019-02-14 06:15] peppy commented on #597
For what it's worth, I'm hitting a (likely) mysql 8 related issue [here](https://github.com/github/gh-ost/issues/687#issuecomment-463496532). Something weird going on with column statistics locks.

[2019-02-14 09:04] shlomi-noach commented on #687
MySQL 8 introduced an atomic `rename` which is supported while holding table locks. this was developed specifically for `gh-ost`, and I should start using it...

[2019-02-14 09:09] babinomec commented on #711
Both operations could be super risky in production and I'd advise you to give this considerable thought.

Yep definitely not going to do that :)

I know it's super counter intuitive (I had to read the documentation a few times), but bear with me for a second.

The doc https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_date says the following :

We are in the second case here (NO

[2019-02-14 09:49] shlomi-noach commented on #711
Right. And so `gh-ost` also adds `STRICT_ALL_TABLES` for safety measure, which has proved to do the right thing in multiple cases I'm familiar with and which saved the day. But in your case it prevents you from copying the zero-date because it's an out-of-bounds value.

I'm not so happy to support non-strict mode. How happy are you with cloning the repo, editing this line:

https://github.com/gith

[2019-02-14 09:55] babinomec commented on #711
I'm quite happy with it if it solves the problem :) I'll give it a try and let you know how it turns out.

If it does indeed work maybe we could have a "--skip-strict-mode" option ?

[2019-02-14 09:57] shlomi-noach commented on #711
hence my:

But please let me know how it went.

[2019-02-14 10:50] babinomec commented on #711
It worked ok :+1:

Finished with ```Copy: 845448/845448 100.0%; Applied: 32; Backlog: 0/1000; Time: 2m13s(total), 2m10s(copy); streamer: bin-log.142449:15248198; State: migrating; ETA: due```

("Applied" is the numbers of events from the binlog applied to the ghost table, right ?)

I had to comment the strict mode in more than one place though, just the one you mentionned was not enough, I changed

[2019-02-14 17:40] babinomec opened #713 "wildcards in grants are not supported"
We have a lot of databases which are named like "something_data_<client>". If I give these grants to ghost user :

```GRANT ALL PRIVILEGES ON `something\_data\_%`.* TO 'ghost'@'%'```

It fails with :
```ERROR User has insufficient privileges for migration. Needed: SUPER|REPLICATION CLIENT, REPLICATION SLAVE and ALL on `something_data_<client>`.*```

If I connect with mysql client, the user can see

[2019-02-15 02:38] bingo711x commented on #597
I try gh-ost 1.0.47 on mysql version 5.6.23 for the first time. the log is:

2019-02-15 10:32:13 INFO rotate to next log from mysql-bin.000239:0 to mysql-bin.000239
2019-02-15 10:32:13 INFO StreamEvents encountered unexpected error: EOF
2019-02-15 10:32:18 INFO Reconnecting... Will resume at :0
2019/02/15 10:32:18 binlogsyncer.go:79: [info] create BinlogSyncer with config {99999 mysql 127.0.0.1 36

[2019-02-15 06:07] shlomi-noach commented on #597
@bingo711x please try https://github.com/github/gh-ost/releases/tag/v1.0.48

[2019-02-15 18:24] drogart commented on #597
I can confirm the 1.0.48 release resolves the binlogstreamer.go error with mysql 8.0.11 during my testing with dbdeployer.

I am however now hitting the cutover issue described [here](https://github.com/github/gh-ost/issues/687).  I'll comment further on that thread...

Thanks much!

[2019-02-15 18:28] drogart commented on #687
I'm seeing the same issue as peppy with 1.0.48, even when running on a test instance of mysql 8.0.11 where the only traffic is from gh-ost itself.

[2019-02-17 12:44] shlomi-noach opened #714 "Utilize MySQL 8 RENAME TABLE supporting locks"
MySQL 8 (as of `8.0.13`) introduced a change where `RENAME TABLE` is possible while holding a `WRITE LOCK`. This has been targeted specifically for `gh-ost`. See https://dev.mysql.com/doc/refman/8.0/en/rename-table.html and https://mysqlserverteam.com/the-mysql-8-0-13-maintenance-release-is-generally-available/

`gh-ost` should utilize this new feature on `>= 8.0.13`.

This will potentialy solve h

[2019-02-17 13:58] shlomi-noach commented on #687
If anyone feels like testing https://github.com/github/gh-ost/pull/715, please let me know. I do not have a test bed for this, yet.

Please be advised this is experimental; if possible, please first `test-on-replica`. If you plan on testing on `master` in production, please make sure you are prepared for risks (I'm hoping this runs smoothly, but since I haven't tested in prod, I cannot in good fai

[2019-02-18 05:30] shlomi-noach commented on #708
closed by #710

[2019-02-18 05:30] #708 closed

[2019-02-20 23:05] drogart commented on #687
I commented on the pull request.

tl;dr: still fails, but I think it's because the 8.0.13 rename behavior requires either all or none of the involved tables to be write locked for our case.

Thanks!

[2019-02-21 20:17] RafeKettler commented on #521
@shlomi-noach I am also interested in SSL support. I tried @brandonbodnar-wk's patch last week, and had to make some further changes to get SSL to work in my use case. The specific issue I have found is it does not seem like SSL options passed to the CLI are properly used in all places we connect to MySQL; this was causing errors while gh-ost was trying to walk from the replica up to the master:

[2019-02-21 22:25] brandonbodnar-wk commented on #521
Interesting @RafeKettler. I'll admit, I have not tested the patch for ssl support on mysql setups other than with AWS RDS, which I know acts differently than other setups in gh-ost.

[2019-02-22 18:36] RafeKettler commented on #521
I opened PR#716 to address the issues I mentioned. @shlomi-noach mind taking a look when you get a chance? @brandonbodnar-wk would also love your feedback, especially on whether this breaks your usage of gh-ost on RDS :)

[2019-03-12 21:56] sifumba commented on #380
(Happy to delete this if it's just an echo of what has been mentioned before)
The reason why I'm posting this is because I think my setup is a bit different in that I only use a single host and database with `--allow-on-master` but `gh-ost` hangs on `INFO Waiting for ghost table to be migrated. Current lag is 0s`

# Input:
`./gh-ost --database=eyerys --table=colors --host=127.0.0.1 --password=root

[2019-03-13 08:18] lujinke opened #719 "Drop old table should first set a short lock_wait_timeout value for safety"
Make a mistake just ignore me

[2019-03-13 09:13] #719 closed

[2019-03-18 22:57] ChaosHour opened #721 "Gh-ost performed the cut-over, even though the postpone flag/file was set."
### Steps taken after:
- Verified schema structure and table size, rows.
- Verified commands in bash history.
- Saved screen session.

Below are the things that were done during the course of this migration and the output from commands and the screen session.

Time of when this alter was started:

### Start of migration:
Kurt Larsen added a comment - 12/Mar/19 10:41 PM
current status:

[code]

###

[2019-03-19 20:38] jpterry opened #722 "Consider adding NO_AUTO_VALUE_ON_ZERO to sql_mode"
Hello!

 I'd like to raise an issue that caused some data-integrity problems for us. And to see if this is something reasonable to address within gh-ost itself.

Today we ran into an interesting case with gh-ost when a primary key in an old table is legitimately `0`.

MySQL, by default, interprets `0` inserted into an auto-increment column to generate the next auto-increment and insert that id. Se

[2019-03-19 23:00] ChaosHour commented on #721
Tried to re-produce on VM; not successful, worked as intended.  A Co-worker is running another migration with my same options/arguments against the same DB diff table.  Will comment on results from that when completed.

[2019-03-20 21:15] breisig commented on #714
We are using MySQL 8.0.15 and is essential to get fixed and released.

[2019-03-24 09:13] shlomi-noach commented on #722
relevant: https://github.com/github/gh-ost/pull/712 as a workaround, by avoiding setting strict mode.

I think adding `NO_AUTO_VALUE_ON_ZERO` makes sense at all times. Since `gh-ost` necessarily uses `row` based replication, when it sees a value of `0` in an `auto_increment`, it has to be legitimately valid.

[2019-03-24 09:41] shlomi-noach commented on #721
@ChaosHour the input looks legit and the description looks legit. From the logs and description it does seem like `gh-ost` cut-over prematurely. This isn't something we've ever seen, not do I see in the logs any hint as to why this would happen.

Looking at the code, https://github.com/github/gh-ost/blob/d6c650837f722ad7600b4eff4ace04074598a0a5/go/logic/server.go#L326 is the only place where we ov

[2019-03-25 17:23] ChaosHour commented on #721
@shlomi-noach
Thank you for taking the time to review.   I kept bash_history as well and do not see anything that would indicate the removal or create of any file.  As mentioned in my previous comments another Co-worker is running a migration on the same DB, diff table with the same options/args; So, I hope to learn more from that as well.

I went through the code as well and did not see anything

[2019-03-27 04:54] admiral2 commented on #538
MySQL version: 10.0.36-MariaDB-0ubuntu0.16.04.1 - Ubuntu 16.04
sql_mode=''
system_time_zone='+07'

Issue still present:
[code]
In fix #539 was added for type MYSQL_TYPE_DATETIME
but in my case timestamp detected as MYSQL_TYPE_TIMESTAMP
so for MYSQL_TYPE_TIMESTAMP also need to add:
[code]
In my case it fixed issue.

[2019-03-27 05:02] shlomi-noach commented on #538
Reopening. Thank you for suggesting a fix.

[2019-03-29 02:32] ChaosHour commented on #721
@shlomi-noach
So, i just looked at the status of a current migration mentioned before.  Something interesting, this job is 10 days in and here is a snippet of the output:

[code]

[2019-03-29 02:49] ChaosHour commented on #721
I manually created the file => /tmp/ghost.postpone.flag
[code]

[2019-03-31 03:48] shlomi-noach commented on #721
Ah, perhaps the OS auto-purged old `/tmp/*` files? Please try putting your `sock` file on a different path.

[2019-03-31 06:03] ChaosHour commented on #721
@shlomi-noach
I don't believe that to be the case as we have a bunch of files in `/tmp/*` from months ago.  Plus the socket file was still there.  We have no garbage collection or variable set to clear tmp; well maybe on reboot?  and tmp is not setup as an added cache memory mount point.

### Here are my thoughts
Without using these `--debug or 2>&1 | tee gh-ost.log` to capture anymore info it's h

[2019-04-10 16:56] h0tw1r3 commented on #642
Should be obvious, but the same bug with ENUM to CHAR bit me today.

[2019-04-11 16:40] pznamensky opened #725 "[question] MariaDB compatibility"
Hi,
We're going to update our MariaDB servers up to v10.3 and probably play with 10.4 because of cool instant alter feature.
In the meantime, gh-ost is one of the most critical tools we rely (thank you!).
We've played with gh-ost and MariaDB 10.3 and everything looks fine. But to be sure, could you please say what current status of compatibility is with MariaDB?
Is it safe to use gh-ost with Maria

[2019-04-12 07:54] bancer commented on #153
@shlomi-noach Are there any new insights into this issue? I am interested to give it a try.

[2019-04-12 10:45] shlomi-noach commented on #153
@bancer no new insights on my side; I haven't given this thought.

[2019-04-12 16:38] rusty-udemy opened #727 "Problems trying to build on Mac OSX 10.14"
I need the patch from https://github.com/github/gh-ost/issues/711, so I tried to build from head.  However, I had several problems.  I am still picking up go, so some of these could be just misunderstandings.  I can open separate issues for each if they are actually problems, but wanted to see if I was doing something wrong.
- The build scripts assume that code is checked out to `$GOPATH/src/githu

[2019-04-14 14:04] shlomi-noach commented on #727
It is indeed, unfortunately. It is only being solved in very recent `go` versions.

However, if you build via `./script/cibuild` this should be automatically sorted out.

The above build does not require `fpm`, either.

Thank you. Yes, we need to upgrade to > 1.9

Correct. This is the result of our recent update to the latest `go-mysql` library. Again, `script/cibuild` should solve that. Though, a

[2019-04-14 20:23] rusty-udemy commented on #727
Would it be OK then to update the main `README.md` to direct people to `./script/cibuild` instead of `./build.sh` and delete `./build`? I can open a PR with that, and to update the requirements to the latest version of Go.  Would you like separate issues for each of those?

[2019-04-15 04:14] shlomi-noach commented on #727
@rusty-udemy thank you! Yes and yes. One thing to note about upgrading to go 1.11 or 1.12 is that `go fmt` output has changed. One of the CI tests is to validate that code is formatted with `go fmt` so tests are expected to fail just for the upgrade reason.

Let's please do that in two PRs as the go version one is something I need to put to testing.

[2019-04-16 12:36] mia0x75 opened #728 "Can I get proper values from hook scripts if I run 1+ gh-ost instances?"
thanks.

[2019-04-16 12:59] shlomi-noach commented on #728
Can you please clarify the question?

[2019-04-16 13:13] mia0x75 commented on #728
Suppose I run gh-ost from my golang code using goroutine.
[code]

[2019-04-16 13:46] shlomi-noach commented on #728
This should work. Have you tried?

[2019-04-16 14:56] mia0x75 commented on #728
not yet, I'll try later.

[2019-04-18 09:55] saveriomiroddi opened #729 "Allow table modification commands during the cutover"
We are in need for the implementation of the triggers support], since we have a core triggers usage, so we've put some thoughts into it before proceeding on the implementation

A complication that came up, and it's not considered in the [related issue](https://github.com/github/gh-ost/issues/153), is the use case where Gh-ost is used to change a column that is used by an underlying trigger.

Simpl

[2019-04-18 09:56] saveriomiroddi commented on #729
ps. the template says `> Please label the issue on the right (bug, enhancement, question, etc.).`, however, there's no widget available for that when opening a new issue :smile:

[2019-04-18 13:21] bancer opened #730 "script/cibuild - cannot execute binary file errors"
I've got errors while running `script/cibuild` command after I cloned gh-ost repository to my Raspberry Pi machine:
[code]

[2019-04-18 13:34] sierra2019 commented on #224
what needs to be done here

[2019-04-18 13:44] shlomi-noach commented on #730
`gh-ost` not supported on rasperry pi.

[2019-04-18 13:47] kazndillski commented on #730
What is this

On Thu, Apr 18, 2019, 11:21 PM Val Bancer <notifications@github.com> wrote:

[2019-04-18 14:09] bancer commented on #730
Is there a good reason for that? I installed go on raspberry pi without any problems.

[2019-04-18 14:19] shlomi-noach commented on #730
@bancer there is no good reason other than not having attempted this; I'm not sure how to check why it's not workign as I don't own a raspberry pi myself, nor do I see how we will integrate Raspberry Pi tests in our CI/CD. And so the conscience choice is to not support it ("support" means we test it and verify it works).
You are absolutely welcome to find what went wrong, and if the fix is simple,

[2019-04-18 14:29] bancer commented on #730
It seems that `go1.9.2.linux-amd64.tar.gz` is a wrong version for Raspberry Pi. I used arm version `go1.12.4.linux-armv6l.tar.gz`.

[2019-04-23 03:55] 1iuyunpeng commented on #657
I also encountered this problem today, and I did not affect the DDL changes. I hope I can find out the reasons. Thank you.

[2019-04-23 03:58] 1iuyunpeng commented on #657
I also encountered this problem today, and I did not see any changes in DDL. I don’t know if it has any effect.

[2019-04-23 03:58] 1iuyunpeng commented on #657
I also encountered this problem today, and I did not affect the DDL changes, but I don’t know if it really didn’t affect.

[2019-04-30 12:35] #711 closed

[2019-05-01 02:02] peppy opened #733 "Process inserting nulls in almost all fields"
When trying to run on MySQL 8.0.16 row values do not seem to be correctly inserted. The errors continue for each attempted insert.

[code]

[2019-05-01 08:04] shlomi-noach commented on #733
Can you please share your table schema?

[2019-05-01 09:59] peppy commented on #733
Sure thing:

[code]

[2019-05-02 08:05] shlomi-noach commented on #733
OK, no immediate insight. We'll need to test with MySQL 8.0.16

[2019-05-02 13:35] peppy commented on #733
Please let me know if there's any further verbosity or diagnostics I can provide from my end.

[2019-05-02 13:57] shlomi-noach commented on #733
To set some expectations I'm sorry to inform I'm unlikely to look into this in the immediate future. If you have to get this migration going, I suggest not waiting up.

[2019-05-04 05:30] shlomi-noach commented on #207
this was done.

[2019-05-04 05:30] #207 closed

[2019-05-06 12:39] pznamensky commented on #725
@shlomi-noach, could you please clarify if gh-ost tested with MariaDB?

[2019-05-06 12:43] shlomi-noach commented on #725
@pznamensky `gh-ost` is not tested with MariaDB. I hear from occasional users it works with MariaDB, but not tested.

[2019-05-06 12:44] shlomi-noach commented on #725
Sorry for the late reply, by the way.
You'll be happy to know you should be good to test it in production without risk: https://github.com/github/gh-ost/blob/master/doc/testing-on-replica.md

[2019-05-06 12:59] pznamensky commented on #725
Thanks for the reply. And you're right, testing on a replica is a good idea.

[2019-05-07 20:35] ealter opened #734 "FATAL ERROR 1105 (HY000): Failed to register slave: too long 'report-host'"
I have been running into this issue when running `gh-ost` inside of some of our docker containers. When the hostname of the docker container is at least 62 characters in length, I get the following error when trying to run `gh-ost`.

[code]

The docker container is running on Ubuntu Bionic.

When I specified `--hostname` when creating the same docker container to be 61 characters instead, `gh-ost`

[2019-05-08 04:21] shlomi-noach commented on #734
Thank you for investigating! I'd say this is an issue for https://github.com/siddontang/go-mysql ; fixing it in `gh-ost` is probably not the best idea.

[2019-05-09 17:45] ealter commented on #734
Sounds good. I filed https://github.com/siddontang/go-mysql/issues/388

[2019-05-11 03:50] imiskolee opened #735 "Did it supportted xtraDB"
hello, may I know gh-osc supported xtradb cluster?

[2019-05-12 03:32] shlomi-noach commented on #735
Please see https://github.com/github/gh-ost/issues/224

[2019-05-12 07:37] imiskolee commented on #735
@shlomi-noach thanks. looks like gh-ost for PXC isn't a good idea.

[2019-05-12 07:37] #735 closed

[2019-05-17 03:50] luoxiaocai91 opened #737 "drop old table twice at the same time"
it drop old table twice at the same time,lead to slave delay.because the slave open MTS.
the slave processlist:
[code]

the command：
[code]
mysql version：5.7.21-21-log Percona Server (GPL), Release 21, Revision 2a37e4e
the log：

[code]

we hope drop table is serial or only drop once
Thank you!

[2019-05-17 07:34] MOON-CLJ commented on #737
@shlomi-noach after ingest the code，drop old table happened when "Timeout while waiting for events up to lock"，
at https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/applier.go#L854-L859

and also at https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/migrator.go#L611-L614

there is a race condition between these two drop old

[2019-05-17 07:36] MOON-CLJ commented on #737
@shlomi-noach i am thinking sentry table create in https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/applier.go#L781 func AtomicCutOverMagicLock，why clean it in https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/migrator.go#L606 atomicCutOver。
can we mv https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424

[2019-05-17 16:55] zmoazeni commented on #727
Do you know what the meat of this issue is? Does #736 change the scenario at all?

[2019-05-17 16:59] zmoazeni opened #739 "Move to Go modules rather than vendored dependencies?"
Howdy, if #738 works, I was wondering what the opinions on moving to [Go modules](https://github.com/golang/go/wiki/Modules) were rather than committing the dependencies directly.

I didn't see any existing conversations on this topic.

[2019-05-17 17:13] zmoazeni opened #740 "Leveraging Docker for the build/test process?"
This is a meatier issue, but I'm interested in simplifying some of the build/cibuild scripts by using [the golang-cross docker image](https://hub.docker.com/r/dockercore/golang-cross) instead of downloading/verifying the actual Go version for the host environment.

Some other areas of simplification I can see:

* Drop the `.gopath`. This would be part of the mapped docker volume instead.
* Possibl

[2019-05-17 17:15] zmoazeni commented on #739
Oh two other notes. This is somewhat related to #727 and would allow us to be able to develop gh-ost outside the `GOPATH`

[2019-05-17 17:33] zmoazeni opened #741 "Go linter errors?"
Hiya! One of the nice features of Visual Studio Code is that it integrates linters very easily.

Unfortunately, checking a few different linters comes up with a slew of issues in this codebase. I've moved to [golangci-lint](https://github.com/golangci/golangci-lint) because it's one of the few that supports Go modules.

Here's a snippet of the issues I'm seeing:

![2019-05-17_13-31](https://user-i

[2019-05-20 03:22] lazzyfu commented on #700
Cross-machine room, frequent cut-over timeout. Can you test and solve it? Thank you

[2019-05-20 12:18] haroon101 opened #742 "Lock on Master db Server table due to gh-ost thread"
Hi Shlomi ,

We are using gh-ost version is v1.0.47.

We have faced the situation where we observed the lock on the master db table by gh-ost thread that was in sleep state and it pilled up the other inserts.

Below is the alter that we have executed on the slave.

gh-ost --max-load=Threads_running=30 --critical-load=Threads_running=1000 --chunk-size=100 --throttle-control-replicas="dbs44,dbs46" -

[2019-05-20 12:42] shlomi-noach commented on #742
Hi!
I'm sorry, there's not enough information here for me to work with. What happened? When? Can you identify what transaction was locking? What was `gh-ost` doing at that time, as per `--debug` logs?

[2019-05-20 12:52] haroon101 commented on #742
Thanks, Shlomi for the quick response.
unfortunately we don't have much logs, but in ghc table its showing below information.
---
Gh-ost was throttled at that time.
and the lock was on the parent table and the gh-ost thread was in sleep state on Master.
---

[2019-05-20 12:59] shlomi-noach commented on #742
@haroon101 I confess this isn't something I can solve given this information.

[2019-05-20 15:35] evanelias commented on #691
18446744073709551615 is 2^64-1, which exceeds the max value of a *signed* BIGINT. @kwburgess, are you getting a WARNING after that insert?
What `sql_mode` are you using? (try `SELECT @@session.sql_mode, @@global.sql_mode` for more insight)
What does `select * from ghost_overflow_test;` show if run *before* gh-ost?

[2019-05-21 05:24] MOON-CLJ commented on #737
ping @shlomi-noach ， we need some feedback，thx in advance。

[2019-05-22 13:08] shlomi-noach commented on #737
Hi @MOON-CLJ , I'm sorry, it'll take me a few days to look into this. Thank you for all your work!

[2019-05-23 15:36] michaelglass opened #744 "allow-nullable-unique-key fails"
When running ghost on Amazon RDS 5.7 with `allow-nullable-unique-key` I always get this set of errors

[code]

The problem doesn't exist in the same setup on tables with non-nullable unique keys.

Any ideas?

[2019-05-26 05:36] shlomi-noach commented on #744
I would appreciate it is you can point out exactly what the issue is. Are you referring to:

- `[error] binlogstreamer.go:77 close sync with err: sync is been closing` ? Please see https://github.com/github/gh-ost/issues/597. Which `gh-ost` version are you using?

- `ERROR Error 1146: Table 'noredink._assignments_users_ghc' doesn't exist`?
Please see https://github.com/github/gh-ost/issues/377, ht

[2019-05-27 07:43] michaelglass commented on #744
Sorry, I've added my `gh-ost` version.

As a user (thank you for this great tool!) the problem is that `gh-ost` does not run. I believe that the  `[error] binlogstreamer.go:77 close sync with err: sync is been closing ` is the root problem.

I didn't join the #597 before because I saw a different line number and I was using a version that apparently had been patched. Should I move my comments ther

[2019-05-28 07:20] shlomi-noach commented on #744
Can you please run again with `--debug` and paste the output?

[2019-05-28 09:28] hellracer opened #746 "gh-ost never complete"
On dry-run / noop mode it seems everything is in order
[code]

[code]
On Actual Execution

I see a lot of this but the cutover never take place.
[code]
at this point i terminate gh-ost because it takes 4 minutes but still not completed and there's only 1 row in the table

[2019-05-28 09:37] hellracer commented on #746
Please close this i think i just never read the documentation fully!

[2019-05-28 09:47] hellracer commented on #746
echo "unpostpone" | nc -U /tmp//tmp/gh-ost.percona.heartbeat.sock

[2019-05-28 09:47] hellracer commented on #746
Please close this user error...

[2019-05-28 12:02] shlomi-noach commented on #746
👍

[2019-05-28 12:02] #746 closed

[2019-05-29 02:26] uder opened #747 "ERROR parsing time "" as "2006""
Hello everyone!

I'm trying to alter huge table (~250kk) on test server with gh-ost
# My Command:
gh-ost  \
--switch-to-rbr \
--verbose \
--user=root \
--ask-pass  \
--database=sp \
--table purchase_feedbacks \
--alter="CONVERT TO CHARACTER SET utf8mb4" \
--chunk-size=2000 \
--max-load=Threads_connected=20 \
--discard-foreign-keys \
--allow-on-master

# My Output:
2019-05-29 12:22:16 INFO starting

[2019-05-29 07:43] shlomi-noach commented on #741
Hi @zmoazeni! Sorry for the late reply.

So, I'm ambivalent. Some lint errors are excellent advice. Some are general programming practices (and I understand they can encourage a single, unified practice). Some I plainly disagree with (cyclomatic complexity of [this function](https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/throttler.go#L73-L108)?). Some are n

[2019-05-29 08:58] shlomi-noach commented on #727
@zmoazeni #736 is unrelated. The meat is `import "C"` in https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/vendor/github.com/siddontang/go-mysql/packet/conn.go#L3

Building `linux` from `macos`, or vice versa, fails:

[code]

[2019-05-29 08:59] shlomi-noach commented on #740
@zmoazeni I'm on board with this. You may have noticed I'm a bit slow to respond, but otherwise this should be good.

[2019-05-29 09:02] shlomi-noach commented on #739
On moving to Go modules: no strong opinions. Since creating orchestrator & gh-ost I've seen so many packaging themes come and go, that I'm glad I didn't commit to any of them previously. I can't say I'm 💯 sure Go modules will be wonderful, but it's the standard now (until the next thing?) so we can try that out.

[2019-05-29 12:40] zmoazeni commented on #739
Right on. Yeah I'm hoping modules are here to stay. I do think what you have currently has worked well. I'll work something up and submit a PR.

[2019-05-29 12:46] zmoazeni commented on #740
No worries. I just figured you're busy on other things at the moment. I'll put something together and see if you like it.

[2019-05-29 13:26] zmoazeni commented on #727
Ahh thanks. I didn't see that error before. `export CGO_ENABLED=1` must have been the secret sauce.

[2019-05-29 14:12] zmoazeni commented on #741
Don't be sorry at all. I get it.

I get where you're coming from. It certainly falls down a rabbit hole of tweaking stuff just to tweak stuff with no real gains.

Speaking to the variable/package casing, I do think some of the nitpicky stuff helps others that aren't versed in go to feel confident they're "speaking go" instead of coming at it with a different language's "accent", if that makes sens

[2019-05-29 15:16] shlomi-noach commented on #741
OK, I'm game to give this a shot!

[2019-05-30 00:49] zmoazeni commented on #739
Ah this is going to take some work. There's a few dependencies that have changes that aren't upstream.

[2019-05-30 06:56] esorek opened #748 "FATAL ERROR Timeout while waiting for events up to lock"
Doing migration on gh-ost-1.0.48-1.x86_64 on CentOS Linux release 7.3.1611 (Core) with working against MySQL Server version: 5.7.19-log MySQL Community Server (GPL), after two days of work, with throttling for replication lags, the utility failed in the last switch between the modified table and the active table.
**Questions:
1. Is it really a bug ?
2. Is there a way to control/avoid this issue wi

[2019-05-30 13:34] shlomi-noach commented on #748
What I believe happened was:

- you allow up to `6` seconds of replication lag, which is probably necessary on your setup or else you would not have set it up
- the `cut-over-lock-timeout-seconds` has not been changed, and its default value is `3` seconds. So if `gh-ost` keeps having 6sec of lag at the time of cut-over, it's unlikely to be able to make it.

Try with `--cut-over-lock-timeout-second

[2019-05-30 13:34] shlomi-noach commented on #748
`gh-ost` should potentially give a warning about such scenario.

[2019-05-30 14:28] shlomi-noach commented on #747
This one is strange, indeed. Can you please run again eith `--debug --stack`?

The only relevant error is the `2006` one. The rest you can ignore (I agree they are bothersome; one is being fixes right now, the other some other time).

[2019-05-30 17:51] kushalvshah87 opened #749 "gh-ost migration: [error] close sync with err"
Test with version 1.0.47

2019-05-07 23:41:57 INFO Looking for magic cut-over table
2019/05/07 23:41:57 binlogsyncer.go:107: [info] syncer is closing...
2019/05/07 23:41:57 binlogstreamer.go:47: [error] close sync with err: sync is been closing...
2019/05/07 23:41:57 binlogsyncer.go:122: [info] syncer is closed
2019-05-07 23:41:57 INFO Closed streamer connection. err=<nil>
2019-05-07 23:41:57 INFO

[2019-05-30 22:20] uder commented on #747
Hello!
Thanks for answer

gh-ost --switch-to-rbr --verbose --user=root --ask-pass  --database=sp --table purchase_feedbacks --alter="CONVERT TO CHARACTER SET utf8mb4" --chunk-
size=2000 --max-load=Threads_connected=20 --discard-foreign-keys --allow-on-master --debug --stack

# Output:
2019-05-31 08:16:55 INFO starting gh-ost 1.0.48
2019-05-31 08:16:55 INFO Migrating `sp`.`purchase_feedbacks`
2019-

[2019-05-31 18:25] zmoazeni commented on #740
@shlomi-noach I have something working locally for build/fmt/testing. I wanted to ask though, is `./script/cibuild-gh-ost-build-deploy-tarball` used? I'm wondering if I need to convert that or if I can just drop it.

[2019-06-02 04:24] shlomi-noach commented on #740
@zmoazeni yeah, `./script/cibuild-gh-ost-build-deploy-tarball` is used internally at GitHub and is the build script used by our CI/CD to deploy `gh-ost`.

[2019-06-02 07:10] shlomi-noach commented on #747
OK, thank you. This error is safe to ignore and has to do with internal heartbeat collection for purposes of throttling. I should fix it, of course, but meanwhile please carry on.

[2019-06-02 07:15] esorek commented on #748
Thanks for the answer.
BTW, this mismatch between setting max-lag-millis=6000 to the default cut-over-lock-timeout-seconds=3sec, can cause on on-going chunks to timeout and miss some data transferred to the table prepared side-by-side? We saw that even though the processed showed in the output progress of 110%, and we were under impression that only the actual cut-over of the renames between the t

[2019-06-02 08:58] shlomi-noach commented on #748
I see you have not used `--exact-rowcount` which is recommended to get an exact count of rows at beginning of the migration plus mostly-accurate tracking of ongoing row count changes during the mgiration.

[2019-06-02 22:35] uder commented on #747
Thanks for reply!

Unfortunately, I can't igonre it, cause I can't get my alter done.

Is there any workarounds?

[2019-06-03 05:23] shlomi-noach commented on #747
Hmmm I think something else is at hand. I'm bothered by:
[code]
why would rowcount jump from `23345250` to `0`?

I assume that the table is non-empty.

Could you possibly upload a complete log file?

[2019-06-04 01:36] michaelglass commented on #744
[code]

[2019-06-05 03:12] uder commented on #747
Thanks for reply!
I was not pay attention, I'm sorry. Alter was not started, becouse i've missed --execute.

Errors still here. But whatever, I've successfuly performed my alter.
Thank you very much for your assitance!

[2019-06-05 03:12] #747 closed

[2019-06-05 05:20] shlomi-noach commented on #747
haha cool.

[2019-06-05 05:47] shlomi-noach commented on #744
What's the command line you are running? Is this a noop run or did you pass a `-x`?

[2019-06-05 17:56] jmilliron opened #751 "gh-ost not keeping up with binlog. Tuning tips?"
[code]

I've got a pretty big table on AWS Aurora MySQL that I'm trying to alter.  Writer instance is a db.r5.12xlarge.  Seems fairly idle to me.  CPU is low and the schema change is causing zero impact to query or DML latency.  No increase in threads running.

However, during the day, it's falling behind on the binlog/changes to the table.

I've already got DML batch size turned up all the way an

[2019-06-06 06:03] shlomi-noach commented on #751
Are you perhaps running `gh-ost` from a host with high latency to the MySQL server? That would have a massive impact.

[2019-06-06 21:52] kushalvshah87 commented on #749
has anyone else has seen such errors ?

[2019-06-06 23:18] jmilliron commented on #751
Interesting.  Thanks.  Didn't think of that.

Host is in the same VPC but not the same availability zone.  Just did some rudimentary testing and it looks like simple queries from a host in the same AZ are a couple of ms faster.

[2019-06-07 07:12] shlomi-noach commented on #749
Sorry for the late response. Yes, this has been reported multiple times; this is an error message from an underlying library that connects to MySQL; however, there is no `gh-ost` error here, as `gh-ost` retries connection/operation as needed. It is unfortunate that the log contains all these messages but I can't control it.

[2019-06-07 21:53] zmoazeni opened #753 "Intermittent failures in localtests"
Per #750 I was going to try digging into some possible causes for the intermittent failures in localtests.

I now have a way to reliable reproduce it. https://github.com/zmoazeni/gh-ost/commit/b3955d1f0b6aee54d96f2b359a5e739eeaaabed5

If you read the commit, it'll explain how to reproduce (just run `./force-failure`). It may take ~4-15 iterations before you run into the issue. It doesn't take that

[2019-06-08 03:20] zmoazeni commented on #753
Two things worked for me to fix this (50 uninterrupted test runs).

* Changing `--default-retries=2` https://github.com/github/gh-ost/blob/master/localtests/test.sh#L155
* Adding a manual sleep `time.Sleep(250 * time.Millisecond)` before this line https://github.com/github/gh-ost/blob/master/go/logic/applier.go#L722

Of the two, I think the 2nd probably makes more sense. Though it's still a guess

[2019-06-10 07:53] shlomi-noach commented on #753
@zmoazeni thank you for investigating!

The query is indeed being retried as per:

https://github.com/github/gh-ost/blob/ffc6c40150efb149321a2f32103b98424d6652b1/go/logic/migrator.go#L654-L667

I'm surprised to see `--default-retries=1` in the localtests. I seem to have added this 3 years ago in https://github.com/github/gh-ost/commit/2faa27a2c402506518113cc4f2afb286825c387e, but I did not explici

[2019-06-10 13:05] #722 closed

[2019-06-10 13:41] zmoazeni commented on #646
@shlomi-noach I read #254 and I wanted to verify. The approach we should take here is to reset the GTID purged/executed on the replica to effectively doctor the set of GTIDs applied as if the test never happened? (Only when the option is passed).

For what it's worth, I ran into this same issue in production a year+ ago by promoting a replica and the other replicas were blocked from starting repli

[2019-06-10 13:46] shlomi-noach commented on #646
@zmoazeni yes, correct.
It's noteworthy that since then I've put a lot of GTID logic into `orchestrator`, and have learned quite a few things myself. So yes, you will probably want to run a GTID/`reset master` sequence (which is hard to like), or alternatively (which I don't like even more) apply those errant transactions on the master. I really can't recommend the latter for such massive operatio

[2019-06-10 13:50] #753 closed

[2019-06-10 14:06] zmoazeni commented on #646
Yeah we ended up doing the latter. But it did make us nervous.

[2019-06-10 14:08] shlomi-noach commented on #646
the latter 9apply errant GTIDs on the master) is actually _safer_. However:

- it is slower, because you may need to apply millions of transactions
- It bloats the `gtid_executed` set on all servers.

[2019-06-10 18:35] ChaosHour commented on #721
@shlomi-noach
Just wanted to give you an **update**.  In short, you were **correct**.   I checked for cronjobs, but a co-worker was kind to check /etc/periodic.conf were it is set to purge files in /tmp/* after 3 days.

This issue is **resolved** and thank you once again for the **Amazing Work!** you and your team do.

[code]

[2019-06-10 18:35] #721 closed

[2019-06-10 19:32] michaelglass commented on #744
the script we're using is:
[code]

[2019-06-11 03:44] shlomi-noach commented on #721
I'm so glad this was resolved! Also TIL `/etc/periodic` 😮

[2019-06-12 14:20] zmoazeni commented on #744
Hey @michaelglass what is the value of `$alter`?

[2019-06-12 17:31] michaelglass commented on #744
In this case:
[code]
there's a unique index on the table over `a_id, b_id` but those columns are both nullable.

When running similar migrations where `allow-nullable-unique-key` isn't necessary, I don't see this problem.

[2019-06-12 19:47] zmoazeni commented on #744
Hrm. @michaelglass can you reproduce this with sample data?

1. Start with a table schema with sample data (post the `show create table ...` and the inserts you used)
2. Post the gh-ost command with the alter
3. Post all of the output that ends with the same sort of error `ERROR Error 1146: Table 'noredink._assignments_users_ghc' doesn't exist`

That's what I'm trying to do and I'm not seeing the

[2019-06-12 19:50] michaelglass commented on #744
I can reproduce the error against our huge prod database but I haven't tried isolating it. Will try to build a minimal test case next Friday (6/21)

[2019-06-12 19:51] zmoazeni commented on #744
Thanks!

[2019-06-16 16:45] zmoazeni commented on #254
@shlomi-noach @evanelias

I'm pretty close to a PR for this. But this GTID surgery has me wondering. If we purge the GTIDs on the replica, it still won't be promotable right? If anything tries to replicate from it, they'll fail almost immediately with something along the lines of:

No?

e.g. https://www.percona.com/blog/2016/12/01/database-daily-ops-series-gtid-replication-binary-logs-purge/

---

[2019-06-16 20:04] evanelias commented on #254
I believe the affected replica should still be promotable in typical situations. AFAIK you'd only get error 1236 if you're trying to repoint a severely lagging replica -- the error comes up if you've purged "binary logs containing GTIDs **that the slave requires**". Any replica that is relatively caught-up won't require anything from those purged binlogs. There's only a problem if there are transa

[2019-06-16 22:41] zmoazeni commented on #254
@evanelias You're right! I missed a key piece of your notes above:

The bolded part was quite important :)

One question on "PURGE BINARY LOGS TO ...". `PURGE BINARY LOGS BEFORE NOW();` seems to work alright. But I'm curious if that's just a false positive with my test data here. Any advice there? It saves me from having to some querying of `SHOW BINARY LOGS`.

Yeah this is definitely something I'

[2019-06-17 03:45] evanelias commented on #254
That's probably fine, I'd just be a little paranoid about potential edge cases. If the last few steps all occur in the same clock second, does the first new binlog still get purged? Are there any risks related to system timezone differences? etc...

Correct, GTID was added in 5.6.

I'd assume so. You'll get an immediate error in the pre-migration step on 5.5 anyway, since `gtid_executed` won't exi

[2019-06-18 06:44] shlomi-noach commented on #254
😮 😮 😮 TIL + Oh dear + need to check a few scripts now!!!

[2019-06-18 14:42] evanelias commented on #254
On closer inspection, that long-string-truncation problem might only apply to `SHOW VARIABLES`, but perhaps not `SHOW SLAVE STATUS`. Apologies if that caused confusion.

The manual mentions it for `SHOW VARIABLES` but doesn't say what the limit is: `SHOW VARIABLES is subject to a version-dependent display-width limit. For variables with very long values that are not completely displayed, use SELEC

[2019-06-19 13:00] FortuneOSarcasm opened #756 "Is it possible to filter migrated rows?"
Hi there, is it possible to filter the rows migrated to the new table structure in gh-ost?
Something similar to mysqldump's --where

My Scenario
I have a large table that contains quite a few years worth of data to make a change on so what I would like to do is run gh-ost to alter the table structure but only copy data for the last year.
I will then archive off the older data from the _<tablename>

[2019-06-19 13:50] shlomi-noach commented on #756
it is not possible right now. See https://github.com/github/gh-ost/issues/621
But there's a contributed PR (which I haven't tested): https://github.com/github/gh-ost/pull/718

[2019-06-19 14:17] FortuneOSarcasm commented on #756
Thanks very much.

[2019-06-19 14:17] #756 closed

[2019-06-19 14:53] FortuneOSarcasm opened #757 "Err: unsupport type 0 in binlog"
I've run into an issue testing a replication on slave.

The slave I'm testing on normally replicates off a Maxscale 2.2 Binlog Server but for this test I changed it to point to the real master which is in a different physical location.

I've been using the following to test
[code]

I know there are no foreign keys referencing that table so in order to speed up my testing I've set it to skip the ch

[2019-06-19 15:28] shlomi-noach commented on #757
When running with `--debug`, the first few dozen log entries are insightful. Can you please paste them?

[2019-06-19 15:29] shlomi-noach commented on #757
I believe you pasted the table structure again by mistake.

[2019-06-19 16:30] shlomi-noach commented on #757
My initial guess is some binlog format change in MariaDB 10.1, which is not tested by `gh-ost` at the time.

If you can please also run `--debug --stack` and print the entire stack trace around the error?

[2019-06-19 16:58] FortuneOSarcasm commented on #757
I'm running it now with --debug and --stack, I'll attach the output once it's finished.

[2019-06-19 17:08] FortuneOSarcasm commented on #757
Earlier today I ran an identical test on a test environment consisting of 1 master and 1 slave running
[code]
I used the same settings and was able to complete the migration with no errors.

I strongly suspect it's something in my environment but I'm really not sure what it could be.

Here's the full log of a run with the additional parameters
[ghost.log](https://github.com/github/gh-ost/files/330

[2019-06-20 02:18] zmoazeni commented on #254
More questions...

Do you all think this GTID surgery is safe for `--allow-on-master`? (per @shlomi-noach's description on #149).

And something that has been on my mind:

There's already a little nervousness on doing this GTID surgery on a replica that may take writes directly during the migration. But I'm actually more worried about allowing this workflow on a master/writer that is being mutated

[2019-06-20 04:19] evanelias commented on #254
Hmm, when would the surgery be necessary on a master? If I understand gh-ost's behavior correctly, the surgery is only ever needed for `--test-on-replica` or `--migrate-on-replica`. (There's no notion of errant transactions on a master.)

Not sure I follow #149 mentioning combining --allow-on-master with --sql-log-bin=false either though, so I may just be missing something :) Is that combination i

[2019-06-20 05:20] shlomi-noach commented on #757
For some reason I'm unable to open the log file. Can you please upload again / or paste the initial few dozen lines?

[2019-06-20 08:01] FortuneOSarcasm commented on #757
Sure thing

[code]

[2019-06-20 08:09] shlomi-noach commented on #757
If one migration went well and the other did not, and since the error is with the binlog streamer, I suspect a specific query was issued on the table (`UPDATE/DELETE/INSERT`) which failed the execution. In the execution that passed without error, that query was no executed.

I guess this is a hint to look for what kind of query was executed.

Again, we don't test `gh-ost` against MariaDB at this t

[2019-06-20 08:11] shlomi-noach commented on #757
The error itself, by the way, is thrown by the underlying `go-mysql` library, and indicates an unknown data type. However, the table structure is perfectly valid. So I suspect an encoding in the MariaDB binlog is different than what `go-mysql` expects.

[2019-06-20 08:12] FortuneOSarcasm commented on #757
How up to date is the library in the RPM of the lastest stable release? Maybe I need to update the library and compile myself?

[2019-06-20 08:15] shlomi-noach commented on #757
That is possible, though unfortunately we do have a couple patches in the library that we didn't send upstream, as they seem to contradict expected behavior upstream. Look for "Shlomi" in `vendor/github.com/siddontang/go-mysql/replication/row_event.go`, which is the very same file where your error originates,

[2019-06-20 08:16] FortuneOSarcasm commented on #757
Thanks very much, I'm going to do a little digging on my own so I'd like to leave this open. Hopefully I can find something in which case I'll update here

[2019-06-20 16:17] babinomec opened #758 "Error 1048: Column 'xxx' cannot be null when switching a column from NULLABLE to NOT NULL"
When trying to change a column from NULLABLE to NOT NULL, I run in the following error :
`Error 1048: Column 'c186' cannot be null`

Version :
[code]

Call :
[code]

Relevant table structure :
[code]

Error from log :
[code]

From what I understand it's probably from queries in the binlog being applied, when those don't contain every column, they are written in RBR with their default value, hence

[2019-06-20 16:35] zmoazeni commented on #758
Do you have any current rows where c186 is null? If so you'll have to address that first. I imagine this is the MySQL strictness setting raising the error.

[2019-06-20 16:43] babinomec commented on #758
Two things :
1. yes, probably (it works with an alter though)
2. according to the ids it's most likely a new line ( AUTO_INCREMENT=3156788 vs. id=3157562 in the query)

I'll try to remove the original NULL values, but I suspect I'll get the error again when inserting a new line.

I used `--skip-strict-mode` but I'm not sure it changes much in this case.

[2019-06-23 05:34] shlomi-noach commented on #758
You'll need to address both. First, make sure your new queries do not contain `NULL`s, or rather, make sure they have some default value. Then, backfill your existing `NULL` values.

For `gh-ost` to implicitly solve this - it would be possible, but with some considerable effort and probably also risk (`gh-ost` will be modifying data on your behalf, I can see how this can go wrong).

[2019-06-24 12:50] shlomi-noach commented on #254
Chiming in. The `RESET MASTER` operation is well understood and doable. You can [see it in action](https://github.com/github/orchestrator/blob/19c0209e6790912909ff6849600251c0e2a439ab/go/inst/instance_topology.go#L1248-L1355) in `orchestrator`.

Basically, if the migrated replica is not itself an intermediate to other replicas, it is possible, once migration is complete, to erase all errant GTIDs

[2019-06-24 13:27] zmoazeni commented on #254
Thanks @shlomi-noach just trying to make sure I understand.

Ok so that sounds like as long I check for the existence any replicas and bail out early (a todo in my PR), this GTID process should be okay on a master server as well.

Could you expand on this? Are you saying I should favor `PURGE BINARY LOGS TO ...` or that I don't even need to run any `PURGE BINARY ...` commands?

Hmm that was a long

[2019-06-24 13:37] shlomi-noach commented on #254
Define "this GTID process"? You most definitely do _not_ want to `RESET MASTER` on a master, since that will fail all replicas.
And, there's no problem with migrating on `master`, since that generates GTIDs by the `master`, which is trivially a normal thing.
So, migrating on master -- there's no problem to fix, so let's not fix it.

You should not use `PURGE BINARY LOGS`. I'm not sure where that s

[2019-06-24 13:45] zmoazeni commented on #254
Ah I was tying this together with #149 which mentioned supporting `--allow-on-master`. To be clear, this process we're talking about here should only be allowed for `--test-on-replica` and `--migrate-on-replica` correct?

👍

Well, most of the time. If the company has a process that writes to the replicas directly then we'll end up cutting that out because it's hard to determine the GTIDs from gh-o

[2019-06-24 15:03] evanelias commented on #254
@shlomi-noach it came from my original proposed process here at the top of #254. `PURGE BINARY LOGS` is used in two places, for two different reasons, although both relate to edge cases I have actually encountered:

The first purge is to speed up the subsequent `RESET MASTER`. My thinking is:
* Replication must be stopped before we do the `RESET MASTER`.
* We don't want replication to be stopped f

[2019-06-24 15:09] evanelias commented on #254
@zmoazeni The process should not be run on any instance with replicas, and should not be run on any instance taking direct writes. I would recommend having safety checks for both, as otherwise the GTID surgery is catastrophically bad. For the latter check, perhaps confirm the instance is `read_only` and/or that the portion of `gtid_executed` corresponding to the server's own uuid does not grow aft

[2019-06-25 07:13] shlomi-noach commented on #254
@zmoazeni in that case, the replica is already "dirty" with errant GTID, as part of your norm. If you wanted to promote it as master you'd have a GTID problem anyway. How does `gh-ost` make that any better or worse?

[2019-06-25 07:14] shlomi-noach commented on #254
I'm wondering what `show slave status\G` output you have. What do you have for `Auto_position`?

[2019-06-25 07:15] shlomi-noach commented on #254
@evanelias OMG https://www.skeema.io/ci/ !!!

[2019-06-25 07:25] shlomi-noach commented on #254
@evanelias ahhhh... that makes perfect sense! Thank you for going into detail!

I confess I don't understand the `5.6` issue:

    generated.

If I run a `RESET MASTER`, then what does "oldest existing binary log" even mean? Immediately at `RESET MASTER` the binary logs are removed, and a `mysql-bin.000001` is created. By definition the `set global gtid_purged` is then issued _after_ `mysql-bin.00

[2019-06-25 07:27] shlomi-noach commented on #254
You are right. I was still thinking on orchestrator-related scenarios. That's true. Knowing the UUID of the replica is enough, and a `gtid_executed - replica's-UUID` is enough.

[2019-06-25 16:15] evanelias commented on #254
@shlomi-noach that's correct; but the issue is that mysql-bin.000001 has a blank previous-gtid-executed header, which confuses binlog_gtid_simple_recovery in 5.6:

* In 5.6, gtid_executed isn't persisted anywhere in InnoDB. The binlogs are the only source-of-truth. So when mysqld restarts (for any reason), it consults the binlogs to recompute the values of `gtid_executed` and `gtid_purged`.
* Each

[2019-06-25 17:41] shlomi-noach commented on #254
Ha, OK, again thanks for explaning -- OK cool, I think that's a relatively simple flow to automate. We can choose to do that with regard or  regardless of the version and of the `binlog_gtid_simple_recovery` value.

[2019-07-02 04:15] cakoose opened #760 ""unexpected EOF" at "recursively searching for replication master" phase"
On MacOS 10.14.4

[code]

Any idea how to debug this?

[2019-07-02 07:01] shlomi-noach commented on #760
0. are you running directly on master?
0. what does `show slave status`  show on the server?
0. any particular setup you can think of that is special on your host?

[2019-07-02 22:37] cakoose commented on #760
0. Yes, I'm running directly on master.  In our production environment (AWS RDS), I will tell gh-ost to connect to the replica, but right now I'm just testing the migration in my local development environment (MacOS laptop) where there are no replicas.

1. `show slave status` yields zero result rows.

2. Not sure.  I tested gh-ost out a year ago and didn't encounter this issue.  Since then, we upg

[2019-07-03 19:22] njfix6 opened #761 "Gh-ost backlog 1000/1000 can't make any progress."
Hi I work at Lime and we use gh-ost and like it a lot, but when we are running a migration on a table with a lot of writes, it can not complete. We have ran gh-ost on various tables with success but when there are a high number of writes.

Running the following:
[code]

`ALTER TABLE bikes ALTER TABLE bikes ADD COLUMN location point;`

bug

[2019-07-03 21:14] njfix6 commented on #761
Another note. I tried to run it again and it gained some progress but then started to slow again and stop

This output started to show up much more frequently:
[code]

full logs
[code]

[2019-07-04 10:57] xinxinfly opened #762 "gh-ost log is never end"
I have  a big table, and add index for it use gh-ost
The log can see that it has been running for more than 20 hours with a completion rate of 100%, but it's not over yet.
but I can see from the table, the index has been added successfully.
What's the situation? Anyone knows?
 Thank you for your help!

log as:
Copy: 248927341/248927341 100.0%; Applied: 423723; Backlog: 1000/1000; Time: 22h30m0s(to

[2019-07-04 14:13] shlomi-noach commented on #761
@njfix since the table is so busy, my advice is to get `gh-ost` to run closer to the hosts. I see you run with `--allow-on-master` -- are you connecting `gh-ost` directly to the master? If so, can you run `gh-ost` closer to the master? (same DC, same network) ; running `gh-ost` close to where binary logs are read from makes a major impact.

[2019-07-04 14:15] shlomi-noach commented on #762
- Did you use `--exact-rowcount`? maybe the calculation of rows is not exact
- seems like backlog is at `1000/1000` which means `gh-ost` is unable to keep up with binary logs. I'm really missing some input here; when did the backlog increase to `1000/1000`? Is the table very busy? See also https://github.com/github/gh-ost/issues/761

[2019-07-05 01:35] xinxinfly commented on #762
1.hey，I did not use   '--exact-rowcount' and the same time I see the database,the 'xxx_gho' table is deleted and only has the 'xxx_ghc'  table.
2.yes，the table is very big and very busy.
3.Finally,I killed it ,But the index is added successfully.
by the way， I used it with MariaDB

[2019-07-08 16:11] njfix6 commented on #761
Hi, @shlomi-noach thanks for the response. Yes, we are connecting directly to master and monitoring the replica lag of 5 replicas. I believe this is option B of this document: https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md. Do you recommend removing the --allow-on-master flag and run as option A or would it not make much of a difference? I think we would rather run as option B unle

[2019-07-08 16:25] njfix6 commented on #761
Also, could you help me understand the difference between --chunk-size and --dml-batch-size? I haven't seen a lot of documentation on it and would love to know when I should change these values and what they do. I'm not sure if these values would help with my current situation.

[2019-07-14 08:08] shlomi-noach commented on #761
In terms of your performance issue I don't think A/B make a difference. Your bottleneck is the amount/rate of binary logs, and those will be identical in both scenarios.

- `chunk-size`: when backfilling the ghost table, how many rows at a time to copy from the original table to the ghost table.
  This should not affect your problem.
- `dml-batch-size`: how many rows from the binary log should gh-

[2019-07-15 22:24] tomkrouper opened #763 "Accidental deletion of _ghc or _gho should cause gh-ost fatally exit."
We had a situation today were we accidentally renamed the _ghc and _gho tables, however, gh-ost continued to run with just an error saying that the tables didn't exist. The removal, rename, or otherwise loss of the ghost tables, I would think, should cause the process to die a most horrible death. I looked around, and since I don't know `go`, I wasn't able to provide a PR. Please take a look. Than

[2019-07-15 22:33] ggunson commented on #763
Other points:

- `sup` reported the migration as still running a minute or so after the rename occurred

[code]

- the error message only appeared in the error log when the migration was killed via `panic`

[2019-07-17 00:58] njfix6 commented on #761
Cool thanks for the info! I actually ran it again on a Monday instead of a Friday (where we have less traffic) and it could succeed. If I run into this issue again I will try to move gh-ost closer to master. The table we were running it on has probably our most written to the table so it was a great test for gh-ost.

[2019-07-19 17:54] njfix6 commented on #761
@shlomi-noach If you don't mind me asking, what is the arguments that GitHub uses when running the migrations? I understand if you want to keep that private but I think would really help other production use cases like myself.

[2019-07-20 03:52] njfix6 opened #764 "Migration over 100% and staying in migrating state. Never in postpone state."
2019-07-20 03:46:47 INFO rotate to next log from mysql-bin-changelog.411212:134318219 to mysql-bin-changelog.411212
2019-07-20 03:46:47 INFO rotate to next log from mysql-bin-changelog.411212:0 to mysql-bin-changelog.411212
Copy: 33559300/30109847 111.5%; Applied: 442632; Backlog: 0/1000; Time: 6h51m30s(total), 6h51m28s(copy); streamer: mysql-bin-changelog.411212:7928536; State: migrating; ETA: du

[2019-07-20 21:18] acharis opened #765 "no response on unix socket"
Running v1.0.48 and happy to provide more diagnostics.
Doing `echo status | nc -U /tmp/gh-ost.DBName.tablename.sock` but i get no response.

[2019-07-20 21:20] acharis opened #766 "throttled for lag, but no replica has such lag"
Running v1.0.48
[code]
But neither of the replicas is lagged by more than 2s.

[2019-07-20 21:21] acharis opened #767 "incorrect estimate of number of rows"
Running v1.0.48
[code]

The table has ~41M rows, but upon startup, gh-ost only seems to have found ~10M.

[2019-07-22 22:16] njfix6 commented on #764
It seems this issue may be related: https://github.com/github/gh-ost/issues/767

[2019-07-22 23:15] njfix6 commented on #764
Confirmed the size of the table is: 62087808

[2019-07-25 07:22] sumonsun opened #768 "lots of metalock ,mysql crash"
### report issue

```  gh-ost: version ,1.0.46,  ```

```mysql：version,5.6.28```

 #### issue:

​	    ``` Thanks for gh-ost you guys provide, we have do thirty thousand ddl ```

​	     ```Recently ,we got some strange questions ，some times gh-ost ddl crash our master db. (lots of meta lock in db ,  thread running increase suddenly ,then database was crash)```

``` 	1. db  load was very low,little

[2019-07-26 09:54] kings1990 opened #769 "INFO Waiting for ghost table to be migrated. Current lag is 0s"
run command
` /Users/wilson/Downloads/gh-ost --allow-on-master --initially-drop-ghost-table --verbose --debug --throttle-flag-file="/Users/wilson/Downloads/a/1.log" --user="root" --password="1234" --host="localhost" --database="test" --table="news"  --alter="ADD COLUMN abc1 varchar(10)"  --switch-to-rbr --cut-over=default -ok-to-drop-table --execute`

then stucked？

the log like this

[code]

[2019-07-29 23:46] ekirkland opened #770 "Running on Google Cloud SQL"
We have been successfully using gh-ost with RDS for a few years and now we'd like to use it with an instance that is going to be running in Google Cloud SQL.  The problem we're facing is that we can't find out if it's possible to enable binary logging on the replica, and we have had problems in the past in RDS when trying to migrate on master.

I did some searching on here and didn't find too much

[2019-07-30 13:25] sunkaiqin commented on #768
We have encountered the metadata lock issues in our prod gh-ost cutover. There are helpful links from Percona which could give you the details:
[Implications of Metadata Locking Changes in MySQL 5.5](https://www.percona.com/blog/2013/02/01/implications-of-metadata-locking-changes-in-mysql-5-5/)
[More on (transactional) MySQL metadata locks](https://www.percona.com/blog/2015/04/07/more-on-transacti

[2019-07-30 16:59] hubot opened #771 "Build Pipelines Migration Needed"
:wave: Greetings from @github/devcon !

As you may not know from our [many](https://team.githubapp.com/posts/32280) [Team](https://team.githubapp.com/posts/32544) [posts](https://team.githubapp.com/posts/32594), we are amidst a migration from Jenkins-based infrastructure to using Build Pipelines for internal CI.

This repository was marked for exemption in the inital Q5 migration.  In Q1, however,

[2019-07-31 08:29] zhongyiio commented on #597
Same error on 1.0.48

gh-ost: 1.0.48
MySQL: 5.7.25(AWS RDS)

[code]

[2019-07-31 12:34] sumonsun commented on #768
**Thanks for your reply ,kaiqin. Let show you my issue**

### As description by issue  https://github.com/github/gh-ost/issues/82
* gh-ost do cutover as below logic :
[code]

* Finally the lock is not released, so we doublt step3 function was dead,then step1 lock didn't released,then lead to lots of metadata

[2019-07-31 14:50] sunkaiqin commented on #768
Based on the doc the --cut-over-lock-timeout-seconds flag sets the wait_lock_timeout for the lock tables and rename tables commands in the cut-over step. And from your gh-ost logs it timed out at rename step and then connection reset. I have seen timeout during lock table phase then it retried itself again. But I never seen it happen during rename phase which is interesting to know the root cause

[2019-08-01 06:08] shlomi-noach commented on #761
[code]

[2019-08-01 10:22] shlomi-noach commented on #763
We run with `--default-retries=120`, meaning for example a `REPLACE INTO` query that attempts to apply a binlog event would retry 120 times at 1sec interval, and would eventually cause `gh-ost` to panic, roughly after `120sec` of failed attempts. That's for whatever reason for failure.

The cut-over itself will also be susceptible to the missing table problem, and would also retry 120 times (120 *

[2019-08-01 12:21] shlomi-noach commented on #763
Writing those tests showed `gh-ost` was behaving correctly in the above situation, but was susceptible to a couple other use cases ; these are now addressed by https://github.com/github/gh-ost/pull/772

[2019-08-01 12:33] zmoazeni commented on #763
For my ignorance, how was this manual panic triggered? Was this based on the `-panic-flag-file` option? (A human created the file that gh-ost keeps tabs on and panics)

[2019-08-01 13:00] zmoazeni commented on #770
I haven't run gh-ost on Google Cloud SQL, but I can help with the `--gcp` flag.

It currently just changes the way the connection is validated because GCP sets the port to NULL:

https://github.com/github/gh-ost/blob/b38814f90ebfd429bd1bdf0ebd258472e5bb3965/go/base/utils.go#L77-L86

What trouble are you seeing with enabling the binary logging on the replica? Is that option disabled?

https://cloud

[2019-08-01 13:40] sunkaiqin commented on #770
Here are some tips from GCP CloudSQL doc, see this link: https://cloud.google.com/sql/docs/mysql/replication/tips

- You cannot configure backups on the replica.
- You cannot create a replica of a replica.

So I suspect GCP may not allow the binary logging on the replica.

[2019-08-01 13:51] zmoazeni commented on #770
Thanks @sunkaiqin TIL!

Skimming that doc this popped out to me: https://cloud.google.com/sql/docs/mysql/replication/tips#external-replica

It looks like you could run a replica on non-CloudSQL that replicates from CloudSQL? It's may be annoying to set up a replica elsewhere, but the reliability requirements of that server may be much lower if nothing is operationally depending on it. And you coul

[2019-08-01 14:08] shlomi-noach commented on #763
@zmoazeni we have chatops in the form of `.migration panic` that seeks the running migration and communicates to `gh-ost` via socket file i.e. runs something like `echo "panic" | socat - /path/to/gh-ost.sock`.

[2019-08-01 14:12] sunkaiqin commented on #770
@zmoazeni Happy to work with gh-ost and it is such an amazing tool 👍

Yeah, external replica could be a way to go. As you mentioned we lose the convenience of the managed services from GCP.

Maybe GCP team has more insight regarding replica binlog enablement. Or they could provide this option for us to utilize gh-ost on GCP easily 😄

Thanks anyway for the information.

[2019-08-03 07:20] digdeep126 opened #773 "FATAL Error 1205: Lock wait timeout exceeded; try restarting transaction"
Copy: 18942799/18942799 100.0%; Applied: 5207; Backlog: 0/1000; Time: 3h8m10s(total), 3h0m55s(copy); streamer: mysql-bin.001096:428591771; State: migrating; ETA: due
2019-08-03 14:56:43 ERROR Error 1205: Lock wait timeout exceeded; try restarting transaction
2019-08-03 14:56:43 INFO Looking for magic cut-over table
2019-08-03 14:56:43 ERROR Error 1205: Lock wait timeout exceeded; try restarting tr

[2019-08-04 07:12] shlomi-noach commented on #767
Did you use [exact-rowcount](https://github.com/github/gh-ost/blob/master/doc/command-line-flags.md#exact-rowcount)?

[2019-08-04 07:12] shlomi-noach commented on #765
Please do provide more diagnostics.

[2019-08-04 07:14] shlomi-noach commented on #766
Could there be a clock synchronization issue? Could there be replicas in a different timezone?

[2019-08-05 01:39] zmoazeni commented on #766
Here's another possibility. We're returning the replication lag from `show slave status` which can be known to be just an approximation of lag.

https://github.com/github/gh-ost/blob/b38814f90ebfd429bd1bdf0ebd258472e5bb3965/go/mysql/utils.go#L62-L75

* https://dba.stackexchange.com/a/64456
* https://www.percona.com/doc/percona-toolkit/LATEST/pt-heartbeat.html

I definitely +1 to double check Shlom

[2019-08-06 09:32] linhongzhao321 commented on #773
Ditto. And,  The execution result of `SELECT * FROM information_schema.innodb_trx;` this statement is empty. in MySQL 8.0.13.

[2019-08-07 20:45] njfix6 commented on #761
@shlomi-noach We tried running another migration and getting 1000/1000 backlog. I am running on in the same VPC this time but it still can't keep up. Don't get me wrong the table has a LOT of writes. Any other thoughts on what I could change? Or maybe I just have to figure out a way to reduce the writes. Thanks for the help again.

[2019-08-08 05:01] shlomi-noach commented on #761
@njfix6 only remaining thoughts are the usual "improve performance and reduce durability" mysql settings, i.e. `set global sync_binlog=0, innodb_flush_logs_at_trx_commit=2`, which might buy you some breathing space.

[2019-08-15 08:25] #771 closed

[2019-08-29 03:29] lydialyd0121 commented on #597
Same error on 1.0.48
gh-ost: 1.0.48
MySQL：5.7.18-enterprise-commercial-advanced-log
[code]

[2019-09-03 10:55] xuewindy opened #779 "Useing gh-ost to alter instance in a MGR group"
there is  no slave status  on a secondary instance  in a Mgr group ,so that gh-ost can't  judge  other  instance delay，to handlle throttle  .
instead  of slave status . could gh-ost useing performance_schema.replication_group_member_stats(COUNT_TRANSACTIONS_IN_QUEUE)
to judge if need to  decrease  the  throught  of current migrating .

[2019-09-03 11:14] shlomi-noach commented on #779
Hi,

What is Mgr? MariaDB Group Replication?

`gh-ost` does not support group replication at this time; to be honest, I don't expect it to.

[2019-09-03 12:50] xuewindy commented on #779
thanks for response, yeah mgr means  MariaDB group replication,
what's the risk when using  gh-ost to alter the  node on Group Replication?

[2019-09-04 09:52] shlomi-noach commented on #779
I don't know first hand what the risks are -- I hear there's risk of complete locking of the database during DDL.

[2019-09-13 15:26] edhardie opened #781 "gh-ost hanging in connect to replica mode - INFO Waiting for ghost table to be migrated. Current lag is 0s"
Hi, I'm trying to run with the following configuration:

[code]

And I'm seeing gh-ost hang with the following output:

[code]

Unsure where to start with with debugging this, any help would be appreciated, thank you.

[2019-09-16 13:26] edhardie commented on #781
This was late on a Friday 😅. My issue was that replication wasn't actually running, due to a prior error.

[2019-09-16 13:26] #781 closed

[2019-09-17 04:00] mengerchou opened #782 "use ”echo max-load=Thread_running=3 | socat - /tmp/gh-ost.t1.sock“ cause process hang"

[2019-09-17 04:02] mengerchou commented on #782
![image](https://user-images.githubusercontent.com/43593963/65010569-dd935500-d942-11e9-96c7-34d827b0bac8.png)
then：
![image](https://user-images.githubusercontent.com/43593963/65010586-ed129e00-d942-11e9-8843-680cc5b02f33.png)
this may take a long time ，longer than kill process and retry

[2019-09-18 05:58] shlomi-noach commented on #782
In the 2nd screenshot, I see `throttled; commanded by user`. Did you perhaps `echo throttle | socat ...` ? `gh-ost` is being throttled because explicitly instructed to be; this doesn't seem related to `max-load=Thread_running=3` (which is, by the way, extremely low -- I don't think this is a reasonable value in `production`)

[2019-09-18 09:18] mengerchou commented on #782
I start a process like this:
![image](https://user-images.githubusercontent.com/43593963/65135098-f16cb300-da37-11e9-9c0c-d347687b176f.png)
then i do # echo max-load=Thread_running=30 | socat - /tmp/gh-ost.t1.sock
![image](https://user-images.githubusercontent.com/43593963/65135208-1c570700-da38-11e9-8cbd-b2b776597729.png)
the output is:
![image](https://user-images.githubusercontent.com/43593963/

[2019-09-18 09:20] mengerchou commented on #782
I try to continue use this commond,but dosen't work
echo no-throttle | socat - /tmp/gh-ost.t1.sock

[2019-09-18 09:25] mengerchou commented on #782
I know this is not Suitable for  production,I use this for test ,and find the problem, these two commonds works
"echo chunk-size=10000 | socat - /tmp/gh-ost.t1.sock
echo max-lag-millis=20000 | socat - /tmp/gh-ost.t1.sock "
but "echo max-load=Thread_running=30 | socat - /tmp/gh-ost.t1.sock" will cause what I said

[2019-09-24 02:03] xiaoxuanfeng commented on #773
我也时常也到过类似的问题。

[2019-09-29 04:04] szyhf opened #783 "`mysql Error 1364` is cased by adding a `longtext` field on a online db"
While adding type of `longtext` field on a living db, after copying is down and waiting for `cut-over`, because the online server doesn't update the table with value of new filed, and `longtext` doesn't support `Default` value.

Using alter like:

[code]

Will case the error like:

[code]

It's because the `replace into ...` sql can't insert or update the row with undeclared field without default

[2019-09-29 04:06] szyhf commented on #783
I'm wondering that the sql of `INSERT INTO ... ON DUPLICATE KEY UPDATE ...` may solve this problem.

[2019-09-29 22:39] ggunson commented on #761
While I can't guarantee that this is the situation you hit @njfix6 I have seen situations where SSL-encrypted replication has been throttled on the io_thread, meaning that a replica would never catch up to the master because the IO thread was copying the direct master's binlogs very slowly.

The closest bug report I could see of this is https://bugs.mysql.com/bug.php?id=90919 but that's just from

[2019-09-30 00:37] szyhf commented on #783
Really confused……

[2019-09-30 15:28] tomkrouper opened #784 "gh-ost in a loop of not being able to cut-over."
### Situation:
Migration was 100% complete except for the binlog "Backlog" was at 1000/1000 and I didn't realize several hours behind and I attempted to cut-over.

### Cut-over:
`--postpone-cut-over-flag-file` was set. When I attempted to cut-over the cutover timed out. We do a socket command to unpostpone our migrations. Here is the log.
[code]

### Where I probably screwed up to expose the bug:

[2019-09-30 17:59] ggunson commented on #784
Some extra information on the incident:

- gh-ost announced it was ready to cut-over 15 or so hours before the manual cut-over command was run
- in the meantime, a big pt-archiver delete job ran causing gh-ost's binlog parsing to get further and further behind, though this wasn't evident without looking at the `streamer` info and comparing it with the replica's `master status`
- gh-ost announced i

[2019-10-02 01:35] ggunson commented on #784
This has repeated itself with the second execution of the same migration.

It said it was ready to cut over, and it had only been 10 minutes between that announcement and my running the command.

Its last status output before that was

All status output after the first cut-over attempt say

The times are updated but the streamer value stays the same, so I'd guess that means it's blocked (I don't h

[2019-10-02 05:59] shlomi-noach opened #785 "Identify when the inspected server is restarted, and terminate"
Context: 2nd scenario depicted in https://github.com/github/gh-ost/issues/784

In the 2nd scenario, what happened was that the inspected replica was rebooted. `gh-ost` kept hanging onto the end of the binary log where the replica was rebooted, and never rotated onto the next binlog. It also apparently retried enough times to see the replica healthy again.

`gh-ost` should identify when a server is

[2019-10-02 06:00] shlomi-noach commented on #784
2nd execution failure was caused by a restart (reboot, actually) on the inspected server; `gh-ost` apparently retried enough times to see it up again and continued running, without actually making progress. See https://github.com/github/gh-ost/issues/785

[2019-10-03 11:25] ardabeyazoglu commented on #380
I have the same problem as @sifumba. gh-ost waits forever on "waiting for ghost table to be migrated" after altering the ghost table. So, alter works but records are not copied to new table.  This happens when running a single non-replicated instance with binary logs working.

Version: 1.0.48

Command:
gh-ost \
--max-load=Threads_running=4 \
--critical-load=Threads_running=50 \
--chunk-size=1000 \

[2019-10-04 15:45] abeyum opened #786 "Enable developers to extend custom logging"
Hello,

I'd like to make an enhancement to gh-ost by adding the functionality to have logs write outside of standard output (i.e. cloud, centralized logging, etc.). Hence, I'd like to create an interface in which a developer could extend and write their own custom logs to where they see fit. The default logging behavior would log as expected with the [`outbrain/golib/log`](https://github.com/outbr

[2019-10-06 08:47] shlomi-noach commented on #785
Addressed by #787 ; cc @github/database-infrastructure

[2019-10-06 11:22] shlomi-noach commented on #784
A few thoughts before attempting to reproduce the behavior:

- https://github.com/github/gh-ost/blob/master/doc/understanding-output.md#progress has an explanation of `backlog` output.
- Output of current lag on inspected server will be very useful.
- Cutting over when there's a high lag should be rejected.

Back to the issue -- I'm merely guessing the logs from that 1st execution are not availabl

[2019-10-21 10:17] Rsyncc commented on #773
Serving on unix socket: /tmp/gh-ost.devops.ddl_list.sock
Copy: 0/0 100.0%; Applied: 0; Backlog: 1/1000; Time: 33s(total), 0s(copy); streamer: mysql-bin.001066:115231761; State: migrating; ETA: due
Copy: 0/0 100.0%; Applied: 0; Backlog: 0/1000; Time: 33s(total), 0s(copy); streamer: mysql-bin.001066:115231761; State: migrating; ETA: due
Copy: 0/0 100.0%; Applied: 0; Backlog: 0/1000; Time: 34s(total)

[2019-10-23 20:47] abeyum commented on #786
Hello @shlomi-noach,

Any chance you have time to take a look at this in the coming week?

[2019-10-24 05:57] shlomi-noach commented on #786
Hi! Sorry for the delays. I will have time to look into this (and multiple other issues/PRs) starting late next week and during the first couple weeks of November.

[2019-10-25 00:56] yuan-make opened #794 "When a deadlock occurs，Is there a risk of data loss？"

[2019-11-01 06:05] BhuviTheDataGuy opened #797 "Disable the ChangeLog table"
I have tested this on my staging server. Some background about the setup:

1. Total MySQL Data Disk size  = `1000GB`
2. Space consumed = `700+ GB`
3. Large file = `table_x.idb` file
4. Binlog files are stored in the same Location where my data files are there.
5. GTID enabled
6. row based replication.

Then I started migrating using the below command.
[code]

within 3 hrs, the changelog table cons

[2019-11-03 05:59] shlomi-noach commented on #797
The changelog table is relatively small and does not have too much write traffic -- it is not the main contributor to the excessive binary logs.

The main contributors are the writes to the new _ghost_ table. Remember `gh-ost` creates a new table onto which it copies all your data from the original table. This cannot be skipped or disabled.

To run a migration you should have enough free disk spac

[2019-11-07 14:10] knepe opened #799 "ERROR Timeout while waiting for events up to lock"
We have a pretty large and busy (at some times) table where we try to `add column xxx int null`, everything seems fine until the cut-over phase, it gets an error and then retries for some time but never succeeds. I have checked other issues here which also have this error but haven't found anything really.
The binlog is not stuck as it keeps applying and rotating.
This is on RDS Aurora, normal set

[2019-11-08 22:18] chriszrc commented on #331
Postgres 11 added support for foreign keys from the sharded table to other tables fwiw-
https://www.percona.com/blog/2019/05/24/an-overview-of-sharding-in-postgresql-and-how-it-relates-to-mongodbs/

[2019-11-09 15:30] shlomi-noach commented on #331
@chriszrc thank you - interesting to know! Since this issue is 3 years old, I'm assuming you and others came here via a recent HN thread. I thought visitors from HN might benefit from a bit of context:

- [gh-ost](https://github.com/github/gh-ost) is a schema migration tool for MySQL; the jargon used here and most of the problems discussed relate to MySQL - though some of them can apply to other d

[2019-11-13 18:15] ciceroverneck opened #800 "Bug to apply migration if binlog is compressed."
Database Version: `10.2.25-MariaDB`
OS: `debian-linux-gnu`

The bug happens if the bank is set to save [compressed binlog](https://mariadb.com/kb/en/library/compressing-events-to-reduce-size-of-the-binary-log/). '
[code]

Behavior:
The whole process happens correctly, but after the postponing file removal the following log occurs:

[code]

[2019-11-16 16:19] acharis commented on #765
this was a permissioning issue

[2019-11-16 16:19] #765 closed

[2019-11-16 16:22] acharis commented on #766
no clock sync issues; all replicas in same tz.
i haven't seen this again. happy to close now, and re-open if we do.

i assume setting throttle-control-replicas will make it pay attention to _only_ those replicas, rather than do any replication crawling.

[2019-11-16 16:22] #766 closed

[2019-11-16 16:24] acharis commented on #767
i did not, my bad.

[2019-11-16 16:24] #767 closed

[2019-11-16 16:29] acharis commented on #784
i think i might have seen this as well.

[code]

i still have the _ghc table if that would help.
i don't see any log file anywhere, so we don't have that...

some time after the above interaction via the socket, gh-ost was no longer running, however the cutover didn't happen.

[2019-11-19 19:00] jcua opened #801 "Failed Gh-ost hook Not Propagating to Gh-ost script"
Summary: when the gh-ost-on-begin-postponed hook returns an error, I expect gh-ost to abort the entire migration. But this is not happening in this case.

The gh-ost-on-begin-postponed looks like this which intentionally has a syntax error:
[code]

This is the command that is executed:
[code]

The relevant log lines are these:
[code]
Notice that the gh-ost-on-begin-postponed hook gave an error, an

[2019-12-01 18:55] youzipi commented on #82
why need to lock the origin table？
i only figure out one reason：to prevent continuous transaction on origin table, so as to create a time window for the swap operation?
otherwise may fall into a try-fail cycle?

as i already know, rename operation is in-place, no need to rebuild table and permit concurrent DML.

will that happen? or there are some other reasons?

[2019-12-03 07:45] shlomi-noach commented on #82
True, but because `gh-ost` works asynchronously by applying binary log content, there may be some backlog in the binary logs. And so we lock the table to ensure we've applied any relevant changes from the binary log.

[2019-12-03 13:09] knepe commented on #799
This is how the _ghc table looks like if that helps:

![image](https://user-images.githubusercontent.com/138832/70053682-3be0e300-15d6-11ea-850e-e4b62ad395b8.png)

So if I'm reading the code correctly it's waiting for that `AllEventsUpToLockProcessed` entry with id: 2 to appear in the binlogs, but it seems it never does end up there for some reason?

[2019-12-06 11:31] cool-firer opened #804 "Migrating 100%, but shows State: postponing cut-over; ETA: due"
Hi, I'm new to this. I try to use this greate tool for modifying table structure. When migrating completed 100%, but continuously pop up:

and my command is this:

--max-load=Threads_running=25 \
--critical-load=Threads_running=1000 \
--chunk-size=1000 \
--max-lag-millis=1500 \
--user="xxxx" \
--password="xxxx" \
--host=xxxx \
--port=4223 \
--database="test" \
--table="t1" \
--verbose \
--alter="A

[2019-12-06 12:55] michaelglass commented on #638
https://github.com/github/gh-ost/issues/747 says this is safe to ignore

[2019-12-09 04:46] cool-firer commented on #799
any solution?

[2019-12-09 06:51] cool-firer commented on #764
any updates?

[2019-12-09 07:32] knepe commented on #799
Nope, tried ALOT of different things, but always the same error :(

[2019-12-09 07:41] cool-firer commented on #799
me too :(

[2019-12-09 08:54] shlomi-noach commented on #799
Very sorry for the late response. Running with `--debug --stack` will provide additional, useful information, if that is possible.

[2019-12-09 09:42] knepe commented on #799
Okay, running this now. Will get back in ~2hrs when its on the cut-over phase

[2019-12-09 12:25] knepe commented on #799
[code]

[2019-12-09 16:25] shlomi-noach commented on #799
Thank you for the logs, they seem to be enough. This is weird:
[code]
what this means is that `gh-ost` wrote an entry on the `*_ghc` table on the `master`, and never received the change on the binary log.

Are there any replication filters on this cluster?

[2019-12-09 22:37] knepe commented on #799
Hmm, I googled abit on binlog filtering on AWS, and seems it's enabled by default.

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Replication.html#AuroraMySQL.Replication.Performance
Will try tomorrow with this off and see what the result is

[2019-12-10 10:29] knepe commented on #799
Unfortunately, after setting `aurora_enable_repl_bin_log_filtering: 0` it is still the exact same logs and error :( Any more ideas? :)

[2019-12-10 10:33] knepe commented on #799
No wait, it actually worked :) I wrote too early. After like 1 00 retries I got this:

[2019-12-10 10:34] shlomi-noach commented on #799
Are you running directly on the `master`? (`--host` flag). If not, can you do that?

[2019-12-10 10:34] shlomi-noach commented on #799
Ha ok!

[2019-12-10 10:36] knepe commented on #799
Haha :)
Finally, nice catch about that binlog filtering thing @shlomi-noach :) Should maybe be added to the RDS docs?

[2019-12-10 11:12] shlomi-noach commented on #799
@knepe sure, it should. Now, I am not using RDS/Aurora myself and have little understanding of the configuration involved. Would you be willing to create a pull request?

[2019-12-10 12:29] knepe commented on #799
Yes, sure I'll make a PR :) Closing this and thanks for your help!

[2019-12-10 23:10] abeyum commented on #786
Hello @shlomi-noach, any chance you can review this soon?

[2019-12-17 03:52] elemount opened #806 "Support running on Azure Database for MySQL"
This is an enhancement request.

[2019-12-17 10:25] knepe commented on #799
Re-opening this, because I've had random success with this unfortunately, so I'm not sure this parameter actually helps.
I've ran the same migration on 3 clusters now with that parameter set to 0, and it worked for 2/3 clusters.
I have checked the parameters and they are the same for all clusters. So I'm not sure if I got lucky on those 2 clusters where it worked. Also ran a much smaller migration

[2019-12-17 13:29] baihe7pm opened #808 "stored generated columns can not be modified to regular fields"
Initialize the test environment：
CREATE TABLE `test` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `chinese` double DEFAULT NULL,
  `math` double NOT NULL DEFAULT '0',
  `english` double NOT NULL DEFAULT '0',
  `total_score` double GENERATED ALWAYS AS (((`chinese` + `math`) + `english`)) STORED,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
insert into test(chinese, math, en

[2019-12-20 10:14] knepe commented on #799
FYI: I managed to solve the failing migration by increasing retries to like 5000. Then it eventually worked after like 1000+ retries. Does not seem that stable though

[2019-12-25 16:19] lilmex3jg opened #809 "https://github.com/Tencent/Hippy/tree/master/.github/ISSUE_TEMPLATE"

[2019-12-26 13:20] youzipi commented on #82
why need to create an `tbl_old` and lock it?
as just lock `tbl` will also block the `C20`'s `RENAME`, won't it?

[2019-12-27 07:10] sikolee opened #811 "About rowcount"
Hi,

./gh-ost --host=10.10.193.99 --user=root --password= --database=test --table=test_tab --alter="drop columns" --chunk-size=2000 --exact-rowcount --max-load=Threads_connected=100  --allow-on-master --assume-master-host=10.10.193.99 -assume-rbr --initially-drop-ghost-table --execute

Copy: 6066000/6078350 99.8%; Applied: 976; Backlog: 1/1000; Time: 9m54s(total), 9m54s(copy); streamer: mysql-bin.

[2019-12-27 14:10] mike-code opened #812 "[Question] strategy for multiple table alters"
Imagine the migration alters two tables, but if I read the doc correctly gh-ost supports single table alteration. I understand that there's no "good way" of handling this kind of situation because even if you run migrations simultaneously (two instances of gh-ost), at some point you'll end up having one table migrated while the other one still in migration.

Do I assume correctly that the only rig

[2019-12-27 20:22] tomkrouper commented on #812
Can you give more details? In our situation we tend to run migrations that are backwards compatible. If two tables need to be altered to make something work, we might migrate table 1, then table 2. After that developers would make changes to the code and If necessary, we'd migrate table 1 or 2 a second time to complete the process.

[2019-12-28 10:50] daisishu commented on #497
I also encountered this problem. Because there are many places affected by retry parameter, I added sleep100ms to judge whether there is rename in processlist, which will save 900ms time

[2019-12-30 14:07] #809 closed

[2019-12-30 14:09] shlomi-noach commented on #82
It is necessary but for a different reason than you'd expect: in MySQL, if session A runs a `LOCK TABLE some_table`, then it is only allowed to operate on `some_table`. Specifically, it will not be allowed to rename another table.

[2019-12-30 14:31] shlomi-noach commented on #811
`--exact-rowcount` is still not... _exact_ 😆 . While the table is being migrated, `gh-ost` tracks inserts/updates/deletes on the table to keep a realistic value for number of rows, but can still improve. Now, I know there's an open issue for this, that illustrates how we want to improve it -- but I can't find it 😮

[2020-01-01 18:23] barucho opened #813 "BUG (?) wrong data type in JSON data after alter table ."
we are facing an issue after an alter of a JSON column.
after the alter completed we found wrong data types in the JSON data:

* data after the alter :
[code]
* where befor the alter the data was (this is from snapshot of the database befor the alter table )
[code]
* As you can see the FLOAT in the JSON converted into STRING
* versions :
[code]
[code]
Thanks

[2020-01-02 08:58] shlomi-noach commented on #813
First impression is that the `go-mysql` library causes this issue. I'm wondering:

1. Is the rest of the JSON correct?
2. This specific row has a different timestamp than others. Can you confirm this row was inserted/updated _during gh-ost's runtime_? As opposed to other rows existing in the table _before gh-ost runtime_?

[2020-01-02 09:20] xiaosagebai commented on #380
is any solution?

[2020-01-02 09:33] sifumba commented on #380
Well, after thoroughly investigating the cause, I found that no replication was enabled on the server which gh-ost  requires. It was my fault. Sorry.

[2020-01-02 11:39] barucho commented on #813
1.
* this is the JSON before the alter (from snapshot backup)
[code]
* this is after
[code]
as you can see the only change is the value of "x" and "y" of "focalPoint" from FLOAT to STRING

2. I don't think that this specific row changed during the gh-ost run time because the update time is the same before the run and after the run.
the example is a different row with the same gallery id that only

[2020-01-07 08:24] youzipi commented on #82
but `lock` and `rename` are in different session.
`C20` did not hold a lock.
Is it comes from the old way of Facebook ,but make no sense in new solution?

[2020-01-07 08:41] shlomi-noach commented on #82
You're right. I wasn't paying enough attention.
So, I'm trying to go three years back in time to recall my experiments. I'm assuming I had good reason to lock `tbl_old`. Possibly you are right and there is no need to lock it -- but also, there is no overhead to it. It is not being used in any way. I have little capacity right now to set up the testing scripts which checked all the locking behavior

[2020-01-09 19:47] scarpenter opened #814 "Errors When Applying Binlog for latin1 Character Set"
We have a number of tables in our database that unfortunately use the `latin1` character set. We need to migrate these to `utf8mb4` and are hoping to use gh-ost to facilitate this. In doing some testing, I'm running into a problem when changes from the binlog are being applied. I can reliably produce the problem as follows:

1. SQL setup
[code]
2. gh-ost command (the strange ports are for Docker c

[2020-01-19 01:42] szyhf commented on #783
Problem sloved by using `--skip-striict-mode`

https://github.com/github/gh-ost/blob/8113d38d57bd1b96a9e5979a86f4b7831012551b/go/logic/applier.go#L487-L489

By default the session enable `NO_AUTO_VALUE_ON_ZERO` and it case the insert command to `text` field failed even if the default config of mysql is disabling `NO_AUTO_VALUE_ON_ZERO`. But this param is not released yet, you have to complier it b

[2020-01-19 09:09] deepweb12 commented on #762
Anonymous regahawlery here

[2020-02-04 14:01] shlomi-noach commented on #687
In an attempt to reproduce and fix the problem, I tested today with MySQL `8.0.18`, and -- everything worked as expected?

I issued:
[code]
I got:
[code]

[2020-02-04 14:12] shlomi-noach commented on #687
I'm confused how the above test worked. If I run the following manually on a `8.0.18` master (assuming I have two tables `t1` and `t2`), I get:
[code]

[2020-02-04 15:10] shlomi-noach commented on #687
In my comment above (https://github.com/github/gh-ost/issues/687#issuecomment-581927698) I did not reproduce the actual steps `gh-ost` takes, so it is irrelevant.

[2020-02-04 15:14] peppy commented on #687
Thanks for looking into this again. I will test against the latest mysql and report back in the coming days.

[2020-02-04 15:41] Xeoncross opened #815 "How do you run this on a simple, single database instance?"
I'm trying to put together documentation on using this for a single database instance (no cluster, master-master, etc..). What I have so far is still not working.

1. Make sure it's an https://github.com/github/gh-ost/blob/master/doc/shared-key.md#examples-allowed-and-not-allowed alter statement

2. Make sure you have a MySQL config file with a `[client]` block: https://github.com/github/gh-ost/bl

[2020-02-04 16:00] shlomi-noach commented on #815
The cheatsheet for running on a single master can be found here: https://github.com/github/gh-ost/blob/master/doc/cheatsheet.md#b-connect-to-master

but I'm gateful if you wish to create a PR with explicit step-by-step instructions for master-only migrations.

As for your issue:

IT seems like the error is coming from `binlogstreamer.go`, which is part of the underlying `go-mysql` library, a 3rd p

[2020-02-04 16:09] Xeoncross commented on #815
Sure, here is the complete log.

[code]

[2020-02-04 16:19] shlomi-noach commented on #815
possibly https://bugs.mysql.com/bug.php?id=56739

did you explicitly set `server_id` in the `my.cnf` config file? Otherwise MySQL/MariaDB _implicitly_ set it to `1`, but that's not good enough for replication. If that's the case, please set explicitly, and try again. If this doesn;t work, please set explicitly in the config file, and restart the server, and try again.

[2020-02-04 17:27] shlomi-noach commented on #687
Also tried on `8.0.16` and again the `master` branch just worked.

[2020-02-04 18:21] cyspath opened #816 "Using gh-ost for data migration (across database)?"
Thanks for reading, we are currently using gh-ost for schema change and we are wondering if gh-ost can be used for data migration?

Scenario:
TableA is on databaseA, we want to duplicate this table (100GB) onto databaseB, but not losing any updates along the duplication process. Table swapping is not needed and gh-ost's updates to new TableB should be terminated on command.

Question:
Can gh-ost d

[2020-02-04 19:07] shlomi-noach commented on #816
gh-ost doesn;t support this currently. However, please take a look at [ghostferry](https://github.com/shopify/ghostferry) by Shopify. I think it may be what you're looking for.

[2020-02-05 01:40] Xeoncross commented on #815
Setting `server_id=1` worked. Thanks for pointing out that bug. Would these instructions be helpful as a wiki page or if I submit a PR to the docs directory?

[2020-02-05 05:58] peppy commented on #687
I can still reproduce on master (`ea339b602380d60921f6e686f29de69d6163c8f0`)

[code]

Trying using my previous command:

[code]

trying using your command above (modified to work with my setup, most important change to note is the addition of `--allow-on-master`:

[code]

Please let me know if I can provide any further details to help further the investigation.

[2020-02-05 06:49] shlomi-noach commented on #687
@peppy it seems like your migration worked after one retry?

But, as I look into this issue, there's actually multiple cases reported by multiple people and this got me confused. I think I'm working on something other than the issue you presented 😬

[2020-02-05 06:51] shlomi-noach commented on #687
@peppy so what I'm trying to see is whether `gh-ost` works with MySQL 8.0, as per https://github.com/github/gh-ost/pull/715 (where you also participate). I'll continue the discussion there.

[2020-02-05 07:02] peppy commented on #687
Aha, right.

And yes, the first one did work (with a weird error in the middle though), as mentioned earlier in this thread, because i use `cut-over=two-step`.

[2020-02-05 07:08] peppy commented on #687
Actually on closer inspection it looks like both may have completed, if one is to ignore the error messages and stack traces.

[2020-02-05 07:16] shlomi-noach commented on #687
Y es, I did mean the 2nd one worked, sorry for not being clear. Seems like retries were successful. Now, this doesn't mean it will always work; perhaps some workload will cause an infinite amount of retries -- not sure.
At any case, what I was working on is irrelevant to this issue, so my past few comments can just be ignored 😛

[2020-02-05 10:31] shlomi-noach commented on #714
According to my tests `gh-ost` supports MySQL `8.0.16` and `8.0.18`, so I'm closing this issue.

[2020-02-05 10:31] #714 closed

[2020-02-10 07:59] shlomi-noach commented on #815
Generally speaking these are more basic MySQL configuration settings, but seeing that they can affect `gh-ost` -- sure, let's add them someplace -- if you are able to draft some wiki/doc page I'm grateful.

[2020-02-10 16:24] Xeoncross commented on #815
It seems you don't have the wiki enabled, so do you want me to create a doc/*.md file?

[2020-02-10 16:31] shlomi-noach commented on #815
Yes please. Everything goes in `doc/`

[2020-02-11 14:00] FantasiaMoon opened #821 "Schema change not working on MySQL 5.1"
Hi,
I'v recently heared about gh-ost for schema migration, when I tried to test it on our databases (Master -> 1 replica) under **MySQL 5.172** it's not working. Below the command and output error of the **binlogstreamer**:

We are using **binlog_format = ROW** on the master and replica.

**Command:**
`./gh-ost --host="xxxxxxx" --user="xxxxxxx" --password="xxxxxxx" --database="staging" --table="te

[2020-02-11 14:10] shlomi-noach commented on #821
While `gh-ost` is not actually tested on `5.1` (I need to clarify that in docs), the above output seems perfectly fine. What is the problem? Just a guess, did you notice you were running a `noop` operation?
[code]

Please pass `--execute` for an actual migration.

[2020-02-11 16:22] FantasiaMoon commented on #821
Thanks, gh-ost created the tmp tables but it's stuck and looping on this error:

[code]

[2020-02-11 17:20] FantasiaMoon commented on #821
Here is the full output with the command : https://ghostbin.co/paste/473ak
As you can see I stoped the execution with CTRL + C.

Any idea why I got this error? Thanks.

[2020-02-11 17:57] shlomi-noach commented on #821
`Unknown system variable 'lock_wait_timeout'`

I'm sorry. That variable is needed and does not exist in `5.1`. Unfortunately for you you cannot run `gh-ost` with `5.1`.

[2020-02-12 02:32] Slach commented on #821
@shlomi-noach in MySQL 5.1 we have `innodb_lock_wait_timeout` instead of `lock_wait_timeout`
could gh-ost detect mysql version and try change variable name?

[2020-02-12 09:28] FantasiaMoon commented on #821
@shlomi-noach ok thanks for your help anyway.

[2020-02-12 09:53] shlomi-noach commented on #821
@FantasiaMoon are you able to test this? You can clone the repo, replace `lock_wait_timeout` with `innodb_lock_wait_timeout`, build via `script/dock pkg` (requires Docker) and try it out? I'm currently out of time resources to test this on 5.1

[2020-02-12 09:56] FantasiaMoon commented on #821
Okay i'll do this ;)

[2020-02-12 16:19] jarrydlee opened #822 "Server query timeout lead to data loss"
Running v1.0.48 (also reproduced on v1.0.49)
5.7.25-28-log Percona Server (GPL)

### Problem
After running a migration we saw a significant amount of dataloss which resulted in rolling back to the previous table.

### Debugging
When looking through the gh-ost logs to try to determine what exactly had happened, I came across this.

[code]

As you can see, we jumped from 5.7% complete, 41hours remai

[2020-02-12 16:57] shlomi-noach commented on #822
@jarrydlee thank you for this elaborate analysis. To the best of your understanding, if timeout occurs, the driver does not even return error?

[2020-02-12 17:01] jarrydlee commented on #822
That's correct, and it appears that the result of this line [1] will be and empty rows variable

[1] https://github.com/github/gh-ost/blob/a8fae9818daa42681c7806f843067e2d5d360273/go/logic/applier.go#L436

[2020-02-12 17:48] shlomi-noach commented on #822
Thank you again!

[2020-02-13 11:49] shlomi-noach commented on #822
@jarrydlee I wonder if you're able to test https://github.com/github/gh-ost/pull/823

steps would be (assuming you have `docker`):

[code]
then use binary generated in `/tmp`

without `docker` (requires `go1.12` or above):

[code]

[2020-02-13 14:57] jarrydlee commented on #822
I built the binary using the first set of steps and ran against my test db again with the same results

[code]

[2020-02-13 14:58] shlomi-noach commented on #822
I appreciate it. I don't have an immediate solution.

[2020-02-16 10:23] shlomi-noach commented on #822
I'm unable to reproduce this. If I `SET GLOBAL MAX_EXECUTION_TIME=1` before migration begins, I immediately get:
[code]

If I `SET GLOBAL MAX_EXECUTION_TIME=1` while migration is running (testing on a 1M rows table), then `gh-ost` already reuses existing connections for which the `SESSION` value is unlimited.

Trying to understand how you were able to reproduce this?

[2020-02-16 10:51] shlomi-noach commented on #822
@jarrydlee since I'm still unable to reproduce, can you please:

- Use https://github.com/github/gh-ost/pull/824
- Add `--mysql-timeout=<value>`

where `<value>` would be:

- `5`
- `10`
- `60`

and let me know what happens?

[2020-02-18 14:26] take opened #825 "gh-ost doesn't fail when unique key is added - maybe intended?"
Hi guys, thanks for the awesome tool.
I ran into a problem last day and was wondering if this was an intended behavior or not.
Sorry if it is.

## Steps to reproduce the problem

### 1. DB prep

[code]

### gh-ost command

**migrate.sh**

[code]

### executing gh-ost

[code]

## results

[code]

As you can see in the results, gh-ost completes the migration without any errors :eyes:
Is this intende

[2020-02-18 15:44] jarrydlee commented on #822
@shlomi-noach still seeing the same issues on our end. I'm going to spend today trying out different configurations locally to hopefully be able to see the timeouts. I'll keep you updated when I have more.

[2020-02-19 20:33] jarrydlee commented on #822
I'm still unable to reproduce your results. Here is how I tested locally.
This is all run on macOS mojave with docker 2.1.0.5

[code]
then I created another container in the same network
[code]
and copied the 1.0.48 gh-ost binary into `node4` and ran using

[code]

[2020-02-20 19:52] alecthomas commented on #773
We also encounter this not infrequently. Anyone have any ideas?

[2020-02-21 20:53] #783 closed

[2020-02-24 17:07] romber2001 commented on #799
any news? i got the same problem~

[2020-02-26 19:12] jarrydlee commented on #822
@shlomi-noach just checking in to see if you've been able to recreate this with the steps above, or if there is any other info you need from me.

[2020-02-26 19:15] shlomi-noach commented on #822
Hi @jarrydlee, I’m sorry. I’m on time off right now and do not expect to be working on this, at least for the next several weeks.

[2020-02-26 19:16] jarrydlee commented on #822
No worries, thanks for the quick response.

[2020-02-27 20:52] flopex commented on #443
Not sure if anything came out from this issue but we've run into this as well
[code]
Table seems to finish copying but does not advance this operation.

We worked around this by increasing `lock_wait_timeout` to the max limit, when the error occurred this was set to only 120seconds.

[2020-03-04 21:54] grantholly opened #827 "gh-ost stuck throttling on "value out of range" error"
# ghost version:
[code]
# ghost command:
[code]
# mysql version:
NOTE: this is an aurora MySQL instance
[code]
# table definition:
[code]
# problem:
This gh-ost run will forever be throttled and never copy any rows.  Each reported line from the output contains that same error message, however, the reported value changes slightly:
[code]
Interestingly, this worked when I excluded the `--execute` fl

[2020-03-10 04:24] lynnf87 opened #828 "ERROR args count differs from table column count in BuildDMLInsertQuery"
INFO starting gh-ost 1.0.48
。
。
。
2020-03-09 23:47:08 INFO Dropping magic cut-over table
2020-03-09 23:47:08 INFO Releasing lock from `tutor_oauth`.`oauth_user`, `tutor_oauth`.`_oauth_user_del`
2020-03-09 23:47:08 INFO Tables unlocked
2020-03-09 23:47:27 INFO Tables renamed
2020-03-09 23:47:28 ERROR args count differs from table column count in BuildDMLInsertQuery
2020-03-09 23:47:28 INFO Grabbing

[2020-03-10 06:46] TNTSCUT opened #829 "a lot of metadata lock thread"
When using gh-ost in our production environment, we saw thread running with “Waiting for metadata lock” many times,even in a low qps database.
I‘ve checked the source code,in logic/migrator.go

[code]
Why in the default branch，we do a one second sleep.
Given a situation:
 a MySQL instance with 0 TPS(no binlog event)，but the table has a log of read,after we lock table xxx write,we still sleep 1s  ，

[2020-03-10 06:52] shlomi-noach commented on #828
Please provide information as requested in the issue template, https://github.com/github/gh-ost/issues/new

[2020-03-10 06:55] shlomi-noach commented on #829
There is no metadata lock in the duration of a normal migration. The `Sleep` in the above code does not take place while metadata lock is being held.
At least, that should not be the case. Do you have information that points out that metadata lock is being held by `gh-ost`?

[2020-03-10 07:55] TNTSCUT commented on #829
During the cut-over step,gh-ost **first lock table write**, and our application still do the query，the code shows if no binlog apply and row copy action needed,gh-ost sleep 1 second doing nothing, so our application session query this table will enter a state waiting metadata lock,because gh-ost lock table write.
I’m wondering why do a one second sleep here?why not just sleep 0.1 second?Is there a

[2020-03-10 20:25] zhxnlai opened #830 "The --exact-rowcount option is buggy on large tables"
### Context

During a schema change, gho-st copies every row from the original table to a ghost table. This results in a lock on the original table and a long running query similar to the following

[code]

It appears that when [`--exact-rowcount`](https://github.com/github/gh-ost/blob/master/doc/command-line-flags.md#exact-rowcount) is enabled, ghost grabs another lock on the original table and s

[2020-03-10 20:26] zhxnlai commented on #773
This seems to be a problem with `--exact-rowcount`. Try disabling that option.

[2020-03-11 08:20] shlomi-noach commented on #830
Very interesting -- thank you for this analysis! I've never seen this scenario happen, and once i=you point it out, it makes sense.

I'm not the owner of this repository at this time, but would you consider a pull request to update the docs? If not, someone else would hopefully do it, and hopefully also fix the code.

[2020-03-12 04:48] lynnf87 commented on #828
update

[2020-03-15 21:54] kaspergrubbe commented on #821
@FantasiaMoon Did it work?

[2020-03-16 07:13] Slach commented on #821
@kaspergrubbe unfortunately not, we switch to Percona Tool `pt-online-schema-change`, it works fine with MySQL 5.1 InnoDB

[2020-03-16 07:14] Slach commented on #821
@FantasiaMoon could you close this issue?

[2020-03-16 17:12] #821 closed

[2020-03-20 20:51] acharis commented on #822
i'm wondering what versions of go, go-sql-driver/mysql and whatever else might be important (database/sql?) that you folks use at github. i'm able to reproduce this behaviour completely outside of ghost...probably going to open an issue elsewhere on that.

[2020-03-24 13:52] lynnf87 commented on #828
What causes this error：ERROR args count differs from table column count in BuildDMLInsertQuery

[2020-03-24 16:54] acharis commented on #822
i think there are a couple bugs here:
first is definitely that the go-sql-driver is expecting us to call Next to be able to get this error, instead of just exposing it at the call to `db.Query`.
secondly, gh-ost isn't meeting the go-sql-driver at that expectation.

i still don't see how github sees different behaviour from us in their usage of gh-ost.

[2020-03-24 20:26] morans commented on #822
Hi, just wanted to update that we also managed to reproduce this issue on our environment.
We executed ghost on a 700M rows table and set the MAX_EXECUTION_TIME global variable to 1 while it was already running. Here is the log:
[code]
As you can see ghost jumped from 0.2% completed and 742701376 of total rows to waiting for cutover and only 2000000 of total rows.

It's worth noting that when chan

[2020-03-25 16:17] jfudally commented on #827
@grantholly Could you please provide the output for this command:
[code]

At first glance it looks like the internal throttling mechanism is fetching the `threads_connected` metric, but that value seems to be returning `18446744073709547932` for some reason causing the throttler to remain stuck.

[2020-03-25 19:36] jfudally opened #832 "Gh-ost continues if HTTP throttler in error/offline"
### Problem
During a migration if Freno or some other HTTP throttling services returns an error, or is unresponsive, gh-ost will continue to write unthrottled despite target load.

### Examples
##### Using an invalid throttler endpoint
[code]

/cc https://github.com/github/database-infrastructure/issues/2694

[2020-03-30 19:40] jfudally commented on #832
Fixed in https://github.com/github/gh-ost/pull/833

[2020-03-30 19:40] #832 closed

[2020-04-16 14:34] babinomec opened #839 "Alternative use of gh-ost : Resync slave tables"
Not really an issue, but rather another use of the tool that could be advertised in the documentation.

We have slaves that have discrepancies (missing rows, rows with some different values) as highlighted by a very long run of pt-table-checksum. We tried fixing these tables with pt-table-sync with no success.

By running gh-ost on a master using RBR (does not work with statement based replication

[2020-04-16 16:42] tomkrouper commented on #839
@babinomec, would you be willing to create a PR adding this to the docs?

[2020-04-17 03:46] axiaochen opened #840 "Aws rds for MySQL5.7 execute gh-ost error"

[2020-04-17 03:53] axiaochen commented on #840
This is the error message:
[root@ip-172-31-27-46 scripts]# gh-ost --user='vdadmin'   --password='xxxxxx'   --host='vd-test-db.xxxxxxxxxxxx-1.rds.amazonaws.com'   --port=4417   --database="xxxxxx"   --table="xxxxxx"   --verbose --allow-on-master --alter="ADD COLUMN rdsonlineddl_test varchar(10) DEFAULT NULL"   --assume-rbr
2020-04-17 03:38:26 INFO starting gh-ost 1.0.49
2020-04-17 03:38:26 INFO Mig

[2020-04-17 03:59] axiaochen commented on #840
I created the user 'vdadmin'@'ip-172-31-27-46.ap-northeast-1.compute.internal', but I still get the above error.
I can use the user 'vdadmin'@'ip-172-31-27-46.ap-northeast-1.compute.internal' to connect to aws rds. as follows:
[root@ip-172-31-27-46 scripts]# mysql -uvdadmin -hvd-test-db.xxxxxxxxxxxx-1.rds.amazonaws.com -Pxxxx -p
Enter password:
Welcome to the MariaDB monitor.  Commands end with ;

[2020-04-17 04:02] axiaochen commented on #840
Can anyone help me solve the above problem?  I will be very grateful

[2020-04-17 08:27] babinomec commented on #839
I will try to find a decent location to put it and try to word it correctly :)

[2020-04-17 17:41] tomkrouper commented on #839
I do want to point out, that gh-ost is a good solution to get everything back in sync, but it will not solve the problem of having discrepancies in your replicas. You'd want to do other research to try to figure out why replicas are getting out of sync and how to fix them.

[2020-04-25 12:19] Shawn001 commented on #82
hello

why can't  use   rename   t1 to  t1_del, t1_gho to t1 directly,

are there some problems?

[2020-04-25 15:10] shlomi-noach commented on #82
T can’t happen because gh-ost tails the binary log, either on master or on the replica, and there may be still events to handle
In the binary logs during the cut-over.

[2020-04-26 03:45] Shawn001 commented on #82
Thanks.
i found  3 chapters  which you posted  several years ago.
http://code.openark.org/blog/mysql/solving-the-non-atomic-table-swap-take-ii

[2020-05-04 18:30] Roguelazer opened #841 "gh-ost with MTS"
We use gh-ost all the time and are considering switching our 5.7+ clusters to use MTS / parallel replication in one of the LOGICAL_CLOCK modes (COMMIT_ORDER for now; maybe WRITESET_SESSION later). Has gh-ost been tested with MTS or would we need to keep around a serial replica to run migrations from? I couldn't find anything in the docs or in any other issues, but I would imagine that parallel rep

[2020-05-04 19:01] ggunson commented on #841
gh-ost is/was used with multithreaded replication at GitHub, using `slave_parallel_type=LOGICAL_CLOCK` and [slave_preserve_commit_order=1](https://dev.mysql.com/doc/refman/5.7/en/replication-options-slave.html#sysvar_slave_preserve_commit_order). Events would get committed on the replicas in the order they had on the master, and the event ordering in the replica binary logs would match the master'

[2020-05-04 19:04] Roguelazer commented on #841
That's good to hear.

Would it be worth adding a pre-launch check that, if MTS is enabled, `slave_preserve_commit_order` is set to 1 (the way gh-ost right now checks that, e.g., `BINLOG_ROW_IMAGE` is set to `FULL`)?

[2020-05-04 19:16] ggunson commented on #841
Probably a good idea. And anything else that may be relevant from https://dev.mysql.com/doc/refman/5.7/en/replication-features-transaction-inconsistencies.html

[2020-05-07 22:36] elijahchancey opened #842 "Downloads are Broken"
1. Go to the Release Page (https://github.com/github/gh-ost/releases)
2. The .tar.gz link to the latest binary is broken (https://github.com/github/gh-ost/releases/download/v1.0.49/gh-ost-binary-linux-20200209110835.tar.gz)

This is the error:
[code]

[2020-05-07 22:38] elijahchancey commented on #840
When you create the user make sure you use wildcards for the hostname.

[2020-05-08 05:39] shlomi-noach commented on #840
Did you create the user account on the `master`? (you should). It seems to me like you may have created the account directly on the replica.

[2020-05-09 20:57] ajm188 commented on #804
So the "100%, State: postponing cut-over; ETA: due" is gh-ost working as intended. Because you specified the `--postpone-cut-over-flag-file`, gh-ost will wait to cut-over until either (1) you instruct it to via an [interactive command (unpostpone)](https://github.com/github/gh-ost/blob/master/doc/interactive-commands.md#known-commands) or (2) you remove the file. As you point out, once you removed

[2020-05-10 17:58] ajm188 commented on #842
I just ran `wget -O gh-ost.tar.gz https://github.com/github/gh-ost/releases/download/v1.0.49/gh-ost-binary-linux-20200209110835.tar.gz` and was able to download, untar, and run the binary without any issues.

What tool are you using to download this?

[2020-05-11 08:28] mlesar opened #845 "Speed up copying"
We are trying to add some additional indexes and one column to a table that has around `1 320 000 000` rows and it is growing by about`2 000 000` rows per day.
When we started `gh-ost` it did around 15% on the first day, and now it is doing only 5% or less per day.
Currently, it takes around 25min to do `0.1%`.

We have tried increasing `chunk-size` from `1000` to `10000` and increasing `max-lag-m

[2020-05-15 11:35] javib51 commented on #302
Any news?

[2020-05-17 22:06] ajm188 commented on #825
tl;dr yes this is expected behavior. I would advise you to proceed very carefully when adding a unique index with a tool like gh-ost (pt-online-schema-change also has this behavior, and possibly other tools). Verify that the table really has unique values, and that the application won't write duplicate values, before proceeding with the alter. Then you should be good.

I believe this is gh-ost wor

[2020-05-18 01:22] take commented on #825
aha I see....... thanks for the detailed insight 🙋

[2020-05-18 01:23] #825 closed

[2020-05-19 21:32] grantholly commented on #827
Sorry this has taken me so long to get back to.  I am finally able to get back to this.  Here is the output from your suggested query
[code]
yeah, that's a lot of threads.

[2020-05-26 22:13] jfudally commented on #827
@grantholly So what's happening is `gh-ost` is querying the `threads_running` metric, but `18446744073709551593` is larger than the max value for a 64bit integer, so it's hitting an error.

I'm not sure there's any value in getting gh-ost to handle this large of a number.  I feel like you've hit a bug in mysql somehow causing this astronomical number to return.

[2020-05-26 23:50] grantholly commented on #827
This seems to be an issue with our Aurora database.  Even without the gh-ost process running it still reports this comically incorrect value for threads running.

We do not see this issue on any of our other mysql databases, including those running with in our Vitess clusters.

¯\_(ツ)_/¯

[2020-05-27 00:18] eric239 opened #847 "Changes to the migrated tables are not applied to the ghost table"
This is a **question** / asking for help / an advice.

I'm probably missing something obvious but can't nail it and will greatly appreciate some assistance from the community...

The problem, as I observe it, is that while `gh-ost` happily copies all data as it was at the start of the migration, it does **not** take new changes, so something is screwed up with the binlog. Basically I'm running `gh

[2020-05-27 04:11] tomkrouper commented on #847
Could you re-run with the `-debug` option and comment with the output please?

[2020-05-27 14:24] jfudally commented on #827
Closing this as the issue is with Aurora.  Good luck!

[2020-05-27 14:24] #827 closed

[2020-05-27 17:39] grantholly commented on #827
For posterity, AWS claims this is fixed in Aurora versions >= 2.04.7.  From the documentation:

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Updates.2047.html

[2020-05-27 20:16] eric239 commented on #847
@tomkrouper thanks for checking in. Here's my very simple setup

[code]

here's the initial log from running gh-ost (options as described above + `--debug`); `db` is the master host alias, `db-ro` is the replica host alias.
[code]

at this point, I ran the following
[code]
clearly the new row is not getting propagated (I rechecked in a minute just to be sure).

I completed the cut-over
[code]

And

[2020-05-27 20:56] tomkrouper commented on #847
I'm curious why `test_col` is not getting created. You have:

[code]

But the alter is just adding test_col1
[code]

@jfudally, do you have time to look at this this week? If not I can probably take a look.

[2020-05-27 21:06] jfudally commented on #847
@tomkrouper Yeah I can take a look this week

[2020-05-27 21:30] eric239 commented on #847
@tomkrouper @jfudally  begging pardon, I only added the single column in the 2nd (more contrived) test, so there is **no issue** with the DDL. Just with the data not being picked up from the binlog stream.

[2020-05-27 21:33] eric239 commented on #847
for the reference, here's the full cmd line for the 2nd run
[code]

[2020-05-29 11:09] andrewg1024 opened #849 "Can Gh-ost merge tables?"
Hello!

New to Gh-ost, so bear with me.

The feature of Gh-ost I am most interested in is the **zero downtime**. And I have a requirement to merge large, similar tables. When I say 'similar', one table can have 100 columns, and another 106 columns, where 100 columns are the same datatype/size/domain on each table. Each Tables Primary Key would be unique, so no unique key issues are anticipated.

S

[2020-05-29 16:24] tomkrouper commented on #849
@andrewg1024, that is out of the scope of gh-ost's functionality. I also don't think that [ghostferry](https://github.com/Shopify/ghostferry) by Shopify could do that either. But, honestly I haven't done a lot with ghostferry, so you might want to look at their docs. It sounds like a pretty complicated problem. Good luck.

[2020-05-29 17:38] jfudally commented on #847
@eric239 👋 So far I've tested on a local cluster using the community MySQL version 5.7.26 and that seems to work just fine.  I'm currently spinning up a test RDS cluster to test next.  Are you running this against MySQL in RDS, or MySQL compatible Aurora?

[2020-05-29 18:26] eric239 commented on #847
@jfudally thanks for taking this. We're running "regular" (not Aurora) MySQL RDS.

I've tried with both our dev "cluster" where master and replica are 5.7 and prod one where master is 5.6 and replica is 5.7 (temporary arrangement).

Focusing on the last run (reported in this issue), the master is `5.6.44`, binlog on master is `mixed`.
The replica is `5.7.26`, binlog on replica is `row`.
Happy to s

[2020-06-02 01:24] liuqian1990 opened #850 "ERROR sql: database is closed"
ERROR sql: database is closed

[2020-06-02 03:41] #850 closed

[2020-06-02 16:03] eric239 commented on #847
👋 @jfudally any updates? I'm happy to run any specific tests if you can direct me

[2020-06-02 18:52] jfudally commented on #847
👋  @eric239 So I've been able to spin up an RDS cluster using MySQL 5.7.26, and I'm having a little bit of difficulty getting ghost to run with the same command you provided above when using `ROW` based replication.  Can you verify with the following command on the master and replica?:
[code]

[2020-06-02 20:06] jfudally commented on #847
Ah I didn't realize RDS required backups enabled on the replicas for the parameters to actually take effect...

So @eric239 I've been able to run the same scenario as you posted above, and everything seems to be working as expected.  It might also be helpful to see the parameters from the parameter group used to configure the primary and replica node.

Here's what I ran:

Initial table:
[code]

Co

[2020-06-03 00:14] eric239 commented on #847
@jfudally thank you for confirming gh-ost works as expected; I thought it would 😄

Hopefully you can help me shed some light on what is different in my setup.

Firstly, the settings:

- on _master_
[code]
- on _replica_
[code]

And yes, replica has backups enabled for 1 day.

Secondly, I think the key line I see in your log that I don't see in mine is
[code]
I think `Applied: 1` actually refers to